<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../behaviors/in-validate-control.html">

<dom-module id="in-save-button">
    <style>
        paper-fab{
            --paper-fab-background: #009688;
            --paper-fab-keyboard-focus-background: #00796B;

        }

    </style>
    <template>
        <paper-fab on-click="_save" icon="save"></paper-fab>
    </template>
    <script>
        Polymer({
            is: 'in-save-button',
            behaviors:[InValidateControl],
            properties: {},
            _save: function () {
                var nodoPadre = Polymer.dom(this).parentNode.parentNode;
//                console.log(nodoPadre);
                if(
                        this._validateControl(nodoPadre.querySelector('#page-datos-personales'))
                        &&this._validateControl(nodoPadre.querySelector('#page-datos-contacto'))
                        &&this._validateControl(nodoPadre.querySelector('#page-atributos'))
                ){return saveData();}
            }
        })
    </script>
</dom-module>