<link rel="import" href="../../bower_components/paper-dialog">
<link rel="import" href="../../bower_components/paper-spinner">
<link rel="import" href="../../bower_components/iron-behaviors/iron-control-state.html">
<link rel="import" href="../../behaviors/in-modal-control.html">

<dom-module id="in-spinner">
    <style>

        .dialog-spinner {
            background-color: transparent !important;
            box-shadow: none !important;
        }

    </style>
    <template>
        <paper-dialog id="modal" modal class="dialog-spinner" style="background-color:transparent !important;">
            <div>
                <paper-spinner active></paper-spinner>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'in-spinner',
            behaviors: [
                    Polymer.IronControlState,
                    InModalControl
            ],
            properties: {},
        })
    </script>
</dom-module>
