<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="in-autocomplete">
    <style is="custom-style">
        :host {
            display: block;
        }
        .item {
        @apply(--layout-horizontal);

            margin: 16px 16px 0 16px;
            padding: 20px;

            border-radius: 8px;
            background-color: white;
            border: 1px solid #ddd;
        }
        .oculto{
            display: none;
        }
    </style>
    <template>
        <div class$="{{alfa}}" >
            <paper-input label="{{data.label}}" value="{{valor::input}}" ></paper-input>
            <div class="layout vertical">
                <template is="dom-repeat" items="{{clients}}" as="client" id="clientes">
                    <div class="item" on-click="cambio_oculto">
                        <!--<div class="layout horizontal">-->
                        <div class="flex-1">
                            <span>{{client.value}}</span>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <iron-ajax
                url="{{data.url}}"
                auto="{{call}}"
                method="get"
                params='{{params}}'
                handle-as="json"
                on-response="handleResponse"
                last-response="{{clients}}"></iron-ajax>
        <div class$="{{beta}}">
            <input id="idRelacion" type="hidden" value="{{cliente.id}}">
            <paper-input label="Persona" value="{{cliente.value}}"></paper-input>
            <paper-button on-click="cambio_oculto"> Limpiar búsqueda</paper-button>
        </div>



    </template>
    <script>
        (function() {
            Polymer({
                is: 'in-autocomplete',
                cambio_oculto: function (e) {
                    this.cliente = this.$.clientes.itemForElement(e.target);
                    if(this.alfa==""){
                        this.alfa ="oculto";
                        this.beta = "";
                        return
                    }
                    this.alfa = "";
                    this.beta ="oculto";
                    return
                },
                properties: {
                    valor:{
                        observer:'_cambioInput'
                    },
                    data:Object,
                    prop: String,
                    default: String,
                    params: Object,
                    call:{
                        value: false,
                        type: Boolean
                    }
                },
                _cambioInput: function () {
                    this.params ={
                        "search": this.valor,
                    };
//                    console.log(this.params);
                    return this.call=true;
                },
                handleResponse: function () {
                    this.call=false;

                },
                ready: function () {
//                    console.log(this.data);
                    this.alfa="";
                    this.beta="oculto";
//                    console.log(data);
//                    console.log(this.data);
//                    console.log(this.data.url);
//            var data = JSON.parse(this.data);
//            this.columns = data.columns;
//            console.log(this.columns);
//            this.label = data.label;
//            this.url = data.url;
//
//            this.id = data.id;
//
//            if(this.default != "" && this.default != "null"){
//                var defaultValue = JSON.parse(this.default);
//                $("paper-menu-button").attr("selection", defaultValue.id);
//                this.selectionName = defaultValue.description;
//            }
//
//            var input = $('.content-dropdown').find('paper-input')[0];
//            $(input).attr('name', data.id);
//

//            var label = data.label.toLowerCase().replace(":","");
//            var properties = false;
//            if(this.prop != ""){
//                properties = JSON.parse(this.prop).properties;
//            }
//            if(properties){
//                $.each(properties, function(){
//                    var el = $('#container').find(this.element);
//                    var el_properties = this.properties;
//                    $.each(el_properties, function(){
//                        for (var p in this){
//                            if(p == 'class'){
//                                $(el).addClass(this[p]);
//                            }else{
//                                $(el).attr(p, this[p]);
//                            }
//                            if(p == "required"){
//                                $(el).attr('error-message', "El campo "+label+" es requerido");
//                            }
//
//                        }
//                    });
//                });
//            }
                }

            });
        })();
    </script>
</dom-module>
