/*---------------------------------------------------------*/
/*
/*  set the aspect ratio
/*
/*  the cropper has a 40px offset
/*  this means 80px will be subtracted from the image height and width
/*
/*  the class .one must match the class written into one.init('.one');
/*
/*---------------------------------------------------------*/

.default .cropMain {
	width:300px;
	height:300px;
}


/*---------------------------------------------------------*/
/*	cropper styling begins here...
/*---------------------------------------------------------*/

.cropMain {
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///5EjRxiAGMgCCCAGFB5AADGCRBgYjh49CiRZIJS1tTWQBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwARxT7aD6kRXAAAAABJRU5ErkJggg==') repeat;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.cropMain .crop-img { position: absolute }

.cropMain .crop-container {
	overflow: hidden;
	position: relative;
}

.cropMain .crop-container:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5999;
	opacity: .75;
	filter: alpha(opacity=7);
	-webkit-box-shadow: inset 0 0 0 40px white,inset 0 0 0 41px rgba(0,0,0,.1),inset 0 0 20px 41px rgba(0,0,0,.2);
	box-shadow: inset 0 0 0 40px white,inset 0 0 0 41px rgba(0,0,0,.1),inset 0 0 20px 41px rgba(0,0,0,.2);
}

.cropMain .crop-overlay {
	position: relative;
	cursor: move;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*---------------------------------------------------------*/
/*	slider bar styling
/*---------------------------------------------------------*/

.cropSlider .noUi-target * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-touch-callout:none;
    -ms-touch-action:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    cursor:default
}
.cropSlider .noUi-base {
	margin: 25px 10px;
	height: 7px;
	border-radius: 4px;
	background-color: #bbb;
	cursor:pointer;
	position:relative;
	z-index:1
}
.cropSlider .noUi-handle {
	width: 20px;
	height: 20px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 -4px 8px rgba(0,0,0,0.10);
	cursor: move;
	border-radius: 4px;
	margin:-7px 0 0 -10px
}
.cropSlider .noUi-active {

}
.cropSlider .noUi-connect {
    background:Teal
}
.cropSlider .noUi-background {
    background:#fbc93d
}
.cropSlider .noUi-origin-lower {
	background:#eee;
}
.cropSlider .noUi-origin {
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    z-index:0;
    border-radius:inherit
}
.cropSlider .noUi-origin-upper {
    background:inherit !important
}
.cropSlider .noUi-z-index {
    z-index:10
}
.cropSlider .noUi-vertical {
    width:40px;
    height:100%
}
.cropSlider .noUi-vertical .noUi-origin {
    bottom:0;
    left:0
}
.cropSlider .noUi-vertical .noUi-handle {
    margin:-23px 0 0 -3px
}
.cropSlider .noUi-target[disabled] .noUi-base {
	background: #ccc;
	box-shadow: none;
}
.cropSlider .noUi-target[disabled] .noUi-connect {
	background: #ccc;
	box-shadow: none;
}
.cropSlider .noUi-state-tap .noUi-origin {
    -webkit-transition:left .3s, top .3s;
    transition:left .3s, top .3s
}


/*---------------------------------------------------------*/
/*	crop button styling
/*---------------------------------------------------------*/

.cropButton {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff 0, #e6e6e6 100%);
    background-image: -moz-linear-gradient(top, #fff 0, #e6e6e6 100%);
    background-image: -ms-linear-gradient(top, #fff 0, #e6e6e6 100%);
    background-image: -o-linear-gradient(top, #fff 0, #e6e6e6 100%);
    background-image: linear-gradient(top, #fff 0, #e6e6e6 100%);
    border: 1px solid #d3d3d3;
    color: #7c7c7c;
    -moz-box-shadow: 0 1px 1px #b0afaf;
    -o-box-shadow: 0 1px 1px #b0afaf;
    -webkit-box-shadow: 0 1px 1px #b0afaf;
    box-shadow: 0 1px 1px #b0afaf;
    //font-weight: normal;
    //font-size: 12px;
    text-shadow: 1px 1px 1px #f5f5f5;
    height: 25px;
    width: auto;
    padding: 0 15px;
    cursor:pointer;
    border-radius:5px;
}

.cropButton:hover {
    color: #0b94c8;
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff 0, #f0eeee 100%);
    background-image: -moz-linear-gradient(top, #fff 0, #f0eeee 100%);
    background-image: -ms-linear-gradient(top, #fff 0, #f0eeee 100%);
    background-image: -o-linear-gradient(top, #fff 0, #f0eeee 100%);
    background-image: linear-gradient(top, #fff 0, #f0eeee 100%);
}

.cropButton:active {
    -moz-box-shadow: inset 0 3px 5px #e6e6e6;
    -o-box-shadow: inset 0 3px 5px #e6e6e6;
    -webkit-box-shadow: inset 0 3px 5px #e6e6e6;
    box-shadow: inset 0 3px 5px #e6e6e6;
}
