<?php if ($this->pageCount): ?>
    <span class="pagination">
        <center>
            <ul>
                <!-- inicio page link -->
                <?php if($this->current != 1): ?>
                    <li><a href="<?php echo $this->url(array('page3' => 1)); ?>"><<</a></li>
                <?php else : ?>
                    <li class="disabled"><a href="#"><<</a></li>
                <?php endif ?>
                
                <!-- Previous page link -->
                <?php if (isset($this->previous)): ?>
                    <li><a href="<?php echo $this->url(array('page3' => $this->previous)); ?>"><</a></li>
                <?php else: ?>
                    <li class="disabled"><a href="#"><</a></li>
                <?php endif; ?>

                <!-- Numbered page links -->
                <?php foreach ($this->pagesInRange as $page): ?>
                    <?php if ($page != $this->current): ?>
                        <li>
                            <a href="<?php echo $this->url(array('page3' => $page)); ?>">
                                <?php echo $page; ?>
                            </a>
                        </li>
                    <?php else: ?>
                        <li class="active"><a href="#"><?php echo $page; ?></a></li>
                    <?php endif; ?>
                <?php endforeach; ?>

                <!-- Next page link -->
                <?php if (isset($this->next)): ?>
                    <li><a href="<?php echo $this->url(array('page3' => $this->next)); ?>">></a></li>
                <?php else: ?>
                    <li class="disabled"><a href="#">></a></li>
                <?php endif; ?>
                    
                <!-- Fin page link -->
                <?php if ($this->current != $this->pageCount): ?>
                    <li><a href="<?php echo $this->url(array('page3' => $this->pageCount)); ?>">>></a></li>
                <?php else: ?>
                    <li class="disabled"><a href="#">>></a></li>
                <?php endif; ?>
            </ul>
        </center>
    </span>
<?php endif; ?>