<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/alertify/alertify.flat.css'?>">

<script src="<?php echo $this->serverUrl() . '/js/alertify/alertify.min.js' ?>"></script>


    <div>
        <div>
            
            <div class="content cuerpo"> 
                
                <div class="row no-margins">
                    

                    <div id="divInvite" class="col-md-12 no-margins">

                        <div class="page_content">

                                <h1>Invite a Journalist</h1>
                                <p class="short_text">We rely on our own journalists to bring trusted and passionate individuals who love to write about topics affecting their community. Please enter the journalist’s name and email below and we’ll send them an invite! </p>

                                <form id="formInvite"> 
                                    <br/><input type="text" class="in_style_02" id="txtName" name="txtName" placeholder="Name">
                                    <br/><input type="text" class="in_style_02" id="txtMail" name="txtMail" placeholder="E-mail">
                                    <br/><br/> 

                                    <input type="button" class="btn_submit" name="btnInvite" id="btnInvite" value="Send Invite" onclick="inviteJournalist()"> 
                                    <input type="Button" class="btn_cancel" id="btnCancel" name="btnCancel" value="Go to Map">                             
                                </form><br><br><br>

                                <!-- ***************************************************************************************************** -->

                        </div>
                    </div>                    

                </div>
            </div><!-- FIN content cuerpo -->
            
        </div>
    </div>


<script type="text/javascript">
    
    
    
    $(document).ready(function() {
        
        //extendSideNav();   
        $('#divMainBody').removeClass('cuerpo');
        
        $('#btnCancel').on('click', function(){
            window.location = '/';
        });

    });
    
    function inviteJournalist(){

        operations.showSpinner('Sending');

        var data = $("#formInvite").serialize();

        data += "&method=invite&c=" + "<?php echo $this->code_encrypted ?>";

        $.post('/main/journalists', data, function(response) {

            operations.hideSpinner();

            if(parseInt(response.status) === 401){
                operations.addError(response.errors);
            }

            if(response == null || parseInt(response.status) !== 200){
                
                console.log(response);
                //operations.showMessage('Error','error');
                if(response.message !== 'Validation Error')
                    alertify.error(response.message);
                
            }else{
                
                operations.showMessage('Sent','ok');
                                
                $('#txtName').val('');
                $('#txtMail').val('');
                $('#btnInvite').val('Send Another');
                
            }                

        }, 'json');

    }
    
</script>