<!--JOURNALISTS INDEX-->
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <div id="divContentList" class="col-md-9 article_content">
        <div class="row no-margins">
            <div class="col-md-12 no-margins">

                <div class="profile_header">
                    <h1 id="titleContentType"></h1>
                </div>

            </div>
        </div>

        <div class="row no-margins">
            <div class="content_boxes_container">
                <div id="divScrollableContent" class="col-md-12 no-margins content_boxes">

                    <div id="divArticles" hidden="hidden"></div>

                    <div id="divPhotos" hidden="hidden"></div>

                    <div id="divVideos" hidden="hidden"></div>

                    <div id="divTweets" hidden="hidden"></div>

                </div>
            </div>
        </div>
    </div>

    <div id="divContentView" class="col-md-9 article_content row no-margins">
        
<!--        <script type="text/javascript" src="<?php // echo $this->baseUrl() . '/js/imagelightbox.min.js' ?>"></script>
        <script type="text/javascript" src="<?php // echo $this->baseUrl() . '/js/image.custom.js' ?>"></script>

        <link rel="stylesheet" href="/css/imagelightbox.css" />-->
        
    </div>
    
<script type="text/javascript">

    var oContentState = {};

    /*global var*/
    var followFunctionCalled = false;
    var justFollowed = false;
    var changeContentType = null;
    
    var htmlEndorse = '<div id="contentEndorse">\n\
                            <a id="endorsedLink" href="#" class="btn_style_02 btn_style_01_reset reset_no_float top-7" \n\
                            style="display:none">Endorse</a>\n\
                      </div>' 
        
    var articlesLoaded = false;
    var photosLoaded = false;
    var videosLoaded = false;
    var tweetsLoaded = false;
    var controller = '';    
    var isHistoryFired = false;
    
    //Remove lisetener declared at home with popStateHomeListener function declared at home too
    //Check if it has been defined
/*    if(typeof popStateHomeListener === 'function'){
        console.log('estaba definido, se remueve');
        window.removeEventListener('popstate', popStateHomeListener);
    }
    window.removeEventListener('popstate', popStateHomeListener);
        

console.log('registro popstate en el journalist');
    window.addEventListener('popstate', function(event) {
        
        console.log('entrando la funcion de popstate q se define en el journalist');
        
        if(event.state === null){
            //window.history.back();
            return true;
        }
        
        //If previous url whas the map, do a redirection
        if(event.state.url === '/main/contents/index'){            
            //for now doing a redirection. Later we might keep the map loaded.
            window.location = event.state.url;
            return true;
        }
        
        oContentState = event.state;
        isHistoryFired = true;
        initContentPage();        
    });    
*/    
    
    sectionSearch = "indexJournalist";


        console.log('registrando onbefore unload fuera del ready');
        window.onbeforeunload = function(e){
            
            console.log(e);
            alert('onbeforeunload');
        }


    $('document').ready(function() {
        
        
        
        //TODO: Verify why this is not working
//        $("#divContentView").mCustomScrollbar({
//            theme: "dark",
//            setWidth: false,
//        });
//
//
//        $("#divScrollableContent").mCustomScrollbar({
//            theme: "dark",
//            setWidth: false,
//        });

        adjustHeight();
        
        //Check if oHomeState is already defined
        if(typeof oHomeState === 'object')
            oContentState.contentType = oHomeState.contentType;                
        
        initContentStateObject();
        
<?php if($this->viewContent){ ?>
/* Render content view */
        
        oContentState.loadOneContent = true;
        oContentState.url = "/main/contents/method/view/con_id/" + oContentState.contentID;               
        //history.pushState(oContentState, 'View of Content', oContentState.url);
        
<?php }else{ ?>            
/*Render List content*/

        oContentState.loadOneContent = false;                
        oContentState.url = '/main/journalists/method/index/journalist_id/'+ oContentState.journalistID +'/con_type/' + oContentState.contentType;
        //history.pushState(oHomeState, 'List of Content', oContentState.url);
        
<?php } ?>        

        loadCompletePage();
        


        $('#textUnfollow').on('mouseover', function(){
            if($('#textUnfollow').text() === 'Following →' && !justFollowed)
                $('#textUnfollow').text('Unfollow →');
        });

        $('#textUnfollow').on('mouseout', function(){

            if($('#textUnfollow').text() === 'Unfollow →' || justFollowed)
                $('#textUnfollow').text('Following →');

            justFollowed = false;
        });
        
    });

    function initContentStateObject(){
    
        oContentState = {
            contentType: <?php echo $this->selectedType ? $this->selectedType : Main_Model_Content::TYPE_ARTICLE; ?>,
            journalistID: <?php echo $this->journalistID ?>,
            contentID: <?php echo $this->contentID ? $this->contentID : 0; ?>,
            loadOneContent: false            
        };
    }
    
    function initContentPage(){
   
        //Only sets the content type button as active
        setFilterContentType(oContentState.contentType);
        loadCompletePage();
        isHistoryFired = false;
    }
    
    function loadCompletePage(){
        
        switch(oContentState.contentType){
            
            case <?php echo Main_Model_Content::TYPE_ARTICLE ?>:
                        
                if(oContentState.loadOneContent){
                    controller = 'articles';
                    onContentTitleClick(oContentState.contentID);
                    
                    var serverUrl = '<?php echo $this->serverUrl()?>';        
                    if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
                        mixpanel.track("Article opened");
                    
                }else
                    loadArticles();
                break ;  
                        
            case <?php echo Main_Model_Content::TYPE_VIDEO ?>:

                if(oContentState.loadOneContent){
                    controller = 'videos';
                    onContentTitleClick(oContentState.contentID);
                    
                    var serverUrl = '<?php echo $this->serverUrl()?>';        
                    if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
                        mixpanel.track("Video opened");
                    
                }else
                    loadVideos();
                break ;  
                
            case <?php echo Main_Model_Content::TYPE_PHOTO ?>:
                        
                if(oContentState.loadOneContent){
                    controller = 'photos';
                    onContentTitleClick(oContentState.contentID);
                    
                    var serverUrl = '<?php echo $this->serverUrl()?>';        
                    if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
                        mixpanel.track("Album opened");
                    
                }else                        
                    loadPhotos();
                break;  

            case <?php echo Main_Model_Content::TYPE_TWEET ?>:
                        
                loadTweets();
        
                var serverUrl = '<?php echo $this->serverUrl()?>';        
                if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
                    mixpanel.track("Tweets requested");
        
                break;  

            default:
                loadArticles();
        }        
        
    }

    function loadArticles(){
        
        operations.showSpinner('Loading');
        activateArticlesButton();
        
        controller = 'articles';
        removeBoxEndorse();
        
        $('#divContentList').show();
        $('#divContentView').hide();
    
        //TODO: Fix bug to uncomment this. The div shows empty
        //if(!articlesLoaded){            
            url = '/main/articles/method/index.journalist/journalist_id/' + '<?php echo $this->journalistID; ?>';

            if(filter != undefined && filter != '' && filter != 'null'){
                url += '/search/'+filter;
            }
    
            $('#divArticles').load(url, function(){ 
                                            articlesLoaded = true; 
                                            adjustHeight(); 
                                            operations.hideSpinner()});
        //}        
        
        $('#divPhotos').hide();
        $('#divVideos').hide();
        $('#divTweets').hide();
        $('#divArticles').show();
        $('#titleContentType').html('Articles');                
        
        if(isHistoryFired)
            return true;

        oContentState.loadOneContent = false;
        oContentState.contentType = <?php echo Main_Model_Content::TYPE_ARTICLE; ?>;
        oContentState.url = '/main/journalists/method/index/journalist_id/'+ oContentState.journalistID +'/con_type/' + oContentState.contentType;
        //history.pushState(oContentState, 'List of Content', oContentState.url);        
    }
    
    function loadPhotos(){
        
        operations.showSpinner('Loading');
        activatePhotosButton();
        
        controller = 'photos';
        removeBoxEndorse();
        
        $('#divContentList').show();
        $('#divContentView').hide();
        
        //TODO: Fix bug to uncomment this. The div shows empty
        //if(!photosLoaded){            
            url = '/main/photos/method/index.journalist/journalist_id/' + '<?php echo $this->journalistID; ?>';
            
            if(filter != undefined && filter != '' && filter != 'null'){
                url += '/search/'+filter;
            }
            
            $('#divPhotos').load(url, function(){ 
                                        photosLoaded = true; 
                                        adjustHeight();
                                        operations.hideSpinner()});
        //}        
        
        $('#divArticles').hide();
        $('#divVideos').hide();
        $('#divTweets').hide();        
        $('#divPhotos').show();
        $('#titleContentType').html('Photos');
        
        if(isHistoryFired)
            return true;
        
        oContentState.loadOneContent = false;
        oContentState.contentType = <?php echo Main_Model_Content::TYPE_PHOTO; ?>;
        oContentState.url = '/main/journalists/method/index/journalist_id/'+ oContentState.journalistID +'/con_type/' + oContentState.contentType;
        //history.pushState(oContentState, 'List of Content', oContentState.url);        
    }
    
    function loadVideos(){
    
        operations.showSpinner('Loading');
        activateVideosButton();
        
        controller = 'videos';
        removeBoxEndorse();
        
        $('#divContentList').show();
        $('#divContentView').hide();

        //TODO: Fix bug to uncomment this. The div shows empty
        //if(!videosLoaded){            
            url = '/main/videos/method/index.journalist/journalist_id/' + '<?php echo $this->journalistID; ?>';
            
            if(filter != undefined && filter != '' && filter != 'null'){
                url += '/search/'+filter;
            }
            
            $('#divVideos').load(url, function(){ 
                                        operations.hideSpinner();
                                        videosLoaded = true; 
                                        adjustHeight();                                        
            });
        //}
        
        $('#divArticles').hide();
        $('#divPhotos').hide();
        $('#divTweets').hide();
        $('#divVideos').show();
        $('#titleContentType').html('Videos');
        
        if(isHistoryFired)
            return true;
        
        oContentState.loadOneContent = false;
        oContentState.contentType = <?php echo Main_Model_Content::TYPE_VIDEO; ?>;
        oContentState.url = '/main/journalists/method/index/journalist_id/'+ oContentState.journalistID +'/con_type/' + oContentState.contentType;
        //history.pushState(oContentState, 'List of Content', oContentState.url);        
    }
    
    function loadTweets(){

        operations.showSpinner('Loading');
        activateTweetsButton();
        $('#divContentList').show();
        $('#divContentView').hide();

        url = '/main/tweets/method/index.journalist/journalist_id/' + '<?php echo $this->journalistID; ?>';

        $('#divTweets').load(url, function(){ 
                                        operations.hideSpinner();
                                        tweetsLoaded = true; 
                                        adjustHeight();                                         
                                    });
        $('#divArticles').hide();
        $('#divPhotos').hide();
        $('#divVideos').hide();
        $('#divTweets').show();
        $('#titleContentType').html('Tweets');
        
        if(isHistoryFired)
            return true;
        
        oContentState.loadOneContent = false;
        oContentState.contentType = <?php echo Main_Model_Content::TYPE_TWEET; ?>;
        oContentState.url = '/main/journalists/method/index/journalist_id/'+ oContentState.journalistID +'/con_type/' + oContentState.contentType;
        //history.pushState(oContentState, 'List of Content', oContentState.url);        
    }


    function onContentTitleClick(contentID){
        
        if(controller === ''){
            alert('no controller');
            return false;
        }
        
        operations.showSpinner('Loading');
        
        if(changeContentType == null){
            
            changeContentType = true;
            
        }else if(changeContentType == false){
            
            $('#contentEndorse').html(htmlEndorse);
            changeContentType = true;
        }
        
        $('#divContentList').hide();
        
        var url = '<?php echo $this->serverUrl() ?>' + '/main/'+controller+'/method/view/con_id/' + contentID;
            
        $('#divContentView').empty();
        $('#divContentView').load(url, function(){
            
            $('.cms_gallery_01').remove();
            operations.hideSpinner();
            
        }, function(){operations.hideSpinner();});  
        
        $('#divContentView').show();   
                        
        if(isHistoryFired)
            return true;

        oContentState.url = url;
        oContentState.contentID = contentID;
        oContentState.loadOneContent = true;
        //history.pushState(oContentState, 'View of Content', oContentState.url);                
    }
    
    function onJournalistPictureClick() {
        
        oContentState.loadOneContent = false;
        loadCompletePage();
    }   
    
    function onMessageClick(){
        var url = '<?php echo $this->serverUrl() . '/main/users/method/toolbox' ?>';
        $('#divMainBody').load(url, function(){
                                                //onResourceClick();
                                                //$('#btnNavMessages').click();
                                                showThread(oContentState.journalistID);
                                                //loadChatings('63');
                                              });
    }
    
    
    var contentToEndorseID = null;
    
    function endorse(contentID) {
        
        <?php if( !Main_Model_User::getSession(Main_Model_User::USER_ACCEPTED)){ ?>
                
            openModalRestricted();
            return;
            
        <?php }else{ ?>
            
            contentToEndorseID = contentID;
            openModalEndorse();
            
        <?php } ?>             
    }
    
    function endorseConfirmed(){
                
        if(contentToEndorseID === null)
            return false;
                
        var data = "method=endorse.content";
        var onclick = $("#endorsedLink").attr('onclick');

        $("#endorsedLink").removeAttr('onclick');
        data += "&con_id=" + contentToEndorseID;
        
        $.post('/main/contents', data, function(response) {

            if (response.status === 500){
                $("#endorsedLink").attr('onclick',onclick);
                alert(response.message);
            }

            if (response.status === 200) {
                $("#endorsedLink").removeAttr('onclick');
                $("#endorsedLink").addClass('btn_black');   
                $("#endorsedLink").html('Endorsed');   
                
                var profilejournalist = "goProfileJournalist(" + response.view.journalistID + ")";
                
                var endorsment = '<div class="user_pic_content_small pointer" onclick="'+profilejournalist+'" href="#">';
                endorsment += '<div class="user_pic_small">';
                endorsment += '<img src="/main/uploads/method/get.image?file=/thumbnail/'+response.view.pic+'">';
                endorsment += '</div></div>';
                
                $('.journalis_endoursed').append(endorsment);
                
                var countEndorsements = parseInt($('#countEndorsements').html())+1;
                
                if(countEndorsements > 1){
                    $('#textCountEndorsements').html(' journalists');
                }else{
                    $('#textCountEndorsements').html(' journalist');
                }
                
                $('#countEndorsements').html(countEndorsements);
                
            }
                
            
        }, 'json');
    }
    
    function removeBoxEndorse(){
    
        if(changeContentType == true){
            $('#endorsedLink').remove();
            changeContentType = false;
        }            
    }
    
    function follow(isFollow) {

        var data = '';
        
        if(followFunctionCalled)
            return true;
        
        followFunctionCalled = true;
        
        if(isFollow === true)
            data = 'method=follow';
        else
            data = 'method=unfollow';
            
        data += "&journalist_id=" + '<?php echo $this->journalistID ?>';

        $.post('/main/journalists', data, function(response) {

            if (response === null || response.status === 500){
                
                operations.showMessage('Error','error');

            }
            
            if (response.status === 200) {
                
                var strFollowers = $("#textCountFollow").text();
                var followers = 0;
                
                strFollowers = strFollowers.replace('followers', '');
                strFollowers = strFollowers.trim();
                
                
                if (isFollow === true) {
                    
                    followers = parseInt(strFollowers) + 1;
                    
                    $("#textCountFollow").text( followers + ' followers');
                    $("#btnFollowMe").hide();
                    $("#btnFollowing").show();
                    
                    justFollowed = true;
                    

                } else {
                    
                    followers = parseInt(strFollowers) - 1;
                    
                    $("#textCountFollow").text( followers + ' followers');
                    $("#btnFollowMe").show();
                    $("#btnFollowing").hide();
                            
                }
            }

            followFunctionCalled = false;
            
        }, 'json');
    }
    
    function adjustHeight() {

        operations.hideSpinner();
        var divHeight = $(window).height();
        
        if(!$('#divScrollableContent').offset())
            return true;

        var topDistance = $('#divScrollableContent').offset().top;
        var result = parseInt(divHeight) - parseInt(topDistance);
        $('#divScrollableContent').css('height', result + 'px');


        divHeight = $(window).height();
        topDistance = $('#divContentView').offset().top;
        result = parseInt(divHeight) - parseInt(topDistance) - 100;
        $('#divContentView').css('height', result + 'px');
        
        extendSideNav(false);          
    }
    
 
</script>