        <div class="row-fluid" style="height:125px; margin-bottom: 20px">
            <div class="span10">
                            
                <div class="user_pic_content" href="#" style="">
                            <div class="user_pic">
                                <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $this->userPic; ?>" width="125px">
                            </div>
                </div>
				
            </div>
        </div>


    <div class="row-fluid">
        <div class="span10">  
            <label for="txtInvites" class="span4">Sent Invites</label>
            <label for="txtReads" class="span4">Read Invites</label>
            <label for="txtSignups" class="span4">Related Sign Ups</label>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span10">        
            
            <input id="txtInvites" type="text" class="input-large span4" value="<?php echo $this->invites ?>">
            
            <input id="txtReads" type="text" class="input-large span4" value="<?php echo $this->reads ?>">
            
            <input id="txtSignups" type="text" class="input-large span4" value="<?php echo $this->signups ?>">
        </div>    
    </div>



    <div class="row-fluid">
        <div class="span12">

            <table id='gridInvites'></table>

        </div>
    </div>





    
        <script type="text/javascript">

            $(document).ready(function() {
				
                $("#gridInvites").jqGrid({
                    
                    url: '/main/journalists/method/json.invites/user_id/' + '<?php echo $this->userId ?>',
                    datatype: "json",
                    colNames: ['ID', 'Date', 'Read', 'Name Invited', 'Email Invited'],
                    colModel: [
                        {name: 'id', index: 'id', hidden: true},
                        {name: 'in_date', index: 'in_date'},
                        {name: 'in_date_read', index: 'in_date_read'},
                        {name: 'in_name', index: 'in_name'},
                        {name: 'in_email', index: 'in_email'}
                    ],
                    rowNum: 100,
                    //rowList: [20, 30],
                    autowidth: true,
                    height: '100%',
                    viewrecords: true,
                    caption: "",
                    jsonReader: { repeatitems : false, root:"rows" },

                });


            });



        </script>