<script type="text/javascript">    
    $('#divMainBody').addClass('cuerpo');
</script>

<div class="col-md-3 user_sidebar">
    
                <div class="user_sidebox reset_float_left">
                    
                    <div class="user_pic_content pointer" onclick="onJournalistPictureClick()" href="#">
                            <div class="user_pic">
                                    <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $this->userPic; ?>">
                            </div>
                    </div>
                    
                    <h2><?php echo $this->journalistName; ?></h2><br class="hideBigger_991">
                    <input type="button" value="Show more" id="moreUserInfo" class="btn_style_05 hideBigger_731"><p class="detailMore hideBigger_731">...</p>
                    
                    <div class="user_info_to_show" id="showUserInfo"> 
                                                            
                    <p class="user_info user_info_gray"><span class="glyphicon glyphicon-globe"></span> <?php echo $this->journalistCountry; ?></p>
                    
<?php if(Main_Model_ExpertContent::INCOGNITO_JOURNALIST_ID != $this->journalistID){ ?>
    
                    <p style="margin-top: 2px !important;" class="user_info user_info_red"><span class="icon-twitter">&nbsp;</span><?php echo $this->journalistTwitter; ?></p>
<?php } ?>                    
                    <span style="margin-bottom: 10px !important; margin-top: 5px !important; margin-left: 3px" id="textCountFollow" class="text_detail"><?php echo $this->countFollers; ?> followers</span><br class="hideBigger_991">
                    
<?php if(Main_Model_User::getSession(Main_Model_User::USER_ROLE) >= Main_Model_Role::JOURNALIST_ROLE_ID && 
        Main_Model_User::getSession(Main_Model_User::USER_ID) != $this->journalistID && 
        Main_Model_ExpertContent::INCOGNITO_JOURNALIST_ID != $this->journalistID){ ?>
                    
                    <a href="#" onclick="onMessageClick()" class="btn_style_02 btn_style_01_reset reset_no_float top-7">Message</a>
<?php } ?>
                    
<?php if(Main_Model_User::getSession(Main_Model_User::USER_ROLE) >= Main_Model_Role::READER_ROLE_ID && 
         Main_Model_User::getSession(Main_Model_User::USER_ID) != $this->journalistID){ ?>
                    
                    <div id="contentEndorse"><a id="endorsedLink" href="#" class="btn_style_02 btn_style_01_reset reset_no_float top-7" style="display:none">Endorse</a></div>                    
<?php } ?>                    
                    
                    
<!--        <script id='fbgtzkv'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=jouture&url=https%3A%2F%2Fwww.jouture.com';f.title='Flattr';f.height=62;f.width=55;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbgtzkv');</script>                    
        
        <form action="" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_KEEfd7pRR3gt5AYuXXS8Xo6S"
                data-amount="1000"
                data-name="Jouture"
                data-description="2 widgets ($10.00)"
                data-image="/images/logo.png">
            </script>
        </form>-->
        
<!-- JOURNALISTS /  READERS                  -->
<?php if(Main_Model_User::getSession(Main_Model_User::USER_ROLE) >= Main_Model_Role::READER_ROLE_ID &&
         Main_Model_User::getSession(Main_Model_User::USER_ID) != $this->journalistID && 
         Main_Model_ExpertContent::INCOGNITO_JOURNALIST_ID != $this->journalistID){ ?>
        
<!--                    <a href="#" class="btn_style_01 btn_style_01_reset reset_no_float top-7">Support</a>-->

        <?php if(!$this->isFollowing){ ?>
                    
                    <a id="btnFollowMe" onclick="follow(true)" class="btn_style_01 btn_style_01_reset reset_no_float top-7">Follow Me</a>
                    <a id="btnFollowing" onclick="follow(false)" class="btn_style_02 btn_style_01_reset reset_no_float top-7" style="display:none">Following</a>
                                        
        <?php }else{ ?>

                    <a id="btnFollowMe" onclick="follow(true)" class="btn_style_01 btn_style_01_reset reset_no_float top-7" style="display:none">Follow Me</a>
                    <a id="btnFollowing" onclick="follow(false)" class="btn_style_02 btn_style_01_reset reset_no_float top-7">Following</a>
                    
        <?php } ?>        
                    
<?php } ?>
                    <br class="hideBigger_991"><br class="hideBigger_991"><br class="hideBigger_991"><br class="hideBigger_991">
                    <div class="user_review">
                            <p><?php echo $this->journalistBio; ?></p>
                    </div>
                </div><!-- //FIN USER INFO TO SHOW -->
            </div>
            
</div>    


<?php

    if(Main_Model_User::getSession(Main_Model_User::USER_ID))
        echo $this->render('/contents/endorse-prompt.phtml');
?>

<script>
    
    function goProfileJournalist(journalistID){
        
//        operations.showSpinner('Loading');
//        var contentType = '<?php //echo Main_Model_Content::TYPE_ARTICLE; ?>';
//        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
//        $('#divMainContent').load(url, function(){operations.hideSpinner();}, function(){operations.hideSpinner();});        
        
        operations.showSpinner('Loading');
        var contentType = '<?php echo ((Main_Model_Content::TYPE_ARTICLE)?Main_Model_Content::TYPE_ARTICLE:1); ?>'; 
        
        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
        window.location.assign("<?php echo $this->baseUrl(); ?>" + url);          
        
    }
    
    
    /*** RESPONSIVE ***/
    
    
    var elementToHide_991 = $('.hideBigger_991');
    var elementToHide_731 = $('.hideBigger_731');
    var userInfo = $('#showUserInfo');
    var btnMoreUserInfo = $('#moreUserInfo');
    
    $(window).load(hideElements());
    
    $(window).resize(function() {
        
        if($(window).width() > 731){
            elementToHide_731.hide();
        } else {
            elementToHide_731.show();
        };
        
        if($(window).width() > 991){
            elementToHide_991.hide();
        }else { if($(window).width() < 731) {
                    elementToHide_991.hide();
                } else {
                    elementToHide_991.show();
                }
        };
        
        if($(window).width() < 731){
            userInfo.hide();
        } else {
            userInfo.show();
        }
    });

    
    function hideElements() {
        
        if($(window).width() > 731){
            elementToHide_731.hide();
        } else {
            elementToHide_731.show();
        };
        
        if($(window).width() > 991){
            elementToHide_991.hide();
        }else { if($(window).width() < 731) {
                    elementToHide_991.hide();
                } else {
                    elementToHide_991.show();
                }
        }
    };
    
    
    function showHideUserInfo() {
        if($(window).width() < 731){
            userInfo.hide();
        } else {
            userInfo.show();
        }
        
    };
    
    function startShowHideInfoUser() {
        
        btnMoreUserInfo.mousedown(function() {
            $('.detailMore').fadeOut(function() {
                btnMoreUserInfo.unbind("mousedown");
                showUserInfoByButton();
            });
        });
    };
    
    
    function showUserInfoByButton() {
        userInfo.slideDown(function() {
            btnMoreUserInfo.unbind("mousedown");
            hideUserInfoByButton();
        });
    };
    
    function hideUserInfoByButton() {
        btnMoreUserInfo.mousedown(function() {
            userInfo.slideUp(function() {
                btnMoreUserInfo.unbind("mousedown");
                startShowHideInfoUser();
                $('.detailMore').fadeIn();
            });
        });
    };
    
    
    showHideUserInfo();
    startShowHideInfoUser()
    
</script>
































