<?php if(count($this->userList) > 0){ ?>

<div class="col-xs-12 mess_table no-margins">
        

    <div class="col-xs-12">

        <div class="col-xs-1"></div>

        <div class="col-xs-11 mess_table_head">                
            <div class="col-xs-3 col-md-4"><p id="order_name" data-order-name="user_name" data-order-value="desc" onclick="orderTable(this.id)" class="order">Name <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-2 col-md-2 txt-center"><p id="order_articles" data-order-name="user_count_articles" data-order-value="desc" onclick="orderTable(this.id)" class="order">Articles <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-2 col-md-2 txt-center"><p id="order_pictures" data-order-name="user_count_pictures" data-order-value="desc" onclick="orderTable(this.id)" class="order">Pictures <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-2 col-md-2 txt-center"><p id="order_videos" data-order-name="user_count_videos" data-order-value="desc" onclick="orderTable(this.id)" class="order">Videos <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-3 col-md-2"></div>
        </div>

    </div>
        
    <?php foreach($this->userList as $user){ ?>
    
        <div class="row no-margins topmargin-3">
            <div class="row no-margins">
                <div id="user_<?php echo $user["user_id"] ?>" class="col-xs-12 drop-down no-margins" onclick="dropDown(<?php echo $user["user_id"] ?>)">
                    <div class="col-xs-1 mess_table_picture pic-connect"><img id="imageProfileHeader" src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $user["user_pic"] ?>" class="user_Pic user_pic_fix"></div>

                    <div class="col-xs-11 mess_table_mess">
                        <div class="col-xs-3 col-md-4"><span class="name-journalist-connect" onclick="onJournalistNameClick(event, <?php echo $user["user_id"] ?>)"><?php echo $user["user_name"] ?></span></div>
                        <div class="col-xs-2 col-md-2 txt-center"><p><?php echo $user["user_count_articles"] ?></p></div>
                        <div class="col-xs-2 col-md-2 txt-center"><p><?php echo $user["user_count_pictures"] ?></p></div>
                        <div class="col-xs-2 col-md-2 txt-center"><p><?php echo $user["user_count_videos"] ?></p></div>
                        <div class="col-xs-3 col-md-2">
                            
                            <?php 
                            
                            $follow = "display:none";
                            $no_follow = "display:none";
                            
                            if($user["user_following"] == "false"){
                                
                                $no_follow = "";
                               
                            }else{
                                
                                $follow = "";
                                
                            } ?>
                            
                            <input style="<?php echo $no_follow ?>" id="btn_follow_<?php echo $user["user_id"] ?>" type="button" class="btn_fav" onclick="follow('<?php echo $user["user_id"] ?>','false')">
                            <input style="<?php echo $follow ?>" id="btn_following_<?php echo $user["user_id"] ?>" type="button" class="btn_following" onclick="follow('<?php echo $user["user_id"] ?>','true')">
                            
                            <input type="button" class="btn_mess" onclick="messageByConnect('<?php echo $user["user_id"] ?>')">
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="content_<?php echo $user["user_id"] ?>" class="row drop-down-element" style="display: none">
                    <div class="col-xs-12 no-margins">
                        <div class="row">
                            <div class="col-xs-1"></div>

                            <div class="col-xs-11 mess_table_body">
                                <div class="row" >
                                    <div class="col-xs-12"><h2 class="biography">Biography</h2></div>
                                </div>
                                <div class="col-xs-12">
                                    <span class="icon-twitter"></span>
                                    <span class="twitter-connect" style="font-size: 12px"><?php echo $user["user_twitter"] ?></span>
                                </div>    
                                <div class="col-xs-12">              
                                    <p><?php echo $user["user_bio"] ?></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <?php } ?>
    </div>

<script>

    var messageUserByConnect = "";

    $(document).ready(function () {

        /*capture click event of children*/
        $('.btn_fav').bind('click', function (event) {
            event.stopPropagation();
        });
        
        $('.btn_following').bind('click', function (event) {
            event.stopPropagation();
        });

        /*capture click event of children*/
        $('.btn_mess').bind('click', function (event) {
            event.stopPropagation();
        }); 
        
        var order_value = '<?php echo $this->order_value ?>';
        var order_id = '<?php echo $this->order_id ?>';
        
        if(order_id != undefined && order_id != "" && order_id != "null"){
            
            var order_inv = "asc";
        
            if(order_value == "asc"){
                order_inv = "desc";
            }

            $("#"+order_id).attr('data-order-value', order_inv);

            if(order_inv == "asc"){
                $("#"+order_id+" span").removeClass("glyphicon-chevron-up");
                $("#"+order_id+" span").addClass("glyphicon-chevron-down");
            }else{
                $("#"+order_id+" span").removeClass("glyphicon-chevron-down");
                $("#"+order_id+" span").addClass("glyphicon-chevron-up");
            }

            $(".order").removeClass("active");

            $("#"+order_id).addClass("active");
            
        }
        
    });

    function dropDown(user_id) {
        $("#content_"+user_id).slideDown();
        $("#user_"+user_id).attr('onclick', 'slide('+user_id+')');
    }
  
    function slide(user_id) {
        $("#content_"+user_id).slideUp();
        $("#user_"+user_id).attr('onclick', 'dropDown('+user_id+')');   
    }
    
    function follow(id_user, follow){
        
        var action = 'follow';
        
        if(follow == 'true'){
            action = 'unfollow';
        }
        
        var data = "&method="+action+"&journalist_id=" + id_user;

        $.post('/main/journalists', data, function() {
       
            if(follow == 'false'){
                $("#btn_follow_"+id_user).css("display","none");
                $("#btn_following_"+id_user).css("display","inline-block");
            }else{
                $("#btn_following_"+id_user).css("display","none");
                $("#btn_follow_"+id_user).css("display","inline-block");
            }
            
        });
        
    }
    
    function messageByConnect(id_user){
        messageUserByConnect = id_user;
        operations.showSpinner("Loading");
        $("#btnNavMessages").trigger("click");
    }
    
    function onJournalistNameClick(event, journalistID){
        
        stopClickEvent(event);
        
        var contentType = '<?php echo ((Main_Model_Content::TYPE_ARTICLE)?Main_Model_Content::TYPE_ARTICLE:1); ?>'; 
        
        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
        window.location.assign("<?php echo $this->baseUrl(); ?>" + url);        
    }
        
    
    function stopClickEvent(event){
        
        var e = event || window.event; 
        
        //IE9 & Other Browsers
        if (e.stopPropagation) {
          e.stopPropagation();
        }
        //IE8 and Lower
        else {
          e.cancelBubble = true;
        }        
    }
    
</script>

<?php }else{ ?>

<p><i id="searchNoResults">No results found for your search</i></p>

<?php } ?>