
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-material/paper-material.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/elements/in-dropdown/in-dropdown.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/elements/in-checkbox/in-checkbox.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/elements/in-radio-button/in-radio-button.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-spinner/paper-spinner.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-input/paper-textarea.html' ?>">

<?php

    $errMsjAlphanumeric = 'This field only accepts letters and numbers';
    $errMsjNumber = 'This field only accepts numbers';

?>
    
    
<div class="layout horizontal">
    <paper-material elevation="0" class="tabs-paper-material">
        <div id="formGrant" name="formGrant" class="flex">
            <input type="hidden" id="objectID" name="objectID" value="<?php echo $this->grant->getId() ?>">
            <paper-input
                label="Title"
                id="title"
                name="title"
                pattern="[a-zA-Z0-9-_\s]*"
                value="<?php echo $this->grant->getTitle() ?>"
                error-message="<?php echo $errMsjAlphanumeric ?>"></paper-input>
            <paper-input
                label="Location"
                id="location"
                name="location"
                pattern="[a-zA-Z0-9\s]*"
                value="<?php echo $this->grant->getLocation() ?>"
                error-message="<?php echo $errMsjAlphanumeric ?>"></paper-input>
            <paper-input
                label="Amount"
                id="amount"
                name="amount"
                pattern="[0-9]*"
                value="<?php echo $this->grant->getAmount() ?>"
                error-message="<?php echo $errMsjNumber ?>"></paper-input>
            <paper-input
                label="Deadline"
                id="deadline"
                name="deadline"
                value="<?php echo $this->grant->getDeadline() ?>"
                error-message=""></paper-input>
            <paper-input
                label="Eligibility"
                id="focus"
                name="focus"
                pattern="[a-zA-Z0-9\s]*"
                value="<?php echo $this->grant->getFocus() ?>"
                error-message="<?php echo $errMsjAlphanumeric ?>"></paper-input>
            <paper-input
                label="Link"
                id="url"
                name="url"
                pattern="[a-zA-Z0-9\s]*"
                value="<?php echo $this->grant->getUrl() ?>"
                error-message="<?php echo $errMsjAlphanumeric ?>"></paper-input>
            <paper-textarea 
                label="Summary" 
                id="summary" 
                name="summary"
                required
                pattern="[a-zA-Z0-9\s]*"
                error-message="Summary is required please complete it"
                value="<?php echo $this->grant->getDescription() ?>" 
                char-counter maxlength="255"></paper-textarea>
        </div>
    </paper-material>

    <paper-material elevation="0" class="tabs-paper-material" style="margin-top: 8px !important">
        <div class="row">
            <div class="row-spinner"><paper-spinner id="spinnerSaveForm" class="blue" active></paper-spinner></div>
        </div>
    </paper-material>
</div>
