<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<dom-module id="in-radio-button">
    <style>
         .content-radio-group {
             margin-top: 30px;
         }
         .content-radio-group .form-invalid{
             padding-left: 0 !important;
         }
         .label-radio-button{
            color: #757575;
            font-family: 'Roboto', 'Noto', sans-serif;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
         }
         paper-radio-button{
             padding-bottom: 0 !important;
             padding-left: 0 !important;
         }
    </style>

    <template>
        <div class="content-radio-group">
            <span class="label-radio-button">{{label}}</span>
            <div class="horizontal-section">
                <paper-radio-group id="{{id}}" selected="{{selection}}">
                    <template is="dom-repeat" items="{{items}}" as="item" id="dynamicComponent">
                        <paper-radio-button on-click="selectionChanged" name="{{item.id}}">{{item.value}}</paper-radio-button>
                    </template>
                    <div class='row form-invalid'></div>
                </paper-radio-group>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: "in-radio-button",
            properties:{
                data:String,
                prop: String,
                default: String
            },
            ready: function () {
                var data=JSON.parse(this.data);
                this.items = data.items;
                this.label = data.label;
                this.id = data.id;
                var properties = false;

                if(this.prop != ""){
                    properties = JSON.parse(this.prop).properties;
                }

                if(this.default != "" && this.default != "null"){
                    this.selection = this.default;
                    $("paper-radio-group").attr("selection", this.default);
                }

                if(properties){
                   $.each(properties, function(){
                       var el = $(this.element);
                       var el_properties = this.properties;
                       $.each(el_properties, function(){
                           for (var p in this){
                               if(p == 'class'){
                                   el.addClass(this[p]);
                               }else{
                                   el.attr(p, this[p]);
                               }
                           }
                       });
                   });
               }
            },
              selectionChanged: function(e) {
                  this.selection = this.$.dynamicComponent.itemForElement(e.target).id;
                  $("paper-radio-group").attr("selection", this.selection);
            }
        })
    </script>
</dom-module>