<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../animations/in-rotate-animation.html">
<link rel="import" href="../../animations/in-negative-rotate-animation.html">
<dom-module id="in-collapse-button">
    <style is="custom-style">
        paper-fab.blue {
            --paper-fab-background: var(--paper-light-blue-700);
            --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform-origin: center
        }
    </style>
    <template>
        <paper-fab
                class="blue"
                icon="chevron-right"
                title="desplegar"
                on-click="_animar"></paper-fab>

    </template>
    <script>
        Polymer({
            is:'in-collapse-button',
            behaviors: [Polymer.NeonAnimationRunnerBehavior],
            properties:{
                collapsable:String,
                collapsed:{
                    type:Boolean,
                    value: false
                },
                animationConfig: {
                    value: function() {
                        return {
                            'collapse': {
                                name: 'in-rotate-animation',
                                node: this
                            },
                            'compress':{
                                name: 'in-negative-rotate-animation',
                                node: this
                            }

                        }
                    }
                }
            },
            listeners: {
                'neon-animation-finish': '_alFinalizarAnimación'
            },

            _animar: function () {
                var  elemento = document.querySelector('#'+this.collapsable);
                elemento.toggle();
                if(!this.collapsed){
                    this.collapsed = true;
                    this.cancelAnimation();
                    this.playAnimation('collapse');
                }else{
                    this.collapsed = false;
                    this.cancelAnimation();
                    this.playAnimation('compress');
                }
            },

            _alFinalizarAnimación: function () {
                if(this.collapsed){
                   this.style.transform = 'rotate(-180deg)';
                }else{
                    this.style.transform = 'rotate(0deg)';
                }
            }

        })

    </script>
</dom-module>