
.customAutocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.customAutocomplete-suggestion { margin: 5px 0; padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.customAutocomplete-no-suggestion { padding: 2px 5px;}
.customAutocomplete-selected { background: #F0F0F0; }
.customAutocomplete-suggestions strong { font-weight: bold; color: #E48C00; }
.customAutocomplete-group { padding: 2px 5px; }
.customAutocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

