/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2015, 23:14:35
    Author     : drobert
*/

.ui-autocomplete .ui-menu-item:hover {
    background: transparent !important;
    border: none !important;
}
  
.ui-autocomplete .ui-menu-item .ui-corner-all:hover {
    background: transparent !important;
    border: none !important;
}

.ui-autocomplete .ui-menu-item .ui-state-focus {
    background: transparent !important;
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    color: #e48c00;
}