/**** MEDIA QUERIES ****//**** MEDIA QUERIES ****//**** MEDIA QUERIES ****/
/**** MEDIA QUERIES ****//**** MEDIA QUERIES ****//**** MEDIA QUERIES ****/

@media (max-width: 1450px){ 

/*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***/


/*** CUERPO ***//*** CUERPO ***//*** CUERPO ***/

.cuerpo {
	width: 100% ;
}

    
.user_sidebox {
    width: 100%;
    max-width: 200px;
    padding: 0px 16px;
}

.user_sidebox h2 {
	margin: 15px auto 8px auto;
	font-size: 13pt;
}
    
    
/* Head title */
.article_header {
	width: 100%;
	height: auto;
}

.article_header h1 {
	margin: 0px 5px 6px 0 ;
	font-size: 18pt;
	height: auto;
	line-height: 22pt;
	display: block ;
    color: #24292f;
}

.article_header h2 {
	margin: 0 5px 12px 0 ;
	padding: 0px;
	font-size: 13pt;
	line-height: 17pt;
	display: inline-block;
	color: #8f8f8f;
}
    
    
	/* botones head */

.article_header_options {
	float: right;
	display: inline-block;
	width: 74px;
	margin: 23px 5px 0 0;
}

.btn_head_download {
	float: left;
	width: 31px;
	height: 29px;
	border: none;
	margin: -23px 3px 3px 3px;
	background: url(../images/icon-download.png);
}

.btn_head_back {
	position: absolute;
	float: left;
	width: 31px;
	height: 29px;
	border: none;
	margin: -23px 3px 3px 3px;
	background: url(../images/icon_go_back.png);
}

.profile_header {
	width: 90%;
	height: 42px;
    margin: 59px 5% 0 5%;
}
    
.article_box_content h2 a {
	font-size: 16pt;
}



/*** EMBASSIES PAGES ***//*** EMBASSIES PAGES ***//*** EMBASSIES PAGES ***/
ul.icon_menu_emb li.icon_emb {
    width: 50%;
    border-right: none;
}

ul.icon_menu_emb li.icon_emb a div.icon_images {
    width: 110px;
    height: 110px;
    margin: 45px auto 0 auto;
}

    
ul.icon_menu_emb li.icon_emb:nth-child(3n) {
    border-right: none;
}
    
ul.icon_menu_emb li.icon_emb:nth-child(2n) {
    border-right: none !important;
}

ul.icon_menu_emb li.icon_emb:nth-last-child(2),
ul.icon_menu_emb li.icon_emb:nth-last-child(3){
    border-bottom: 1px solid #e8e8e8;
} 
    



/** SPLIT ICONOS **/


/** ICONS SPLIT SCREEN **/
.split_screen li.icon_emb a div.icon_images {
    width: 110px !important;
    height: 110px !important;
    margin: 45px auto 0 auto !important;
}

.split_screen li.icon_emb a h3 {
    font-size: 16pt !important;
    line-height: 16pt !important;
}

.split_screen  li.icon_emb:hover a h3 {
    margin: 4px auto 0 auto !important;
}

.split_screen li.icon_emb a p {
    font-size: 10pt !important;
}


/*** EMBASSIES RESULTS ***//*** EMBASSIES RESULTS ***//*** EMBASSIES RESULTS ***/

.embassies_result_header,
.embassies_result_data,
.embassies_result_full_data {
    width:100%;
    border-right: none !important;
}

.embassies_result_full_data:last-child {
    border-bottom: none;
}

    
}/* FIN 1450PX *//* FIN 1450PX *//* FIN 1450PX *//* FIN 1450PX *//* FIN 1450PX */




@media (max-width: 1280px){ 

/*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***/
/*** CUERPO ***//*** CUERPO ***//*** CUERPO ***/

.cuerpo {
	width: 100%;
}
    
.user_sidebox {
    width: 100%;
    max-width: 200px;
    padding: 0px 16px;
}

.user_sidebox h2 {
	margin: 15px auto 8px auto;
	font-size: 13pt;
}
    
    
/* Head title */
.article_header {
	width: 95%;
	height: auto;
    float: right ;
}

.article_header h1 {
	margin: 0px 5px 6px 0 ;
	font-size: 16pt;
	height: auto;
	line-height: 20pt;
	display: block ;
    color: #24292f;
}

.article_header h2 {
	margin: 0 5px 12px 0 ;
	padding: 0px;
	font-size: 12pt;
	line-height: 15pt;
	display: inline-block;
	color: #8f8f8f;
}
    
    
.article_text,
.social_section,
.content_comments {
    width: 95% ;
    float: right ;
}
    
.new_comment {
   float: right;
    width: 90% ;
}
    
.new_comment textarea {
   width: 85% ;
   margin-left: 0;
}
    
.new_reply{
   float: right;
   position: relative;
   width: 90%;
   margin-right: 0;
}

.new_reply .new_comment {
   float: right;
   margin: 0;
   width: 90%;
}

.new_reply .new_comment textarea {
   width: 80% ;
   margin-left: 0;
}
    
.new_reply .new_comment a.btn_reply {
    width: 20% ;
}
    
.comment_box .comment{
    border: 1px solid #D9DADB;
    float: left;
    width: 90%;
    margin-left: 5px;
    float: right;
}
    
    
.reply_box{
    width: 90%;
}

.reply_box .comment{
    width: 90% ;
}

.reply_box .detail_comment {
    display: block ;
    position: relative;
    float: right ;
    margin: 5px 10px 0 0 ;
    width: auto;
    text-align: right;
    min-width: 100px ;
}
    
 
/** ICONS SPLIT SCREEN **/
.split_screen li.icon_emb {
    height: 200px !important;
 }

.split_screen li.icon_emb a div.icon_images {
    width: 80px !important;
    height: 80px !important;
    margin: 35px auto 0 auto !important;
}

.split_screen li.icon_emb a h3 {
    font-size: 14pt !important;
    line-height: 14pt !important;
}

.split_screen  li.icon_emb:hover a h3 {
    margin: 4px auto 0 auto !important;
}

.split_screen li.icon_emb a p {
    font-size: 10pt !important;
    padding: 0 5px !important;
}


/*** CONTENT MANAGEMENT ***/
.cms_content_left {
    overflow: hidden;
    float: left;
    width: 85%;
    margin: 10px 2.5%;
}

.cms_content_right {
    float: right;
    width: 10%;
}

}

/*** DISCUSS TEXT-BOX REPLY ***/

.message_write4 {
    width: 65%;
}

input.btn_replay2 {
    width: 20%;
}


}/* FIN 1280PX *//* FIN 1280PX *//* FIN 1280PX *//* FIN 1280PX *//* FIN 1280PX *//* FIN 1280PX */




@media (max-width: 1150px){ 

/*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***/
/*** CUERPO ***//*** CUERPO ***//*** CUERPO ***/

.cuerpo {
	width: 100%;
}
    
.user_sidebox {
    width: 100%;
    max-width: 200px;
    padding: 0px 16px;
}

.user_sidebox h2 {
	margin: 15px auto 8px auto;
	font-size: 13pt;
}
    
    
/* Head title */
.article_header {
	width: 92% ;
	height: auto;
    float: right ;
}

.article_header h1 {
	margin: 0px 5px 6px 0 ;
	font-size: 16pt;
	height: auto;
	line-height: 20pt;
	display: block ;
    color: #24292f;
}

.article_header h2 {
	margin: 0 5px 12px 0 ;
	padding: 0px;
	font-size: 12pt;
	line-height: 15pt;
	display: inline-block;
	color: #8f8f8f;
}
    
    
.article_text,
.social_section,
.content_comments {
    width: 92% ;
    float: right ;
}
    
.new_comment {
   float: right;
    width: 90% ;
}
    
.new_comment textarea {
   width: 85% ;
   margin-left: 0;
}
    
.new_reply{
   float: right;
   position: relative;
   width: 90%;
   margin-right: 0;
}

.new_reply .new_comment {
   float: right;
   margin: 0;
   width: 90%;
}

.new_reply .new_comment textarea {
   width: 80% ;
   margin-left: 0;
}
    
.new_reply .new_comment a.btn_reply {
    width: 20% !important;
}
    
.comment_box .comment{
    border: 1px solid #D9DADB;
    float: left;
    width: 90%;
    margin-left: 5px;
    float: right;
    margin-left: 0;
}
    
    
.reply_box{
    width: 90%;
}

.reply_box .comment{
    width: 90% !important;
}

.reply_box .detail_comment {
    display: block ;
    position: relative;
    float: right ;
    margin: 5px 10px 0 0 ;
    width: auto;
    text-align: right;
    min-width: 100px ;
}

      
.article_box_content h2 a {
	font-size: 15pt;
}
    

/** ICONS SPLIT SCREEN **/
.split_screen li.icon_emb {
    width: 100% !important;
}


}/* FIN 1150px */




@media (max-width: 991px){ 

/*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***/
/*** CUERPO ***//*** CUERPO ***//*** CUERPO ***/

.cuerpo {
	width: 100%;
    margin: 0 auto;
    padding: 0;
}

/** TOOLBAR RESPONSIVE **/
.btnHideShow {
	display: block !important;
}


/** USER_BOX **/
.user_sidebox {
    width: 90%;
    max-width: 90% !important;
    margin: 50px auto 0 auto;
    padding: 20px;
    position:relative;
    -webkit-transition: all .2s ease-in;
	   -moz-transition: all .2s ease-in;
	    -ms-transition: all .2s ease-in;
	     -o-transition: all .2s ease-in;
	        transition: all .2s ease-in;
	box-shadow: 3px 3px 8px #878787;
	 -webkit-box-shadow: 3px 3px 8px #878787;
	 -moz-box-shadow: 3px 3px 8px #878787;
	 -o-box-shadow: 3px 3px 8px #878787;
}

.user_sidebox:hover {
	box-shadow: 3px 3px 18px #414446;
	 -webkit-box-shadow: 3px 3px 18px #414446;
	 -moz-box-shadow: 3px 3px 18px #414446;
	 -o-box-shadow: 3px 3px 18px #414446;
}
    
.user_sidebox .user_pic_content {
    float: left;
    margin: 0 auto;
}

.user_sidebox h2 {
	display: inline-block;
	margin: 20px auto 0px 10px;
	text-align: left;
}

p.user_info {
	display: inline-block;
	color: #24292f;
	margin: 3px auto 0px 10px;
}

p.user_info_gray {
	color: #a6a6a6;
}

p.user_info_red {
	color: #c7474c;
}

.text_detail {
	display: inline-block;
	margin: 3px auto 0px 10px;
	text-align: left;
}


/* icono twitter */
span.icon-twitter {
	display: inline-block;
	width: 14px;
	height: 16px;
    margin: 0px 4px 0 0 ;
	background: url(../images/icon_mini_twitter.png) 0 4px no-repeat;
}

.user_sidebox a.btn_style_02 {
    float: left !important;
    display: block;
    width: 90px;
    height: 32px;
    padding: 6px 0 0 0;
    margin: 3px 0 0 10px;
}

a.btn_style_02:hover {
    text-decoration: none;
    background: #c87b00;
}
    
/** Usado en el user_box **/
.user_sidebox a.text_link {
	margin: 12px 0 0 10px;
    float: left;
}

a.text_link:hover {
	color: #e48c00;
	text-decoration: none;
}
    
.user_review p {
	text-align: left;
	color: #747474;
	font-size: 10pt;
	line-height: 14pt;
    margin-bottom: 5px;
}


/** Contenido - artículo **/
/* Head title */
.article_header {
	width: 100%;
	height: auto;
}

.article_header h1 {
	margin: 0px 5px 6px 0 !important;
	padding: 0px;
	font-size: 20pt;
	height: auto;
	line-height: 25pt;
	display: block !important;
    color: #24292f;
}

.article_header h2 {
	margin: 0 5px 12px 0 !important;
	padding: 0px;
	font-size: 13pt;
	height: 20px;
	line-height: 17pt;
	height: auto !important;
	display: inline-block;
	color: #8f8f8f;
}

	/* botones head */

.article_header_options {
	float: right;
	display: inline-block;
	width: 74px;
	margin: 23px 5px 0 0;
}

.btn_head_download {
	float: left;
	width: 31px;
	height: 29px;
	border: none;
	margin: -23px 3px 3px 3px;
	background: url(../images/icon-download.png);
}

.btn_head_back {
	position: absolute;
	float: left;
	width: 31px;
	height: 29px;
	border: none;
	margin: -23px 3px 3px 3px;
	background: url(../images/icon_go_back.png);
}

.btn_head_edit {
    width: 15px;
    height: 18px;
    border: none;
    background: url(/images/sprite-cms.png) -15px 0px no-repeat;
    display: block;
    margin: -17px auto -17px 60px;
    -webkit-transition: all .1s ease-in;
	   -moz-transition: all .1s ease-in;
	    -ms-transition: all .1s ease-in;
	     -o-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
.btn_head_edit:hover {
    background: url(/images/sprite-cms.png) -15px -18px no-repeat;

}
/** texto articulo **/
.article_text p {
	display: block;
	color: #24292f;
	line-height: 16pt;
	font-size: 12pt;
	font-weight: normal;
	text-align: justify;
}

.article_text {
	padding-top: 10px !important;
	padding-bottom: 20px !important;
	border-bottom: 1px solid #878787;
    text-align: justify;
	line-height: 18pt;
	font-size: 14px;        
}


.article_header_bottom {
	height: 20px;
	width: 100%;
	border-top: 1px solid #a7a7a7;
}

.article_date {
	float: left;
	width: 100px;
	height: 20px;
	background: #24292f;
}

.article_date p {
	color: #fff;
	padding: 0;
	font-size: 8pt;
	text-align: center;
	margin: 2px 0;
}
    
    

/*** SIDENAV ***//*** SIDENAV ***//*** SIDENAV ***/
/*** SIDENAV ***//*** SIDENAV ***//*** SIDENAV ***/
/*** SIDENAV ***//*** SIDENAV ***//*** SIDENAV ***/

/** Contenedor externo del nav **/
.sidenav {
	position: absolute;
	left: 0;
    top: 55px;
	width: 100%;
	height: 35px !important;
	margin: 0;
    padding: 0 30px;
	border-right: none;
	border-bottom: 1px solid #a5a5a5;
}


/** Barra de navegación contenedor interno del nav **/
.insidenav_01 {
	width: 100%;
	height: auto;
	margin: 0;
}

.insidenav_01 ul{
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-left: none;
}

.insidenav_01 ul li{
	width: 100px;
	border-bottom: none;
    float: left;
}


.insidenav_01 ul li a{
	display: block;
	width: 100%;
	height: 35px;
	padding: 10px 0 0 0;
	/*border: 1px solid #fff;*/
    border: none !important;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 10.5pt;
}


.sidenav_journalist ul li a.side_btn_01{
	background: url(../images/sidenav/article.png) 12px 9px no-repeat;
	padding: 10px 0 0 22px
}


.sidenav_journalist ul li a.side_btn_01:hover{
	background: url(../images/sidenav/article_hover.png) 12px 9px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_01.selected{
	background: url(../images/sidenav/article_hover.png) 12px 9px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_02{
	background: url(../images/sidenav/photo.png) 12px 12px no-repeat;
	padding: 10px 0 0 22px
}


.sidenav_journalist ul li a.side_btn_02:hover{
	background: url(../images/sidenav/photo_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_02.selected{
	background: url(../images/sidenav/photo_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_03{
	background: url(../images/sidenav/video.png) 12px 12px no-repeat;
	padding: 10px 0 0 22px
}


.sidenav_journalist ul li a.side_btn_03:hover{
	background: url(../images/sidenav/video_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_03.selected{
	background: url(../images/sidenav/video_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_04{
	background: url(../images/sidenav/twitter.png) 12px 12px no-repeat;
	padding: 10px 0 0 22px
}


.sidenav_journalist ul li a.side_btn_04:hover{
	background: url(../images/sidenav/twitter_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_04.selected{
	background: url(../images/sidenav/twitter_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}
   

.article_text,
.social_section,
.content_comments,
.principal_comment {
    width: 100% ;
    float: right ;
    max-width: auto;
}


    

/*** EMBASSIES PAGES ***//*** EMBASSIES PAGES ***//*** EMBASSIES PAGES ***/
ul.icon_menu_emb li.icon_emb {
    width: 50%;
}

ul.icon_menu_emb li.icon_emb a div.icon_images {
    width: 110px;
    height: 110px;
    margin: 45px auto 0 auto;
}


ul.icon_menu_emb li.icon_emb a h3 {
    font-size: 20pt;
    line-height: 20pt;
}

ul.icon_menu_emb li.icon_emb a p {
    font-size: 11pt;
}

ul.icon_menu_emb li.icon_emb:nth-child(3n) {
    border-right: 1px solid #e8e8e8;
}
    
ul.icon_menu_emb li.icon_emb:nth-child(2n) {
    border-right: none !important;
}

ul.icon_menu_emb li.icon_emb:nth-last-child(1),
ul.icon_menu_emb li.icon_emb:nth-last-child(2) {
    border-bottom: none;
}

ul.icon_menu_emb li.icon_emb:nth-last-child(3) {
 border-bottom: 1px solid #e8e8e8;   
}


/** ICONS SPLIT SCREEN **/
.split_screen li.icon_emb {
    width: 50% !important;
}
   

/** RESPONSIVE TOOLBAR **//** RESPONSIVE TOOLBAR **//** RESPONSIVE TOOLBAR **/
/** RESPONSIVE TOOLBAR **//** RESPONSIVE TOOLBAR **//** RESPONSIVE TOOLBAR **/
.hide_big_screen {
	display: block !important;
}

.toolbar_buttons {
	display: none;
	margin: 55px 0 0 -185px !important;
	position: fixed;
	width: auto;
	background: #fff;
	height: auto;
	box-shadow: 0 5px 5px -5px #878787;
	 -webkit-box-shadow: 0 5px 5px -5px  #878787;
	 -moz-box-shadow: 0 5px 5px -5px  #878787;
	 -o-box-shadow: 0 5px 5px -5px  #878787;
	 z-index: 8000;
	 border: 1px solid #eee;
}


.user_name {
	display: none;
}

.user_profile {
    padding: 11px 10px 10px 10px;
 }

 .user_profile .user_Pic {
    margin: 0;
}


/*** CONTENT MANAGEMENT ***/
.cms_content_left h2 {
	line-height: 20px;
	font-size: 16pt;
}

.cms_content_left h2 a:hover {
    line-height: 20px !important;
	font-size: 16pt !important;
}

.category_menu_bg {
	margin-top: 34px;
}

ul.category_menu {
    margin-top: 34px;
}


/*** MAIN PAGE - Articles list,  ***/
.index_content {
    margin: 0;
}

.index_left {
    width: 500px;
    height: auto;
    float: left;
    position: relative;
}


/*** cms_article_content ***//*** cms_article_content ***//*** cms_article_content ***/
/** VIDEO LIST **//** VIDEO LIST **//** VIDEO LIST **/

.cms_content {
    margin: 7px 3%;
}
.cms_content_video_left2 {
    width: 95%;
    margin: 5px 2.5%;
}

.cms_content_video_center2 {
    width: 95%;
    margin: 5px 2.5%;
}

.cms_content h3 {
	margin: 7px 0px;
}

.cms_video h2 {
    margin: 0 2.5% !important;
    width: 95% !important;
}


.cms_content_left {
    overflow: hidden;
    float: left;
    width: 85%;
    margin: 10px 2.5%;
}

.cms_content_right {
	overflow: hidden;
    float: left;
    width: 10%;
    margin: 10px 0;
}

.cms_content_left p {
    float: left;
    width: 100%;
    margin: 8px 0 5px 0 !important;
}


.cms_content_left_100 {
    padding: 10px 15px 0 15px !important;
}


.index_content .cms_content_left_100 h2 {
	line-height: 20px !important;
	font-size: 18pt !important;
}


.txt-searcher {
	width: 60%;
}

}/* FIN 991PX */






@media (max-width: 731px){ 

/*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***//*** VISTA DE ARTÍCULOS ***/
/*** CUERPO ***//*** CUERPO ***//*** CUERPO ***/

.cuerpo {
	width: 100%;
    margin: 0 auto;
    padding: 0;
}
    

/** USER_BOX **/
.user_sidebox {
    width: 100%;
    max-width: 250px !important;

}
    
.user_sidebox .user_pic_content {
    float: none;
    margin: 0 auto;
}

.user_sidebox h2 {
	display: block;
	margin: 20px auto 0px auto;
	text-align: center;
}
    
/* estas capas son solo para las vistas pequeñas */
.btn_style_05 {
    width: 100%;
    margin: 5px 0;
    background: #424547;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10pt;
    -webkit-transition: all .1s ease-in;
	   -moz-transition: all .1s ease-in;
	    -ms-transition: all .1s ease-in;
	     -o-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
    
.btn_style_05:hover {
    background: #E48C00;
}

p.detailMore{
    color: #BCBCBC;
    text-align: center;
    width: 100%;
    font-size: 20pt;
    margin: 0;
}
    

p.user_info {
	display: block !important;
	color: #24292f;
    float: none;
    width: 100%;
	margin: 3px auto 0px auto;
    text-align: center;
}

p.user_info_gray {
	color: #a6a6a6;
}

p.user_info_red {
	color: #c7474c;
}

.text_detail {
	display: block !important;
	margin: 3px auto 0px auto;
    width: 100%;
	text-align: none;
    float: none;
    text-align: center;
}


/* icono twitter */
span.icon-twitter {
	display: inline-block;
	width: 14px;
	height: 16px;
    margin: 0px 4px 0 0 ;
	background: url(../images/icon_mini_twitter.png) 0 4px no-repeat;
}

.user_sidebox a.btn_style_02 {
    float: none !important;
    display: block;
    width: 90px;
    height: 32px;
    padding: 6px 0 0 0;
    margin: 3px auto 0 auto;
}

a.btn_style_02:hover {
    text-decoration: none;
    background: #c87b00;
}
    
/** Usado en el user_box **/
.user_sidebox a.text_link {
    display: block;
	margin: 12px 0 0 10px;
    width: 100%;
    float: none;
    text-align: center;
}

a.text_link:hover {
	color: #e48c00;
	text-decoration: none;
}
    
.user_review p {
    display: block;
	text-align: none;
	color: #747474;
	font-size: 10pt;
	line-height: 14pt;
    margin-bottom: 5px;
}


/** Contenido - artículo **/
/* Head title */
.article_header {
	width: 100%;
	height: auto;
}

.article_header h1 {
	margin: 0px 5px 6px 0 !important;
	padding: 0px;
	font-size: 20pt;
	height: auto;
	line-height: 25pt;
	display: block !important;
    color: #24292f;
}

.article_header h2 {
	margin: 0 5px 12px 0 !important;
	padding: 0px;
	font-size: 13pt;
	height: 20px;
	line-height: 17pt;
	height: auto !important;
	display: inline-block;
	color: #8f8f8f;
}

	/* botones head */

.article_header_options {
	float: right;
	display: inline-block;
	width: 74px;
	margin: 23px 5px 0 0;
}

.btn_head_download {
	float: left;
	width: 31px;
	height: 29px;
	border: none;
	margin: -23px 3px 3px 3px;
	background: url(../images/icon-download.png);
}

.btn_head_back {
	position: absolute;
	float: left;
	width: 31px;
	height: 29px;
	border: none;
	margin: -23px 3px 3px 3px;
	background: url(../images/icon_go_back.png);
}

.btn_head_edit {
    width: 15px;
    height: 18px;
    border: none;
    background: url(/images/sprite-cms.png) -15px 0px no-repeat;
    display: block;
    margin: -17px auto -17px 60px;
    -webkit-transition: all .1s ease-in;
	   -moz-transition: all .1s ease-in;
	    -ms-transition: all .1s ease-in;
	     -o-transition: all .1s ease-in;
	        transition: all .1s ease-in;
}
.btn_head_edit:hover {
    background: url(/images/sprite-cms.png) -15px -18px no-repeat;

}
/** texto articulo **/
.article_text p {
	display: block;
	color: #24292f;
	line-height: 16pt;
	font-size: 12pt;
	font-weight: normal;
	text-align: justify;
}

.article_text {
	padding-top: 10px !important;
	padding-bottom: 20px !important;
	border-bottom: 1px solid #878787;
    text-align: justify;
	line-height: 18pt;
	font-size: 14px;        
}


.article_header_bottom {
	height: 20px;
	width: 100%;
	border-top: 1px solid #a7a7a7;
}

.article_date {
	float: left;
	width: 100px;
	height: 20px;
	background: #24292f;
}

.article_date p {
	color: #fff;
	padding: 0;
	font-size: 8pt;
	text-align: center;
	margin: 2px 0;
}
    
    

/*** SIDENAV ***//*** SIDENAV ***//*** SIDENAV ***/
/*** SIDENAV ***//*** SIDENAV ***//*** SIDENAV ***/
/*** SIDENAV ***//*** SIDENAV ***//*** SIDENAV ***/

/** Contenedor externo del nav **/
.sidenav {
	position: absolute;
	left: 0;
    top: 55px;
	width: 100%;
	height: 35px !important;
	margin: 0;
    padding: 0 30px;
	border-right: none;
}


/** Barra de navegación contenedor interno del nav **/
.insidenav_01 {
	width: 100%;
	height: auto;
	margin: 0;
}

.insidenav_01 ul{
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-left: none;
}

.insidenav_01 ul li{
	width: 100px;
	border-bottom: none;
    float: left;
}


.insidenav_01 ul li a{
	display: block;
	width: 100%;
	height: 35px;
	padding: 10px 0 0 0;
	/*border: 1px solid #fff;*/
    border: none !important;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 10.5pt;
}


.sidenav_journalist ul li a.side_btn_01{
	background: url(../images/sidenav/article.png) 12px 9px no-repeat;
	padding: 10px 0 0 22px
}


.sidenav_journalist ul li a.side_btn_01:hover{
	background: url(../images/sidenav/article_hover.png) 12px 9px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_01.selected{
	background: url(../images/sidenav/article_hover.png) 12px 9px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_02{
	background: url(../images/sidenav/photo.png) 12px 12px no-repeat;
	padding: 10px 0 0 22px
}


.sidenav_journalist ul li a.side_btn_02:hover{
	background: url(../images/sidenav/photo_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_02.selected{
	background: url(../images/sidenav/photo_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_03{
	background: url(../images/sidenav/video.png) 12px 12px no-repeat;
	padding: 10px 0 0 22px
}


.sidenav_journalist ul li a.side_btn_03:hover{
	background: url(../images/sidenav/video_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_03.selected{
	background: url(../images/sidenav/video_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_04{
	background: url(../images/sidenav/twitter.png) 12px 12px no-repeat;
	padding: 10px 0 0 22px
}


.sidenav_journalist ul li a.side_btn_04:hover{
	background: url(../images/sidenav/twitter_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}

.sidenav_journalist ul li a.side_btn_04.selected{
	background: url(../images/sidenav/twitter_hover.png) 12px 12px no-repeat, url(../images/bg_btn_hover.png);
}
   

.article_text,
.social_section,
.content_comments,
.principal_comment {
    width: 100% ;
    float: right ;
    max-width: auto;
}
    
/* Head title */
.article_header h1 {
	margin: 0px 5px 6px 0 ;
	font-size: 16pt;
	line-height: 19pt;
}

.article_header h2 {
	margin: 0 5px 12px 0 ;
	padding: 0px;
	font-size: 12pt;
	line-height: 15pt;
	display: inline-block;
	color: #8f8f8f;
}


.new_comment textarea {
   width: 80% ;
   margin-left: 0;
}
    
.btn_comment {
    width: 20%;
    font-size: 9pt;
}


/** SERCHER **/



}/* FIN 731PX */






@media (max-width: 601px){ 

/** SECCIÓN DE COMENTARIOS **/
.new_comment {
   float: right;
    width: 85%;
}
    
.new_comment textarea {
    width: 73%;
    margin-left: 0;
    font-size: 10pt;
}
    
.btn_comment {
    width: 27%;
    height: 44px;
}
    
.comment_box .comment {
    width: 85%;
    margin-left: 0;
    float: right;
    font-size: 10pt;
}
    
 
.new_reply{
   float: right;
   position: relative;
   width: 85%;
   margin-right: 0;
}

.new_reply .new_comment {
   float: right;
   margin: 0;
   width: 83%;
}

.new_reply .new_comment textarea {
    width: 80% ;
    margin-left: 0;
    font-size: 10pt;
}
    
.new_reply .new_comment a.btn_reply {
    width: 20%;
    font-size: 9pt;
}
    
.reply_box{
    width: 85%;
}

.reply_box .comment{
    width: 83% !important;
    font-size: 10pt;
}
    

/** Journalist Endoursed Box **/
.journalis_endoursed {
	width: 70%;
    min-width: 280px;
	float: none;
    display: block;
	margin: 20px auto 10px auto;
}

.journalis_endoursed h3 {
	width: 100%;
	float: none;
    display: block;
	margin: 8px 0 0 0;
}

    
    
.social_buttons {
	float: none;
	width: 70%;
    min-width: 280px;
	display: block;
	margin: 0 auto 10px auto;
}


    
    

/*** EMBASSIES PAGES ***//*** EMBASSIES PAGES ***//*** EMBASSIES PAGES ***/
ul.icon_menu_emb li.icon_emb {
    width: 100%;
    border-right: none;
}

ul.icon_menu_emb li.icon_emb a div.icon_images {
    width: 110px;
    height: 110px;
    margin: 45px auto 0 auto;
}

    
ul.icon_menu_emb li.icon_emb:nth-child(3n) {
    border-right: none;
}
    
ul.icon_menu_emb li.icon_emb:nth-child(2n) {
    border-right: none !important;
}

ul.icon_menu_emb li.icon_emb:nth-last-child(2),
ul.icon_menu_emb li.icon_emb:nth-last-child(3){
    border-bottom: 1px solid #e8e8e8;
} 
    
ul.icon_menu_emb li.icon_emb:nth-last-child(1) {
 border-bottom: none !important;

}


/** ICONS SPLIT SCREEN **/
.split_screen li.icon_emb {
    width: 100% !important;
}


/*** MAIN PAGE - Articles list,  ***/
.index_content {
    margin: 0;
}

.index_left {
    width: 400px;
    height: auto;
    float: left;
    position: relative;
}


.article_box {
	margin: 7px 3%;
}


h3 a.h3_oswald {
	font-size: 11pt !important;
	line-height: 10pt !important;
}

.article_box_content {
	width: 100%;
	padding: 10px 10px 0 10px;
}

    
}/* FIN 601PX */





@media (max-width: 531px){ 

/*** LANDING ***/
/*** wejo_box_01 ***/
.wejo_box_01 {
	width: 310px;
	height: 462px;
	margin: 162px auto 15px auto;
}
.wejo_box_01_head {
	width: 310px;
}
.wejo_box_01_body {
	width: 280px;
}


.white_box_borders {
    width: 310px;
}
.white_box {
    padding: 15px 0;
    width: 290px;   
}
.landing_btns {
    position: relative;
    width: 230px;
    height: 60px;
    display: block;
    position: relative;
    margin: 40px auto 6px auto;
    border-radius: 2px;
}
.landing_btns ul li a.btn_r {
    background: #FC7108 url(../images/landing/glasses.png) 30% center no-repeat;
    width: 230px;
    background-size: 35px;
}
.landing_btns ul li a.btn_r:hover {
    background: #000 url(../images/landing/glasses_hover.png) 70% center no-repeat;
    background-size: 35px;
}


.new_reply .new_comment textarea {
    width: 85% ;
}
    
.new_reply .new_comment a.btn_reply {
    width: 15% !important;
}

.btn_reply_531{
    width: 25px;
    height: auto;
    margin: -2px 0 0 0;
}
    
.article_box_content h2 a {
	font-size: 14pt;
}

/*** CONTENT MANAGEMENT ***/
.cms_content_left {
    overflow: hidden;
    float: left;
    width: 80%;
    margin: 10px 2.5%;
}

.cms_content_right {
    float: right;
    width: 15%;
}

/*** MAIN PAGE - Articles list,  ***/
.index_left {
    width: 380px;
}
   
}/* FIN 531PX */



@media (max-width: 400px){ 


/*** MAIN PAGE - Articles list,  ***/
.index_left {
    width: 255px;
}
   
}/* FIN 531PX */

