  
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/js/jqGrid-4.5.2/css/bootstrap.min.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/js/jqGrid-4.5.2/jquery-ui-1.9.1.custom/css/custom/jquery-ui-1.10.0.custom.min.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/js/jqGrid-4.5.2/css/ui.jqgrid.css'?>">

<script src="<?php echo $this->baseUrl() . '/js/jqGrid-4.5.2/js/jquery-1.9.0.min.js'?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/jqGrid-4.5.2/js/bootstrap.min.js'?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/jqGrid-4.5.2/js/jquery.jqGrid.min.js'?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/jqGrid-4.5.2/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.min.js'?>"></script>



<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <a class="brand">Perfil</a>
            <li class="divider-vertical"></li>

        </ul>
        
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <a class="btn" href="crear/" title="Nuevo Perfil">           
                <i class="icon-plus"></i>
            </a>
        </ul>
    </div>
</div>

<table id="grid">
</table>
<div id="pager"></div>

<script type="text/javascript"> 
        jQuery("#grid").jqGrid({
        url:'<?php echo $this->baseUrl() . $this->urlJson; ?>',
        datatype: "json",
        colNames:['ID','Name','Email','Twitter', 'Date Request'],
        colModel:[
            {name:'re_id',index:'re_id',hidden:true},
            {name:'re_name',index:'re_name',hidden:false},
            {name:'re_email',index:'re_email',hidden:false},
            {name:'re_twitter',index:'re_twitter',hidden:false},
            {name:'re_date_request',index:'re_date_request',hidden:false},
//            {name:'myname', formatter:imageFormatVerDetalle, align:'center', width:'25px'} ,
//            {name:'myname', formatter:imageFormatDel, align:'center', width:'25px'} 
            ],
        gridview: true,
            rowNum:20,
            rowList: [10, 20, 30, 50, 100],
            pager: '#pager',
            sortname: 're_date_request',
            sortorder: "Desc",
            autowidth: true,
            height: '100%',
            viewrecords: true,
            caption: "",
            jsonReader: {repeatitems: false, root: "rows"}
    });
    
    
    jQuery("#grid").jqGrid('navGrid','#pager',{edit:false,add:false,search:true,del:false});

    function imageFormatVerDetalle(cellvalue, options, rowObject ){
        
        oc = "<?php echo $this->baseUrl() ?>/nucleo/permisos.perfil/ver.detalle/perfil_id/"+ options['rowId'];
        f = '<a class="btn btn-mini" href="' + oc + '"><i class="icon-edit"></i></a>';
        return f;

}
 
 function imageFormatDel(cellvalue, options, rowObject ){
        
       oc = "abreModal('<?php echo $this->baseUrl()?>/nucleo/perfil/borrar/perfil_id/"+ options['rowId'] +"')";
        f = '<a class="btn btn-mini" onclick="' + oc + '"><i class=" icon-remove icon-red"></i></a>';
        return f;
    }

</script>
