<!--Version 1.2.1-->
<link rel="stylesheet" href="/editor/css/font-awesome.min.css">
<link rel="stylesheet" href="/editor/css/froala_editor.min.css">
<link rel="stylesheet" href="/css/contents/content-create.css">
<link rel="stylesheet" href="/js/counter/counter.css">


<!--<script src="/editor/js/froala_editor.min.js"></script>-->
<script src="/editor/js/froala_editor.js"></script>
<script src="/js/counter/counter.js"></script>


<div id="divBodyBackground" style="background: #EDECE4; height: 100%">


    <div class="row">
        
        <div class="col-md-11" style="margin-left: 114px;">
                        
            <input checkspell="true" autocomplete="off" onkeypress="contentKeyPress(event)" data-counter="70" class="counter-text articleInput articleTitle" maxlength="70" type="text"  name="txtTitle" id="txtTitle" placeholder="Your article title" style="margin-top: 20px;" value="<?php echo $this->txtTitle?>">
            <div id="counter_txtTitle" class="counter"></div>
            <input checkspell="true" autocomplete="off" onkeypress="contentKeyPress(event)" data-counter="70" class="counter-text articleInput articleSubtitle" maxlength="70" type="text"  name="txtSubtitle" id="txtSubtitle" placeholder="Subtitle" value="<?php echo $this->txtSubtitle?>">            
            <div id="counter_txtSubtitle" class="counter"></div>
            <input type="hidden"  name="txtText" id="txtText" value="<?php echo $this->txtText?>">
            <p onkeypress="contentKeyPress(event)"  name="editor" id="editor" class="counter-asc-text html-editor"></p>
            <div id="counter_editor" class="counter counter-editor-html"></div>
        </div>
        <div class="col-md-1"></div>                
    </div>
    
    
    <div id="divCommonButtons" class="row" style="background: #FFFFFF; height: 100%">
        
        <div class="col-md-11" style="margin-left: 114px;">
            <div class="row">
                <div class="col-md-12">
                    <p id="messageSaving" style="float: right; display: inline; color: #E48C00"></p>
                    <div id="divDownload" class="check_buttons_content" style="margin-bottom:30px;">
                        <p class="reset_float_left">Downloadable:</p>
                        <div class="check_individual_content" >
                            <label class="check_inside_content" for="checkYes">Yes </label>
                            <input type="checkbox" class="check_style_01" id="checkYes" value="#" <?php if ($this->isDownloadable) echo "checked='checked'"; ?>>
                        </div>
                        <div class="check_individual_content">
                            <label class="check_inside_content" for="checkNo">No </label>
                            <input type="checkbox" class="check_style_01" id="checkNo" value="#" <?php if (!$this->isDownloadable) echo "checked='checked'"; ?>>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input style="margin-bottom: 60px;" maxlength="100" value="<?php echo $this->txtAddress ?>" type="text" class="in_style_01" name="txtAddress" id="txtAddress" placeholder="Location"><br>
                </div>
            </div>

            <div id="divButtons">
                <input type="Button" class="btn_submit" id="btnPublish" name="btnPublish" value="Publish" onclick="saveContent(true)">
                <input type="Button" class="btn_save" id="btnSaveContent" name="btnSaveContent" value="Save" onclick="saveContent(false)">
                <input type="Button" class="btn_cancel" id="btnCancel" name="btnCancel" value="Cancel">
            </div>
            
        </div>
    </div>    
    
</div>    
    
    
<div class="details" id="geo-details" hidden="true">
    <input name="lat" data-geo="lat" value="<?php echo $this->lat; ?>"/>
    <input name="lng" data-geo="lng" value="<?php echo $this->lng; ?>"/>
    <input name="formatted_address" data-geo="formatted_address" />
    <input name="country_short" data-geo="country_short" />
    <input name="country" data-geo="country" />
</div>  



<script type="text/javascript">
    
    $('document').ready(function() {

        $('#editor').editable();
        $("#editor").editable("option", "spellcheck", true);

        prepareCommonElements();
                    
        var editorVal = document.getElementById("editor").firstElementChild;
        
        editorVal.innerHTML = $("#txtText").val();
                
    });
        
</script>
