<h3>Your Article</h3>
<br>

<textarea onkeypress="contentKeyPress(event)" name="txtText" id="txtText" class="txta_style_01" placeholder="Type here...">
<?php echo $this->txtText; ?>
</textarea>


<br>
