<!--DISEÑO ORIGINAL DE CLAUDIO-->

<!--    <div class="cms_content">
            <div class="cms_content_left">
                <h2><a href="#">Modern San Francisco</a></h2>
                <p>US Secretary of State John Kerry, visiting the Ukrainian capital Kiev, said there was no indication at all that Russian citizens or Russian-speakers were in any danger in post-uprising Ukrain</p>  
                <span class="font_gray_01">Last edit on Jan 4, 2013</span>
            </div> 
            <div class="cms_content_right">
                <input type="button" id="btn_edit" class="cms_btn_edit">
                <input type="button" id="btn_erase" class="cms_btn_erase">        
            </div>
        </div> -->


<?php

if(!is_null($this->listArticles))
    
    foreach ($this->listArticles as $article) {

        $title = $article['title'];        
        //$text = $article['text'];
        $subtitle = $article['subtitle'];

        if ($article['published']) {

            $dateLabel = 'Published on ' . $article['datePublished'];
            $notPublishedLabel = '';
            $classNotPublished = '';            
            $dontShow = 'display:none;';
            
        } else {

            $dateLabel = 'Last edit on ' . $article['dateCreation'];
            $notPublishedLabel = '(not published)';
            $classNotPublished = 'not_published';
            $dontShow = '';
        }

        $publishAction = 'publishContent(' . $article['objectID'] . ')';
        $editAction = 'editContent(' . $article['objectID'] . ')';
        $deleteAction = 'confirmDelete(' . $article['objectID'] . ')';
        $onTitleClick = 'onContentTitleClick(' . $article['objectID'] . ')';
    ?>

    <div class="cms_content <?php echo $classNotPublished; ?>">
        <div class="cms_content_left">
            <h2><a onclick="<?php echo $onTitleClick; ?>"><?php echo $title; ?></a>&nbsp;&nbsp;<span><?php //echo $notPublishedLabel; ?></span></h2>
            <p><?php echo $subtitle; ?></p>  
            <span class="font_gray_01"><?php echo $dateLabel; ?></span>
        </div> 
        <div class="cms_content_right">
            <input type="button" id="btn_publish" class="cms_btn_publish" onclick="<?php echo $publishAction; ?>" style="<?php echo $dontShow; ?>" title="Publish">
            <input type="button" id="btn_edit" class="cms_btn_edit" onclick="<?php echo $editAction; ?>" style="<?php echo $dontShow; ?>"  title="Edit">
            <input type="button" id="btn_erase" class="cms_btn_erase" onclick="<?php echo $deleteAction; ?>" style="<?php echo $dontShow; ?>"  title="Delete">        
        </div>
    </div> 

<?php } ?>



<script type="text/javascript">


    $('document').ready(function() {

//        var divHeight = $(window).height();
//        var topDistance = $('#divMainContent').offset().top;
//        var result = parseInt(divHeight) - parseInt(topDistance);
//        $('#divMainContent').css('height', result + 'px');

    });

    function onContentTitleClick(articleID) {
        window.location.assign("/main/contents/method/view/con_id/" + articleID);
    }


</script>    