<!-- ARTICLES - INDEX JOURNALIST-->
<!-- ARTICLES - INDEX JOURNALIST-->
<!-- ARTICLES - INDEX JOURNALIST-->


 <?php 

if(!is_null($this->articles))
    foreach($this->articles as $article){ 

?>

    <div class="article_box" onclick="onContentTitleClick(<?php echo $article['objectID']; ?>)">
        <div class="article_box_content">
            <h2><a>
                <?php echo $article['title']; ?></a>
            </h2>
            <p class="p_gray"><?php echo $article['address']; ?></p>
        </div>
        <div class="article_box_bottom">
            <div class="article_date"><p><?php echo $article['datePublished']; ?></p></div>
            <div class="stats_buttons">
                <span class="icon_heart article_icon"><?php echo $article['likesCount']; ?></span>
                <span class="icon_comment article_icon"><?php echo $article['commentsCount']; ?></span>
            </div>
        </div>
    </div>


 <?php } ?>


<script type="text/javascript">

    $('document').ready(function() {
        
        $('#titleContentType').html('Articles (<?php echo $this->countContent; ?>)');
        
    });


</script>