<!--ARTICLES / INDEX-->
<!--ARTICLES / INDEX-->
<!--ARTICLES / INDEX-->


<?php if(!$this->cleanResponse){ ?>   

    <input type="hidden" id="controllername" value="<?php echo $this->controllerName;?>">

<?php } ?>   

<?php

    if(!is_null($this->listArticles))    
        foreach ($this->listArticles as $article) {

            $contentID = $article['objectID'];
            $journalistID = $article['journalistID'];
            $journalistName = $article['journalistName'];
            $title = $article['title'];                    
            //$subtitle = $article['subtitle'];
            $subtitle = $article['address'];
            //$text = $article['text'];               
            $likesCount = $article['likesCount'];
            $commentsCount = $article['commentsCount'];
            $datePublished = $article['datePublished'];                   
            //$filterOrder = $article['filterOrder'];
            $ranking = $article['ranking'];

            if( intval($article['breaking']) > 0 )
                $breaking = '( ' . $article['breaking'] . ' reads )';
            else
                $breaking = '';

            $href = '/main/contents/method/view/con_id/' . $contentID;
            $hrefName = '/main/journalists/method/index/journalist_id/' . $journalistID;

            $onClick = 'onArticleBoxClick(' . $contentID . ')';
            $onClickName = 'onJournalistNameArticleClick(event, ' . $journalistID . ')';
?>

    <div class="article_box content_card" onclick="<?php echo $onClick; ?>" id="content_<?php echo $contentID; ?>" onmouseover="onContentMouseover(this, true)" onmouseout="onContentMouseover(this, false)">
        <div class="article_box_content">
            <h2><a class="h2_oswald" onclick="<?php echo $onClickName; ?>" href="<?php echo $hrefName; ?>"><?php echo $journalistName; ?></a></h2>
            <h3><a class="h3_oswald" href="<?php echo $href; ?>"><?php echo $title; ?></a></h3>
            <p class="p_gray"><?php echo $subtitle; ?></p>
        </div>
        
        <div class="article_box_bottom">    
            <div class="article_date"><p><?php echo $datePublished . ' - ' . $ranking;?></p></div>
            <span style="font-size: 10px; color: #7d7d7d">&nbsp;<?php echo $breaking;?></span>
            <div class="stats_buttons">
                <span class="icon_heart article_icon"><?php echo $likesCount; ?></span>
                <span class="icon_comment article_icon"><?php echo $commentsCount; ?></span>
            </div>
        </div>
        
    </div>

<?php   } ?>
    
<script type="text/javascript">        
    
    
    $('document').ready(function() {
        

<?php if(!$this->cleanResponse){ ?>   
        
        mapOperations.removeGoogleMarkers();
        
<?php } ?>        
        
        var articles = <?php echo json_encode($this->listArticles);?>;
        
        if (articles){
            
            $.each( articles, function(i, article) {
                
                mapOperations.addGoogleMarker(article);
            });
        }
                
    });   
   
<?php if(!$this->cleanResponse){ ?>   

    function onContentMouseover(divArticle, isOver){
        
        if(noInternet)
            return false;
        
        var urlMarkerImage = '';        
        var aTitle = divArticle.getElementsByTagName('a')[1];
        
        if(isOver){
            
            divArticle.className = "article_box content_card active";
            aTitle.className = "h3_oswald active";
            urlMarkerImage = '/images/map/pin.png';
            
        }else{
            divArticle.className = "article_box content_card";
            aTitle.className = "h3_oswald";
            urlMarkerImage = '/images/map/pin_active.png';
        } 
        
        
        //Trigger marker mouseover
        var contentID = divArticle.id;        
        contentID = contentID.replace('content_', '');
        contentID = parseInt(contentID);
        
        var imageOver = {
            url: urlMarkerImage,
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0, 32)
        };

        globalMarkers[contentID].setIcon(imageOver);
    }
    
   
    function onArticleBoxClick(contentID){
        
        operations.showSpinner('Loading');
        
        //oHomeState.url = ''
        
        var url = "/main/journalists/method/index/con_id/"+contentID;
        $('#divMainBody').load(url, function(){operations.hideSpinner()}, function(){operations.hideSpinner()});
        //$('#divMainContent').load(url, function(){operations.hideSpinner()}, function(){operations.hideSpinner()});
    }  

       
    function onJournalistNameArticleClick(event, journalistID){
        
        alert('onJournalistNameArticleClick');
        operations.showSpinner('Loading');
        stopClickEvent(event);
        
        var contentType = '<?php echo ((Main_Model_Content::TYPE_ARTICLE)?Main_Model_Content::TYPE_ARTICLE:1); ?>'; 
        
        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
        window.location.assign("<?php echo $this->baseUrl(); ?>" + url);    
        //$('#divMainBody').load(url);        
    }
        
    
    function stopClickEvent(event){
        
        var e = event || window.event; 
        
        //IE9 & Other Browsers
        if (e.stopPropagation) {
          e.stopPropagation();
        }
        //IE8 and Lower
        else {
          e.cancelBubble = true;
        }        
    }
    
<?php } ?>    
    
</script>


<!--ARTICLES / INDEX-->
<!--ARTICLES / INDEX-->
<!--ARTICLES / INDEX-->
<!--ARTICLES / INDEX-->