<?php

set_include_path(APPLICATION_PATH."/../library/dompdf/");

require_once 'dompdf_config.inc.php';

$code  = '<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>'."\n";
$code .= '<meta http-equiv="content-type" content="text/html; charset=UTF-8">'."\n";
$code .= '<style type="text/css">'."\n";
$code .= '@page {'."\n";
$code .= '	margin: 2cm;'."\n";
$code .= '}'."\n";
$code .= 'body {'."\n";
$code .= '	margin: 0.5cm 0;'."\n";
$code .= '	text-align: justify;'."\n";
$code .= '        font-size: 14px;'."\n";
$code .= '        line-height: 1.428571429;'."\n";
$code .= '        color: #333333;'."\n";
$code .= '}'."\n";
$code .= '#header,'."\n";
$code .= '#footer {'."\n";
$code .= '  position: fixed;'."\n";
$code .= '  left: 0;'."\n";
$code .= '  right: 0;'."\n";
$code .= '  color: #aaa;'."\n";
$code .= '  font-size: 0.9em;'."\n";
$code .= '}'."\n";
$code .= '#header {'."\n";
$code .= '  top: 0;'."\n";
$code .= '  border-bottom: 0.1pt solid #E6E6E6;'."\n";
$code .= '}'."\n";
$code .= '#footer {'."\n";
$code .= '  bottom: 0;'."\n";
$code .= '  border-top: 0.1pt solid #aaa;'."\n";
$code .= '}'."\n";
$code .= '#header table,'."\n";
$code .= '#footer table {'."\n";
$code .= '  width: 100%;'."\n";
$code .= '  border-collapse: collapse;'."\n";
$code .= '  border: none;'."\n";
$code .= '}'."\n";
$code .= '#table-header {'."\n";
$code .= '  margin-bottom: 10px;'."\n";
$code .= '}'."\n";
$code .= '#header td,'."\n";
$code .= '#footer td {'."\n";
$code .= '  padding: 0;'."\n";
$code .= '	width: 50%;'."\n";
$code .= '}'."\n";
$code .= '.page-number {'."\n";
$code .= '  text-align: center;'."\n";
$code .= '}'."\n";
$code .= '.page-number:before {'."\n";
$code .= '  content: "Page " counter(page);'."\n";
$code .= '}'."\n";
$code .= 'hr {'."\n";
$code .= '  page-break-after: always;'."\n";
$code .= '  border: 0;'."\n";
$code .= '}'."\n";
$code .= '.article_header {'."\n";
$code .= '  width: 100%;'."\n";
$code .= '  height: auto;'."\n";
$code .= '  margin-top: 35px;'."\n";
$code .= '}'."\n";
$code .= '.article_header h1 {'."\n";
$code .= '	margin: 0px 0px 0px 0 !important;'."\n";
$code .= '	padding: 5px 5px 5px 0;'."\n";
$code .= '	font-size: 20pt;'."\n";
$code .= '	height: auto;'."\n";
$code .= '	width: 100%;'."\n";
$code .= '	line-height: 25pt;'."\n";
$code .= '	display: inline-block !important;'."\n";
$code .= '      color: #000;'."\n";
$code .= '}'."\n";
$code .= '.article_header h2 {'."\n";
$code .= '	margin: 0 5px 12px 0 !important;'."\n";
$code .= '	padding: 0px;'."\n";
$code .= '	font-size: 13pt;'."\n";
$code .= '	height: auto;'."\n";
$code .= '	width: 100%;'."\n";
$code .= '	line-height: 20pt;'."\n";
$code .= '	display: inline-block !important;'."\n";
$code .= '	color: #8f8f8f;'."\n";
$code .= '}'."\n";
$code .= '.article_text p {'."\n";
$code .= '	display: block;'."\n";
$code .= '	color: #24292f;'."\n";
$code .= '	line-height: 16pt;'."\n";
$code .= '	font-size: 12pt;'."\n";
$code .= '	font-weight: normal;'."\n";
$code .= '	text-align: justify;'."\n";
$code .= '}'."\n";
$code .= '.article_text {'."\n";
$code .= '	padding: 10px 0 20px 0;'."\n";
$code .= '        text-align: justify;'."\n";
$code .= '}'."\n";
$code .= '.article_header_bottom {'."\n";
$code .= '	height: 20px;'."\n";
$code .= '	width: 100%;'."\n";
$code .= '	border-top: 1px solid #a7a7a7;'."\n";
$code .= '}'."\n";
$code .= '.article_date {'."\n";
$code .= '	float: left;'."\n";
$code .= '	width: 100px;'."\n";
$code .= '	height: 20px;'."\n";
$code .= '	background: #24292f;'."\n";
$code .= '}'."\n";
$code .= '.article_date p {'."\n";
$code .= '	color: #fff;'."\n";
$code .= '	padding: 0;'."\n";
$code .= '	font-size: 8pt;'."\n";
$code .= '	text-align: center;'."\n";
$code .= '	margin: 2px 0;'."\n";
$code .= '}'."\n";
$code .= 'h1,'."\n";
$code .= 'h2,'."\n";
$code .= 'h3,'."\n";
$code .= 'h4 {'."\n";
$code .= '	color: #24292f;'."\n";
$code .= '	display: inline-block;'."\n";
$code .= '	font-weight: normal;'."\n";
$code .= '}'."\n";
$code .= 'h1 {'."\n";
$code .= '	font-size: 21pt;'."\n";
$code .= '	margin: 15px 5px 22px 0;'."\n";
$code .= '}'."\n";
$code .= '</style>'."\n";
$code .= '</head>'."\n";
$code .= '<body marginwidth="0" marginheight="0" style="font-family: \'Open Sans\', sans-serif;">'."\n";
$code .= '<div id="header">'."\n";
$code .= '  <table id="table-header">'."\n";
$code .= '    <tbody><tr>'."\n";
$code .= '      <td><img src="http://s17.postimg.org/4sg2wjoi3/logo.png"></td>'."\n";
$code .= '      <td style="text-align:right; font-size:15px; font-weight:bold; color:#E48C00;">'.$this->author.'</td>'."\n";
$code .= '    </tr>'."\n";
$code .= '  </tbody></table>'."\n";
$code .= '</div>'."\n";
$code .= '<div id="footer">'."\n";
$code .= '  <div class="page-number"></div>'."\n";
$code .= '</div>'."\n";
$code .= '<div class="article_header">'."\n";
$code .= '  <h1>'.$this->title.'</h1>'."\n";
$code .= '  <br/>'."\n";
$code .= '  <h2>'.$this->subtitle.'</h2>'."\n";
$code .= '  <div class="article_header_bottom">'."\n";
$code .= '      <div class="article_date"><p>'.$this->datePublished.'</p></div>'."\n";
$code .= '      </div>'."\n";
$code .= '</div>'."\n";
$code .= '<div class="article_text">'.$this->text.'</div>'."\n";
$code .= '</body>'."\n";
$code .= '</html>'."\n";

$html = urldecode($code);

//echo $html;

$titleDocument = preg_replace("/[^A-Z0-9a-z\w ]/u", '', $this->title);
$titleDocument = $titleDocument.".pdf";

$dompdf = new DOMPDF();
$dompdf->load_html($html);
$dompdf->render();

$dompdf->stream($titleDocument);

exit(0);
