<!--ARTICLES VIEW-->
<?php $url = $this->serverUrl()."/main/contents/method/view/con_id/".$this->contentID; ?>

<!--Si no cargamos Jquery desde esta vista, tira error al entrar por URL del browser, sin Ajax-->
<script type="text/javascript" src="/js/jquery-1.11.1.js"></script>

<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.flat.css'?>">
<script src="<?php echo $this->baseUrl() . '/js/modules/main/contents/comments.js' ?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">
<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>
                    

<div class="row" style="margin-top: 59px">
    <div class="col-md-12">
        <div class="article_header">
            <h1><?php echo $this->title ?></h1>                                
            <h2><?php echo $this->subTitle; ?></h2>
            <div class="article_header_bottom">
                <div class="article_date"><p><?php echo ($this->datePublished?$this->datePublished:$this->dateCreated) ?></p></div>
                <div class="article_header_options">
                    <?php if(Main_Model_User::getSession(Main_Model_User::USER_ROLE) == Main_Model_Role::ADMIN_ROLE_ID){  ?> 
                    
                        <input type="button" id="btn_erase" class="cms_btn_erase" onclick="confirmDelete(<?php echo $this->contentID ?>)" title="Delete">
                   
                   <?php } ?> 

                   <?php   
                   
                       $buttonToShow = '<input type="button" <<style>> class="btn_head_back" onclick="goBack()">';
                       
                       if(empty($this->datePublished) && Main_Model_User::getSession(Main_Model_User::USER_ROLE) >= Main_Model_Role::JOURNALIST_ROLE_ID){ 
                           $buttonToShow = '<input type="button" class="btn_head_edit" <<style>> class="cms_btn_edit" id="btn_edit" onclick="editContent('.$this->contentID.')"  title="Edit">';    
                       }
                       
                       if ($this->isDownloadable) { //show download button 
                           echo '<input type="button" class="btn_head_download" onclick="download()">';
                           echo str_replace("<<style>>", '', $buttonToShow);    

                       } else { 
                           echo str_replace("<<style>>", '', $buttonToShow);
                       } 
                   ?>
                         
               </div>
            </div>
            <input type="hidden" name="contentID" id="contentID">            
        </div> 
    </div><!-- FIN col-md-12 -->
</div>

<div class="row no-margins">
    
    <div class="col-md-12 article_text">
        <?php echo $this->articleText ?>
    </div>

    <?php echo $this->partial('contents/social.phtml', array('journalistID' => $this->journalistID,
                                                             'endorseCount' => $this->endorseCount,
                                                             'likedByUser' => $this->likedByUser,
                                                             'dislikedByUser' => $this->dislikedByUser,
                                                             'contentID' => $this->contentID)); ?>
    
    <?php echo $this->partial('contents/comments.phtml', array('userPic' => $this->userPic)); ?>

</div>
    
<script type="text/javascript">
    
    var arrayJson = <?php echo json_encode($this->jSon) ?>;
    var endorseUser = '<?php echo $this->endorseUser ?>';
    var arrayEndorsements = <?php echo $this->arrayEndorsements ?>;
    var serverUrl = '<?php echo $this->serverUrl() ?>';
    var modal = null;
    
    function download() {

        var url = serverUrl + '/main/articles/method/generate.pdf/con_id/' + jSon.data.contentID;
        window.location = url;

    }
    function editContent(id) {
        var url = '<?php echo $this->baseUrl(); ?>' + '/main/articles/method/edit/con_id/' + id;
        $('#divMainBody').load(url);
    }
</script>

<script src="<?php echo $this->baseUrl() . '/js/modules/main/contents/view.js' ?>"></script>

<div class="remodal-bg">
    <div class="remodal" data-remodal-id="delete">
        <div id="modal" style="margin-top:-180px">
            <div class="wejo_box_01" id="wejo_box_01" style="height: 390px">                    
            </div>
        </div>
    </div>
</div>

<div id="boxConfirmDelete" style="display: none">

    <div class="wejo_box_01_head">
        <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
        <h2>Administrator</h2>
    </div>

    <div class="wejo_box_01_body" style="height: 280px">
        <div class="wejo_box_01_content">

            <h5 style="text-transform: none">Are you sure you want to delete this item?</h5>

            <input type="button" class="btn_request" id="btn_cancel" value="Cancel"  onclick="closeModal()">

            <input type="button" class="btn_login_black top-10" id="btn_delete" value="Yes" onclick="deleteContent()" style="margin-top: 20px">

        </div>
    </div>
</div>
