<!--PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS-->
<!--PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS - PHOTOS-->

<script src="<?php echo $this->baseUrl() .'/js/jquery.fileupload.js'?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/counter/counter.js' ?>"></script>

<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/contents/content-create.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/js/counter/counter.css'?>">

<script type="text/javascript">
    
    function onSelectImageClick(){
        $('#fileupload').trigger('click');
    }
    
</script>

<div id="divBodyBackground" style="background: #EDECE4; height: 100%">


    <div class="row">
        
        <div class="col-md-11" style="margin-left: 114px;">
                        
            <input checkspell="true" autocomplete="off" onkeypress="hideErrorMessages()" data-counter="70" class="counter-text articleInput articleTitle" maxlength="70" type="text"  name="txtTitle" id="txtTitle" placeholder="Your article title" style="margin-top: 20px;" value="<?php echo $this->txtTitle; ?>">
            <div id="counter_txtTitle" class="counter"></div>
            <input checkspell="true" autocomplete="off" onkeypress="hideErrorMessages()" data-counter="70" class="counter-text articleInput articleSubtitle" maxlength="70" type="text"  name="txtSubtitle" id="txtSubtitle" placeholder="Subtitle" value="<?php echo $this->txtSubtitle; ?>">
            <div id="counter_txtSubtitle" class="counter"></div>
            <input type="hidden" id="txtUser" name="txtUser" value="<?php echo $this->txtUser; ?>">
            <input type="hidden" id="imageQty" name="imageQty" value="<?php echo $this->imageQty; ?>">
<!--            <input type="hidden" id="imageQtyByUser" name="imageQtyByUser" value="<?php //echo $this->imageQtyByUser; ?>">-->
            
            <div id="picUploaded" class="picUploaded" name="picUploaded" style="margin: 30px;"></div>

            <div class="file-wrapper pic-add" style="display: block; margin-bottom: 30px; margin-left: 30px;">
                <input id="fileupload" type="file" name="files[]" hidden="true">
                <a id="btnFileupload" class="btn_upload_userpic1" onclick="onSelectImageClick()">Upload photo</a>
                <img id="pic0" style="width:181px;height: 181px;display: none"/>
                <div id="progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>                        

            
        </div>
        
        <div class="col-md-1"></div>                
    </div>
    

    
    <div id="divCommonButtons" class="row" style="background: #FFFFFF; height: 100%">  
                                
        <div class="col-md-11" style="margin-left: 114px;">            
                                    
            <input style="margin-bottom: 60px; margin-top: 30px;" maxlength="100" onkeypress="hideErrorMessages()" value="<?php echo $this->txtAddress ?>" type="text" class="in_style_01" name="txtAddress" id="txtAddress" placeholder="Location"><br>

            <div id="divButtons">
                <input type="Button" class="btn_submit" id="btnPublish" name="btnPublish" value="Publish" onclick="saveContent(true)">
                <input type="Button" class="btn_save" id="btnSaveContent" name="btnSaveContent" value="Save" onclick="saveContent(false)">
                <input type="Button" class="btn_cancel" id="btnCancel" name="btnCancel" value="Cancel">
            </div>
            
        </div>
    </div>    
    
</div>    
    

<div class="details" id="geo-details" hidden="true">
    <input name="lat" data-geo="lat" value="<?php echo $this->lat; ?>"/>
    <input name="lng" data-geo="lng" value="<?php echo $this->lng; ?>"/>
    <input name="formatted_address" data-geo="formatted_address" />
    <input name="country_short" data-geo="country_short" />
    <input name="country" data-geo="country" />
</div>  

    


<script type="text/javascript">
        
    $('document').ready(function() {
        
        prepareCommonElements();
        
        //Photo album is not downloadable
        $('#isDownloadable').val(0);
        
        var countPic = parseInt($("#imageQty").val());
        var countPicByUser = 1; //parseInt($("#imageQtyByUser").val());
        
        $.each(<?php echo $this->photos;?>, function( index, value ) {

            if (value){
                
                var info = value.filename.split(".");
                info = info[0].split("_");                
                addDivToShowPic(value.filename, value.caption, parseInt(info[1]));
            }
        });


        $('#fileupload').fileupload({

            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 2000000,
            autoUpload: true,
            dataType: 'json',
            url: "/main/uploads/method/render/",
            formData: {
                method: 'render', 
                isPhotoAlbum: 1,
                incognito: '<?php echo $this->incognito ?>',
                objectID: $("#objectID").val(),
                picId: $("#txtUser").val()+"_"+ (parseInt(countPicByUser) + 1)
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            },
            done: function (e, data) {
                $('#progress .bar').css(
                'width','0%'
                );                            
            },
            fail: function (e, data) {
                $('.errorFieldStyle').removeClass('errorFieldStyle');
                $('.errmsg').remove();
                //$('#txtPic').val('');
                $('#progress .bar').css(
                            'width','0%'
                        );
                operations.inError('Error upload','fileupload');
            }
        }).bind('fileuploaddone', function (e, data) {

                $('.errorFieldStyle').removeClass('errorFieldStyle');
                $('.errmsg').remove();
                result = (data.result.data);
                var filename = result.files[0].name;
                var error = result.files[0].error;
                //$('#txtPic').val('');

                if (error){

                    operations.inError(error,'fileupload');

                }else{

                    if(filename) {
                        //countPic=$('#imageQty').val();
                        //$('.tiperror').removeClass('tiperror');

                        countPic++;
                        countPicByUser++;
                        $('#imageQty').val(countPic);
                        $('#imageQtyByUser').val(countPicByUser);
                        //data.formData.picId = $("#txtUser").val()+"_"+ time() + "_" + (parseInt(countPicByUser) + 1);
                        data.formData.picId = $("#txtUser").val()+"_"+ (parseInt(countPicByUser) + 1);

                //PENDIENTE
                if(result.objectID){
                    $('#objectID').val(result.objectID);            
                    data.formData.objectID = result.objectID;
                }
                //data.formData.objectID =

                        addDivToShowPic(filename,'',0);

                        if(countPic >= 40){
                           $(".file-wrapper").remove();
                        }
                    }
                }
        });

    
    var maxL=10;
    var bName = navigator.appName;
    
    function taLimit(taObj) {
        
        if (taObj.value.length=== maxL) return false;
            return true;
    }

    function taCount(taObj,Cnt) { 
        
        objCnt=createObject(Cnt);
        objVal=taObj.value;
        
        if (objVal.length>maxL) 
            objVal = objVal.substring(0,maxL);
        
        if (objCnt) {
            
            if(bName === "Netscape"){ 
            objCnt.textContent=maxL-objVal.length;}
        
        else{
            objCnt.innerText=maxL-objVal.length;}
        }
        
        return true;
    }
    
    function addDivToShowPic(filename,captionPic,id){ 
        
        if (id === 0){
            id=countPicByUser;
        }  
        
        var namePic = "pic_"+id;
        var srcImage ='/main/uploads/method/get.image?extra='+$('#txtUser').val()+'&file='+filename;
        var img = "<img style='width:181px;height: 181px;' id='"+namePic+"'/>";

        var divmio = $('<div/>', {
                        id: 'div_pic_' +id
                     }).appendTo('#picUploaded');
        
        $('<img/>', {
            src:     '/images/btn_delete.png',
            title:   'Delete',
            id: 'del_'+id+'_'+filename,
            class: 'imgdelete',
            click:   function( e ){
                deleteImage(this.id);

            }
        }).css({ "cursor": "pointer"}).appendTo(divmio);
        divmio.addClass('pic-uploaded').append(img);

        $('#'+namePic).attr({
            src: srcImage,
            alt: filename,
            title: filename,
            class: 'picLoaded'
        });
        
        //data = $('#picUploaded').html();
        // con la siguiente linea obtengo todas las imagenes insertadas
       /*$(".picLoaded").each(function(){
            console.log(this.title);
        });*/
        $('<input/>', {
            id: 'txtPic',
            name: 'txtPic[' + id+']',
            type: 'hidden',
            value: filename
        }).appendTo('#divMainContentType');
    }
    
    
    function deleteImage(id){
 
        var src="/main/uploads";
        var info = id.split("_");
        var data =  'method=render&delete=1&calculateName=1&file=' + info[2];
        
        $.post(src, data, function(response) {   
            
                   if(response === null)
                       operations.inError('Error delete pic','fileupload');
                   
                   if(response.status === 200){
                       
                        $("input[name='txtPic[" + info[1]+"]']").remove();
                        $('#div_pic_'+info[1]).remove();
                        $('#imageQty').val(countPic);
                       //operations.inTip('Image '+$('#txtPic').val()+' was uploaded','fileupload');   
                   }

                   if(response.status == 401)
                       operations.inError('Error delete img','fileupload');
        }, 'json'); 
    }


    });
    
</script>
