<script src="<?php echo $this->baseUrl() .'/js/jquery.fileupload.js'?>"></script>
<style type="text/css">
img.imgdelete {
    display:block;
    position:absolute;
    margin: 6px 6px 0 160px;
    width: 11px !important;
    height: 11px !important;
}
    
.picUploaded {
    position: relative;
    width: 100% !important;
}
    
a.btn_upload_userpic1 {
	display: block;
	margin: 2px;
	padding: 0 0 0 31px;
        color: #24292f;
        background: url(/images/plus.png) 78px center no-repeat;
        text-indent: -9999px;   
        padding-top: 150px;
}

.pic-add{
    display: block;
    border: 2px dashed #ddd;
    height: 181px;
    width: 181px;
    float: left;
    margin: 2px;
}
/*a.btn_upload_userpic:hover {
	color: #e48c00;
	text-decoration: none;
	background: url(../images/sidenav/photo_hover_orange.png) 5px center no-repeat;
}*/
.captionTextarea{
    background-color: #fff;
    border: solid #ddd;
    border-width: 0 1px;
    position: relative;
    height: 55px;
    line-height: 9px;
    padding: 0;
    width: 100%;
    font-size: 9pt!important;
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.bar {
   height: 18px;
   background: #ddd;
}
.file-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
.file-wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.file-wrapper .button {
    color: #fff;
    background: #117300;
    padding: 4px 18px;
    margin-right: 5px;  
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}
.file-holder{
    color: #000;
}

.pic-uploaded {
    display: inline-block;
    margin: 2px;
    position: relative;
    text-align: center;
    vertical-align: top;
    border: 2px dashed #ddd;
    background-repeat: no-repeat;
    background-position: center;
    height: 181px;
    width: 181px;
    overflow: hidden;
    float: left;
}
    
.pic-uploaded img{
    height: 181px;
    width: auto !important;
}
    
</style>

<h3>Your Photo Album</h3>
<br />
<input type="hidden" id="txtUser" name="txtUser" value="<?php echo $this->txtUser; ?>">
<input type="hidden" id="imageQty" name="imageQty" value="<?php echo $this->imageQty; ?>">
<input type="hidden" id="imageQtyByUser" name="imageQtyByUser" value="<?php echo $this->imageQtyByUser; ?>">

<div id="picUploaded" class="picUploaded" name="picUploaded"></div>


<div class="file-wrapper pic-add" style="display: block">
    <input id="fileupload" type="file" name="files[]" hidden="true">
    <a id="btnFileupload" class="btn_upload_userpic1" onclick="onSelectImageClick()">Upload photo</a>
    <img id="pic0" style="width:181px;height: 181px;display: none"/>
    <div id="progress">
        <div class="bar" style="width: 0%;"></div>
    </div>
</div>

<div style="height: 55px"></div>
<br/>  


<script type="text/javascript">
    
    function onSelectImageClick(){
        
        $('#fileupload').trigger('click');
    }
        
    $( document ).ready(function() {
        
        var countPic = parseInt($("#imageQty").val());
        var countPicByUser = parseInt($("#imageQtyByUser").val());

        $.each(<?php echo $this->photos;?>, function( index, value ) {

            //value=10_3.jpg (userid_photoid.extesion)
            if (value){
                var info = value.filename.split(".");
                info = info[0].split("_");
                //countPic=parseInt(info[1]);
                //$('#imageQty').val(countPic);
                addDivToShowPic(value.filename, value.caption,parseInt(info[1]));
            }
        });


    $('#fileupload').fileupload({
        
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 2000000,
        autoUpload: true,
        dataType: 'json',
        url: "/main/uploads/method/render/",
        formData: {
            method: 'render', 
            isPhotoAlbum: 1,
            objectID: $("#objectID").val(),
            picId: $("#txtUser").val()+"_"+ (parseInt(countPicByUser) + 1)
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        },
        done: function (e, data) {
            $('#progress .bar').css(
            'width','0%'
            );                            
        },
        fail: function (e, data) {
            $('.errorFieldStyle').removeClass('errorFieldStyle');
            $('.errmsg').remove();
            //$('#txtPic').val('');
            $('#progress .bar').css(
                        'width','0%'
                    );
            operations.inError('Error upload','fileupload');
        }
    }).bind('fileuploaddone', function (e, data) {
        
            $('.errorFieldStyle').removeClass('errorFieldStyle');
            $('.errmsg').remove();
            result = (data.result.data);
            var filename = result.files[0].name;
            var error = result.files[0].error;
            //$('#txtPic').val('');
            
            if (error){
                
                operations.inError(error,'fileupload');
                
            }else{
                
                if(filename) {
                    //countPic=$('#imageQty').val();
                    //$('.tiperror').removeClass('tiperror');
                    
                    countPic++;
                    countPicByUser++;
                    $('#imageQty').val(countPic);
                    $('#imageQtyByUser').val(countPicByUser);
                    //data.formData.picId = $("#txtUser").val()+"_"+ time() + "_" + (parseInt(countPicByUser) + 1);
                    data.formData.picId = $("#txtUser").val()+"_"+ (parseInt(countPicByUser) + 1);
                    

                    if(result.objectID){
                        $('#objectID').val(result.objectID);            
                        data.formData.objectID = result.objectID;
                    }

                    
                    addDivToShowPic(filename,'',0);
                    
                    if(countPic >= 40){
                       $(".file-wrapper").remove();
                    }
                }
            }
    });
    
    
    var maxL=10;
    var bName = navigator.appName;
    
    function taLimit(taObj) {
        
        if (taObj.value.length===maxL) return false;
            return true;
    }

    function taCount(taObj,Cnt) { 
        
        objCnt=createObject(Cnt);
        objVal=taObj.value;
        
        if (objVal.length>maxL) 
            objVal = objVal.substring(0,maxL);
        
        if (objCnt) {
            
            if(bName === "Netscape"){ 
            objCnt.textContent=maxL-objVal.length;}
        
        else{
            objCnt.innerText=maxL-objVal.length;}
        }
        
        return true;
    }
    
    function addDivToShowPic(filename,captionPic,id){ 
        
        if (id === 0){
            id=countPicByUser;
        }  
        
        var namePic = "pic_"+id;
        var srcImage ='/main/uploads/method/get.image?extra='+$('#txtUser').val()+'&file='+filename;
        var img = "<img style='width:181px;height: 181px;' id='"+namePic+"'/>";

        var divmio = $('<div/>', {
                        id: 'div_pic_' +id
                     }).appendTo('#picUploaded');
        
        $('<img/>', {
            src:     '/images/btn_delete.png',
            title:   'Delete',
            id: 'del_'+id+'_'+filename,
            class: 'imgdelete',
            click:   function( e ){
                deleteImage(this.id);

            }
        }).css({ "cursor": "pointer"}).appendTo(divmio);
        divmio.addClass('pic-uploaded').append(img);

        $('#'+namePic).attr({
            src: srcImage,
            alt: filename,
            title: filename,
            class: 'picLoaded'
        });
        
        //data = $('#picUploaded').html();
        // con la siguiente linea obtengo todas las imagenes insertadas
       /*$(".picLoaded").each(function(){
            console.log(this.title);
        });*/
        $('<input/>', {
            id: 'txtPic',
            name: 'txtPic[' + id+']',
            type: 'hidden',
            value: filename
        }).appendTo('#divMainContent');
        //<textarea class="DOMControl_placeholder uiTextareaNoResize uiTextareaAutogrow captionTextarea mentionsTextarea textInput" title="Haz un comentario sobre esta foto..." name="caption_text" placeholder="Haz un comentario sobre esta foto..." role="textbox" aria-autocomplete="list" autocomplete="off" aria-expanded="false" aria-owns="typeahead_list_u_16_8" aria-haspopup="true" onkeydown="run_with(this, [&quot;legacy:control-textarea&quot;], function() {TextAreaControl.getInstance(this)});" id="u_16_9">Haz un comentario sobre esta foto...</textarea>
        $('<textarea/>', {
            id: 'captionTextarea',
            name: 'captionTextarea[' + id+']',
            html: captionPic,
            placeholder:"Do a comment over this pic..."
            //onKeyPress:'return taLimit(this)',
            //onKeyUp:"return taCount(this,'myCounter')"
        }).appendTo(divmio);
    }
    function deleteImage(id){
        //id= 'del_'+countPic+'_'+filename
 
        var src="/main/uploads";
        //var filename = id.replace("del_","");
        var info = id.split("_");
        var data =  'method=render&delete=1&calculateName=1&file=' + info[2];
        
        $.post(src, data, function(response) {   
            
                   if(response === null)
                       operations.inError('Error delete pic','fileupload');
                   if(response.status === 200){
                        //prefiero no modificar el countPic, dado que se elimina una del medio y se complica
                        //countPic--;
                        /*$('#fileupload').fileupload(
                        {formData: {
                            method: 'render', 
                            calculateName: 1,
                            picId: $('#imageQty').val()
                        }});
                        */
                        $("input[name='txtPic[" + info[1]+"]']").remove();
                        $('#div_pic_'+info[1]).remove();
                        $('#imageQty').val(countPic);
                       //operations.inTip('Image '+$('#txtPic').val()+' was uploaded','fileupload');   
                   }

                   if(response.status == 401)
                       operations.inError('Error delete img','fileupload');
        }, 'json'); 
    }
});
</script>
