<script type="text/javascript" src="<?php echo $this->baseUrl() . '/js/imagelightbox.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() . '/carousel/slick.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() . '/js/image.custom.js' ?>"></script>

<link rel="stylesheet" href="/carousel/slick.css" />
<link rel="stylesheet" href="/css/imagelightbox.css" />


<?php

if(!is_null($this->listPhoto))
    
    foreach ($this->listPhoto as $album) {

        //Save the current Photo Album ID
        $albumID = $album['objectID'];

        $title = $album['title'];
        $subtitle = $album['subtitle'];

        if ($album['published']) {

            $dateLabel = 'Published on ' . $album['datePublished'];
            $notPublishedLabel = '';
            $classNotPublished = '';
            $dontShow = 'display:none;';
            
        } else {

            $dateLabel = 'Last edit on ' . $album['dateCreation'];
            $notPublishedLabel = '(not published)';
            $classNotPublished = 'not_published';
            $dontShow = '';
        }

        $publishAction = 'publishContent(' . $album['objectID'] . ')';
        $editAction = 'editContent(' . $album['objectID'] . ')';
        $deleteAction = 'confirmDelete(' . $album['objectID'] . ')';
        $onTitleClick = 'onContentTitleClick(' . $album['objectID'] . ')';

        $arrayPhotos = $album['photos'];
        $photoCount = count($arrayPhotos);
?>

        <div class="cms_content">
            <div class="cms_content_left">
                <h2><a onclick="<?php echo $onTitleClick; ?>"><?php echo $title ?></a> <span class="span_small">(<?php echo $photoCount; ?> photos)</span></h2>

                <div class="cms_gallery_01 multiple-items" id="<?php echo $albumID; ?>">                                        
<?php
        foreach ($arrayPhotos as $photo) {

            $caption = $photo['caption'];
            $srcThumb = '/main/uploads/method/get.image?thumbnail=1&extra=' . $album['journalistID'] . '&file=' . $photo['filename'];
            $src = '/main/uploads/method/get.image?extra=' . $album['journalistID'] . '&file=' . $photo['filename'];
            
?>                                        
                        <a href="<?php echo $src; ?>" data-imagelightbox="<?php echo $albumID; ?>" onclick="imageclick(<?php echo $albumID; ?>)">
                            <img src="<?php echo $srcThumb; ?>" alt="<?php echo $caption; ?>">
                        </a>                        
<?php
        }
?>                                        
                </div>

                <p><?php echo $subtitle ?></p>  
            </div> 
            <div class="cms_content_right">
                <input type="button" id="btn_publish" class="cms_btn_publish" onclick="<?php echo $publishAction; ?>" style="<?php echo $dontShow; ?>" title="Publish">
                <input type="button" id="btn_edit" class="cms_btn_edit" onclick="<?php echo $editAction; ?>" style="<?php echo $dontShow; ?>"  title="Edit">
                <input type="button" id="btn_erase" class="cms_btn_erase" onclick="<?php echo $deleteAction; ?>" style="<?php echo $dontShow; ?>"  title="Delete">        
            </div>

        </div>

<?php
    }
?>

<script type="text/javascript">

                $('document').ready(function() {

//        var $el = $('#divContentList');
//        var listView = new infinity.ListView($el);
//        var lastContentId = 0;
//        strArt = <?php // echo json_encode($this->photos);  ?>;
//        var str = "";
//        var subtitle = "";
//        var counterPic = 0;
//        var published = 0;
//        $(strArt).each(function(index, objPhoto) {
//            
//            return true;
//            
//            var srcImageThumb = '/main/uploads/method/get.image?thumbnail=1&extra=' + objPhoto.userId + '&file=' + objPhoto.filename;
//            var srcImage = '/main/uploads/method/get.image?extra=' + objPhoto.userId + '&file=' + objPhoto.filename;
//            if (lastContentId === objPhoto.id) {
//                //solo agregar las fotos
//                str += getHtmlImg(srcImage, srcImageThumb, objPhoto.title);
//            }
//            else {
//                if (str !== "") { //cierro los tags por eso recupero desde subtitle
//                    str = str.replace('REPLACESPAN', '<span class="span_small"> (' + counterPic + ' photos)</span>');
//                    str += getLastHtml(subtitle, lastContentId, published);
//                    listView.append(str);
//                    str = "";
//                    counterPic = 0;
//                }
//                var onTitleClick = 'onclick="onContentTitleClick(' + objPhoto.id + ', ' + objPhoto.userId + ')"';
//                str = '<div class="cms_content"><div class="cms_content_left">';
//                str += '<h2><a href="#" ' + onTitleClick + '>' + objPhoto.title + '</a>REPLACESPAN</h2>';
//                str += '<div class="cms_gallery_01">';
//                str += '<div class="slider multiple-items">';
//                str += getHtmlImg(srcImage, srcImageThumb, objPhoto.title);
//            }
//            lastContentId = objPhoto.id;
//            subtitle = objPhoto.subTitle;
//            published = objPhoto.published;
//            counterPic++;
//        });
//        if (str !== "") { //cierro los tags por eso recupero desde subtitle
//            str = str.replace('REPLACESPAN', '<span class="span_small"> (' + (counterPic) + ' photos)</span>');
//            str += getLastHtml(subtitle, lastContentId, published);
//            //listView.append(str);
//            str = "";
//        }


                    $('.multiple-items').slick({
                        infinite: true,
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        dots: false,
                        speed: 300,
                        responsive: [
                            {
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 3,
                                    slidesToScroll: 3,
                                    infinite: true,
                                    dots: true
                                }
                            },
                            {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 2
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                                }
                            }
                        ]

                    });



 });

//        $(function()
//        {
//            
//            var activityIndicatorOn = function()
//            {
//                $('<div id="imagelightbox-loading"><div></div></div>').appendTo('body');
//            },
//                    activityIndicatorOff = function()
//                    {
//                        $('#imagelightbox-loading').remove();
//                    },
//                    overlayOn = function()
//                    {
//                        $('<div id="imagelightbox-overlay"></div>').appendTo('body');
//                    },
//                    overlayOff = function()
//                    {
//                        $('#imagelightbox-overlay').remove();
//                    },
//                    closeButtonOn = function(instance)
//                    {
//                        $('<a href="#" id="imagelightbox-close">Close</a>').appendTo('body').on('click touchend', function() {
//                            $(this).remove();
//                            instance.quitImageLightbox();
//                            return false;
//                        });
//                    },
//                    closeButtonOff = function()
//                    {
//                        $('#imagelightbox-close').remove();
//                    },
//                    captionOn = function()
//                    {
//                        var description = $('a[href="' + $('#imagelightbox').attr('src') + '"] img').attr('alt');
//                        if (description.length > 0)
//                            $('<div id="imagelightbox-caption">' + description + '</div>').appendTo('body');
//                    },
//                    captionOff = function()
//                    {
//                        $('#imagelightbox-caption').remove();
//                    },
//                    navigationOn = function(instance, selector)
//                    {
//                        var images = $(selector);
//                        if (images.length)
//                        {
//                            var nav = $('<div id="imagelightbox-nav"></div>');
//                            for (var i = 0; i < images.length; i++)
//                                nav.append('<a href="#"></a>');
//
//                            nav.appendTo('body');
//                            nav.on('click touchend', function() {
//                                return false;
//                            });
//
//                            var navItems = nav.find('a');
//                            navItems.on('click touchend', function()
//                            {
//                                var $this = $(this);
//                                if (images.eq($this.index()).attr('href') != $('#imagelightbox').attr('src'))
//                                    instance.switchImageLightbox($this.index());
//
//                                navItems.removeClass('active');
//                                navItems.eq($this.index()).addClass('active');
//
//                                return false;
//                            })
//                                    .on('touchend', function() {
//                                        return false;
//                                    });
//                        }
//                    },
//                    navigationUpdate = function(selector)
//                    {
//                        var items = $('#imagelightbox-nav a');
//                        items.removeClass('active');
//                        items.eq($(selector).filter('[href="' + $('#imagelightbox').attr('src') + '"]').index(selector)).addClass('active');
//                    },
//                    navigationOff = function()
//                    {
//                        $('#imagelightbox-nav').remove();
//                    };
//
//            var instanceA = $('a[data-imagelightbox="a"]').imageLightbox(
//                    {
//                        quitOnDocClick: false,
//                        onStart: function() {
//                            closeButtonOn(instanceA);
//                        },
//                        onLoadStart: function() {
//                            captionOff();
//                        },
//                        onLoadEnd: function() {
//                            captionOn();
//                            activityIndicatorOff();
//                        },
//                        onEnd: function() {
//                            closeButtonOff();
//                            captionOff();
//                            activityIndicatorOff();
//                        }
//                    });
//
//        });
//                function getHtmlImg(srcImage, srcImageThumb, title) {
//                    return '<div><h3><a href="' + srcImage + '" data-imagelightbox="a"><img src="' + srcImageThumb + '" alt="' + title + '"></a></h3></div>';
//
//                }
//
//                function getLastHtml(subtitle, lastContentId, published) {
//                    strAux = '</div></div>';
//                    strAux += '<p>' + subtitle + '</p>';
//                    strAux += '</div>';
//                    strAux += '<div class="cms_content_right">';
//                    var styleEditionButtons = ((published > 0) ? 'style="display:none;"' : '');
//
//                    var publishAction = 'onclick="publishContent(' + lastContentId + ')"';
//                    var editAction = 'onclick="editContent(' + lastContentId + ')"';
//                    var deleteAction = 'onclick="confirmDelete(' + lastContentId + ')"';
//                    strAux += '<input type="button" id="btn_publish" ' + publishAction + ' class="cms_btn_publish" ' + styleEditionButtons + '>';
//                    strAux += '<input type="button" id="btn_edit" ' + editAction + ' class="cms_btn_edit" ' + styleEditionButtons + '>';
//                    strAux += '<input type="button" id="btn_erase" ' + deleteAction + ' class="cms_btn_erase" ' + styleEditionButtons + '>';
//                    strAux += '</div>';
//                    strAux += '</div><!-- FIN cms_content --><!-- FIN cms_content -->';
//                    return strAux;
//                }




//                function imageclick(album) {
//
//                    var selectorE = 'a[data-imagelightbox="' + album + '"]';
//                    var instanceE = $(selectorE).imageLightbox(
//                            //$( 'a[data-imagelightbox="'+album+'"]' ).imageLightbox(
//                                    {
//                                        selector: 'id="imagelightbox"', // string;
//                                        allowedTypes: 'png|jpg|jpeg|gif', // string;
//                                        animationSpeed: 250, // integer;
//                                        preloadNext: true, // bool;            silently preload the next image
//                                        enableKeyboard: true, // bool;            enable keyboard shortcuts (arrows Left/Right and Esc)
//                                        quitOnEnd: false, // bool;            quit after viewing the last image
//                                        quitOnImgClick: false, // bool;            quit when the viewed image is clicked
//                                        quitOnDocClick: true,
//                                        onStart: function() {
//                                            overlayOn();
//                                            navigationOn(instanceE, selectorE);
//                                        },
//                                        onEnd: function() {
//                                            captionOff();
//                                            overlayOff();
//                                            activityIndicatorOff();
//                                            navigationOff();
//                                        },
//                                        onLoadStart: function() {
//                                            captionOff();
//                                            activityIndicatorOn();
//                                        },
//                                        onLoadEnd: function() {
//                                            captionOn();
//                                            navigationUpdate(selectorE);
//                                            activityIndicatorOff();
//                                        }
//                                    }
//                            );
//                        }
//
//
//
//                function activityIndicatorOn() {
//
//                    $('<div id="imagelightbox-loading"><div></div></div>').appendTo('body');
//                }
//
//                function activityIndicatorOff() {
//
//                    $('#imagelightbox-loading').remove();
//                }
//
//                function overlayOn() {
//
//                    $('<div id="imagelightbox-overlay"></div>').appendTo('body');
//                }
//
//                function overlayOff() {
//                    $('#imagelightbox-overlay').remove();
//                }
//
//
//                $(function()
//                {
//
//                    closeButtonOn = function(instance)
//                    {
//                        $('<a href="#" id="imagelightbox-close">Close</a>').appendTo('body').on('click touchend', function() {
//                            $(this).remove();
//                            instance.quitImageLightbox();
//                            return false;
//                        });
//                    },
//                    closeButtonOff = function()
//                    {
//                        $('#imagelightbox-close').remove();
//                    },
//                    captionOn = function()
//                    {
//                        var description = $('a[href="' + $('#imagelightbox').attr('src') + '"] img').attr('alt');
//                        if (description.length > 0)
//                            $('<div id="imagelightbox-caption">' + description + '</div>').appendTo('body');
//                    },
//                    captionOff = function()
//                    {
//                        $('#imagelightbox-caption').remove();
//                    },
//                    navigationOn = function(instance, selector)
//                    {
//                        var images = $(selector);
//                        if (images.length)
//                        {
//                            var nav = $('<div id="imagelightbox-nav"></div>');
//                            for (var i = 0; i < images.length; i++)
//                                nav.append('<a href="#"></a>');
//
//                            nav.appendTo('body');
//                            nav.on('click touchend', function() {
//                                return false;
//                            });
//
//                            var navItems = nav.find('a');
//                            navItems.on('click touchend', function()
//                            {
//                                var $this = $(this);
//                                if (images.eq($this.index()).attr('href') != $('#imagelightbox').attr('src'))
//                                    instance.switchImageLightbox($this.index());
//
//                                navItems.removeClass('active');
//                                navItems.eq($this.index()).addClass('active');
//
//                                return false;
//                            })
//                                    .on('touchend', function() {
//                                        return false;
//                                    });
//                        }
//                    },
//                    navigationUpdate = function(selector)
//                    {
//                        var items = $('#imagelightbox-nav a');
//                        items.removeClass('active');
//                        items.eq($(selector).filter('[href="' + $('#imagelightbox').attr('src') + '"]').index(selector)).addClass('active');
//                    },
//                    navigationOff = function()
//                    {
//                        $('#imagelightbox-nav').remove();
//                    };
//
//                });
</script>



<!--DISEÑO ORIGINAL CLAUDIO-->
<!-- <div class="cms_content">
    <div class="cms_content_left">
        <h2><a href="#">Modern San Francisco</a> <span class="span_small">(15 photos)</span></h2>
        
        <div class="cms_gallery_01">
        <img src="/images_others/photo01.jpg" alt="photo01">
        <img src="/images_others/photo02.jpg" alt="photo02">
        <img src="/images_others/photo03.jpg" alt="photo03">
        <img src="/images_others/photo04.jpg" alt="photo04">
        </div>
        
        <p>US Secretary of State John Kerry, visiting the Ukrainian capital Kiev, said there was no indication at all that Russian citizens or Russian-speakers were in any danger in                   post-uprising Ukrain</p>  
    </div> 
    <div class="cms_content_right">
        <input type="button" id="btn_edit" class="cms_btn_edit">
        <input type="button" id="btn_erase" class="cms_btn_erase">        
    </div>

</div><!-- FIN cms_content --><!-- FIN cms_content -->