<!--PHOTOS INDEX JOURNALIST-->
<!--PHOTOS INDEX JOURNALIST-->
<!--PHOTOS INDEX JOURNALIST-->

 <?php 
    
 $keyAlbum = -1;
 
if(!is_null($this->photos))    
    foreach($this->photos as $album){ 
        
    $keyAlbum++;

        //Save the current Photo Album ID
        $albumID = $album['objectID'];
        $journalistID = $album['journalistID'];
        $journalistName = $album['journalistName'];

        $title = $album['title'];
        $subtitle = $album['subtitle'];
        

        $datePublished = $album['datePublished'];
        $likesCount = $article['likesCount'];
        $commentsCount = $article['commentsCount'];                    

        $arrayPhotos = $album['photos'];
        $photoCount = count($arrayPhotos);
        
?>

        <div class="row no-margins">
            <div class="col-md-12 no-margins">

                <div class="cms_content">
                    <div class="cms_content_left_100">
                                                
                        <h2>
                            <span class="span_small">(<?php echo $photoCount; ?> Photos)</span>
                        </h2>
                                               
                        
                        <h2>
                            <a href="#" class="h3_oswald" onclick="onPhotoBoxClick(event, <?php echo $albumID; ?>)">
                                <?php echo $title ?>
                            </a>
                        </h2>

                        <div class="cms_gallery_01 ">
                   
<?php
        
        $keyPhotoVisible = 0;

        foreach ($arrayPhotos as $photo) {

            $caption = $photo['caption'];
            $srcThumb = '/main/uploads/method/get.image?thumbnail=1&extra=' . $album['journalistID'] . '&file=' . $photo['filename'];
            $src = '/main/uploads/method/get.image?extra=' . $album['journalistID'] . '&file=' . $photo['filename'];
?>                                        
                          
        <a onclick="openGalleryIndex(<?php echo $albumID.','.$keyPhotoVisible; ?>)">
            <img style="max-width: 750px" src="<?php echo $srcThumb; ?>" alt="<?php echo $caption; ?>">
        </a>   
            
            
<?php
        $keyPhotoVisible++;
        }
?>        
        
<!--<div class="remodal-bg">
    <div class="remodal" data-remodal-id="delete">
        <div id="modal" style="margin-top:-180px">
            <div class="wejo_box_01" id="wejo_box_01" style="height: 390px">                    
            </div>
        </div>
    </div>
</div>-->
                      
<div id="modalGallery_<?php echo $keyAlbum; ?>" class="remodal modalGallery" data-remodal-id="modalGallery_<?php echo $keyAlbum; ?>">

        <div id="galleria_<?php echo $keyAlbum; ?>">

            <?php

            $keyPhoto = 0;

            foreach ($arrayPhotos as $photo) {

                $caption = $photo['caption'];

                $src = '/main/uploads/method/get.image?extra=' . $album['journalistID'] . '&file=' . $photo['filename'];

            ?>                                        

                <a hidden="hidden" class="img-galleria" href="<?php echo $src; ?>" onclick="openGalleryIndex(<?php echo $keyAlbum.','.$keyPhoto ?>)">
                    <img src="<?php echo $src; ?>" alt="<?php echo $caption; ?>">
                </a>                        

            <?php 

            $keyPhoto++;

            } ?>        

        </div>

    </div>                           

        <p class="p_gray"><?php echo $subtitle ?></p>  

    </div> 
</div>                    
                
                
    <div class="article_box_bottom">
        <div class="article_date"><p><?php echo $datePublished; ?></p></div>
        <div class="stats_buttons">
            <span class="icon_heart article_icon"><?php echo 0; //$likesCount; ?></span>
            <span class="icon_comment article_icon"><?php echo 0; //$commentsCount; ?></span>
        </div>
    </div>                                                
                        
        </div>                                        
    </div>                
</div>                

<?php } ?>

<div id="modalGalleryPhotos"></div>

<script type="text/javascript">

    var stopClick = false;

    var modalGallery = null; 
    
    var modalGalleryOpen = false; 
   
    var statusGallery = false;

    $('document').ready(function() {
        
        if ($("#modalGalleryView").length > 0){
            $('#modalGalleryView').remove();
        }
      
        $('#titleContentType').html('Photos (<?php echo $this->countContent; ?>)');
        
        $(".album-image").on("click", function(e){
            
            imageclick($(this).data("album"));
            
            stopClick = true;
            
        });
        
    });

    function onPhotoBoxClick(e, contentID){
        
        if(stopClick){
            stopClick = false;
            return false;
        }        
        
        onContentTitleClick(contentID);
//        operations.showSpinner('Loading');
//        var url = "/main/journalists/method/index/con_id/"+contentID;
//        $('#divMainBody').load(url, function(){operations.hideSpinner()}, function(){operations.hideSpinner()});
    }
    
    function openGalleryIndex(con_id, photo_id){
        
        $(".modalGalleryIndex").parent().remove();
        
        $("#modalGalleryPhotos").load("/main/photos/method/modal/con_id/"+con_id+"/photo_id/"+photo_id);
        
    }
    
</script>