<!--PHOTOS - INDEX-->
<!--PHOTOS - INDEX-->

<?php if(!$this->cleanResponse){ ?>

<script type="text/javascript" src="<?php echo $this->baseUrl() . '/js/imagelightbox.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() . '/js/image.custom.js' ?>"></script>
<link rel="stylesheet" href="/css/imagelightbox.css" />

<?php } ?>


<?php

if(!is_null($this->listPhoto))        
    foreach ($this->listPhoto as $album) {

        //Save the current Photo Album ID
        $albumID = $album['objectID'];
        $journalistID = $album['journalistID'];
        $journalistName = $album['journalistName'];

        $title = $album['title'];
        //$subtitle = $album['subtitle'];
        $subtitle = $album['address'];
        

        $datePublished = $album['datePublished'];
        $likesCount = $article['likesCount'];
        $commentsCount = $article['commentsCount'];                    

        $arrayPhotos = $album['photos'];
        $photoCount = count($arrayPhotos);
        
?>

        <div class="row no-margins content_card"  onclick="onPhotoBoxClick(<?php echo $albumID; ?>)">
            <div class="col-md-12 no-margins">

                <div class="cms_content" onmouseover="onContentMouseover(this, true)" onmouseout="onContentMouseover(this, false)" id="content_<?php echo $albumID; ?>">
                    <div class="cms_content_left_100">
                        <h2><a href="#" class="h2_oswald" onclick="onJournalistNamePhotoClick(event, <?php echo $journalistID; ?>)">
                                <?php echo $journalistName; ?>
                            </a>
                            <span class="span_small">(<?php echo $photoCount; ?> Photos)</span>
                        </h2>
                        <h3>
                            <a href="#" class="h3_oswald">
                                <?php echo $title ?>
                            </a>
                        </h3>

                        <div class="cms_gallery_01 ">
                              
<?php
        foreach ($arrayPhotos as $photo) {

            $caption = $photo['caption'];
            $srcThumb = '/main/uploads/method/get.image?thumbnail=1&extra=' . $album['journalistID'] . '&file=' . $photo['filename'];
            $src = '/main/uploads/method/get.image?extra=' . $album['journalistID'] . '&file=' . $photo['filename'];
?>                                        
                            <a class="album-image" data-album="<?php echo $albumID; ?>" href="<?php echo $src; ?>" data-imagelightbox="<?php echo $albumID; ?>">
                                <img src="<?php echo $srcThumb; ?>" alt="<?php echo $caption; ?>">
                            </a>                        
<?php
        }
?>                                          
                            <p class="p_gray"><?php echo $subtitle ?></p>  

                        </div> 
                    </div>                    
                
                
                    <div class="article_box_bottom">
                        <div class="article_date"><p><?php echo $datePublished; ?></p></div>
                        <div class="stats_buttons">
                            <span class="icon_heart article_icon"><?php echo $likesCount; ?></span>
                            <span class="icon_comment article_icon"><?php echo $commentsCount; ?></span>
                        </div>
                    </div>                                                
                        
                </div>                                        
            </div>                
        </div>                

<?php
    }
?>


<script type="text/javascript">
    
    var stopClick = false;
    
    $('document').ready(function() {

<?php if(!$this->cleanResponse){ ?>
        
        mapOperations.removeGoogleMarkers();                     
        
<?php } ?>
             
        var listPhotos = <?php echo json_encode($this->listPhoto);?>;
        
        if(listPhotos){
            
            $.each( listPhotos, function(i, objPhoto) {

                mapOperations.addGoogleMarker(objPhoto);
            });
        }

<?php if(!$this->cleanResponse){ ?>
    
        $(".album-image").on("click", function(e){
            
            imageclick($(this).data("album"));
            
            stopClick = true;
            
        });
        
<?php } ?>        
        
        
    });
    
    
<?php if(!$this->cleanResponse){ ?>

    function onPhotoBoxClick(contentID){
        
        if(stopClick){
            stopClick = false;
            return false;
        }
        operations.showSpinner('Loading');
        var url = "/main/journalists/method/index/con_id/"+contentID;
        $('#divMainBody').load(url, function(){operations.hideSpinner()}, function(){operations.hideSpinner()});
    }
    
    function onJournalistNamePhotoClick(event, journalistID){
        
        stopClickEvent(event);
        
        var contentType = '<?php echo ((Main_Model_Content::TYPE_PHOTO)?Main_Model_Content::TYPE_PHOTO:1); ?>'; 
        
        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
        //$('#divMainBody').load(url);  
        window.location.assign("<?php echo $this->baseUrl(); ?>" + url);
    }
    
    
  function stopClickEvent(event){
        
        var e = event || window.event; 
        
        //IE9 & Other Browsers
        if (e.stopPropagation) {
          e.stopPropagation();
        }
        //IE8 and Lower
        else {
          e.cancelBubble = true;
        }        
    }    
    
    function onContentMouseover(divAlbum, isOver){
                
        if(noInternet)
            return false;
        
        var urlMarkerImage = '';        
        var aTitle = divAlbum.getElementsByTagName('a')[1];
        
        if(isOver){
            
            divAlbum.className = "cms_content content_card active";
            aTitle.className = "h3_oswald active";
            urlMarkerImage = '/images/map/pin.png';
            
        }else{
            divAlbum.className = "cms_content content_card";
            aTitle.className = "h3_oswald";
            urlMarkerImage = '/images/map/pin_active.png';
        } 
        
        
        //Trigger marker mouseover
        var contentID = divAlbum.id;        
        contentID = contentID.replace('content_', '');
        contentID = parseInt(contentID);
        
        var imageOver = {
            url: urlMarkerImage,
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0, 32)
        };


        globalMarkers[contentID].setIcon(imageOver);        
    }    
    
<?php } ?>    

</script>


<!--PHOTOS - INDEX-->
<!--PHOTOS - INDEX-->