<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>" type="text/javascript"></script>

<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">

<link rel="stylesheet" href="/css/jquery.remodal.close.css">

<script src="<?php echo $this->baseUrl() . '/js/galleria/galleria-1.2.8.min.js' ?>" type="text/javascript"></script>
 
<div class="remodal modalGalleryIndex" data-remodal-id="modalGalleryIndex">

    <div id="galleria_index">

        <?php

        $keyPhoto = 0;

        foreach ($this->photos as $photo) {

            $caption = $photo->getCaption();

            $src = '/main/uploads/method/get.image?extra=' . $this->journalistID . '&file=' . $photo->getFilename();

        ?>                                        

            <a class="img-galleria" href="<?php echo $src; ?>">
                <img src="<?php echo $src; ?>" alt="<?php echo $caption; ?>">
            </a>                        

        <?php 

        $keyPhoto++;

        } ?>        

    </div>

</div>                           

<script type="text/javascript">

    var modalGalleryPhotos = null;

    var photo_id = parseInt('<?php echo $this->photo_id ?>');

    $(document).ready(function() { 

        modalGalleryPhotos = $.remodal.lookup[$('[data-remodal-id=modalGalleryIndex]').data('remodal')];

        sizeGallery();

        Galleria.loadTheme('/js/galleria/themes/classic/galleria.classic.min.js');

        Galleria.run('#galleria_index',{show: photo_id});

        modalGalleryPhotos.open();

    });

    function sizeGallery(){

        var widthWindow = $(window).width();
        var heightWindow = $(window).height();

        var widthGallery = widthWindow * 60 / 100;
        var heightGallery = heightWindow * 90 / 100;

        $(".modalGalleryIndex").width(widthGallery);
        $(".modalGalleryIndex").height(heightGallery);

        $("#galleria_index").css("max-width",widthGallery);
        $("#galleria_index").height(heightGallery);

        var marginGallery = (heightWindow - heightGallery)/2;

        marginGallery += "px";

        $(".modalGalleryIndex").css("margin-top",marginGallery);

    }

</script>