<!--PHOTOS VIEW-->
<!--PHOTOS VIEW-->
<!--PHOTOS VIEW-->
<?php $url = $this->serverUrl()."/main/contents/method/view/con_id/".$this->contentID; ?> 
<script src="<?php echo $this->baseUrl() . '/js/modules/main/contents/comments.js' ?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>

<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.flat.css'?>">
<link rel="stylesheet" href="/css/jquery.remodal.close.css">
<script src="/js/galleria/galleria-1.2.8.min.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">
<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>
    
    
<div class="row no-margins">
    
    
    <div class="col-md-12 no-margins article_text" style="text-align: center">
        
<?php
        $arrayPhotos = $this->listPhotos;
        
        foreach ($arrayPhotos as $photo) {

            $caption = $photo->getCaption();
            
            $src = '/main/uploads/method/get.image?extra=' . $this->journalistID . '&file=' . $photo->getFilename();
?>                                        
        
        <a onclick="openGalleryView()">
            <img style="max-width: 750px" src="<?php echo $src; ?>" alt="<?php echo $photo->getCaption(); ?>">
        </a>                        

<?php
            break;   
        }
?>                                          
        
        
    </div>

    <div id="modalGalleryView" class="remodal" data-remodal-id="modalGalleryView">

        <div id="galleriaView">

            <?php

            foreach ($arrayPhotos as $photo) {

                $caption = $photo->getCaption();

                $src = '/main/uploads/method/get.image?extra=' . $this->journalistID . '&file=' . $photo->getFilename();

            ?>                                        

                <a hidden="hidden" class="img-galleria" href="<?php echo $src; ?>" onclick="openGalleryView()">
                    <img src="<?php echo $src; ?>" alt="<?php echo $photo->getCaption(); ?>">
                </a>                        

            <?php } ?>        

        </div>

    </div>

    <?php echo $this->partial('contents/social.phtml', array('journalistID' => $this->journalistID,
                                                             'endorseCount' => $this->endorseCount,
                                                             'likedByUser' => $this->likedByUser,
                                                             'dislikedByUser' => $this->dislikedByUser,
                                                             'contentID' => $this->contentID)); ?>
    
    <?php echo $this->partial('contents/comments.phtml', array('userPic' => $this->userPic)); ?>
    
</div>

<script type="text/javascript">
    
    $(window).resize(function() {
        sizeGallery();
    });

    var modalGalleryView = $.remodal.lookup[$('[data-remodal-id=modalGalleryView]').data('remodal')]; 
  
    $('document').ready(function() {
        $('.modalGallery').remove();
    });

    var arrayJson = <?php echo json_encode($this->jSon) ?>;
    var endorseUser = '<?php echo $this->endorseUser ?>';
    var arrayEndorsements = <?php echo $this->arrayEndorsements ?>;
    var serverUrl = '<?php echo $this->serverUrl() ?>';
    var modal = null;
    
    function editContent(id) {
        var url = '<?php echo $this->baseUrl(); ?>' + '/main/photos/method/edit/con_id/' + id;
        $('#divMainBody').load(url);
    }
    
    function openGalleryView() {
     
        $(".img-galleria").removeAttr("hidden");
        
        sizeGallery();
       
        Galleria.loadTheme('/js/galleria/themes/classic/galleria.classic.min.js');
       
        Galleria.run('#galleriaView',{show: 0});
        
        modalGalleryView.open();      
        
    }
    
    function sizeGallery(){
        
        var widthWindow = $(window).width();
        var heightWindow = $(window).height();

        var widthGallery = widthWindow * 60 / 100;
        var heightGallery = heightWindow * 90 / 100;

        $("#modalGalleryView").width(widthGallery);
        $("#modalGalleryView").height(heightGallery);
        
        $("#galleriaView").css("max-width",widthGallery);
        $("#galleriaView").height(heightGallery);
        
        var marginGallery = (heightWindow - heightGallery)/2;
        
        marginGallery += "px";
        
        $("#modalGalleryView").css("margin-top",marginGallery);
        
    }
    
</script>

<script src="<?php echo $this->baseUrl() . '/js/modules/main/contents/view.js' ?>"></script>

<div class="remodal-bg">
    <div class="remodal" data-remodal-id="delete">
        <div id="modal" style="margin-top:-180px">
            <div class="wejo_box_01" id="wejo_box_01" style="height: 390px">                    
            </div>
        </div>
    </div>
</div>

<div id="boxConfirmDelete" style="display: none">

    <div class="wejo_box_01_head">
        <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
        <h2>Administrator</h2>
    </div>

    <div class="wejo_box_01_body" style="height: 280px">
        <div class="wejo_box_01_content">

            <h5 style="text-transform: none">Are you sure you want to delete this item?</h5>

            <input type="button" class="btn_request" id="btn_cancel" value="Cancel"  onclick="closeModal()">

            <input type="button" class="btn_login_black top-10" id="btn_delete" value="Yes" onclick="deleteContent()" style="margin-top: 20px">

        </div>
    </div>
</div>