<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>


<script type="text/javascript">
        
    (function($) {
            
        countFollows = 5000;
        countReadings = 5000;
        countDownloads = 5000;        
        
        loadFollows();
        loadReadings();
        loadDownloads();
        
    })(jQuery);

    function loadFollows(){
        
        $.get('/main/contents/method/my.follows', null, function(response) {

            if (response.status === 500){
                
                setTimeout(function() {
                    countFollows += countFollows;
                    loadFollows();

                }, countFollows); // 5 seconds
            }

            if (response.status === 200) {
                
                var followings = response.view.followings;
                
                if(response.view.countFollowings == 1){
                    var text = 'You are following ' + response.view.countFollowings + ' journalist';
                    $("#countFollowings").text(text);
                }else{
                    var text = 'You are following ' + response.view.countFollowings + ' journalists';
                    $("#countFollowings").text(text);
                }
                
                
                
                $.each(followings, function( key, followed ) {
                    var follow = '<div class="activity_box_user_content" onclick="onJournalistPictureClick('+followed.id+')">';
                    follow += '<div class="activity_box_pic">';
                    follow += '<img src="/main/uploads/method/get.image?file=/thumbnail/'+followed.pic+'" alt="' + followed.name +'">';
                    follow += '</div>';
                    follow += '<h2>'+ followed.name +'</h2>';
                    follow += '</div>';
                
                    $("#follows").append(follow);
                
                });
                
            }
                
            
        }, 'json');

        
    }
    
    function loadReadings(){
        
        $.get('/main/contents/method/my.readings', null, function(response) {

            if (response.status === 500){
                
                setTimeout(function() {
                    countReadings += countReadings;
                    loadFollows();

                }, countReadings); // 5 seconds
            }

            if (response.status === 200) {
                
                $.each(response.view, function( key, article ) {
                
                    var reading = '<div class="history_box">';
                    reading += '<h2>'+article.title+'</h2>';
                    reading += '<span class="history_box_date">'+article.date+'</span>';
                    reading += '<h3>'+article.subtitle+'</h3>';
                    reading += '</div>';
   
                    $("#readings").append(reading);
                
                });
                
            }
                
            
        }, 'json');

    }
    
    function loadDownloads(){
              
        $.get('/main/contents/method/my.downloads', null, function(response) {

            if (response.status === 500){
                
                setTimeout(function() {
                    countDownloads += countDownloads;
                    loadDownloads();

                }, countDownloads); // 5 seconds
            }

            if (response.status === 200) {
                
                $.each(response.view, function( key, article ) {
                
                    var download = '<div class="history_box">';
                    download += '<h2>'+article.title+'</h2>';
                    download += '<span class="history_box_date">'+article.date+'</span>';
                    download += '<h3>'+article.subtitle+'</h3>';
                    download += '</div>';
   
                    $("#downloads").append(download);
                
                });
                
            }
                
            
        }, 'json');

    }
    
</script>


<div class="row no-margins">
    <div class="col-md-12">
        <ul class="category_menu three_buttons">
          
            <li id="btnBarFollows" onclick="onBarFollowsClick()" class="left-child">
                <a class="follows">Follows</a>
            </li>
            <li id="btnBarReadings" onclick="onBarReadingsClick()">
                <a class="reading">Readings</a>
            </li>
            <li id="btnBarDownloads"  onclick="onBarDownloadsClick()">
                <a class="downloads">Downloads</a>
            </li>
            
        </ul>
       
        <div class="row no-margins">
            <div class="col-md-3 col-lg-2 no-margins">
                
                <div onclick="onJournalistPictureClick(<?php echo Main_Model_User::getSession(Main_Model_User::USER_ID)?>)" class="user_sidebox reset_float_left" style="margin-top: 42px">
                    <?php $userName = Main_Model_User::getSession(Main_Model_User::USER_NAME); ?>
                    <div class="user_pic_content pointer">
                        <div class="user_pic">
                            <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo Main_Model_User::getSession(Main_Model_User::USER_PIC); ?>" alt="<?php echo $userName;?>">
                        </div>
                    </div>
                    <h2><?php echo $userName; ?></h2>

                    <div class="activity_user_info reset_float_left" style="margin-top: 5px">
                        <p class="user_info user_info_gray">
                            <span class="glyphicon glyphicon-globe"></span>&nbsp;<?php echo Main_Model_User::getSession(Main_Model_User::USER_COUNTRY); ?>
                        </p>
                        <p class="user_info user_info_red">
                            <span class="icon-twitter"></span>&nbsp;<?php echo Main_Model_User::getSession(Main_Model_User::USER_TWITTER); ?>
                        </p>
                        <div class="user_review">
                            <p><?php echo Main_Model_User::getSession(Main_Model_User::USER_BIO); ?></p>
                        </div>
                    </div>

                </div><!-- FIN user_sidebox -->
                
            </div>
            <div class="col-md-9 col-lg-10"><br>
                    
                
                <div id="divReadings" class="box_reading_content" hidden="hidden">
                    <h1>Your reading history</h1>

                    <div  class="scrollableContent"  id="divscrollableContentReads">
                        <div id="readings">
                        </div>
                    </div>
                    
                </div><!-- FIN box_reading_content -->
                
                <div id="divFollows" class="box_follow_content" hidden="hidden">
                    <h1 id="countFollowings"></h1>
                   
                   <div  class="scrollableContent"  id="divscrollableContentFollows"> 
                        <div id="follows">
                        </div>
                    </div>
                </div><!-- FIN box_follow_content -->
                
                                
                <div id="divDownloads" hidden="hidden">
                    <h1>Downloads</h1>

                    <div class="scrollableContent" id="divscrollableContentDownloads">
                        <div id="downloads">
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
  
    </div>

</div>


<script type="text/javascript">

    $('document').ready(function() {

        $(".scrollableContent").mCustomScrollbar({
            theme: "dark",
            setWidth: false,
        });
        
        /*** Ancho del background menu ***/
        var contentTypeMenuBar = $(".category_menu_bg");
        var screenWidth = $(window).width();    
        contentTypeMenuBar.width(screenWidth);
        
        
        //Show follows by default
        onBarFollowsClick();
    });


    function onBarFollowsClick() {
        
        hideAllActivityDivs();
        $('#btnBarFollows').addClass('category_menu_focused');
        $('#btnBarReadings').removeClass('category_menu_focused');
        $('#btnBarDownloads').removeClass('category_menu_focused');
        $('#divFollows').show();        
        //Before uncomment this, test with many followings. Scroll breaks with one following
        //adjustFollowsHeight();
    }

    function onBarReadingsClick() {

        hideAllActivityDivs();
        $('#btnBarReadings').addClass('category_menu_focused');        
        $('#btnBarFollows').removeClass('category_menu_focused');
        $('#btnBarDownloads').removeClass('category_menu_focused');
        $('#divReadings').show();
        adjustReadsHeight();
    }

    function onBarDownloadsClick() {

        hideAllActivityDivs();
        $('#btnBarDownloads').addClass('category_menu_focused');
        $('#btnBarFollows').removeClass('category_menu_focused');
        $('#btnBarReadings').removeClass('category_menu_focused');    
        $('#divDownloads').show();
        adjustDownloadsHeight();
    }

    function hideAllActivityDivs(){
        
        $('#divReadings').hide();
        $('#divFollows').hide();
        $('#divDownloads').hide();
    }
        
    function adjustReadsHeight(){

        var divHeight = $(window).height();
        var topDistance = $('#divscrollableContentReads').offset().top;
        var result = parseInt(divHeight) - parseInt(topDistance);
        $('#divscrollableContentReads').css('height', result + 'px');
        extendSideNav(false);
    }
    
    function adjustDownloadsHeight(){

        var divHeight = $(window).height();
        var topDistance = $('#divscrollableContentDownloads').offset().top;
        var result = parseInt(divHeight) - parseInt(topDistance);
        $('#divscrollableContentDownloads').css('height', result + 'px');
        extendSideNav(false);
    }

    function adjustFollowsHeight(){

        var divHeight = $(window).height();
        var topDistance = $('#divscrollableContentFollows').offset().top;
        var result = parseInt(divHeight) - parseInt(topDistance);
        $('#divscrollableContentFollows').css('height', result + 'px');
        extendSideNav(false);
    }
    function onJournalistPictureClick(journalistID){
        
        operations.showSpinner('Loading');
        var contentType = '<?php echo ((Main_Model_Content::TYPE_ARTICLE)?Main_Model_Content::TYPE_ARTICLE:1); ?>'; 
        
        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
        window.location.assign("<?php echo $this->baseUrl(); ?>" + url);          
    }
    
    

</script>