<?php // $this->cropJs(); ?>

<link href="<?php echo $this->baseUrl() . '/imagecrop/crop.css' ?>" rel="stylesheet" type="text/css"/>

<style>
    
    
.example {
	padding:40px;
	position:absolute;
	//text-align:center;
}

.example .default {
	display:inline-block;
	margin-right:25px;
	z-index:99999;
	position:absolute;
}

#uploadfile { display:none }

</style>

<script src="<?php echo $this->baseUrl() .'/imagecrop/crop.js'?>"></script>


<br>
<br>
    <input type="file" class="uploadfile" id="uploadfile"/>

    <input type="Button" style="width: 300px; margin-left:40px;" class="btn_submit" id="btnUploadFile" value="Upload an Image">

    <div class="example">

        <!--
        NOTE: To change the aspect ratio, look in crop.css
        The class 'default' links the div to the innit(); function
        -->
        
        <!--        
        <div class="default">
            <div class="cropMain"></div>
            <div class="cropSlider"></div>
            <button class="cropButton">Crop</button>
            <input type="button" class="btn_submit" name="btnCrop" id="btnCrop" value="Crop">
        </div>
        -->

    </div>



<script type="text/javascript">
    

    $(document).ready(function(){
        
        $('#uploadfile').click();
    });

    //  cropper settings
    // --------------------------------------------------------------------------

    // create new object crop
    // you may change the "one" variable to anything
    var one = new CROP();

    // link the .default class to the crop function
    one.init('.default');


    //  on click of button, crop the image
    // --------------------------------------------------------------------------

    //$('body').on("click", "button", function() {
    $('body').on("click", "#btnCrop", function() {    

            // grab width and height of .crop-img for canvas
            var	width = $('.crop-container').width() - 80,  // new image width
                    height = $('.crop-container').height() - 80;  // new image height

            $('canvas').remove();
            $('.default').after('<canvas width="'+width+'" height="'+height+'" id="canvas" class="user_canvas"/>');
                    
            var ctx = document.getElementById('canvas').getContext('2d'),
                    img = new Image,
                    w = coordinates(one).w,
                h = coordinates(one).h,
                x = coordinates(one).x,
                y = coordinates(one).y;

            img.src = coordinates(one).image;

            img.onload = function() {


                operations.showSpinner('Uploading');
                // draw image
                ctx.drawImage(img, x, y, w, h, 0, 0, width, height);

                    // save the image to server                    
                    $.ajax({
                            type: "post",
                            dataType: "json",
                            //url: "save.php",
                            url: "/main/users/method/save.picture/",
                            data: { 
                                image: canvas.toDataURL()
                                //method: 'save.picture'
                            },
                            
                    })
                    .done(function(data) {

                            // You can pull the image URL using data.url, e.g.:
                            // $('body').append('<img src="'+data.url+'" />');
                            
                            //operations.hideSpinner();
                            reloadProfilePicture(data.data.userPic);
                            showProfile();
                    });

            }

    });


    //  on click of .upload class, open .uploadfile (input file)
    // --------------------------------------------------------------------------
    
    $('body').on("click", "#btnUploadFile", function() {
        $('.uploadfile').click();
    });
    

    // on input[type="file"] change
    $('.uploadfile').change(function() {

        loadImageFile();

        // resets input file
        $('.uploadfile').wrap('<form>').closest('form').get(0).reset();
        $('.uploadfile').unwrap();

     });


    //  get input type=file IMG through base64 and send it to the cropper
    // --------------------------------------------------------------------------

    oFReader = new FileReader(), rFilter = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;
    function loadImageFile() {

        if(document.getElementById("uploadfile").files.length === 0) return

        var oFile = document.getElementById("uploadfile").files[0];

        if(!rFilter.test(oFile.type)) {
            return;
        }

      oFReader.readAsDataURL(oFile);
    }

    oFReader.onload = function (oFREvent) {

        $('.example').html('<div class="default">\n\
                                <div class="cropMain"></div>\n\
                                <div class="cropSlider"></div>\n\
                                <input type="button" class="btn_save" name="btnCrop" id="btnCrop" value="Save">\n\
                           </div>');

        

            // create new object crop
            // you may change the "one" variable to anything
            one = new CROP();

            // link the .default class to the crop function
            one.init('.default');

            // load image into crop
            one.loadImg(oFREvent.target.result);

    };



    
    
</script>
