<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/js/counter/counter.css'?>">
<link rel="stylesheet" href="/js/tour/css/theme1/style.css" />

<div class="page_content">
    
    <h1><?php echo $this->title ?></h1>
    
    
    <div id="progressTracker" style="display: none;">
        <br><br>
        <ol class="progress-tracker" data-progress-tracker-steps="4">
            <li class="progress-tracker-todo progress-twitter">Twitter</li>
            <li class="progress-tracker-todo progress-name">Display Name</li>            
            <li class="progress-tracker-todo progress-bio">Biography</li>
            <li class="progress-tracker-todo progress-location">Location</li>
        </ol>    
        <br><br>    
    </div>
    
    
    <?php
        $src = '/images/globe.png';
        //$src = '/main/uploads/method/get.image?file=0';

        if (strlen($this->txtPic) > 0) {
            $src = '/main/uploads/method/get.image?file=/thumbnail/' . $this->txtPic;
        } 
    ?>

    <div class="row">
        


        <div class="user_pic_content pointer" href="#" style="margin-left: 5px;">
            <div id="divImageProfile "class="user_pic" style="position: relative; overflow: hidden;">
                <img id="imageProfile" src="<?php echo $src ?>" style="position:relative"/>
            </div>
        </div>


        <div id="divImageTemp" style="max-width: 300px; max-height: 300px;">
            <img id="imageTemp" name="imageTemp" accept="gif|jpg|jpeg|png" style="width:100%;height:100%;margin:auto">
        </div>
        
        
    </div>
    
    <div class="row">
        
        <div file-wrapper">

            <input id="fileupload" type="file" name="files[]" hidden="true" style="display:none">

            <a id="btnFileupload" class="btn_upload_userpic">Change photo</a>

            <div id="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>        
        
    </div>



    <form id="formProfile" name="formProfile">

        <input type="hidden" id="txtPic" name="txtPic" value="<?php echo $this->txtPic ?>">
        <input type="hidden" value="<?php echo $this->txtID ?>" id="txtID" name="txtID">
        
        <br/><input disabled type="text" value="<?php echo $this->txtFullname ?>" class="in_style_01" id="txtFullname" name="txtFullname" placeholder="Full Name">
        <br/><input disabled type="text" value="<?php echo $this->txtEmail ?>" class="in_style_01" id="txtEmail" name="txtEmail" placeholder="Email">
        <div class="structure_input01" style="margin-left: -28px !important; width: 80%">
            <input disabled type="text" class="in_style_03" id="txtPass" name="txtPass" value="Password" style="font-size: 9pt !important;">
            <input id="btnChangePassword" class="search_btn_02" type="button" value="CHANGE" onclick="openModalPassword()">
        </div>
        
        <input type="hidden" value="<?php echo $this->txtIsTwitterVerified ?>" id="txtIsTwitterVerified" name="txtIsTwitterVerified">
        <div class="structure_input01" style="margin-left: -28px !important; width: 80%">
                        
<?php if (!$this->txtIsTwitterVerified){ ?>
            
            <input type="text" value="<?php echo $this->txtTwitter ?>" class="in_style_03" id="txtTwitter" name="txtTwitter" placeholder="Twitter Name" style="width:49% !important">
            <input onclick="verifyUser()" class="btn_submit" type="button" value="VALIDATE" style="width:20%; height: 40px; margin-top: 6px;">
            <input type="Button" class="btn_cancel" id="btnCancelTwitter" name="btnCancelTwitter" value="Skip" onclick="openModalSkipTwitter()" style="margin-top: 6px;">
            
<?php } else { ?>
            
            <input type="text" disabled="disabled" value="<?php echo $this->txtTwitter ?>" class="in_style_03" id="txtTwitter" name="txtTwitter" placeholder="Twitter Name">
            <input class="search_btn_02" type="button" disabled="disabled" value="VERIFIED">
<?php } ?>

        </div>
        
        <br/><input type="text" value="<?php echo $this->txtName ?>" class="in_style_01" id="txtName" name="txtName" placeholder="Display Name" maxlength="25">
        <br/><textarea data-counter="255" class="counter-text txta_style_01" id="txtBio" name="txtBio" placeholder="Biography"><?php echo $this->txtBio ?></textarea><br>
        <div id="counter_txtBio" class="counter"></div>       
        
        <input type="text" value="<?php echo $this->formatted_address ?>" class="in_style_01" id="txtLocation" name="txtLocation" placeholder="Location">
        <div class="details" id="geo-details" hidden="true">
            <input name="lat" data-geo="lat" value="<?php echo $this->lat ?>"/>
            <input name="lng" data-geo="lng" value="<?php echo $this->lng ?>"/>
            <input name="country" data-geo="country" value="<?php echo $this->country ?>"/>
            <input name="formatted_address" data-geo="formatted_address" value="<?php echo $this->formatted_address ?>"/>
            <input name="country_short" data-geo="country_short" />
        </div>
        
<!--        <br/><input type="text" maxlength="255" value="<?php //echo $this->txtLinkedin ?>" class="in_style_01" id="txtLinkedin" name="txtLinkedin" placeholder="Linkedin URL">-->
        <br/><br/>
        <input type="button" class="btn_submit" name="btnProfile" id="btnProfile" value="Save Changes">
        <input type="Button" class="btn_cancel" id="btnCancel" name="btnCancel" value="Cancel">
        <p id="messageSaving" style="margin-top:13px; color: #E48C00"></p>
        <br><br><br>
        
        
        </br></br>
        
    </form>
    
</div>

</br>
</br>
</br>
</br>

    <input type="hidden" name="x1" id="x1" value="" />
    <input type="hidden" name="y1" id="y1" value="" />
    <input type="hidden" name="x2" id="x2" value="" />
    <input type="hidden" name="y2" id="y2" value="" />
    <input type="hidden" name="w" id="w" value="" />
    <input type="hidden" name="h" id="h" value="" />
    
    

    

<style type="text/css">
    
    
ol.progress-tracker {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progress-tracker li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progress-tracker[data-progress-tracker-steps="2"] li { width: 49%; }
ol.progress-tracker[data-progress-tracker-steps="3"] li { width: 33%; }
ol.progress-tracker[data-progress-tracker-steps="4"] li { width: 24%; }
ol.progress-tracker[data-progress-tracker-steps="5"] li { width: 19%; }
ol.progress-tracker[data-progress-tracker-steps="6"] li { width: 16%; }
ol.progress-tracker[data-progress-tracker-steps="7"] li { width: 14%; }
ol.progress-tracker[data-progress-tracker-steps="8"] li { width: 12%; }
ol.progress-tracker[data-progress-tracker-steps="9"] li { width: 11%; }

ol.progress-tracker li.progress-tracker-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progress-tracker li.progress-tracker-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}


ol.progress-tracker li:after {
    content: "\00a0\00a0";
}
ol.progress-tracker li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progress-tracker li.progress-tracker-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progress-tracker li.progress-tracker-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}
    
    
    
    
    
.bar {
   height: 18px;
   background: green;
}
.file-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden; 
    cursor: pointer;
}
.file-wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.file-wrapper .button {
    color: #fff;
    background: #117300;
    padding: 4px 18px;
    margin-right: 5px;  
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}
.file-holder{
    color: #000;
}
</style>


<script type="text/javascript">
    
    var displayName;
    var biography;
    var locationAddress; 
    var linkedin;
    
    $(window).resize(function () {         
        extendSideNav();
    });    
    
    
    $(document).ready(function() {
        
        $('#formProfile').height($(window).height() - 400);
        
        operations.hideSpinner();
        
        extendSideNav();                   
        
        $('#btnProfile').on('click', function(e) {
            
            operations.showSpinner('Saving')
            var url = '/main/users';                        
            operations.save('formProfile', url, callBack);                    
        });


        var lat_and_long = "<?php echo $this->lat?>, <?php echo $this->lng?>";

        $('#txtLocation').geocomplete({
            details: ".details",                    
            detailsAttribute: "data-geo"
            //location: lat_and_long
        });


        $('#btnCancel').on('click', function(e) {
            
            window.location.reload();
        });


        $('#btnFileupload').on('click', function(){

            showImageCrop();
            
        });
        
        setProgressTracker();
        saveCurrentState();
        setAutosaveTimer();
        initTour();
        
    });// ENDS DOCUMENT READY
    
    
    function saveCurrentState(){
        
        displayName = $('#txtName').val();
        biography = $('#txtBio').val();
        locationAddress = $('#txtLocation').val();
        //linkedin = $('#txtLinkedin').val();
    }
    
    function setAutosaveTimer(){
        
        if( isPendingSave() ){            
            autosaveProfile();
            return true;
        }
        
        setTimeout(setAutosaveTimer, 5000); // Check every 10 seconds
    }    
    
    function isPendingSave(){
        
        if(displayName != $('#txtName').val() && $('#txtName').val().length >= 2)  return true;
        if(biography != $('#txtBio').val() && $('#txtBio').val().length > 10)  return true;
        if(locationAddress != $('#txtLocation').val())  return true;
        //if(linkedin != $('#txtLinkedin').val())  return true;
        
        return false;
    }    
    
    
    function autosaveProfile(){
        
        $('#messageSaving').html('Saving...');        
        var url = '/main/users';               
        operations.save(formProfile, url, autosaveCallback);
    }
    
    function autosaveCallback(){
        
        $('#messageSaving').html('Autosaved');
        $('.user_name').html($('#txtName').val());
        saveCurrentState();
        setTimeout(setAutosaveTimer, 5000); // Check every 10 seconds
        
        var profileCompleted = false;
        
        if(startTour){
            //set tracker and get if the profile is already complete
            profileCompleted = setProgressTracker();                    
        }
        
        if(profileCompleted){
            //if the profile is complete, and the tour was started, show message
            startTour = false;
            showCompleteMessage();
        }
    }
    
    function showCompleteMessage(){
        openModalComplete();
        //alert("You've completed your profile!");
    }
    
    function setProgressTracker(){
        
        var iscomplete = true;
        
        if(! parseInt(<?php echo $this->txtIsTwitterVerified ?>)){
            iscomplete = false;                
            $('.progress-twitter').removeClass('progress-tracker-done');
            $('.progress-twitter').addClass('progress-tracker-todo');
        }else{
            $('.progress-twitter').removeClass('progress-tracker-todo');
            $('.progress-twitter').addClass('progress-tracker-done');                
        }

        if( $('#txtName').val().length < 2 ){
            iscomplete = false;
            $('.progress-name').removeClass('progress-tracker-done');
            $('.progress-name').addClass('progress-tracker-todo'); 
        }else{
            $('.progress-name').removeClass('progress-tracker-todo');
            $('.progress-name').addClass('progress-tracker-done');                 
        }

        if( $('#txtBio').val().length < 2 ){
            iscomplete = false;
            $('.progress-bio').removeClass('progress-tracker-done');
            $('.progress-bio').addClass('progress-tracker-todo');                
        }else{
            $('.progress-bio').removeClass('progress-tracker-todo');
            $('.progress-bio').addClass('progress-tracker-done');                
        }

        if( $('#txtLocation').val().length < 10 ){
            iscomplete = false;
            $('.progress-location').removeClass('progress-tracker-done');
            $('.progress-location').addClass('progress-tracker-todo');                
        }else{
            $('.progress-location').removeClass('progress-tracker-todo');
            $('.progress-location').addClass('progress-tracker-done');                
        }     
        
        if(!iscomplete)
            $('#progressTracker').show();
        
        return iscomplete;
    }
    
    
    function callBack() {
        
        operations.hideSpinner();
        operations.showMessage('Saved', 'ok');        

        var url = "<?php echo $this->serverUrl() . '/main/users/method/profile' ?>";
        
        $('#divProfile').load(url, loadProfileComplete);

        var userPic = $('#txtPic').val();
        $('#imageProfileHeader').attr('src', '/main/uploads/method/get.image?file=/thumbnail/'+ userPic);
        $('.user_name').html($('#txtName').val());
        
        setProgressTracker();
    }
        
    function loadProfileComplete(){    
        //$('#divMainBody').scrollTop(0);        
        initTour();
    }

    function verifyUser(){
        
        window.location.assign("<?php echo $this->baseUrl(); ?>"+'/main/twitter/');
    }
    
    
    function reloadProfilePicture(urlPic){

        var userPic;
        
        var parameterStart = urlPic.indexOf('?');
        userPic = urlPic.substring(0, parameterStart);
        
        $('#imageProfileHeader').attr('src', '/main/uploads/method/get.image?file=/thumbnail/'+ userPic + '&' + Math.random() );     
        $('#imageProfile').attr('src', '/main/uploads/method/get.image?file=/thumbnail/'+ userPic + '&' + Math.random() );     
     
        $('#divMainBody').scrollTop(0);
    }
    
    
    function hideTourMessages(){
        
        $('.jTour_box').hide();
        $('.jTour_box').hide();
        $('.jTour_box').hide();
    }
    
    var myTour;
    var startTour;
    
    function initTour(){

        startTour = false;
        var tourdata = [];
        
        try{
            //In case there is one message still open (js exceptions)
            hideTourMessages();

            <?php if (!$this->txtIsTwitterVerified){ ?>

            startTour = true;
            $('#divMainBody').animate({scrollTop: $('#txtTwitter').offset().top - 100}, 0);

            tourdata.push({
                html: "We verify your identity & activity through Twitter. Please validate your Twitter to publish content, access all the tools, and activate your notifications",
                element: "#txtTwitter",
                position: "s",
                live: 3000,
                overlayOpacity: 0.4,
                expose: "#txtTwitter",
                onShow: function(element){

                    myTour.pause();

                    $('#txtTwitter').on('focus', function(){
                        
                        myTour.stop();
                        return true;
                    }); 
                }                
            });

            <?php } ?>


            if( $('#txtName').val().length < 2 && !startTour){

                startTour = true;
                $('#divMainBody').animate({scrollTop: $('#txtName').offset().top - 100}, 0);

                tourdata.push({
                    html: "Complete your display name. It will be visible for the Readers",
                    element: "#txtName",
                    position: "s",
                    live: 5000,
                    overlayOpacity: 0.4,                
                    expose: "#txtName",
                    onShow: function(element){

                        myTour.pause();

                        $('#txtName').keyup(function(e){

                            hideTourMessages();
                                                        
                            if ( ( e.keyCode === 0 || e.keyCode === 32 ) && $('#txtName').val().length < 25) {
                                $('#txtName').val($('#txtName').val() + ' ');
                            }


                            if($('#txtName').val().length >= 2){
                                myTour.stop();
                            }else{
                                myTour.pause();
                            }

                            return true;
                        });
                    }
                });

    //            tourdata.push({
    //                html: "Save your changes",
    //                element: "#btnProfile",
    //                position: "e",
    //                live: 5000,
    //                overlayOpacity: 0.8,
    //                expose: "#btnProfile",
    //                onBeforeShow: function(e){
    //                    $('#divMainBody').animate({scrollTop: $('#btnProfile').offset().top}, 800);
    //                }
    //            });

            }

            if( $('#txtBio').val().length < 2 && !startTour){

                startTour = true;
                $('#divMainBody').animate({scrollTop: $('#txtBio').offset().top - 100}, 0);

                tourdata.push({
                    html: "Please complete your Biography",
                    element: "#txtBio",
                    position: "e",
                    live: 3000,
                    overlayOpacity: 0.4,
                    expose: "#txtBio",
                    onShow: function(element){

                        myTour.pause();

                        $('#txtBio').keyup(function(e){

                            hideTourMessages();
                                                        
                            if ( e.keyCode === 0 || e.keyCode === 32) {
                                $('#txtBio').val($('#txtBio').val() + ' ');
                            }

                            if($('#txtBio').val().length >= 10){
                                myTour.stop();
                            }else{
                                myTour.pause();
                            }

                            return true;
                        });
                    }                    
                });            
            }

            if( $('#txtLocation').val().length < 2 && !startTour){

                startTour = true;
                $('#divMainBody').animate({scrollTop: $('#txtLocation').offset().top - 100}, 0);

                tourdata.push({
                    html: "Please complete your Location",
                    element: "#txtLocation",
                    position: "e",
                    live: 10000,
                    overlayOpacity: 0.4,
                    expose: "#txtLocation",
                    onShow: function(element){

                        myTour.pause();

                        $('#txtLocation').keyup(function(e){

                            hideTourMessages();
                                                        
                            if ( e.keyCode === 0 || e.keyCode === 32) {
                                $('#txtLocation').val($('#txtLocation').val() + ' ');
                            }

                            if($('#txtLocation').val().length >= 3){
                                myTour.stop();
                            }else{
                                myTour.pause();
                            }

                            return true;
                        });
                    }                    
                    
                });            
            }



//            var tourdata2 = [{
//                    html: "Welcome ! <br> Let's complete your profile ",
//                    live: 1500,
//                    delayIn: 2000,
//                    overlayOpacity: 0.8
//                },
//                {
//                    html: "Complete your location, so that other Journalists will be able to find you",
//                    live: 4000,
//                    element: "#txtLocation",
//                    position: "n",
//                    expose: "#txtLocation",
//                    overlayOpacity: 0.9,
//                    onShow: function(element) {
//
//                    }                
//                },
//            ];

            if(startTour){
                myTour = jTour(tourdata, {showControls:false});            
                myTour.start();

            }else{
                //$('#divMainBody').animate({scrollTop: $(this).offset().top}, 800);
            }

    //        var myTour = jTour(tourdata,{
    //           autostart: true, //!getCookie('tourwasplayed'),
    //           onStop: function(){
    //              //set the cookie with value 1 (true) and expire date in 365 days
    //              setCookie('tourwasplayed', 1, 365);
    //           }
    //        });       



        }catch(err){
            console.log('Exception error - ' + err.message);
        }

    }       

    
</script>


<script src="<?php echo $this->serverUrl() . '/js/counter/counter.js' ?>"></script>


