<link href="<?php echo $this->baseUrl() . '/css/bootstrap.min.css' ?>" rel="stylesheet" type="text/css"/>

<script type="text/javascript">
     
    var clickFromButton = false;
    
    $(document).ready(function() {
        
        extendSideNav();   
        $('#divMainBody').removeClass('cuerpo');

        clickOnEditContent="<?php echo (isset($this->con_published))? 1: 0; ?>";
        
        if(parseInt(clickOnEditContent)>0)
          onEditContentClick(); 


    
    });
    
    function inviteJournalist(){

        operations.showSpinner('Sending');

        var data = $("#formInvite").serialize();

        data += "&method=invite";

        $.post('/main/journalists', data, function(response) {

            operations.hideSpinner();

            if(response.status == 401){
                operations.addError(response.errors);
            }

            if(response == null || response.status != 200){
                
                console.log(response);
                operations.showMessage('Error','error');
                
            }else{
                
                operations.showMessage('Sent','ok');
            }                

        }, 'json');

    }

    
</script>
    <div>
        <div>
            
            <!--<div class="content cuerpo">--> 
                
                <!--<div class="row no-margins">-->

                    <div id="divProfile" class="col-md-12 no-margins">                        
                    </div>    
                    
                    <div id="divImageCrop" class="col-md-12 no-margins">
                    </div>    
                    

                    <div id="divInvite" class="col-md-12 no-margins"  hidden="true">

                        <div class="page_content">

                                <h1>Invite a Journalist</h1>
                                <p class="short_text">We rely on our own journalists to bring trusted and passionate individuals who love to write about topics affecting their community. Please enter the journalist’s name and email below and we’ll send them an invite! </p>

                                <form id="formInvite"> 
                                    <br/><input type="text" class="in_style_02" id="txtName" name="txtName" placeholder="Name">
                                    <br/><input type="text" class="in_style_02" id="txtMail" name="txtMail" placeholder="E-mail">
                                    <br/><br/> 

                                    <input type="button" class="btn_submit" name="btnInvite" id="btnInvite" value="Send Invite" onclick="inviteJournalist()"> 
                                    <input type="Button" class="btn_cancel" id="btnCancel" name="btnCancel" value="Cancel">                             
                                </form><br><br><br>

                                <!-- ***************************************************************************************************** -->

                        </div>
                    </div>

                    <div id="menuBarContentType" class="category_menu_bg"></div>
                    <div id="divEditContent" class="col-md-12 no-margins" hidden="true">                        
                    </div>
                    
                    <div id="menuBarActivities" class="category_menu_bg"></div>
                    <div id="divActivities" class="col-md-12 no-margins" hidden="true">
                    </div>
                    <div id="divMessages" class="col-md-12 no-margins" hidden="true">
                    </div>
                    
                    <div id="divNotifications" class="col-md-12 no-margins">                        
                    </div>    
                    

                <!--</div>-->
            <!--</div> FIN content cuerpo -->
            
        </div>
    </div>


<script type="text/javascript">
    
    
    
$(document).ready(function () {  
    
    
 });
    

 
</script>