<link rel="import" href="/polymer/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/polymer/bower_components/paper-toolbar/paper-toolbar.html">


            <!--<div class="content cuerpo">--> 
                
                <!--<div class="row no-margins">-->
                <!--<div style="padding-top: 40px;">-->

<paper-header-panel mode="waterfall" class="col-xs-8 col-xs-offset-2 flex" style="height:1200px; padding-top: 40px;">
    
    <paper-toolbar style="background-color: #E48C00">
      <div id="progressBar" class="bottom fit"></div>
      <div>Grants and fellowships</div>
    </paper-toolbar>
    <div class="fit">
    

        
                    <div id="divResourceIndex" class="col-md-12" hidden="true"></div>                    
                    <div id="divMessages" class="col-md-12" hidden="true"></div>                    
                    <div id="divConnect" class="col-md-12" hidden="true"></div>                    
                    <div id="divDiscuss" class="col-md-12" hidden="true"></div>

    
    </div>
</paper-header-panel>
                    
                

                    
                <!--</div>-->
                <!--</div>-->
            <!--</div> FIN content cuerpo -->
           



<script type="text/javascript">
    
    
    
$(document).ready(function () {  
    
    extendSideNav();   
    $('#divMainBody').removeClass('cuerpo');
    
 });




    

 
</script>