
<!--<div class="box_thanks_contentainer" style="margin-left: 200px;">-->


<!--Requiered by WJ-784-->

<!--<div class="box_thanks_contentainer">
    
    <div class="box_thanks_title">
        <div class="box_det_right_top"></div>
        <h2><?php echo $this->title; ?></h2>
    </div>

    <div class="box_thanks_content">
        <div class="box_thanks_detail"></div>
        <h3 style="padding: 20px 20px 0 20px;" ><?php echo $this->verificationMessage; ?></h3>
        <a onclick="verificationViewProfile()" class="btn_back_home" style="width: 180px;">View Profile</a>
    </div>
</div>-->


<script type="text/javascript">
     
    $(document).ready(function() {
        
        //fix sidenav height
        extendSideNav();   
        goToProfile();
    });
    
    
    function verificationViewProfile(){
        
        /*Defined at header-toolbar*/
        //goToProfile();
    }
    
</script>