
    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modal-change-password">
            <div style="margin-top:-180px">
                
                <div>
                    <div class="wejo_box_01 wejo_box_portal">
                        
                        <div class="btn_box_close"><a href="#" onclick="closeModalPassword()"></a></div>
                        
                            <div class="wejo_box_01_body" style="height: 260px !important">
                                <div class="wejo_box_01_content">
                                    <p class="wejo_box_p_gray">Please complete the following fields</p>

                                    <form id="formChangePassword">

                                        <input type="password" class="in_box_style_01" id="txtCurrentPassword" name="txtCurrentPassword" placeholder="Current password">
                                        <input type="password" class="in_box_style_01" id="txtChangePassword" name="txtChangePassword" placeholder="New password">
                                        <input type="password" class="in_box_style_01" id="txtPasswordConfirm" name="txtPasswordConfirm" placeholder="Repeat new password">

                                        <br><br>               

                                        <input type="button" class="btn_login_black top-10" value="Change" onclick="changePassword()">

                                    </form>
                                </div>
                            </div>
                    </div>
                </div>                                    
            </div>
        </div>
    </div>




<script type="text/javascript">
    
    var modalPassword = null;


    function openModalPassword(){
        
        $("#txtChangePassword").val("");
        $("#txtCurrentPassword").val("");
        $("#txtPasswordConfirm").val("");
        
        modalPassword = $.remodal.lookup[$('[data-remodal-id=modal-change-password]').data('remodal')];
        modalPassword.open();
    }
    
    
    function closeModalPassword(){
        
        modalPassword.close();
    }   



    function changePassword(){

        var src="/main/users";

        var data =  'method=change.password&' + $("#formChangePassword").serialize();

        operations.showSpinner("Loading");

        $.post(src, data, function(response) {    

            operations.hideSpinner();

            var errors = JSON.stringify(response.errors);

            if(errors != "null"){

                errors = errors.split(":");

                var error = errors[1];

                error = error.slice(1,(error.length-4));

                alertify.error(error);

            }

            if(response.status === 200){

                modalPassword.close();

                alertify.success("Password has been changed");

            }else{  

                if(errors == null){
                    alertify.error("Server error, please try again");
                }

            }

        }, 'json'); 

    }  

</script>