
    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modalPublish">
            <div id="modalGlobal" style="margin-top:-180px">
                                                           
                    <div id="boxPortal">
                        <div class="wejo_box_01 wejo_box_portal">
                        
                            <div class="btn_box_close"><a onclick="closePublishModal()"></a></div>
                            
                            <div class="wejo_box_01_body wejo_box_portal_body">

                                <div class="wejo_box_01_content">

                                    <h5 style="text-transform: none">Once your content is published, deleting or editing will not be possible </h5>

                                    <input type="button" class="btn_request" id="btnCancelEndorse" value="Cancel"  onclick="closePublishModal()">

                                    <input type="button" class="btn_login_black top-10" id="btnConfirmEndorse" value="Continue" onclick="onConfirmPublishClick()" style="margin-top: 20px">

                                </div>
                                
                            </div>
                            
                        </div>    
                    </div>                      
                                                         
            </div>
        </div>
    </div>


<script type="text/javascript">
    
    var modalPublish = null;


    function openModalConfirmPublish(){
        
        modalPublish = $.remodal.lookup[$('[data-remodal-id=modalPublish]').data('remodal')];
        modalPublish.open();
    }
    
    function onConfirmPublishClick(){
        
        //defined in contents/create.phtml
        confirmSave(true);
        modalPublish.close();
    }
    
    function closePublishModal(){
        
        modalPublish.close();
    }       
    
</script>