
    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modal-confirm-tour">
            <div id="modalGlobal" style="margin-top:-180px">
                                                           
                    <div id="boxPortal">
                        <div class="wejo_box_01 wejo_box_portal">
                        
                            <div class="btn_box_close"><a onclick="closeModalTour()"></a></div>
                            
                            <div class="wejo_box_01_body wejo_box_portal_body">

                                <div class="wejo_box_01_content">

                                    <h5 style="text-transform: none">Seems like this is your first time here. Do you want to take a tour ?</h5>

                                    <input type="button" class="btn_request" id="btnCancelEndorse" value="Cancel"  onclick="closeModalTour()">

                                    <input type="button" class="btn_login_black top-10" id="btnConfirmEndorse" value="Continue" onclick="onConfirmTour()" style="margin-top: 20px">

                                </div>
                                
                            </div>
                            
                        </div>    
                    </div>                      
                                                         
            </div>
        </div>
    </div>


<script type="text/javascript">
    
    var modalPublish = null;


    function openModalConfirmTour(){
        
        modalPublish = $.remodal.lookup[$('[data-remodal-id=modal-confirm-tour]').data('remodal')];
        modalPublish.open();
    }
    
    function onConfirmTour(){
        
        initCreateContentTour();
        modalPublish.close();
    }
    
    function closeModalTour(){
        
        modalPublish.close();
    }       
    
</script>