
    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modal-profile-complete">
            <div style="margin-top:-180px">
                
                <div>
                    <div class="wejo_box_01 wejo_box_portal">
                        
                        <div class="btn_box_close"><a href="#" onclick="closeModalComplete()"></a></div>
                        
                            <div class="wejo_box_01_body" style="height: 260px !important">
                                <div class="wejo_box_01_content">
                                    <p class="wejo_box_p_gray" style="text-align:center; margin-top:10px;">You have completed your profile!</p>

                                    <form id="formChangePassword">

                                        <div class="space-35px"></div>
                                        <input type="button" class="btn_login_black top-10" id="btnMainPage" value="MAIN PAGE" onclick="goToMainPage()">

                                        <br><br>               

                                        <input type="button" class="btn_login_black top-10" id="btnCreateContent" value="CREATE CONTENT" onclick="goToCreateContent">

                                    </form>
                                </div>
                            </div>
                    </div>
                </div>                                    
            </div>
        </div>
    </div>



<script type="text/javascript">
    
    var modalComplete = null;

    function openModalComplete(){
        
        modalComplete = $.remodal.lookup[$('[data-remodal-id=modal-profile-complete]').data('remodal')];
        modalComplete.open();
    }
    
    
    function closeModalComplete(){
        
        modalComplete.close();
    }
    
    
    function goToMainPage(){

        window.location = '/main/contents/method/index';
    }              

    function goToCreateContent(){
        
    }             
    

</script>