
    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modal-restricted">
            <div style="margin-top:-180px">
                                                                               
                    <div class="wejo_box_01 wejo_box_portal">

                        <div class="btn_box_close"><a onclick="closeModalRestricted()"></a></div>

                        <div class="wejo_box_01_body wejo_box_portal_body">
                            <div class="wejo_box_01_content">

                                <br>

                                <p class="wejo_box_p_gray" style="text-align: center !important; font-size:11pt; line-height: 14pt">This functionality is temporarily disabled until we validate your account.</p>

                                <p class="wejo_box_p_gray" style="text-align: center !important; font-size:11pt; line-height: 14pt">In the meantime, feel free to browse Jouture, we would love to hear your feedback.</p>

                                <p class="wejo_box_p_gray" style="text-align: center !important; font-size:11pt; line-height: 14pt">Thank you for your patience</p>

                            </div>
                        </div>

                    </div>    
                                        
            </div>
        </div>
    </div>


<script type="text/javascript">
    
    var modalRestricted = null;

    $(document).on('open', '.remodal', function () {
        
    });    


    function openModalRestricted(){
        
        modalRestricted = $.remodal.lookup[$('[data-remodal-id=modal-restricted]').data('remodal')];
        modalRestricted.open();
    }
    
    
    function closeModalRestricted(){
        
        modalRestricted.close();
    }           

</script>