
    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modal-skip-twitter">
            <div style="margin-top:-180px">
                
                <div>
                    <div class="wejo_box_01 wejo_box_portal">
                        
                        <div class="btn_box_close"><a href="#" onclick="closeModalSkipTwitter()"></a></div>
                        
                            <div class="wejo_box_01_body" style="height: 260px !important">
                                <div class="wejo_box_01_content">
                                    <p class="wejo_box_p_gray" style="text-align:center; margin-bottom:5px; line-height:20px !important">Connecting Twitter adds to your credibility and branding. <br><br> Do you have a Twitter Account?</p>

                                    <form id="formChangePassword">

                                        <input type="button" class="btn_login_black top-10" id="btnMainPage" value="Yes" onclick="doesHaveTwitter()">

                                        <br><br>               

                                        <input type="button" class="btn_login_black top-10" id="btnCreateContent" value="No" onclick="doesNotHaveTwitter()">

                                    </form>
                                </div>
                            </div>
                    </div>
                </div>                                    
            </div>
        </div>
    </div>



<script type="text/javascript">
    
    var modalSkipTwitter = null;

    function openModalSkipTwitter(){
        
        modalSkipTwitter = $.remodal.lookup[$('[data-remodal-id=modal-skip-twitter]').data('remodal')];
        modalSkipTwitter.open();
    }
    
    
    function closeModalSkipTwitter(){
        
        modalSkipTwitter.close();
    }
    
    
    function doesHaveTwitter(){
        
        closeModalSkipTwitter();
        initTour();
    }              

    function doesNotHaveTwitter(){        
        
        closeModalSkipTwitter(); 
        operations.showSpinner('Saving..');
        
        var url = '/main/users/';
        var data = {method: 'skip.twitter'};
        $.post(url, data, function(response) {
            skipTwitterCallback(response);
        }, 'json');

    }       


    function skipTwitterCallback(response){
        
        operations.hideSpinner();
                
        if(response.status != 200){
            operations.showMessage('Error', 'error');
            console.log(response.message);
            return true;
        }
        
        operations.showMessage('Saved', 'ok');
                         
        //reload profile page
        var url = "<?php echo $this->serverUrl() . '/main/users/method/profile' ?>";        
        $('#divProfile').load(url);
                
        //Update progress tracker
        profileCompleted = setProgressTracker();               
        if(profileCompleted){
            showCompleteMessage();
        }                                
    }
    

</script>