<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<dom-module id="in-checkbox">
    <style>
        .content-checkbox {
            margin-top: 30px;
        }
        .content-checkbox .horizontal-section{
            margin-top: 10px;
        }
        .label-radio-button{
            color: #757575;
            font-family: 'Roboto', 'Noto', sans-serif;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
        paper-checkbox{
            margin-right: 20px;
            margin-top: 10px;
        }
    </style>
    <template>
        <div class="content-checkbox">
            <span class="label-radio-button">{{label}}</span>
            <div class="horizontal-section" id="{{id}}">
                <template is="dom-repeat" items="{{items}}" as="item" id="dynamicComponent">
                    <paper-checkbox style="width: 150px" id="{{item.id}}" checked="{{item.checked}}">{{item.value}}</paper-checkbox>
                </template>
            </div>
            <div class='row form-invalid'></div>
        </div>
    </template>

    <script>
        Polymer({
            is: "in-checkbox",
            properties:{
                data:String,
                prop: String,
                showLabel: String
            },
            ready: function () {
                var data=JSON.parse(this.data);
                this.items = data.items;
                this.id = data.id;

                if(this.showLabel == "1"){
                    this.label = data.label;
                }

                var properties = false;

                if(this.prop != ""){
                    properties = JSON.parse(this.prop).properties;
                }

                if(properties){
                   $.each(properties, function(){
                       var el = $(this.element);
                       var el_properties = this.properties;
                       $.each(el_properties, function(){
                           for (var p in this){
                               if(p == 'class'){
                                   el.addClass(this[p]);
                               }else{
                                   el.attr(p, this[p]);
                               }
                           }
                       });
                   });
               }
            },
              selectionChanged: function(e) {
                this.selection = this.$.dynamicComponent.itemForElement(e.target).id;
            }
        })
    </script>
</dom-module>