  





<style type="text/css">
    
.searcher {
    border-bottom: 1px solid lightgray !important;
}

.btn-tooltip span {
	font-size: 13px;
        color: white;
	background: #272822;
	position: absolute;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 0 10px;
	margin: 90px 0 30px 0px;
	display: none;
	white-space: nowrap;
}

.btn-tooltip:hover span{
	display: block;
	-moz-animation: action .5s forwards;
  	-webkit-animation: action .5s forwards;
}


</style>


<script type="text/javascript">

$(document).ready(function () {
    
    $(".slide_searcher").keyup(function () {
        $(this).next().toggle(Boolean($(this).val()));
    });
    
    $(".search-clear-toolbar").toggle(Boolean($(".slide_searcher").val()));
    
    $(".search-clear-toolbar").click(function () {
        $(this).prev().val('').focus();
        $(this).hide();
        filter = "";
        hideSearcher();
        onSearchClick();
    });    
    
});

</script>



        <div class="row no-margins" id="divHeaderContent">
            <div class="col-md-12 header_content">
                <div class="col-md-12 header_1 no-margins">

                    <div class="header_logo">
                        <a onclick="onLogoJoutureClick()"><img src="<?php echo $this->baseUrl() . '/images/logo.png' ?>" alt="Jouture"></a>
                    </div>
                    
                    <div class="searcher" style="margin-left:15px;">       
                        <form action="#" name="form-search" id="form-search" onkeypress="onSearchKeyPress(event)">
                            
                            <div class="desplegar">
                                <input id="slideSearcher" type="search" class="slide_searcher" autocomplete="off" placeholder="Search..." style="display: block; padding-left: 0px; padding-right: 0px; width: 0px;"> 
                                <span id="searchclear" class="search-clear-toolbar glyphicon glyphicon-remove"></span>
                            </div><!-- fin .desplegar -->
                                <input type="button" name="btnSearch2" id="btnSearch2" class="bt-search2">
                                <!--<input type="text" class="slide_searcher" id="slideSearcher" placeholder="Search..." style="display: block; padding-left: 0px; padding-right: 0px; width: 0px;">-->
                            

                        </form>
                    </div>




<?php                                 
        if( Main_Model_User::getSession(Main_Model_User::USER_ROLE) >= Main_Model_Role::JOURNALIST_ROLE_ID ){
                                    
?>
                    <div class="menunav">
                        <ul>
                            <div class="toolbar_buttons elementHideShow">                                
                                <li class="">
                                    <a id="btnCreateContent" class="btn-nav-01 btn-tooltip" onclick="onCreateClick()">
                                        <span class="tooltip">Create</span>
                                    </a>
                                </li>
                                
                                <li class="">
                                    <a id="btnTools" class="btn-nav-02 btn-tooltip" onclick="onToolsClick()">
                                        <span class="tooltip">Toolkit</span>                                        
                                    </a>
                                </li>

                                
                                <li class="slideDownBtn">                                
                                    <a id="btnNotify" class="btn-nav-03" onclick="onNotifyClick()">
                                        <span id="notifyNum" class="not_indicator" hidden="hidden"></span>                                    
                                    </a>
                                    <div class="flyout" id="flyout" style="display: none">
                                        <span id="tip"></span>
                                        <h2>NOTIFICATIONS</h2>
                                        <div id="divAjaxLoader" style="height: 100%; display: none"></div>
                                        <div id="markAllRead" class="col-xs-12" style="display: none"><span class="btn-all-read">Mark All Read</span></div>
                                        <ul id="listNotifications" style="display: none">
                                            
                                        </ul>    
                                    </div>
                                </li>
                                <li class="slideDownBtn" id="pplMenu"><a id="btnSettings" class="btn-nav-05" onclick="onAccountClick(event)"></a>
                                    <ul id="settingSubMenu" class="subMenu" style="display: none;">
                                        <li class="up_arrow"><img src="/images/arrow-up.png" alt=""></li>
                                        <div class="shadow_box">                                        
                                            <li onclick="onAccountClick()"><a>Account Settings</a></li>
                                            <li onclick="onOutClick()"><a>Log out</a></li>                                        
                                        </div>
                                    </ul>                            
                                </li>
                            </div><!-- FIN toolbar_buttons-->
                            <li><a href="#" class="btn-nav-07 btnHideShow" id="btn-nav-07"></a></li>
                        </ul>
                        
                    </div><!-- FIN menunav -->
                    
<?php 
        }else {
?>                                               
                    
                    <div class="menunav">
                        <ul>
                            <div class="toolbar_buttons elementHideShow">                                
                            
                            <li class="slideDownBtn">                                
                                <a id="btnNotify" class="btn-nav-03" onclick="onNotifyClick()">
                                    <span id="notifyNum" class="not_indicator" hidden="hidden"></span>                                    
                                </a>
                                <div class="flyout" id="flyout" style="display: none">
                                    <span id="tip"></span>
                                    <h2>NOTIFICATIONS</h2>

                                    <ul id="listNotifications">
                                    </ul>    
                                </div>
                            </li>
                            <li class="slideDownBtn" id="pplMenu"><a id="btnSettings" class="btn-nav-05" onclick="onSettingsClick(event)"></a>
                                <ul id="settingSubMenu" class="subMenu" style="display: none;">
                                    <li class="up_arrow"><img src="/images/arrow-up.png" alt=""></li>                                    
                                    <div class="shadow_box">
                                        
                                    <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>
                                        
                                        <li onclick="onAccountClick()"><a>Account Settings</a></li>
                                        <li onclick="onOutClick()"><a>Log out</a></li>
                                        
                                    <?php }else{ ?>
                                        
                                        <li onclick="onAccountClick()"><a>Account Settings</a></li>
                                        <li onclick="openModalPortal()"><a>Login</a></li>
                                        
                                    <?php } ?>                                                                                                              
                                        
                                    </div>
                                </ul>                            
                            </li>
                            </div><!-- FIN toolbar_buttons-->
                            <li><a href="#" class="btn-nav-07 btnHideShow" id="btn-nav-07"></a></li>
                        </ul>
                        
                    </div><!-- FIN menunav -->
<?php 
        }
?>                            
                    
                    
                   
                    <div class="user_profile" id="divUserProfile" onclick="goToActivities()">
                        <?php //if (!Main_Model_User::getSession(Main_Model_User::USER_IS_TWITTER_VERIFIED)){ ?>
<!--                        <span class="user_name">Please <a href="#" onclick="verifyUser();">verify</a> your twitter account</span>-->
                        <?php //} ?>
                        <img id="imageProfileHeader" src="<?php echo $this->serverUrl() . '/main/uploads/method/get.image?file=/thumbnail/' . Main_Model_User::getSession(Main_Model_User::USER_PIC); ?>"
                             class="user_Pic" alt="This is you !">
                        <span class="user_name"><?php echo Main_Model_User::getSession(Main_Model_User::USER_NAME); ?></span>

                    </div>
                    
                </div><!-- FIN header_1 -->

            </div><!-- FIN col-md-12 header_1 -->
        </div><!-- FIN Row -->

        
<?php
    
    # IF GUEST ROLE - login / sign up when trying to access user's functionalities
    if(!Main_Model_User::getSession(Main_Model_User::USER_ID))
        echo $this->render('/access/portal.phtml');
    
    # Access restricted message when the user's accoutn has not been accepted yet
    if( !Main_Model_User::getSession(Main_Model_User::USER_ACCEPTED))
        echo $this->render('/modals/restricted.phtml');
    
    if(Main_Model_User::getSession(Main_Model_User::USER_ROLE >= Main_Model_Role::JOURNALIST_ROLE_ID))
        echo $this->render('/modals/confirm-publish.phtml');
    
    
    echo $this->render('/modals/change-password.phtml');
    echo $this->render('/modals/confirm-tour.phtml');
    echo $this->render('/modals/profile-complete.phtml');
    echo $this->render('/modals/skip-twitter.phtml');
?>
        
        
                                        
<script type="text/javascript">
    
    var notifyLoaded = false; 
    var timerNotify;
    var lastNotificationCount = 0;
    
    var filter = "";
    var actionSearch = false;
    var sectionSearch = "home";
    
    $(document).on('ready', function() {
        
        if(typeof oHomeState !== 'object'){
            
            var oHomeState;
        }

        
        $("#form-search").submit(function( event ) {
            event.preventDefault();
        });
        
        $("#searchclear").on("click", function(){
            
           filter = false;
           
           onSearchClick();
            
        });
        
        $("#slideSearcher").on("keyup", function(){
            
            filter = $("#slideSearcher").val();
            
            if(filter == '' && actionSearch == true){
                onSearchClick();
                actionSearch = false;
            }
            
        });
        
        $('window').keydown(function(event){
            
            if(event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });
        
        $('html').click(function() {
            $('#settingSubMenu').hide();
        });
        
        <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>
        
            timerNotify = $.timer(function() {
                
                notifyUpdateCount();
            });

            timerNotify.set({ time : 10000, autostart : false });
            timerNotify.play(true);

        <?php } ?>         
        
        $("#markAllRead span").on("click", function(e){
           e.preventDefault();
           markNotificationRead("all");
           e.stopPropagation();
        });
        
    });
    

    <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>

        function notifyUpdateCount(){

            if(notifyLoaded)
                return true; 
            
            timerNotify.stop();

            url = '/main/activities/method/get.news.count';
            
            try{
                $.get(url, null, function(response) {

                    obj = JSON.parse(response);

                    if(obj.status !== 200)
                        return false;


                    if(obj.data.newsCount !== '0'){ 

                        if(obj.data.newsCount > lastNotificationCount){

                            lastNotificationCount = obj.data.newsCount;                        
                            $('#notifyNum').html(obj.data.newsCount);
                            $('#notifyNum').show();

                        }

                        <?php if (!Main_Model_User::getSession(Main_Model_User::USER_IS_TWITTER_VERIFIED)){ ?>

                            onNotifyClick();

                        <?php }

                        if (empty(Main_Model_User::getSession(Main_Model_User::USER_BIO)) || is_null(Main_Model_User::getSession(Main_Model_User::USER_BIO))){ ?>

                            onNotifyClick();

                        <?php }?>

                    }

                    timerNotify.play(true);
                });

            }catch(err){
            
                console.log('Trying to get notifications counter' + err.message)
                
            }    
            
            
        }


        function notifyRead(){
            
            if($('#notifyNum').html() === '' || $('#notifyNum').html() === '0')
                return true;            

            $('#notifyNum').hide();
            $('#notifyNum').html('0');
        }
    
    <?php } ?>        
    
    
    function goToActivities(){
        
        <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>
                
            var url = '<?php echo $this->serverUrl() . '/main/users/method/settings' ?>';
            $('#divMainBody').load(url, function(){
                
                setProfileMenu();
                onActivitiesClick();
                oHomeState.page = oPages.account;
                setFilterAccount(oHomeState.filterAccount);            
            });
            
        <?php } else { ?>       
            
            //This function is defined in portal.phtml
            openModalPortal();
            
        <?php } ?>            
    }
    
    function onToolsClick(){
        
        <?php if( !Main_Model_User::getSession(Main_Model_User::USER_ACCEPTED)){ ?>        
                
            openModalRestricted();
            return;
            
        <?php } ?>             
        
        <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>
                           
            removeAllSelected();
            $('#btnTools').addClass('selected');
            
            var url = '<?php echo $this->serverUrl() . '/main/users/method/toolbox' ?>';
            $('#divMainBody').load(url, function(){
                                
                oHomeState.page = oPages.tools;
                setFilterTools(oHomeState.filterTools);
                
            });
                        
        <?php } else { ?>
            
            //This function is defined in portal.phtml
            openModalPortal();
            
        <?php } ?>            
        
    }
    
    function hideNotifications(){
        
        if(!notifyLoaded)
            return true;
        
        $('#flyout').hide();
        $('#btnNotify').removeClass('selected');
        notifyLoaded = false;
        $("#markAllRead").hide();
    }    
    
    
    function isProfilePageVisible(){
        
        var eProfile = document.getElementById("divProfile");
        if(!eProfile)
            return false;
        
        if(eProfile.offsetHeight > 0)
            return true;
        
        return false;
    }
    
    function onNotifyClick(){
        
        <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>
                
            // Do not show in the account page
            if(isProfilePageVisible())
                return true;
//            if(oHomeState.page === oPages.account)
//                return true;
         
            $('#listNotifications').empty();
         
            removeAllSelected();

            if(notifyLoaded){  
                hideNotifications();
                return true;
            }

            var url = '/main/activities/method/get.my.notifications';

            $('#btnNotify').addClass('selected');
            
            $('#divAjaxLoader').show();
            var loaderContainer = $('#divAjaxLoader');

            $('#flyout').show();
            new ajaxLoader(loaderContainer);
            
            $('#listNotifications').load(url, function(){

                $("#listNotifications").find("a").each(function(){
                    if($(this).hasClass("unread")){
                        $("#markAllRead").show();
                    }
                });
                
                $('#divAjaxLoader').empty();
                $('#divAjaxLoader').hide();
                
                notifyLoaded = true;
                $('#notifyNum').hide();
                $('#flyout').show();
                
                var listChildren = $('#listNotifications').children(); 
                var qtyChildren = listChildren.size();
                var listHeight = 0;
                
                if((qtyChildren-1)*75 > 510)
                    listHeight = 510;
                else
                    listHeight = (qtyChildren-1)*75;
                
                document.getElementById("listNotifications").style.height = listHeight + 'px';
                document.getElementById("flyout").style.height = (listHeight + 60) + 'px';
                
                $('#listNotifications').show();
                
                notifyRead();
            });   

        <?php } else { ?>
            
            //This function is defined in portal.phtml
            openModalPortal();
            
        <?php } ?>
    }
    
    
    function onAnalyticsClick(){
              
    }
        
    function onCreateClick(){

        <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>

            removeAllSelected();                
            var url = '<?php echo $this->serverUrl() . '/main/contents/method/create' ?>';
            
            $('#btnCreateContent').addClass('selected');
            $('#sidenav').empty();        
            $('#divMainBody').empty();        
            $('#divMainBody').html('');
            $('#divMainBody').load(url);
            
            oHomeState.page = oPages.write;
            saveHistoryState(oHomeState, null, oHomeState.url);

                       
        <?php } else { ?>
           
            //This function is defined in portal.phtml
            openModalPortal();
           
        <?php } ?>            
    }        
    
    function onSearchClick(){
        
        actionSearch = true;
        
        filter = $("#slideSearcher").val();
        
        filter = filter.replace(/\s/g,"%20");
        
        switch(sectionSearch) {
            case "home":
                $("#btnHideMap").mousedown();
                var event = $(".category_menu_focused a").attr("onclick").slice(0,-3);
                console.log(event);
                window[event](oHomeState.contentType);
                break;
            case "indexJournalist":
                $(".sidenav_journalist .selected").trigger("click");
                break;
            default:
                console.log("not found");
        }
        
    }
    
    function onSearchKeyPress(event){
        
        if(event.keyCode !== 13)
            return false;        
        
        onSearchClick();
    }
    
    function onSettingsClick(event){
       
        $('#settingSubMenu').show();
        event.stopPropagation();        
    }
    
    function onAccountClick(){

        goToProfile();
    }
    
    
    /*This is called from notifications also, for validating twitter and complete biography*/
    function goToProfile(){
        
        <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>
            
            operations.showSpinner('Loading');
            $('#settingSubMenu').hide();
            var url = '<?php echo $this->serverUrl() . '/main/users/method/settings' ?>';
            $('#divMainBody').load(url, function(){
                
                operations.hideSpinner();
                setSettingsMenu();
                oHomeState.page = oPages.account;
                setFilterAccount(oFilterAccount.settings);
            });
            
        <?php } else { ?>            
            
            //This function is defined in portal.phtml
            openModalPortal();
         
        <?php } ?>            
    }
    
    
    function onOutClick(){
                
        var data = "method=logout";
        
        $.post('/default/login/', data, function(response) {
            
            if(response.status == 405)
               alert("Error en el servidor! No autorizado");
                    
            if(response.status == 200)
               window.location = '/';

        }, 'json');
        
        $('#settingSubMenu').hide();
    }
    
    function removeAllSelected(){                        
        
        $('#btnCreateContent').removeClass('selected');
        $('#btnTools').removeClass('selected');
        $('#btnNotify').removeClass('selected');
        $('#btnSettings').removeClass('selected');
    
    }


    /* DESPLEGAR SUBMENU */

    var btnToolMenu = $('.btnHideShow');
    var elementHideShow = $('.elementHideShow');
    btnToolMenu.click(downToolMenu)

    function downToolMenu() {

        elementHideShow.slideDown("fast", function(){
            btnToolMenu.unbind("click");
            btnToolMenu.click(upToolMenu)
        });

    };

    function upToolMenu() {

        elementHideShow.slideUp("fast", function(){
            btnToolMenu.unbind("click");
            btnToolMenu.click(downToolMenu)
        });

    };

    $(window).resize(function() {

        var winWidth = $(window).width();
        
        if(winWidth <= 991) {
            elementHideShow.css("display", "none");
            btnToolMenu.unbind("click");
            btnToolMenu.click(downToolMenu)
        } else {
            elementHideShow.css("display", "block");
            btnToolMenu.unbind("click");
            btnToolMenu.click(upToolMenu)
        }

        
    });
    
    function onLogoJoutureClick(){
        
        var serverUrl = '<?php echo $this->serverUrl()?>';        
        
        if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
            mixpanel.track("Jouture logo clicked");
        
        window.location = '/main/contents/index';
    }




// ************** PUSH STATE ************* //
// ************** PUSH STATE ************* //
// ************** PUSH STATE ************* //
// ************** PUSH STATE ************* //
// ************** PUSH STATE ************* //
// ************** PUSH STATE ************* //
// ************** PUSH STATE ************* //

    //Fired when using the back and forward browser's buttons
    
    window.addEventListener('popstate', popStateHomeListener);


    var oPages = {
        map: 'map', tools: 'tools', account: 'account', write: 'write', profile: 'profile'
    };
    
    oFilterTools = {
        resource: 'resource', messages: 'messages', connect: 'connect', discuss: 'discuss'
    };
    
    oFilterAccount = {
        settings: 'settings', invite: 'invite', profile:'profile', draft:'draft', published:'published', 
        incognito:'incognito', notifications:'notifications', payments:'payments', analytics:'analytics'
    };
    
    oFilterProfile = {
        profile:'profile', drafts:'drafts', published:'published'
    };
    
    oFilterProfileTop = {
        follows:'follows', readings:'readings', downloads:'downloads'
    };
    
    //Keep the page state in order to do back and forward    
    var oHomeState = {        
        url: "/main/contents/index",
        filterLeft: "<?php echo Main_Model_Content::FILTER_LATEST; ?>",
        contentType: <?php echo Main_Model_Content::TYPE_ARTICLE; ?>,
        page: oPages.map,
        filterTools: oFilterTools.resource,
        filterAccount: oFilterAccount.settings
    };

    var isHistoryFired = false;
    
    
    function popStateHomeListener(event){
        
        if(event.state === null)
            return true;        
        
        console.log('popStateHomeListener() - ' + JSON.stringify(event.state));
        
        //If we are currently in another page and the next one is the map, then redirect
        if(event.state.page && event.state.page === oPages.map && oHomeState.page !== oPages.map)
            window.location = '/main/contents/index';
                
        //Set the previous state as the current one in the oHomeState
        oHomeState = event.state;
        isHistoryFired = true;                
        
        switch(oHomeState.page){
            
            case oPages.map:
                initHomePage();
                break;
                
            case oPages.tools:
                initToolsPage();
                break;
                
            case oPages.write:
                initWritePage();
                break;                
                
            case oPages.account:
                initAccountPage();
                break;                                
        } 
    }    



    function initHomePage(){
        
        //Set the left filer button as active
        setFilter(oHomeState.filterLeft);        
        
        //Set the content type filter and load content - contents/index.phtml
        setContentType(oHomeState.contentType);
        
        //Prevents doing a new pushState when loading content fired by history (back/forward)            
        //isHistoryFired = false;
    }
    
    function initToolsPage(){
        onToolsClick();
    }
    
    function initWritePage(){
        onCreateClick();
    }
    
    function initAccountPage(){
        onAccountClick();
    }




    function saveHistoryState(objState, message, url){

        if(isHistoryFired){
            
            isHistoryFired = false;
            return true;
        }

        console.log('saveHistoryState() - ' + JSON.stringify(objState));
        history.pushState(objState, message, url);        
    }






/*
 * Creates and inserts an ajax loader for ajax calls / timed events 
 * Used in notifications pop up
 */
function ajaxLoader (el, options) {
	// Becomes this.options
	var defaults = {
		bgColor 		: '#fff',
		duration		: 800,
		opacity			: 0.7,
		classOveride 	: false
	}
	this.options 	= jQuery.extend(defaults, options);
	this.container 	= $(el);
	
	this.init = function() {
		var container = this.container;
		// Delete any other loaders
		this.remove(); 
		// Create the overlay 
		var overlay = $('<div></div>').css({
				'background-color': this.options.bgColor,
				'opacity':this.options.opacity,
				'width':container.width(),
				'height':container.height(),
				'position':'absolute',
				'top':'0px',
				'left':'0px',
				'z-index':99999
		}).addClass('ajax_overlay');
		// add an overiding class name to set new loader style 
		if (this.options.classOveride) {
			overlay.addClass(this.options.classOveride);
		}
		// insert overlay and loader into DOM 
		container.append(
			overlay.append(
				$('<div></div>').addClass('ajax_loader')
			).fadeIn(this.options.duration)
		);
    };
	
	this.remove = function(){
		var overlay = this.container.children(".ajax_overlay");
		if (overlay.length) {
			overlay.fadeOut(this.options.classOveride, function() {
				overlay.remove();
			});
		}	
	}

    this.init();
}	
	

 </script>