
<!--BORRAR SI NO SE USA-->

<li class="hide_801"><a id="btnCreateContent" class="btn-nav-01" onclick="onCreateClick()"></a></li>
<li class="hide_801"><a href="#" class="btn-nav-02"></a></li>
<li class="hide_801"><a href="#" class="btn-nav-03"></a></li>
<li class="hide_801"><a href="#" class="btn-nav-04"></a></li>
<li class="hide_801"><a href="#" class="btn-nav-05"></a></li>