<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="WEJO Description">
    <meta name="author" content="Name of Desiners">
        
    <title>Jouture</title>
               
    <?php echo $this->headLink()->appendStylesheet('//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800') ?>
    <?php echo $this->headLink()->appendStylesheet('//fonts.googleapis.com/css?family=Oswald:400,300,700') ?>
    
<!--    <script src="//load.sumome.com/" data-sumo-site-id="712da01b82c93ee16cb7b49a16ced6a2e45e8e529ff9f8b5ec052285fd7f84d9" async></script>-->
    
<!--dmaian@jouture.com-->
        <script src="//load.sumome.com/" data-sumo-site-id="6e385d62b8c4f7351a8a696a562167ed0f7b2bac608ce42cc86a6eae341bc614" async="async"></script>        
    
    
    <!-- start Mixpanel -->
<!--    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("1c1b0d845d0bfa0edfa1ee9f3717dc6d");</script>-->
    <!-- end Mixpanel -->    

</head>
    
<body>
    
    
    <div id="wejo-sidebar-left">
        <?php echo $this->layout()->sidebarLeft ?>
    </div>

    <div id="content-content">    
        <?php echo $this->layout()->content ?>
    </div>

    <div id="wejo-footer">
        <?php //echo $this->layout()->footer ?>
    </div>    
 
</body>
    
    
</html>

<script>

    var globalMixpanelActive = false;
    
    
</script>