<!DOCTYPE html>
<?php

    $http = ($_SERVER['HTTPS'] !="" ? "https" : "http") . "://";
    
?>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">

<head>
<title>Jouture rediscover the world</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

<!-- PROBANDO -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- PROBANDO -->
    
<meta name="google-site-verification" content="ICSRCwoN4CiS1ZhqMoiLTmBRtXiAek9AcRaYE0WmmkY" />
<meta name="author" content="<?php echo $this->layout()->metaCreator?>">
<meta http-equiv="Content-Language" content="en-US" />
<!--ESTO ESTABA HACIENDO EL AUTOREFRESH CADA 10 Minutos, 600 SEGUNDO-->
<!--<meta http-equiv="refresh" content="600" />-->
<meta name="description" content="<?php echo $this->layout()->metaDescription?>" />
<meta name="keywords" content="<?php echo $this->layout()->metaTitle?>" />
<meta name="googlebot" content="index,follow"/>
<meta name="robots" content="index,follow"/>
<!-- OG Meta tags -->
<meta property="og:title" content="<?php echo $this->layout()->metaTitle?>" /> 
<meta property="og:type" content='article' /> 
<meta property="og:url" content="<?php echo $this->layout()->metaUrl?>" />
<meta property="og:site_name" content="Jouture"/>
<meta property="og:image" content="<?php echo $this->layout()->metaImg?>" />
<meta property="og:image:height" content="300" />
<meta property="og:image:width" content="300" />


<?php if($this->layout()->metaVideo != "" && $this->layout()->metaVideo != null){ ?>

    <meta property="og:video" content="<?php echo $this->layout()->metaVideo?>" />
    
<?php } ?>
    
<meta property="og:description"  content="<?php echo $this->layout()->metaDescription?>" /> 
<meta property="og:determiner" content="auto" />
<meta property="og:locale" content="en_US" />
<meta property="fb:app_id" content="665334043554238"/>
<!-- Twitter Meta tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Jouture">
<meta name="twitter:title" value="<?php echo $this->layout()->metaTitle?>">
<meta name="twitter:description" value="<?php echo $this->layout()->metaDescription?>">
<meta name="twitter:creator" content="<?php echo $this->layout()->metaCreator?>">
<meta name="twitter:image:src" content="<?php echo $this->layout()->metaImg?>">
<meta name="twitter:domain" content="<?php echo $this->layout()->metaDomain?>">

<link rel="icon" type="image/png" href="<?php echo $this->serverUrl() . '/images/favicon.png' ?>"/>

<?php echo $this->headLink()->appendStylesheet($http . 'fonts.googleapis.com/css?family=Open+Sans:400,600,700,800') ?>
<?php echo $this->headLink()->appendStylesheet($http . 'fonts.googleapis.com/css?family=Oswald') ?>
        
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/tour/jTour.js"></script>

<script type="text/javascript" src="/js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="/js/jquery.geocomplete.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="/js/iosOverlay.js"></script>
<script type="text/javascript" src="/js/spin.min.js"></script>
<script type="text/javascript" src="/js/map.custom.js"></script>
<script type="text/javascript" src="/js/funciones.js"></script>
<script type="text/javascript" src="/js/wejo.js"></script>
<script type="text/javascript" src="/js/timer/jquery.timer.js"></script>
<script type="text/javascript" src="/js/alertify/alertify.min.js"></script>
    

<script src="<?php echo $this->serverUrl() . '/polymer/bower_components/webcomponentsjs/webcomponents.min.js' ?>"></script>
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-ajax/iron-ajax.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-spinner/paper-spinner.html' ?>">




    
    <!-- SUMOME - current registration-->
<!--mo@jouture.com-->
<!--        <script src="//load.sumome.com/" data-sumo-site-id="712da01b82c93ee16cb7b49a16ced6a2e45e8e529ff9f8b5ec052285fd7f84d9" async></script>-->
        
<!--dmaian@jouture.com-->
<!--        <script src="//load.sumome.com/" data-sumo-site-id="6e385d62b8c4f7351a8a696a562167ed0f7b2bac608ce42cc86a6eae341bc614" async="async"></script>        -->



    <!-- Mixpanel -->
<!--        <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
    mixpanel.init("1c1b0d845d0bfa0edfa1ee9f3717dc6d");</script>-->
    <!-- Mixpanel -->
    
    
    
    
    
    
    

</head>
 

<body style="overflow: hidden;" onclick="onBodyClick()">
    
    <?php $this->analytics(); ?>    
    
    <div id="fb-root"></div>
    
    <script type="text/javascript">
        
        var globalMixpanelActive = false;
        
        window.fbAsyncInit = function() {
            FB.init({
              appId      : '665334043554238',
              xfbml      : true,
              version    : 'v2.1'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            //js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=665334043554238&version=v2.0";
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
            
    </script>
    
    <!--<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->
    
    
    <div style="position: relative; z-index:9900" id="wejo-header">        
        <?php echo  $this->render('header-toolbar.phtml'); ?>                
    </div>

    <div id="sidebar" name="sidebar">
        <?php echo $this->layout()->sidebar ?>
    </div>

    
<!--    <div class="content" style="overflow-y: scroll" id="divScrollContent"> 
        <div class="row no-margins">-->

            <div id="divMainBody" style="background-color: #FAFAFA">                
                <div id="divMainContent">
                                        
                    <?php echo $this->layout()->journalistColumn ?>                    
                    <?php echo $this->layout()->content ?>        

                </div>
            </div>

<!--        </div>  
    </div>      -->
    

<!-- begin olark code -->
<!--
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('4015-468-10-4729');/*]]>*/</script><noscript><a href="https://www.olark.com/site/4015-468-10-4729/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
-->
<!-- end olark code -->    
    
                        
</body>
    
    
</html>

<!--This has to be here in order to work modal-->
<script type="text/javascript" src="<?php echo $this->baseUrl() .'/js/jquery.remodal.js'?>"></script>

<script type="text/javascript">
    
    function onBodyClick(){
        hideNotifications();
    }
    
</script>
