<script type="text/javascript">

 $(document).ready(function () {
        
          $('#myModal').modal({ keyboard: true, show:true });     

        });

$('html').click(function() {
    
        document.location.href='/nucleo/home/index';

});

</script>

<META HTTP-EQUIV="REFRESH" CONTENT="3;URL=/nucleo/home/index"> 


<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Acceso Denegado!!</h3>
  </div>
  <div class="modal-body">
    <p>Usted no se encuentra autorizado para acceder a la página solicitada. En segundos será redirigido.</p>
  </div>
</div>

