
    <div class="btn_box_close"><a onclick="closeModalPortal()"></a></div>

    <div class="wejo_box_01_body" style="height: 260px !important" onkeypress="onLoginKeyPress(event)">
        <div class="wejo_box_01_content">
            <p class="wejo_box_p_gray">Please complete the following fields</p>

            <form id="formLogin">

                <input type="text" class="in_box_style_01" id="txtEmail" name="txtEmail" placeholder="Email">
                <input type="password" class="in_box_style_01" id="txtUserPassword" name="txtUserPassword" placeholder="Password">

    <br><br>               

            <input type="button" class="btn_login_black top-10" id="btnLoginFinish" value="Finish" onclick="login()">

            </form>
        </div>
    </div>



<script type="text/javascript">
    
    function onLoginKeyPress(event){
        
        if(event.keyCode === 13)
            login();         
    }
    
    
    function login(){

        var data = $("#formLogin").serialize();

        data += "&method=authenticate";

        $.post('/default/login', data, function(response) {

            if(response == null)
                alertify.error("Server error, please try again");

            if(response.status == 200)
                window.location = '/main/contents/index/';
            else
                alertify.error("User or password is not correct");


        }, 'json');

    }    
    
 </script>