<?php echo $this->headLink()->appendStylesheet($this->baseUrl() . '/css/jquery.remodal.css'); ?>

<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.flat.css'?>">

<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>

    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modal">
            <div id="modalGlobal" style="margin-top:-180px">
                    
                                       
                    <div id="boxPortal">
                        <div class="wejo_box_01 wejo_box_portal">
                        
                            <div class="btn_box_close"><a onclick="closeModalPortal()"></a></div>
                            
                            <div class="wejo_box_01_body wejo_box_portal_body">
                                <div class="wejo_box_01_content">


                                    <form id="formPortal">
                                        <div class="space-35px"></div>
                                        <input type="button" class="btn_login_black top-10" id="btnPortalLogin" value="LOGIN">

                                        <br><br>               

                                        <input type="button" class="btn_login_black top-10" id="btnPortalSignup" value="SIGN UP">

                                    </form>
                                </div>
                            </div>
                            
                        </div>    
                    </div>                      
                    
                    
                    <div id="boxLoginPortal" style="display:none;">
                        <div class="wejo_box_01 wejo_box_portal">
                            <?php echo $this->render('/access/login.phtml') ?>
                        </div>
                    </div>
                    
                    
                    
                    
                    <div id="boxSignUp" hidden="hidden">
                        <div class="wejo_box_01">
                            <?php echo $this->render('/access/signup.phtml') ?>
                        </div>
                    </div>
                    
                    <div id="boxWelcome" hidden="hidden">
                        <div class="wejo_box_01">
                            <?php echo $this->render('/access/welcome.phtml') ?>
                        </div>
                    </div>
                    
                                                         
            </div>
        </div>
    </div>


<script type="text/javascript">
    
    var modalPortal = null;

    $(document).on('open', '.remodal', function () {
        
        initModalPortal();        
    });    


    function openModalPortal(){
        
        modalPortal = $.remodal.lookup[$('[data-remodal-id=modal]').data('remodal')];
        modalPortal.open();
    }
    
    
    function closeModalPortal(){
        
        modalPortal.close();
    }
    
    function initModalPortal(){
        
        hideAllPortalBoxes();
        $('#boxPortal').show();        
    }    

    $('#btnPortalLogin').on('click', function() {                    
        hideAllPortalBoxes();
        $("#boxLoginPortal").show();
    });              

    $('#btnPortalSignup').on('click', function() {                    
        hideAllPortalBoxes();
        $('#boxSignUp').show();
    });             
    
    $('#btnSignupFinish').on('click', function() {                    
        hideAllPortalBoxes();
        $('#boxWelcome').show();
    });             


    function hideAllPortalBoxes(){
        
        $('#boxPortal').hide();
        $('#boxLoginPortal').hide();
        $('#boxSignUp').hide();
        $('#boxWelcome').hide();        
    }


</script>