

<div class="btn_box_close"><a onclick="closeModalPortal()"></a></div>
<div class="wejo_box_01_body">
    <div class="wejo_box_01_content">

        <form id="formSignUp">

            <div class="wejo_box_structure_top">
                <h4 class="h4_small">
                   Become part of the Wejo comunity and support your Journalists
                </h4>
                
                <input type="text" class="in_box_style_01" id="txtEmail" name="txtEmail" placeholder="Email">
                <input type="password" class="in_box_style_01" id="txtPass" name="txtPass" placeholder="Password">                
                <input type="password" class="in_box_style_01" id="txtPassConfirm" name="txtPassConfirm" placeholder="Confirm Password">                
                <input type="text" class="in_box_style_01" id="txtLocation" name="txtLocation" placeholder="Location">                
                

                <div class="details" id="geo-details" hidden="true">    
                    <input name="lat" data-geo="lat" />
                    <input name="lng" data-geo="lng" />
                    <input name="country" data-geo="country"/>
                    <input name="formatted_address" data-geo="formatted_address" />
                    <input name="country_short" data-geo="country_short" />
                </div>



            </div>
            <div class="wejo_box_structure_bottom">    
                <input type="button" class="btn_login_black" name="btnSignupFinish" id="btnSignupFinish" value="Finish">                
            </div>

        </form>

    </div>
</div>


<script type="text/javascript">
    
    $(document).ready(function() {
        
        try{
            $('#txtLocation').geocomplete({

                details: ".details",                    
                detailsAttribute: "data-geo",
                location: "NYC"

            }).bind("geocode:result", function(event, result){
                $(".pac-container").css("z-index", 15000);
            });                
            
        }catch(e){
            
        }

    });    


</script>