

<div class="wejo_box_01_body">
    <div class="wejo_box_01_content">

        <form id="formWelcome">

            <div class="wejo_box_structure_top" style="height: 280px !important">
                <h4>
                    Welcome to Wejo community !!
                </h4>
                <h5>
                    Please verify your email account to continue
                </h5>
            </div>
            
            <div class="wejo_box_structure_bottom" style="margin-top: -15px;">    
                <input type="button" class="btn_login_black" name="btnPortalProfile" id="btnPortalProfile" value="Complete Profile">
                
                <input type="button" style="margin-top: 10px;" class="btn_login_black" name="btnPortalRead" id="btnPortalRead" value="Start Reading">
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    
    var welcomeAlertify = null;
    var isAlertShowing = false;

    $('#btnPortalProfile').on('click', function() {                    
        
        verifyEmail();
    }); 
    
    $('#btnPortalRead').on('click', function() {                    
        
        verifyEmail();
    }); 


var alertifyShowing = false;

    function verifyEmail(){

        var url = '';
        //TODO: llamada ajax chequear que el email esta verificado
        
        if(false){
            
            hideAllPortalBoxes();
            $('#boxLogin').show();
            
        }else{
                                                                        
            if(alertifyShowing)
                return true;
            
            var message = 'Please check your email account to confirm the email address';
            alertify.error(message);
            alertifyShowing = true;
            setTimeout(function(){ alertifyShowing = false;}, 5000);        
        }
    }


</script>