<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="hello-world" attributes="name">
    <template>
        <style>
            h1 {
                font-family: sans-serif;
                text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
            }
        </style>
        <h1>Hello {{name}}</h1>
        <input type="text" value="{{name}}">
        <button on-click="{{changeName}}">Change Name</button>
    </template>
    <script>
        Polymer('hello-world', {
            ready: function() {
                this.name = 'World'
            },
            changeName: function(){
                this.name = 'You';
            }
        })
    </script>
</polymer-element>