/* 
    Created on : 10/12/2014, 21:28:44
    Author     : drobert
*/

.counter{
    color: #8F959B;
    font-size: 11px;
    height: 17px;
}

.counter-editor-html{
    position: relative;
    float: left;
    bottom: 20px;
}