<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <a class="brand"><?php echo $this->title ?></a>
        </ul>
        
        <ul class="nav pull-right">
            <a class="btn" href="/main/roles/index" title="Back">
                <i class="icon-arrow-left"></i>
            </a>
        </ul>  
 
    </div>
</div>

<div class="span8">
    <?php echo $this->form ?>
</div>