<!--  VIEW_TEMPLATE_ITEMS_INDEX  -->

<?php $this->wejoJs() ?>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <a class="brand">Role</a>
            <li class="divider-vertical"></li>
        </ul>
        
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <a class="btn" href="create/" title="New Role">           
                <i class="icon-plus"></i>
            </a>
        </ul>
    </div>
</div>

<div class="span8">
    <table id="gridRole"></table>
</div>
<div id="pager"></div>


<script type="text/javascript"> 
 
        jQuery("#gridRole").jqGrid({
        url:'<?php echo $this->baseUrl() . $this->urlJson; ?>',
        datatype: "json",
        colNames:['ID','Name','Description', 'Delete'],
        colModel:[
            {name:'id',index:'id',hidden:true},
            {name:'role_name',index:'role_name',hidden:false},
            {name:'role_description',index:'role_description',hidden:false},
            //{name:'myname', formatter:imageFormatVerDetalle, align:'center', width:'25px'} ,
            {name:'myname', formatter:imageFormatDel, align:'center', width:'25px'} 
            ],
        rowNum:20,
        rowList:[10,20,30,50,100],
        pager: '#pager',
        sortname: 'role_name',
        autowidth:true,
        height:'100%',
        viewrecords: true,
        sortorder: "Asc",
        caption:"",
        jsonReader: {repeatitems: false, root: "rows"}
    });
    
    
    jQuery("#gridRole").jqGrid('navGrid','#pager',{edit:false,add:false,search:false,del:false});

 
 function imageFormatDel(cellvalue, options, rowObject ){
       
      
    oc = "operations.delete('<?php echo $this->baseUrl()?>/main/roles/delete/role_id/"+ options['rowId'] +"', 'gridRole')";
        f = '<a class="btn btn-mini" onclick="' + oc + '"><i class=" icon-remove icon-red"></i></a>';
        return f;
    }

</script>
