<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../behaviors/in-validate-control.html">

<dom-module id="in-side-button">
    <style>
        paper-fab {
            --paper-fab-background: #009688;
            --paper-fab-keyboard-focus-background: #00796B;
        }
        .custom-styles{
            margin: auto 20px 20px 20px;
        }


    </style>
    <template>
        <div class="horizontal layout custom-styles">
            <div>
                <paper-fab disabled$="{{start}}" on-click="moveBack" icon="chevron-left"></paper-fab>
            </div>
            <div class="flex"></div>
            <div>
                <paper-fab disabled$="{{end}}" on-click="_validate" icon="chevron-right"></paper-fab>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is:'in-side-button',
            behaviors:[InValidateControl],
            properties:{
                start:{
                    type:Boolean,
                    value:false
                },
                end:{
                    type: Boolean,
                    value: false
                },
                olderPage:"",

            },
            ready: function () {
//                tabSelected(0);
            },
            _validate: function () {
                var nodo = Polymer.dom(this).parentNode;
                if(nodo.id ==='page-domicilios' || nodo.id =='page-relaciones-familiares'){
                    this.moveFoward();
                    return
                }
                if (!this._validateControl(nodo)) return;
                this.moveFoward();
            },
            moveBack: function () {
                animatedPages.entryAnimation = 'slide-from-left-animation';
                animatedPages.exitAnimation = 'slide-right-animation';
                var thisPage = parseInt(animatedPages.selected);
                tabSelected(thisPage - 1);
                animatedPages.selected = thisPage - 1;
            },
            moveFoward: function () {
                animatedPages.entryAnimation = 'slide-from-right-animation';
                animatedPages.exitAnimation = 'slide-left-animation';
                var thisPage = parseInt(animatedPages.selected);
                tabSelected(thisPage + 1);
                animatedPages.selected = thisPage + 1;
            }

        })
    </script>
</dom-module>