
<div class="row no-margins">
     <div class="col-md-12 no-margins">
         
<?php     

    foreach($this->twitterUserList as $twitterUser){ 
        
        $journalistID = $twitterUser['journalistID'];
        $contentID = $twitterUser['objectID'];
        
        $onClick = 'onTweetClick(event, ' . $journalistID . ')';
?>
         
         
         <div class="box_tweet box_tweet_reset" onclick="<?php echo $onClick; ?>" id="content_<?php echo $contentID; ?>" onmouseover="onContentMouseover(this, true)" onmouseout="onContentMouseover(this, false)">
             
            <div class="box_tweet_inner">
                
                <div class="box_tweet_pic">
                    <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $twitterUser['userPic']; ?>">
                </div>
                <h2><a href="#" class="h2_oswald"><?php echo $twitterUser['userName']; ?></a></h2>
                <p><?php echo $twitterUser['text']; ?></p>
                
            </div>
            
            
            
            <div class="article_box_bottom">    
                <div class="stats_buttons box_tweet_reset">
                    <div class="article_date"><p><?php echo $twitterUser['date'] ;?></p></div>
                </div>
            </div>
        </div>
         
<?php     
    } 
        
?>         
         
         
     </div>
 </div>   


<script type="text/javascript">        
    
    
    $('document').ready(function() {
        
        
<?php if(!$this->cleanResponse){ ?>
        
        mapOperations.removeGoogleMarkers();                
        
<?php } ?>        
        
        var tweets = <?php echo json_encode($this->twitterUserList);?>;
        
        if (tweets){
            
            $.each( tweets, function(i, oneTweet) {
                
                mapOperations.addGoogleMarker(oneTweet);
            });
        }
        
    });   
   
   
   
<?php if(!$this->cleanResponse){ ?>   
   
    function onContentMouseover(divTweet, isOver){
        
        var urlMarkerImage = '';        
        var aTitle = divTweet.getElementsByTagName('a')[0];
        
        if(isOver){
            
            divTweet.className = "box_tweet box_tweet_reset active";
            aTitle.className = "h2_oswald active";
            urlMarkerImage = '/images/map/pin_active.png';
            
        }else{
            divTweet.className = "box_tweet box_tweet_reset";
            aTitle.className = "h2_oswald";
            urlMarkerImage = '/images/map/pin.png';
        } 
        
        
        //Trigger marker mouseover
        var contentID = divTweet.id;        
        contentID = contentID.replace('content_', '');
        contentID = parseInt(contentID);
        
        var imageOver = {
            url: urlMarkerImage,
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0, 32)
        };

        for(var i = 0; i < globalMarkers.length; i++){
            
            if(globalMarkers[i].id === contentID){                                
                globalMarkers[i].setIcon(imageOver);
            }
        }                
    }  
       
    function onTweetClick(event, journalistID){
        
        operations.showSpinner('Loading');
        stopClickEvent(event);
        
        var contentType = '<?php echo Main_Model_Content::TYPE_TWEET; ?>'; 
        
        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
        window.location.assign("<?php echo $this->baseUrl(); ?>" + url);
        //$('#divMainBody').load(url);
    }
        
    
    function stopClickEvent(event){
        
        var e = event || window.event; 
        
        //IE9 & Other Browsers
        if (e.stopPropagation) {
          e.stopPropagation();
        }
        //IE8 and Lower
        else {
          e.cancelBubble = true;
        }        
    }
    
    
<?php } ?>    
    
</script>