<!-- TWEETS - INDEX JOURNALIST-->
<!-- TWEETS - INDEX JOURNALIST-->
<!-- TWEETS - INDEX JOURNALIST-->


 <?php     

    foreach($this->tweets as $twitterUser){ 
       
?>
         
         
         <div class="box_tweet box_tweet_reset">
             
            <div class="box_tweet_inner" style="padding-left:25px;">
                
                <h2><a href="#" class="h2_oswald"><?php echo $twitterUser['userName']; ?></a></h2>
                <p><?php echo $twitterUser['text']; ?></p>
                
            </div>
            
            
            
            <div class="article_box_bottom">    
                <div class="stats_buttons box_tweet_reset">
                    <div class="article_date"><p><?php echo $twitterUser['date'] ;?></p></div>
                </div>
            </div>
        </div>
         
<?php     
    } 
        
?>    


<script type="text/javascript">

    $('document').ready(function() {
        
        $('#titleContentType').html('Tweets (<?php echo $this->countContent; ?>)');
        
    });


</script>