<!--ACTIVITIES / GET MY NOTIFICATIONS-->
<!--ACTIVITIES / GET MY NOTIFICATIONS-->

<?php   foreach($this->listActivities as $activity){ 
    
            if($activity->getUser()){
                $userName = $activity->getUser()->getName();
                $n_UserID = $activity->getUserId();
                
                if(!$n_UserID)
                    $n_UserID = 0;
            }
            
            $contentTitle = $activity->getContent() ? $activity->getContent()->getTitle() : '';            
            if(strlen($contentTitle) > 60)
                $contentTitle = substr($contentTitle, 0, 57) . '..';
            
                        
            $comment = '';
            $contentID = 0;
            if( $activity->getComment() ){
                
                $comment = $activity->getComment()->getText();
                $contentID = $activity->getComment()->getContentId();
            }
                        
            if(strlen($comment) > 60)
                $comment = substr($comment, 0, 57) . '..';
            
            
            
            
            $dateLabel = Wejo_Action_Helper_Services::formatDateTime($activity->getDate());
            //$datePublished = Wejo_Action_Helper_Services::formatDate($objContent->getDatePublished());
            
            if($activity->getIsRead()){
                
                $classUnread = '';
                $isRead = 1;
                
            }else{
                
                $classUnread = 'unread';
                $isRead = 0;
            }
            
            $noID = 'a_' . $activity->getId();
            
            switch ($activity->getType()){
                
                case Main_Model_Activity::TYPE_LIKE_CONTENT:
?>
                    <li>
                        <a href="#" onclick="notificationContentClick(this, <?php echo $activity->getContentId(); ?>, <?php echo $isRead; ?>)" 
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                            <h4><?php echo $userName?></h4> likes your Content: "<?php echo $contentTitle?>"
                            <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>                         
                    </li>
<?php                    
                    break;
                
                case Main_Model_Activity::TYPE_DISLIKE_CONTENT:
?>
                    <li>
                        <a href="#" onclick="notificationContentClick(this, <?php echo $activity->getContentId(); ?>, <?php echo $isRead; ?>)"
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                            <h4><?php echo $userName?></h4> does not like your Content: "<?php echo $contentTitle?>"
                            <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>
<?php                    
                    break;
                
                
                case Main_Model_Activity::TYPE_COMMENT:
?>
                    <li>
                        <a href="#" onclick="notificationContentClick(this, <?php echo $activity->getContentId(); ?>, <?php echo $isRead; ?>)"
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                            Your Content: "<?php echo $contentTitle?>" was commented by <h4><?php echo $userName?></h4>
                            <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>
<?php                    
                    break;                
                
                
                case Main_Model_Activity::TYPE_LIKE_COMMENT:
?>
                    <li>
                        <a href="#" onclick="notificationContentClick(this, <?php echo $contentID ?>, <?php echo $isRead; ?>)"
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                            Your comment: <i>"<?php echo $comment?>" </i> was liked by <h4><?php echo $userName?></h4>
                            <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>
<?php                    
                    break;                

                
                
                case Main_Model_Activity::TYPE_ENDORSE:
?>
                    <li>
                        <a href="#" onclick="notificationContentClick(this, <?php echo $activity->getContentId(); ?>, <?php echo $isRead; ?>)"
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                            Your Content: "<?php echo $contentTitle?>" was endorsed by <h4><?php echo $userName?></h4>
                            <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>                        
                    </li>                        
<?php                    
                    break;
                
                case Main_Model_Activity::TYPE_PUBLISH_CONTENT:
?>
                    <li><a href="#" onclick="notificationContentClick(this, <?php echo $activity->getContentId(); ?>, <?php echo $isRead; ?>)"
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                        <h4><?php echo $userName?></h4> created new Content: "<?php echo $contentTitle?>"
                        <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>                        
<?php                    
                    break;                    
                
                case Main_Model_Activity::TYPE_FOLLOW:
?>
                    <li><a href="#" onclick="notificationJournalistClick(this, <?php echo $n_UserID; ?>, <?php echo $isRead; ?>)"
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                        <h4><?php echo $userName?></h4> is following you !
                        <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>                        
<?php                    
                    break;                    
                
                
                case Main_Model_Activity::TYPE_NEW_MESSAGE:
?>
                    <li><a href="#" onclick="notificationMessageClick(this, <?php echo $activity->getUserId(); ?>, <?php echo $isRead; ?>)"
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                        <h4><?php echo $userName?></h4> sent you a message !
                        <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>                        
<?php                    
                    break;                    

                
                case Main_Model_Activity::TYPE_REPLY_DISCUSSION_MESSAGE:
?>
                    <li><a href="#" onclick="notificationDiscussionClick(this, <?php echo $activity->getCommentDiscussionId(); ?>, <?php echo $isRead; ?>)"
                           class="<?php echo $classUnread; ?>" id="<?php echo $activity->getId(); ?>">
                        <h4><?php echo $userName?></h4> replied on your discussion
                        <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>                        
<?php                    
                    break;                    
                
                
                case Main_Model_Activity::TYPE_VERIFY_TWITTER:
?>
                    <li onclick="goToProfile()"><a href="#">
                        <h4><?php echo 'URGENT - ' ?></h4> Please VERIFY your TWITTER account, so that you can see your notifications.
                        <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>                                                                
<?php                    
                    break; 
                
                 case Main_Model_Activity::TYPE_COMPLETE_BIO:
?>
                    <li onclick="goToProfile()"><a href="#">
                        <h4><?php echo 'URGENT - ' ?></h4> Please COMPLETE your biography, so that you can see your notifications.
                        <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>                                                                
<?php                    
                    break;

                 case Main_Model_Activity::TYPE_VERIFY_EMAIL:
?>
                    <li><a href="#">
                        <h4><?php echo 'URGENT - ' ?></h4> Please verify your email account by clicking on "Verify" in your welcome email.
                        <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>                                                                
<?php                    
                    break;                
                
                default:                    
?>
                    <li><a href="#">
                        <h4>UNDEFINED</h4> notification type: <?php echo ' ' . $activity->getType();?>
                        <span class="font_gray_01"><?php echo $dateLabel; ?></span>
                        </a>
                    </li>                    
                    
<?php                    
                    
            }    
?>


<?php } ?>



                    
<script type="text/javascript">
    
    
    function notificationsGoToProfile(){
        
        /*defined at header-toolbar.phtml*/
        goToProfile();
    }
    
    //function noLikeContentClick(noItem, contentID, isRead){
    function notificationContentClick(noItem, contentID, isRead){    
        
        noItem.className = '';
        //hideNotifications();
        
        //if(!isRead)
        markNotificationRead(noItem.id);                
        window.location = '/main/contents/method/view/con_id/' + contentID;        
    }
    
        
    function notificationJournalistClick(noItem, nJournalistID, isRead){
        
        noItem.className = '';
        //if(!isRead)
        markNotificationRead(noItem.id);          
        window.location = '/main/journalists/method/index/journalist_id/' + nJournalistID;
    }

    function notificationMessageClick(noItem, userMessageFromID, isRead){
    
        noItem.className = '';
        //if(!isRead)
        markNotificationRead(noItem.id);
        
        var url = '<?php echo $this->serverUrl() . '/main/users/method/toolbox' ?>';
        $('#divMainBody').load(url, function(){
                                
            oHomeState.page = oPages.tools;
            setFilterTools(oHomeState.filterTools);
            setUserThread(userMessageFromID);
            onMessagesClick();    
        });
    }
    
    function notificationDiscussionClick(noItem, commentDiscussionID, isRead){
        
        noItem.className = '';
        //if(!isRead)
        markNotificationRead(noItem.id);

        var url = '<?php echo $this->serverUrl() . '/main/users/method/toolbox' ?>';
        $('#divMainBody').load(url, function(){
                                
            oHomeState.page = oPages.tools;
            setFilterTools(oHomeState.filterTools);
            
            deactivateAllButtons();
            $('#btnNavDiscuss').addClass('selected');
            var url = '/main/discussions/method/index/com_dis_id/' + commentDiscussionID;

            operations.showSpinner('Loading');

            $('#divDiscuss').load(url, function(){
                
                detailDiscussion();
                operations.hideSpinner();
            });       
        });

    }

    function markNotificationRead(aID){
        
        var urlDest = '/main/notifications';
        var data = '&method=read.notifications&activity=' + aID;
        
        if(aID == 'all'){
            $('#divAjaxLoader').show();
            var loaderContainer = $('#divAjaxLoader');
            new ajaxLoader(loaderContainer);
        }
        
        $.post(urlDest, data, function(response) {
            if(aID == 'all'){
                $("#listNotifications").find("a").each(function(){
                    $(this).attr("class","");
                });
                $('#divAjaxLoader').hide();
                $("#markAllRead").hide();
                lastNotificationCount = 0;
            }
        }, 'json');

    }
    
</script>