<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-behavior.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">

<script>
    Polymer({
        is: 'in-rotate-animation',
        behaviors: [
            Polymer.NeonAnimationBehavior
        ],
        configure: function(config) {
            var node = config.node;
            this._effect = new KeyframeEffect(node, [
                {

                    offset:0.0,
                    'transform': 'rotate(0deg)',
                    'transform-origin': 'center'
                },
                {
                    offset:0.8,
                    'transform': 'rotate(135deg)',
                    'transform-origin': 'center'
                },
                {
                    offset:0.9,
                    'transform': 'rotate(190deg)',
                    'transform-origin': 'center'
                },
                {
                    offset:0.95,
                    'transform': 'rotate(175deg)',
                    'transform-origin': 'center'
                },
                {
                    offset:1.0,
                    'transform': 'rotate(180deg)',
                    'transform-origin': 'center'
                }
            ], this.timingFromConfig(config));
            return this._effect;
        }
    });
</script>
