@media screen and (max-width: 500px) {

html,body
{
	
    background-color: #222222;

	width: 100%;
   	height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 0px;
   	border-style: none;
   	color: white;
   	font-family: "HelveticaNeueW01-LtExt", "Helvetica", "Arial", "sans-serif";
  } 
 #index_content{
  width: 100%;
 }

}