

html,body
{
	

   -moz-background-size:cover;
   -webkit-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
   background-repeat: none;   
   overflow: hidden;
  	width: 100%;
   	height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 0px;
   	border-style: none;
    z-index: 9;
   	color: black;
   	font-family: "HelveticaNeueW01-LtExt", "Helvetica", "Arial", "sans-serif";
    font-family: "GothamRnd-Light";
} 
#mti_wfs_colophon{  
  display: none !important;
}

#index_content{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  height: 100%;
  background-color: transparent;
}

#index_content_title{
  position: absolute;
  margin-top: 159px;
  margin-left: 125px;
  width: 425px;
  height: 142px;
}

#index_content_title img{
  width: 425px;
  height: 142px;
}

#index_content_home{
  position: absolute;
  margin-top: 351px;
  margin-left: 125px;
  width: 53px;
  height: 53px;
}
#index_content_pen{
  position: absolute;
  margin-top: 351px;
  margin-left: 190px;
  width: 53px;
  height: 53px;
}
#index_content_pen:hover{
  cursor: pointer;
}
#index_content_home img, #index_content_pen img{
  width: 53px;
  height: 53px;
}


#index_content_logo{
  position: absolute;

  margin-top: 52px;
  margin-left: 1040px;
  width: 137px;
  height: 137px;
}
#index_content_logo img{

  width: 137px;
  height: 137px;
}

#index_content_footer{

  position: fixed;
  bottom:0px;
  height: 33px;
  width: 100%;
  background-color: #626262;
  opacity: 0.6;
  color: white;
}

#index_content_footer_box{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
   width: 1280px;
   height: 100%;
   background-color: transparent;
}

#index_content_footer_about{
  position: absolute;
  margin-top: 5px;
  margin-left: 938px;
  width: 60px;
  height: 15px;
  font-size: 12pt;
  color: white;
  font-family: "Arial";
  text-align: right;
}

#index_content_footer_career{
  position: absolute;
  margin-top: 5px;
  margin-left: 1018px;
  width: 80px;
  height: 15px;
  font-size: 12pt;
  color: white;
  font-family: "Arial";
  text-align: center;
  border-left-style: solid;
  border-left-width:1px;
  border-right-style: solid;
  border-right-width:1px;
}

#index_content_footer_faqs{
    position: absolute;
  margin-top: 5px;
  margin-left: 1118px;
  width: 60px;
  height: 15px;
  font-size: 12pt;
  color: white;
  font-family: "Arial";
  text-align: left;
  
}

#index_signup_popup_div{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 69px; 
  width:373px;
  height: 539px;
  background-image: url('/images/landing/signup_box_bg.png');
  background-repeat: repeat;
}
#index_signup_popup_box{
  position: absolute; 
  width:373px;
  height: 539px;
  background-color: transparent;
}

#index_signup_popup_title{
  position: absolute;
  background-color: #ef8823;
  font-weight: 0.8;
  width: 373px;
  height: 53px;
}

#index_signup_popup_title_text{
  position: absolute;
  margin-top: 12px;
  font-size: 20pt;
  color: white;
  width: 373px;
  height: 33px

}

#index_signup_popup_white_1A, #index_signup_popup_white_1A_1,#index_signup_popup_white_2A, #index_signup_popup_white_3A, #index_signup_popup_white_1B, #index_signup_popup_white_1C{
  position: absolute;
  margin-top: 77px;
  margin-left: 15px;
  width: 342px;
  height: 434px;
  background-color: white;
}



#index_signup_popup_white_title{
  position: absolute;
  color: #ef8823;
  line-height: 120%;
  text-align: left;
  font-size:14pt;
  margin-top: 30px;
  margin-left: 52px;
  width: 243px;
  min-height: 42px;
}

#index_signup_popup_white_subtitle{
  position: absolute;
  color: black;
  line-height: 110%;
  text-align: left;
  font-size:11pt;
  margin-top: 95px;
  margin-left: 52px;
  width: 250px;
  height: 50px;
}

#index_signup_popup_white_request{
  position: absolute;
  margin-top: 178px;
  margin-left: 52px;
  width:233px;
  height: 33px;
  background-color: #8b8b8b;
}
#index_signup_popup_white_request:hover{
  cursor: pointer;
}

#index_signup_popup_white_request_text{
  position: absolute;
  font-size: 12pt;
  color: #cdcdcd;
  margin-top: 8px;
  width: 233px;
  height: 20px;
}

#index_signup_popup_white_or{
  position: absolute;
  font-size: 14pt;
  width: 42px;
  height: 42px;
  color: #ef8823;
  margin-top: 220px;
  margin-left: 150px;
}

#index_signup_popup_white_code_input_box{
  position: absolute;
  background-color: white;
  margin-top: 251px;
  margin-left: 54px;
  width: 178px;
  height: 33px;
  border-style: solid;
  border-width: 1px;
  border-color:#cdcdcd;

}
#index_signup_popup_white_code_input{

  background-color: transparent;
  border-style:none;
  font-size: 12pt;
  padding-left: 10px;
  color: #cdcdcd;
  width: 158px;
  height: 30px;
}

#index_signup_popup_white_code_input::-webkit-input-placeholder { font-size: 10pt; color:#cdcdcd; text-align: center; vertical-align: top; padding-top: 3px;}
#index_signup_popup_white_code_input::-moz-placeholder { font-size: 10pt; color:#cdcdcd; text-align: center; vertical-align: top; padding-top: 3px;} 

a.signup{
  color: white;
  font-size: 14pt;
  text-decoration: none;
}
#index_signup_popup_white_submit{
  position: absolute;
  width: 233px;
  height: 54px;
  background-color: black;
  color: white;
  font-size: 14pt;
  margin-left: 54px;
  margin-top: 352px;
}
#index_signup_popup_white_submit_text{
  position: absolute;
  margin-top: 14px;
  width: 233px;
  height: 34px;

}
#index_signup_popup_white_submit_2{
 position: absolute;
  width: 53px;
  height: 35px;
  background-color: black;
  color: white;
  font-size: 9pt;
  margin-left: 233px;
  margin-top: 251px;
}
#index_signup_popup_white_submit_2_text{
  position: absolute;
  margin-top: 10px;
  width: 53px;
  height: 15px;
}
#index_signup_popup_white_submit_text:hover, #index_signup_popup_white_submit_2:hover{
  cursor: pointer;

}

#index_signup_popup_white_wejo{
  position: absolute;
  background-color: transparent;
  color:#cdcdcd;
  font-size: 12pt;
  margin-top: 411px;
  margin-left: 114px;
  width: 120px;
  height: 30px;
}
#index_signup_popup_white_wejo{
  cursor: pointer;
}

#index_signup_popup_white_2A_require{
  position: absolute;
  background-color: transparent;
  color:#cdcdcd;
  font-size: 12pt;
  margin-top: 268px;
  margin-left: 46px;
  width: 120px;
  height: 30px; 
}
#index_signup_popup_white_1B_require{
  position: absolute;
  background-color: transparent;
  color:#cdcdcd;
  font-size: 10pt;
  margin-top: 325px;
  margin-left: 40px;
  width: 120px;
  height: 30px; 
}

#index_signup_popup_white_subtitle_2A{
  position: absolute;
  color: #cdcdcd;
  line-height: 110%;
  text-align: left;
  font-size:10pt;
  margin-top: 33px;
  margin-left: 52px;
  width: 250px;
  height: 50px;
}

#index_signup_popup_white_subtitle_1B{
  position: absolute;
  color: #cdcdcd;
  line-height: 110%;
  text-align: left;
  font-size:10pt;
  margin-top: 13px;
  margin-left: 52px;
  width: 250px;
  height: 50px;
}
#index_signup_popup_white_subtitle_1C{
  position: absolute;
  color: #ef8823;
  line-height: 115%;
  text-align: center;
  font-size:11pt;
  margin-top: 30px;
  margin-left: 52px;
  width: 240px;
  height: 50px;
}

#index_signup_popup_white_2A_input_name_box, #index_signup_popup_white_1B_input_name_box{
  position: absolute;
  background-color: white;
  margin-top: 40px;
  margin-left: 54px;
  width: 233px;
  height: 33px;
  border-style: solid;
  border-width: 1px;
  border-color:#cdcdcd;
}
#index_signup_popup_white_2A_input_name_box{
   margin-top: 60px;
}

#index_signup_popup_white_2A_input_name, #index_signup_popup_white_1B_input_name{

  background-color: transparent;
  border-style:none;
  font-size: 12pt;
  padding-left: 10px;
  color: #cdcdcd;
  width: 218px;
  height: 33px;
}

#index_signup_popup_white_2A_input_name::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_2A_input_name::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 
#index_signup_popup_white_1B_input_name::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_1B_input_name::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 


#index_signup_popup_white_2A_input_email_box, #index_signup_popup_white_1B_input_email_box, #index_signup_popup_white_1A_1_input_email_box{
  position: absolute;
  background-color: white;
  margin-top: 122px;
  margin-left: 54px;
  width: 233px;
  height: 33px;
  border-style: solid;
  border-width: 1px;
  border-color:#cdcdcd;
}
#index_signup_popup_white_2A_input_email_box, #index_signup_popup_white_1A_1_input_email_box{
   margin-top: 101px;
}

#index_signup_popup_white_2A_input_email, #index_signup_popup_white_1B_input_email, #index_signup_popup_white_1A_1_input_email{

  background-color: transparent;
  border-style:none;
  font-size: 12pt;
  padding-left: 10px;
  color: #cdcdcd;
  width: 218px;
  height: 33px;
}

#index_signup_popup_white_2A_input_email::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_2A_input_email::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 
#index_signup_popup_white_1B_input_email::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_1B_input_email::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 



#index_signup_popup_white_2A_input_location_box, #index_signup_popup_white_1B_input_location_box, #index_signup_popup_white_1A_1_input_password_box{
  position: absolute;
  background-color: white;
  margin-top: 163px;
  margin-left: 54px;
  width: 233px;
  height: 33px;
  border-style: solid;
  border-width: 1px;
  border-color:#cdcdcd;
}

#index_signup_popup_white_2A_input_location_box, #index_signup_popup_white_1A_1_input_password_box{
  margin-top: 142px;
}

#index_signup_popup_white_2A_input_location, #index_signup_popup_white_1B_input_location,#index_signup_popup_white_1A_1_input_password{

  background-color: transparent;
  border-style:none;
  font-size: 12pt;
  padding-left: 10px;
  color: #cdcdcd;
  width: 218px;
  height: 33px;
}

#index_signup_popup_white_2A_input_location::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_2A_input_location::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_1B_input_location::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_1B_input_location::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}



#index_signup_popup_white_2A_input_twitter_box, #index_signup_popup_white_1B_input_twitter_box{
  position: absolute;
  background-color: white;
  margin-top: 204px;
  margin-left: 54px;
  width: 233px;
  height: 33px;
  border-style: solid;
  border-width: 1px;
  border-color:#cdcdcd;
}

#index_signup_popup_white_2A_input_twitter_box{
    margin-top: 183px;
}

#index_signup_popup_white_2A_input_twitter, #index_signup_popup_white_1B_input_twitter{

  background-color: transparent;
  border-style:none;
  font-size: 12pt;
  padding-left: 10px;
  color: #cdcdcd;
  width: 218px;
  height: 33px;
}

#index_signup_popup_white_2A_input_twitter::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_2A_input_twitter::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 
#index_signup_popup_white_1B_input_twitter::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_1B_input_twitter::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 



#index_signup_popup_white_2A_input_linkedin_box, #index_signup_popup_white_1B_input_linkedin_box{
  position: absolute;
  background-color: white;
  margin-top: 286px;
  margin-left: 54px;
  width: 233px;
  height: 33px;
  border-style: solid;
  border-width: 1px;
  border-color:#cdcdcd;
}
#index_signup_popup_white_2A_input_linkedin_box{
  margin-top: 225px;
}
#index_signup_popup_white_2A_input_linkedin, #index_signup_popup_white_1B_input_linkedin{

  background-color: transparent;
  border-style:none;
  font-size: 12pt;
  padding-left: 10px;
  color: #cdcdcd;
  width: 218px;
  height: 33px;
}

#index_signup_popup_white_2A_input_linkedin::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_2A_input_linkedin::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 
#index_signup_popup_white_1B_input_linkedin::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_1B_input_linkedin::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 




#index_signup_popup_white_1B_input_fb_box{
  position: absolute;
  background-color: white;
  margin-top: 245px;
  margin-left: 54px;
  width: 233px;
  height: 33px;
  border-style: solid;
  border-width: 1px;
  border-color:#cdcdcd;
}
#index_signup_popup_white_1B_input_fb{

  background-color: transparent;
  border-style:none;
  font-size: 12pt;
  padding-left: 10px;
  color: #cdcdcd;
  width: 218px;
  height: 33px;
}

#index_signup_popup_white_1B_input_fb::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_1B_input_fb::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 


#index_signup_popup_white_1B_input_password_box{
  position: absolute;
  background-color: white;
  margin-top: 81px;
  margin-left: 54px;
  width: 233px;
  height: 33px;
  border-style: solid;
  border-width: 1px;
  border-color:#cdcdcd;
}
#index_signup_popup_white_1B_input_password{

  background-color: transparent;
  border-style:none;
  font-size: 12pt;
  padding-left: 10px;
  color: #cdcdcd;
  width: 218px;
  height: 33px;
}

#index_signup_popup_white_1B_input_password::-webkit-input-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;}
#index_signup_popup_white_1B_input_password::-moz-placeholder { font-size: 12pt; color:#cdcdcd; text-align: left; vertical-align: top;} 



#index_signup_popup_white_logo {
  position: absolute;
  margin-top: 45px;
  margin-left: 100px;
  width: 137px;
  height: 137px;
}

#index_signup_popup_white_logo img{
  width: 137px;
  height: 137px;
}

#index_signup_popup_white_intro{
  position: absolute;
  margin-top: 227px;
  margin-left: 34px;
   color: #ef8823;
   font-size: 8pt;
   font-weight: bold;
   text-align: center;
  width: 280px;
  height: 30px;
}


#index_signup_popup_white_database{
  position: absolute;
  margin-top: 150px;
  margin-left: 8px;
  background-color: transparent;
  width: 107px;
  height: 130px;
}
#index_signup_popup_white_interact{
  position: absolute;
  margin-top: 150px;
  margin-left: 118px;
  background-color: transparent;
  width: 107px;
  height: 130px;
}
#index_signup_popup_white_analysis{
  position: absolute;
  margin-top: 150px;
  margin-left: 222px;
  background-color: transparent;
  width: 107px;
  height: 130px;
}


#index_signup_popup_white_database_img{
  position: absolute;
  margin-left: 40px;
  width:28px ;
  height: 32px;
}
#index_signup_popup_white_database_img img{
  width:28px ;
  height: 32px;
}

#index_signup_popup_white_interact_img{
  position: absolute;
  margin-left: 35px;
  width:44px ;
  height: 31px;
}
#index_signup_popup_white_interact_img img{
  width:44px ;
  height: 31px;
}
#index_signup_popup_white_database_title{
   position: absolute;
   margin-top: 40px;
   margin-left: 4px;
   text-align: center;
   color: #ef8823;
   width: 100px;
   height: 20px;
   font-size: 8pt;
}
#index_signup_popup_white_database_intro{
  position: absolute;
   margin-top: 80px;
   margin-left: 1px;
   text-align: center;
   color: #cdcdcd;
   width: 105px;
   min-height: 20px;
   font-size: 8pt;
}

#index_errmsg, #index_errmsg_2A, #index_errmsg_1A_1{
  position: absolute;
  margin-left: 65px;
  margin-top: 290px;
  color: red;
  font-size: 10pt;
  width: 200px;
  text-align: left;
  height: 30px;
}

#index_errmsg_1B{
  position: absolute;
  margin-left: 54px;
  margin-top: 337px;
  color: red;
  font-size: 10pt;
  width: 330px;
  text-align: left;
  height: 30px;
}
#index_signup_popup_close {
  position: absolute;
  margin-left: 353px;
  margin-top:-35px;
  width: 22px;
  height: 2px;
  background-color: transparent;
}
#index_signup_popup_close img{
  width: 22px;
  height: 22px;
}

#index_signup_popup_close:hover{
  cursor: pointer;
}