<script type="text/javascript">    
    $('#sidebar').empty();
</script>

<div class='sidenav sidenav_journalist' id='sidenav'>
    <div class='insidenav_01'>
        <ul>
            <li><a class='side_btn_01' id='btnSideArticle'>Articles</a></li>
            <li><a class='side_btn_02' id='btnSidePhotos'>Photos</a></li>
            <li><a class='side_btn_03' id='btnSideVideos'>Videos</a></li>
            <li><a class='side_btn_04' id='btnSideTweets'>Tweets</a></li>
        </ul>
    </div>
</div>                
            
<script type="text/javascript">
    
    var selectedType = '';    
    
    $(document).ready(function(){
        
        selectedType = '<?php echo $this->selectedType ?>'
        
        switch(selectedType){
            
            case '<?php echo Main_Model_Content::TYPE_ARTICLE; ?>':
                activateArticlesButton();
                break;

            case '<?php echo Main_Model_Content::TYPE_VIDEO; ?>':                   
                activateVideosButton();
                break;

            case '<?php echo Main_Model_Content::TYPE_PHOTO; ?>':
                activatePhotosButton();
                break;                            
        }
        
    });
    
    $('#btnSideArticle').on('click', function(){
        activateArticlesButton();
        loadArticles(); //journalists/index.phtml
    });
    
    $('#btnSidePhotos').on('click', function(){
        $('.modalGallery').remove();
        activatePhotosButton();
        loadPhotos(); //journalists/index.phtml
    });
    
    $('#btnSideVideos').on('click', function(){
        activateVideosButton();        
        loadVideos(); //journalists/index.phtml
    });
    
    $('#btnSideTweets').on('click', function(){
        activateTweetsButton();
        loadTweets(); //journalists/index.phtml
    });    


    function activateArticlesButton(){
        removeSelectedContentType();
        $('#btnSideArticle').addClass('selected');        
    }
    
    function activateVideosButton(){
        removeSelectedContentType();
        $('#btnSideVideos').addClass('selected');        
    }    
    
    function activatePhotosButton(){
        removeSelectedContentType();
        $('#btnSidePhotos').addClass('selected');        
    }

    function activateTweetsButton(){
        removeSelectedContentType();
        $('#btnSideTweets').addClass('selected');        
    }

    
    function setFilterContentType(newFilter){
        
        oContentState.contentType = newFilter;
        
        switch(parseInt(newFilter)){
                
            case <?php echo Main_Model_Content::TYPE_ARTICLE; ?>:
                activateArticlesButton();
                break;
                
            case <?php echo Main_Model_Content::TYPE_PHOTO; ?>:
                activatePhotosButton();
                break;
                
            case <?php echo Main_Model_Content::TYPE_TWEET; ?>:
                activateTweetsButton();
                break;
                
            case <?php echo Main_Model_Content::TYPE_VIDEO; ?>:
                activateVideosButton();
                break;

            default:
                activateArticlesButton();
        }        
    }    

    function removeSelectedContentType(){
        
        $('#btnSideArticle').removeClass('selected');
        $('#btnSidePhotos').removeClass('selected');
        $('#btnSideVideos').removeClass('selected');
        $('#btnSideTweets').removeClass('selected');
    }
    
</script>
