<script type="text/javascript">    
    $('#sidebar').empty();
</script>

<?php   if(Main_Model_User::getSession(Main_Model_User::USER_ROLE) >= Main_Model_Role::JOURNALIST_ROLE_ID){ ?>
    
    <div class="sidenav" id="sidenav">
        <div class="insidenav_01">
            <ul>
                <li><a id="btnNavResource">Resource</a></li>
                <li><a id="btnNavMessages">Messages</a></li>
                <li><a id="btnNavConnect">Connect</a></li>
                <li><a id="btnNavDiscuss">Discuss</a></li>
            </ul>
        </div>
    </div>

<?php }else{ ?>
    
    <div class="sidenav" id="sidenav">
        <div class="insidenav_01">
            <ul>
<!--               Nothing... !!-->
            </ul>
        </div>
    </div>    
    
<?php } ?>


<script type="text/javascript">
    
    var showUserThread = null;
    var connectFired = false;
    
    function setUserThread(userid){
        showUserThread = userid;
    }
    
    function showResource(){
        hideAllDivs();
        $('#divResourceIndex').show();
        $("#divResourceIndex").removeAttr('hidden'); // Added to show polymer elements
        $('#divResourceIndex').load('/resource/index/method/index');
    }
    
    function showMessages(){
        
        if(showUserThread){
            showThread(showUserThread);
            showUserThread = null;
            return true;
        }
        
        var exists = false;
        
        try { messageUserByConnect; exists = true;} catch(e) {}
        
        if (!exists) {
            messageUserByConnect = "";
        }

        hideAllDivs();
        $('#divMessages').show();        
        $('#divMessages').load('/main/messages/method/index/messageUserByConnect/'+messageUserByConnect);  
        
        messageUserByConnect = "";
        
    }
    
    function showThread(userID){

        hideAllDivs(); 
        //$('#divMessages').show();        
        var url = '/main/messages/method/index';
        $('#divMessages').load(url, function(){
            loadChatings(userID);
            $('#divMessages').show();
        });
    }
    
    function showConnect(){
        hideAllDivs();
        $('#divConnect').show();
        
        if(connectFired)
            return true;
        
        operations.showSpinner('Loading');
        var url = '/main/messages/method/connect';        
        $('#divConnect').load(url, function(){
            connectFired = false;
            operations.hideSpinner();
        });       
    }    


    function showDiscuss(filter_type){
        hideAllDivs();
        $('#divDiscuss').show();   
        var url = '/main/discussions/method/index';
        
        operations.showSpinner('Loading');
        
        $('#divDiscuss').load(url, function(){
            
            if(filter_type != undefined && filter_type != ""){
                filterList(filter_type);
            }
        
            operations.hideSpinner();
        });       
    }    


    /* SIDENAV FUNCTIONS */
    
    function onResourceClick(){
        
        deactivateAllButtons();
        $('#btnNavResource').addClass('selected');                
        showResource();        
    }
    
    function onConnectClick(){        
        deactivateAllButtons();
        $('#btnNavConnect').addClass('selected');
        showConnect();        
    }

    function onDiscussClick(){
        deactivateAllButtons();
        $('#btnNavDiscuss').addClass('selected');
        showDiscuss();
    }
    
    function onMessagesClick(){
                
        deactivateAllButtons();
        $('#btnNavMessages').addClass('selected');                
        showMessages();
    }
    

    
    $('#btnNavResource').on('click', function(){ 
        setFilterTools(oFilterTools.resource);
    });
       
   
    $('#btnNavConnect').on('click', function(){
        setFilterTools(oFilterTools.connect);
    });


    $('#btnNavDiscuss').on('click', function(){
        setFilterTools(oFilterTools.discuss);
    });

    $('#btnNavMessages').on('click', function(){ 
        setFilterTools(oFilterTools.messages);
    });
    
    
    function setFilterTools(selectedFilter){
        
        switch(selectedFilter){
            
            case oFilterTools.resource:
                oHomeState.filterTools = oFilterTools.resource;
                onResourceClick();                
                break;
            
            case oFilterTools.connect:
                oHomeState.filterTools = oFilterTools.connect;
                onConnectClick();                
                break;
            
            case oFilterTools.discuss:
                oHomeState.filterTools = oFilterTools.discuss;
                onDiscussClick();                
                break;
            
            case oFilterTools.messages:
                oHomeState.filterTools = oFilterTools.messages;
                onMessagesClick();                
                break;
        }
        
        saveHistoryState(oHomeState, null, oHomeState.url);        
    }
    
    function deactivateAllButtons(){
        
        $('#btnNavResource').removeClass('selected');
        $('#btnNavMessages').removeClass('selected');
        $('#btnNavConnect').removeClass('selected');
        $('#btnNavDiscuss').removeClass('selected');
    }      
    
    function hideAllDivs(){
        
        $('#divResourceIndex').hide();   
        $('#divMessages').hide();
        $('#divConnect').hide();
        $('#divDiscuss').hide();
    }    
    
    
</script>