<script type="text/javascript">    
    $('#sidebar').empty();
</script>


<?php   if(Main_Model_User::getSession(Main_Model_User::USER_ID) >= Main_Model_Role::JOURNALIST_ROLE_ID){ ?>
    
    <div class="sidenav" id="sidenav">
        <div class="insidenav_01">
            <ul>
                
<!--                <li><a id="btnNavAnalytics">Analytics</a></li>-->
                <li><a style="display:none"  id="btnNavActivities">Profile</a></li>
                <li><a style="display:none" id="btnNavDrafts">Drafts</a></li>
                <li><a style="display:none" id="btnNavPublished" >Published</a></li>
                
<!--                <li><a id="btnNavIncognito" >Incognito</a></li>-->
<!--                <li><a id="btnNavPayments">Payments</a></li>-->                
                
                <li><a style="display:none" id="btnNavSettings">Settings</a></li>
                <li><a style="display:none" id="btnNavNotifications">Notifications</a></li>
                <li><a style="display:none" id="btnNavInvite">Invite</a></li>
                
            </ul>
        </div>
    </div>

<?php }else{ ?>
    
    <div class="sidenav" id="sidenav">
        <div class="insidenav_01">
            <ul>
                <li><a id="btnNavActivities" onclick="">Profile</a></li>
<!--                <li><a id="btnNavAnalytics">Analytics</a></li>-->
                <li><a id="btnNavSettings" class="selected" onclick="">Settings</a></li>
                <li><a id="btnNavNotifications">Notifications</a></li>
            </ul>
        </div>
    </div>    
    
<?php } ?>


<script type="text/javascript">
    
    var profileLoaded = false;
    var cropLoaded = false;
    
    $(document).ready(function(){
        
        <?php if($this->show_published){ ?>
                                
                $('#btnNavPublished').addClass('selected');
                //showEditContent(true);
               
        <?php  }else if($this->show_drafts){ ?>
                
                $('#btnNavDrafts').addClass('selected');
                //showEditContent(false);
                
        <?php  }else{ ?>
                
                $('#btnNavSettings').addClass('selected');
                //showProfile();
        <?php  } ?>        

    });
    
    
    function showActivities(){
        
        operations.showSpinner('Loading');
        hideAllDivs();
        $('#divActivities').show();        
        var url = '/main/users/method/activities';
        $('#divActivities').load(url, onLoadSuccess, onLoadError); 
        $('#menuBarActivities').show();
    }
    
    function showEditContent(published){
        
        operations.showSpinner('Loading');
        hideAllDivs();
        $('#divEditContent').html('');
        $('#divEditContent').show();
        $('#menuBarContentType').show();
        
        if(published)
            $('#divEditContent').load('/main/contents/method/edit.published', onLoadSuccess, onLoadError);
        else
            $('#divEditContent').load('/main/contents/method/edit.drafts', onLoadSuccess, onLoadError);                
    }
    
    function showIncognito(){
        
        operations.showSpinner('Loading');
        hideAllDivs();
        $('#divEditContent').html('');
        $('#divEditContent').show();
        $('#menuBarContentType').show();
        
        $('#divEditContent').load('/main/contents/method/edit.incognito', onLoadSuccess, onLoadError);
    }
    
    
    function showProfile(){
                
        hideAllDivs();
        $('#divProfile').show();
        
        $('#modalPassword').parent().remove();

        if(!profileLoaded){
            
            operations.showSpinner('Loading');
            $('#divProfile').load('/main/users/method/profile', onLoadSuccess, onLoadError);
            
        }else
            onLoadSuccess();
        
        profileLoaded = true;
    }
        
    
    function showImageCrop(){
                
        hideAllDivs();
        $('#divImageCrop').show();        
        
        if(!cropLoaded){
            
            operations.showSpinner('Loading');
            $('#divImageCrop').load('/main/users/method/image.crop', onLoadSuccess, onLoadError);
        }
        
        cropLoaded = true;
    }
    
    function showNotifications(){
        
        //operations.showSpinner('Loading');
        hideAllDivs();
        $('#divNotifications').html('');
        $('#divNotifications').show();
        //$('#divNotifications').load('/main/email.notifications/method/index', onLoadSuccess, onLoadError);
    }

    function showInvite(){
        
        hideAllDivs();
        $('#divInvite').show();
    }
    
    function onActivitiesClick(){        
        deactivateAllButtons();
        $('#btnNavActivities').addClass('selected');                
        showActivities();        
    }
    
    function onAnalyticsClick(){
        deactivateAllButtons();
        $('#btnNavAnalytics').addClass('selected');        
    }    
    
    function onPaymentsClick(){
        deactivateAllButtons();
        $('#btnNavPayments').addClass('selected');
    }    

    function onInviteClick(){
        deactivateAllButtons();
        $('#btnNavInvite').addClass('selected');
        showInvite();        
    }    
    
    function onSettingsClick(){
        deactivateAllButtons();
        $('#btnNavSettings').addClass('selected');
        showProfile();        
    }
    
    function onDraftsClick(){
        deactivateAllButtons();
        $('#btnNavDrafts').addClass('selected');
        showEditContent(false);                
    }
    
    function onPublishedClick(){
        deactivateAllButtons();
        $('#btnNavPublished').addClass('selected');
        showEditContent(true);        
    }
    
    function onNotificationsClick(){
        deactivateAllButtons();
        $('#btnNavNotifications').addClass('selected');
        showNotifications();        
    }
    
    function onIncognitoClick(){
        deactivateAllButtons();
        $('#btnNavIncognito').addClass('selected');
        showIncognito();        
    }
        

    $('#btnNavActivities').on('click', function(){ 
        setFilterAccount(oFilterAccount.profile);
    });
    $('#btnNavAnalytics').on('click', function(){
        setFilterAccount(oFilterAccount.analytics);
    });
    $('#btnNavPayments').on('click', function(){
        setFilterAccount(oFilterAccount.payments);      
    });    
    $('#btnNavInvite').on('click', function(){
        setFilterAccount(oFilterAccount.invite);
    });
    $('#btnNavSettings').on('click', function(){
        setFilterAccount(oFilterAccount.settings);
    });
    $('#btnNavDrafts').on('click', function(){
        setFilterAccount(oFilterAccount.draft);
    });
    $('#btnNavPublished').on('click', function(){
        setFilterAccount(oFilterAccount.published);
    });
    $('#btnNavIncognito').on('click', function(){
        setFilterAccount(oFilterAccount.incognito);
    });
    $('#btnNavNotifications').on('click', function(){
        setFilterAccount(oFilterAccount.notifications);
    });

    

    function setFilterAccount(selectedFilter){
        
        switch(selectedFilter){
            
            case oFilterAccount.draft:
                onDraftsClick();
                oHomeState.filterAccount = oFilterAccount.draft;
                break;
                
            case oFilterAccount.published:
                onPublishedClick();
                oHomeState.filterAccount = oFilterAccount.published;
                break;
                
            case oFilterAccount.incognito:
                onIncognitoClick();
                oHomeState.filterAccount = oFilterAccount.incognito;
                break;
                
            case oFilterAccount.profile:
                onActivitiesClick();
                oHomeState.filterAccount = oFilterAccount.profile;
                break;
                
            case oFilterAccount.invite:
                onInviteClick();
                oHomeState.filterAccount = oFilterAccount.invite;
                break;
                
            case oFilterAccount.settings:
                onSettingsClick();
                oHomeState.filterAccount = oFilterAccount.settings;
                break;
                
            case oFilterAccount.notifications:
                onNotificationsClick();
                oHomeState.filterAccount = oFilterAccount.notifications;
                break;
                
        }
        
        saveHistoryState(oHomeState, null, oHomeState.url);
    }

    function deactivateAllButtons(){
        
        $('#btnNavActivities').removeClass('selected');
        $('#btnNavAnalytics').removeClass('selected');
        $('#btnNavDrafts').removeClass('selected');
        $('#btnNavPublished').removeClass('selected');
        $('#btnNavIncognito').removeClass('selected');
        $('#btnNavPayments').removeClass('selected');
        $('#btnNavInvite').removeClass('selected');
        $('#btnNavSettings').removeClass('selected');
        $('#btnNavNotifications').removeClass('selected');
    }      
    
    function hideAllDivs(){
        
        $('#menuBarActivities').hide();
        $('#menuBarContentType').hide();
        $('#divInvite').hide();
        $('#divProfile').hide();
        $('#divImageCrop').hide();
        $('#menuBarContentType').hide();        
        $('#divEditContent').hide();
        $('#divActivities').hide();   
        $('#divNotifications').hide();                
    }    
    
    function onLoadSuccess(){
        operations.hideSpinner();
    }
    
    function onLoadError(){
        operations.hideSpinner();
    }
    
    
    function setProfileMenu(){
        
        $('#btnNavActivities').show();
        $('#btnNavDrafts').show();
        $('#btnNavPublished').show();        
    }
    
    function setSettingsMenu(){
        
        $('#btnNavSettings').show();
        $('#btnNavNotifications').show();
        $('#btnNavInvite').show();        
    }
    
</script>