<script type="text/javascript">    
    $('#sidebar').empty();
</script>

<div class="sidenav" id="sidenav">
    <div class="insidenav_01">
        <ul id="leftFilterButtons" >
            <li><a id="btnTrending">Trending</a></li>
            <li><a id="btnLatest" class="selected">Latest</a></li>
            <li><a id="btnBreaking">Breaking</a></li>
            <li><a id="btnFollowing">Following</a></li>
        </ul>
    </div>
</div>
            
<script type="text/javascript">
        
    $('#btnTrending').on('click', function(){        
        
        setFilter('<?php echo Main_Model_Content::FILTER_TRENDING; ?>');
        onClickSidebar();
    });
    
    $('#btnLatest').on('click', function(){
        
        setFilter('<?php echo Main_Model_Content::FILTER_LATEST; ?>');
        onClickSidebar();
    });
    
    $('#btnBreaking').on('click', function(){
        
        setFilter('<?php echo Main_Model_Content::FILTER_BREAKING; ?>');
        onClickSidebar();        
    });
    
    $('#btnFollowing').on('click', function(){
        
        setFilter('<?php echo Main_Model_Content::FILTER_FOLLOWING; ?>');
        onClickSidebar();        
    });    
    
    
    function onClickSidebar(){
        
        loadContentList(filter);
    }
    
    
    function setFilter(filterToSelect){
        
        oHomeState.filterLeft = filterToSelect;
        
        switch(filterToSelect){
                
            case '<?php echo Main_Model_Content::FILTER_BREAKING; ?>':
                setFilterBreaking();
                break;
                
            case '<?php echo Main_Model_Content::FILTER_FOLLOWING; ?>':
                setFilterFollowing();
                break;
                
            case '<?php echo Main_Model_Content::FILTER_LATEST; ?>':
                setFilterLatest();
                break;
                
            case '<?php echo Main_Model_Content::FILTER_TRENDING; ?>':
                setFilterTrending();
                break;

            default:
                setFilterLatest();
        }        
    }
    
    function setFilterTrending(){
        removeSelectedFilter();
        $('#btnTrending').addClass('selected');
    }

    function setFilterLatest(){        
        removeSelectedFilter();
        $('#btnLatest').addClass('selected');
    }
    
    function setFilterBreaking(){        
        removeSelectedFilter();
        $('#btnBreaking').addClass('selected');
    }
    
    function setFilterFollowing(){        
        removeSelectedFilter();
        $('#btnFollowing').addClass('selected');
    }
    
    function removeSelectedFilter(){
        
        $('#btnTrending').removeClass('selected');
        $('#btnLatest').removeClass('selected');
        $('#btnBreaking').removeClass('selected');
        $('#btnFollowing').removeClass('selected');
    }    

</script>