
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="in-date-picker">

    <style>
        paper-input{
            position: relative;
            float: left;
            margin: -8px auto;
        }

        paper-icon-button{
            padding: 24px 0 0 10px;
            position: relative;
            float: left;
        }
    </style>

    <template>
        <div class="content-datepicker">
            <paper-input id="{{inputId}}"label="{{label}}" value="{{date}}" readonly="readonly"></paper-input>
            <paper-icon-button icon="icons:reorder" on-click="openDialog" class="dropdown-trigger in-line"></paper-icon-button>
            <paper-dialog id="{{dialogId}}" class="paper-date-picker-dialog">
                <paper-date-picker id="{{pickerId}}" responsive-width="655px" locale="es"></paper-date-picker>
                <div class="buttons">
                    <paper-button on-click="closeDialog">Cancelar</paper-button>
                    <paper-button on-click="selectDate">OK</paper-button>
                </div>
            </paper-dialog>
            <br>
            <br>
            <br>
        </div>
    </template>
    <script>
        (function() {
            Polymer({
                is: 'in-date-picker',
                properties: {
                    date: String,
                    data: String
                },
                ready: function () {
                    var data = JSON.parse(this.data);

                    this.label = data.label;

                    this.inputId = data.id;
                    this.dialogId = "dialog-"+data.id;
                    this.pickerId = "picker-"+data.id;

                    $(this).find(".focused-line").css("background", "transparent");
                },
                openDialog: function(){
                    var dialog = document.getElementById(this.dialogId);
                    if (dialog) {
                        dialog.open();
                    }
                },
                closeDialog: function(){
                    var dialog = document.getElementById(this.dialogId);
                    if (dialog) {
                        dialog.close();
                    }
                },
                selectDate: function(){
                    var picker = document.getElementById(this.pickerId);
                    this.date = picker.dateFormat(picker.date, 'DD-MM-YYYY');

                    if(this.date == "" || this.date == undefined){
                        var d = new Date();
                        var day = d.getDate();
                        var month = d.getMonth() + 1;
                        var year = d.getFullYear();

                        this.date = day + "-" + month + "-" + year;
                    }

                    this.closeDialog();
                }
            });



        })();

    </script>
</dom-module>
