    <div class="center-content" style="width: 100%; ">
        <div class="mail-container" style="background: #eee; width: 750px; overflow: hidden; margin: 0 auto !important">

            
            <!-- contenido superiro, logo --><!-- contenido superiro, logo --><!-- contenido superiro, logo --><!-- contenido superiro, logo -->
            <!-- contenido superiro, logo --><!-- contenido superiro, logo --><!-- contenido superiro, logo --><!-- contenido superiro, logo -->
            <!-- contenido superiro, logo --><!-- contenido superiro, logo --><!-- contenido superiro, logo --><!-- contenido superiro, logo -->
            <div class="content-sup" style="width: 700px; height: auto;
                margin: 0 25px; padding: 35px 0 25px 0; background: #fff; float: left">

                <img style="margin: 0px auto; display: block" src="images/landing/logo_index.png" alt="Wejo">

                <h2 style="margin-top: 35px; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 16pt">ACCESS CODE</h2>

                <h2 style="width: 160px; height: auto; margin: 35px auto 15px auto; padding: 10px 0; border-radius: 10px; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 16pt; color: #F79646; border: 1px solid #eee ">H3FG5R3</h2>

            </div>


            
            <!-- Div central naranja --><!-- Div central naranja --><!-- Div central naranja --><!-- Div central naranja -->
            <!-- Div central naranja --><!-- Div central naranja --><!-- Div central naranja --><!-- Div central naranja -->
            <!-- Div central naranja --><!-- Div central naranja --><!-- Div central naranja --><!-- Div central naranja -->
            <div class="entre-div" style="width: 750px; height: auto;
                margin: 0 auto; padding: 15px 0 15px 0; background: #F79646; float: left">

            <h2 style="width: auto; height: auto; margin: 25px auto 25px auto; padding: 10px 0; border-radius: 10px; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 500; font-size: 22pt; color: #fff;">Deliver The Best News. Ever.</h2>
            </div>


            
            
            <!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior -->
            <!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior -->
            <!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior --><!-- Contenido inferior -->
            <div class="content-inf" style="width: 700px; height: auto;
                margin: 0 25px; padding: 5px 0 25px 0; background: #fff; float: left">

                <h3 style="width: auto; height: auto; margin: 0px auto 15px auto; padding: 0; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 12pt; color: #F79646;">The best way to manage and market yuor content</h3>


                <div class="content-items" style="width: 600px; height: auto;
                margin: 50px auto 0 auto;">


                    <div class="item" style="width: 30%; margin: 0 1.5%; float: left"><img src="images/mail/icon-database.png" alt="Reduce Research Time" style="width: 35px; display: block; margin: 0 auto">

                    <h3 style="width: auto; height: auto; margin: 15px auto 15px auto; padding: 0; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 10pt; color: #000;">Reduce Research Time</h3>
                    <p style="width: 90%; height: auto; margin: 15px auto 15px auto; padding: 0; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 9.5pt; color: #F79646;">Access our database for contacts, organizations and support</p>
                    </div>




                    <div class="item" style="width: 30%; margin: 0 1.5%; float: left">
                        <img src="images/mail/icon-chat.png" alt="Reduce Research Time" style="width: 35px; display: block; margin: 0 auto">

                        <h3 style="width: auto; height: auto; margin: 15px auto 15px auto; padding: 0; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 10pt; color: #000;">Chat and Discuss</h3>
                    <p style="width: 90%; height: auto; margin: 15px auto 15px auto; padding: 0; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 9.5pt; color: #F79646;">Connect and collaborate with other journalists and fixers</p>

                    </div>



                     <div class="item" style="width: 30%; margin: 0 1.5%; float: left">
                        <img src="images/mail/icon-graph.png" alt="Reduce Research Time" style="width: 35px; display: block; margin: 0 auto">

                        <h3 style="width: auto; height: auto; margin: 15px auto 15px auto; padding: 0; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 10pt; color: #000;">Measure Engagement</h3>
                    <p style="width: 90%; height: auto; margin: 15px auto 15px auto; padding: 0; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 9.5pt; color: #F79646;">Understand your audience to improve your content</p>

                    </div>

                </div>

            </div>
            
            
            
            
            <!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER -->
            <!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER -->
            <!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER -->
            <div class="content-inf" style="width: 700px; height: auto;
                margin: 0 25px; padding: 5px 0 25px 0; background: #fff; float: left">
                <p style="width: 90%; height: auto; margin: 15px auto 15px auto; padding: 0; text-align: center; font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 9.5pt; color: #000;">Join us: <a href="#" style="color: #F79646; font-style: italic">www.wejo.co</a></p>

            </div>

        </div>
    </div>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>