<div class="col-md-12 comments_section" id="comment_box">
    <div class="content_comments">
        <h3>Comments (<span id="count_comments"><?php echo $this->countComments?></span>)</h3>      

        <div class="user_pic_content_small pointer" onclick="goProfileJournalist(jSon.data.journalistID)" href="#">
            <div class="user_pic_small"><img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $this->userPic?>"></div>
        </div>
        
        <div class="new_comment">
            <form id="formComment" class="form_comment">    
                <input type="hidden" name="txtConId" id="txtConId">
                <textarea name="txtComment" id="txtComment" oninput="verifyText(this.id,'btn_disabled')" cols="70" rows="1" placeholder="Add your comment"></textarea>
                
            <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>
                
                <a class="btn_comment btn_disabled" id="btnComment" name="btnComment" onclick="comment(jSon.data.contentID)">Comment</a>
                
            <?php } else { ?>            
                
                <a class="btn_comment btn_disabled" id="btnComment" name="btnComment" onclick="openModalPortal()">Comment</a>
                
            <?php } ?>            
                
            </form>
        </div> 

        <div id="main_comment" class="col-md-12 no-margins principal_comment"></div>
    </div>
        
<?php if($this->countComments > 10){ ?>
        
        <a id="btn_more_comments_<?php echo $this->contentID ?>" class="btn_more_comments" onclick="getMoreComments(jSon.data.contentID)">Load more</a>
        
<?php } ?>
       
</div>