<!--CONTENTS CREATE-->


<link rel="stylesheet" href="/css/alertify/alertify.core.css">
<link rel="stylesheet" href="/css/alertify/alertify.flat.css">
<link rel="stylesheet" href="/js/tour/css/theme1/style.css"/>


<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>


<form id="formContent" name="formContent" method="post" enctype="multipart/form-data" style="height: 100%">
    
    <div class="sidenav" id="sidenav">
        <div class="insidenav_01">
            <ul>
            <?php if ($this->incognito) { ?>
                <li><a id="btnIncognito" class="selected">Incognito</a></li>    
            <?php } else { ?>                
                <li><a id="btnIncognito">Incognito</a></li>
            <?php } ?>                
                <li><a id="btnDrafts">Drafts</a></li>
                <li><a id="btnPublished">Published</a></li>
                <li><a id="btnTour">Take a tour</a></li>
            </ul>
        </div>
    </div>

    
    <div id="divMainContentType" style=""></div>

    <div id="divMainOther" class="content cuerpo"> 

        <div class="row no-margins">
            <div class="col-md-12 no-margins">

                <div id="divMainContent" class="page_content">

                    <h1 id="titleCreateContent">Create Content</h1>

                    <br>

                    <?php if ($this->create) { ?>

                        <div id="divCreateContentType">
                            <h3>Type of Content</h3><br>

                            <a id="btnLoadArticle" onclick="loadArticle()" class="btn_style_01 btn_article"> Articles</a>
                            <a id="btnLoadPhoto" onclick="loadPhoto()" class="btn_style_01 btn_photo "> Photos</a>
                            <a id="btnLoadVideo" onclick="loadVideo()" class="btn_style_01 btn_video"> Videos</a><br><br>
                            
                        </div>
                    <?php } ?>


                    <?php if ($this->incognito) { ?>


                        <div id="divIncognitoDisclaimer">

                            <br><br>
Incognito allows journalists to create content anonymously on the Jouture platform. <br>
Please agree to the following disclaimer before proceeding with the incognito service: <br><br>
1.     This service is intended to separate the content from its creator. The content will not be associated with the profile that creates the content, and will be labeled under Incognito. Any content published using the Incognito service cannot be re-linked to its creator. <br><br>

2.     This service does not provide any in-house encryption, proxies or anonymizer. Before using this service, please deploy your encryption stack such as a VPN and/or a TOR Browser. In doing so, you increase your browsing security. <br><br>

3.     Jouture will not be responsible or liable, directly or indirectly, in any way for any loss or consequential damage of any kind incurred as a result of using the incognito service. <br><br>

Do you agree ? <br><br>

        <input type="button" class="btn_submit" name="btnConfirmIncognito" id="btnConfirmIncognito" value="Yes" onclick="confirmIncognito()">
        <input type="Button" class="btn_cancel" id="btnCancelIncognito" name="btnCancelIncognito" value="No" onclick="cancelIncognito()">


                        </div>
                    
                    <?php } ?>

                    <br>

                </div>

            </div>
        </div>
    </div>

    
    <input value="<?php echo $this->incognito?>" type="hidden" name="incognito" id="incognito">

    <input value="0" type="hidden" name="savePublished" id="savePublished">
        
    
    <input maxlength="250" value="<?php echo $this->objectID ?>" type="hidden" name="objectID" id="objectID">
    <input value="<?php echo $this->isDownloadable ?>" type="hidden" name="isDownloadable" id="isDownloadable">
    
    


</form>


<style type="text/css">

    .check_buttons_content {
        display: block;
        height: 20px;
        width: 585px;
        padding: 0 !important;
        margin: 0 0 70px;
    }

    .check_buttons_content_left{
        float: left;
        height: 50%;
    }

    .check_buttons_content_right{
        float: right;
        height: 50%;
    }

</style>

<script type="text/javascript">

    var controllerName = '<?php echo $this->controllerName; ?>';
    var showThanks = '<?php echo $this->showThanks; ?>';
    var countChars = 0;
    var isTimerRunning = false;

    $('document').ready(function() {
        
        hideErrorMessages();

        $('#divMainBody').removeClass('cuerpo');
        extendSideNav();

<?php if ($this->incognito) { ?>
        
        $('#divCreateContentType').hide()
        
<?php } ?>        

        if (controllerName === "") {
            
           //alert('sin controller name');
        
        }else {
            
            var objId = '<?php echo $this->objectID ?>';
            var url = '/main/' + controllerName + '/method/create.new';
            
            if (parseInt(objId) > 0)
                url += '/con_id/' + objId;
            
            $('#divMainOther').html('');
            $('#divMainContentType').load(url);
        }

                

        $(document).on('click', '#btnCancel', function(e) {
            window.location.assign("<?php echo $this->baseUrl() . '/main/contents/index' ?>");
        });

        $('#btnDrafts').on('click', function(e) {

            var url = "<?php echo $this->serverUrl() . '/main/users/method/show.content.management/con_published/0' ?>";
            $('#divMainBody').load(url, function(){
                setProfileMenu();
            });
            
            
            oHomeState.page = oPages.write;
            saveHistoryState(oHomeState, null, oHomeState.url);
        });

        $('#btnPublished').on('click', function(e) {
            
            var url = "<?php echo $this->serverUrl() . '/main/users/method/show.content.management/con_published/1' ?>";
            $('#divMainBody').load(url, function(){
                setProfileMenu();
            });
        });

        $('#btnIncognito').on('click', function(e) {

            var url = '<?php echo $this->serverUrl() . '/main/contents/method/incognito' ?>';
            $('#divMainBody').load(url);
        });

        //initCreateContentTour();
        
    });
    
    
    function prepareCommonElements(){
    
        //$("#txtTitle").ForceAlphaNumericOnly();
        //$("#txtSubtitle").ForceAlphaNumericOnly();

        $('#checkYes').click(function() {

            $('#isDownloadable').val(1);

            if (document.getElementById("checkYes").checked)
                document.getElementById("checkNo").checked = false;
            else {
                document.getElementById("checkNo").checked = true;
                $('#isDownloadable').val(0);
            }
        });

        $('#checkNo').click(function() {

            $('#isDownloadable').val(0);

            if (document.getElementById("checkNo").checked)
                document.getElementById("checkYes").checked = false;
            else {
                document.getElementById("checkYes").checked = true;
                $('#isDownloadable').val(1);
            }
        });



        if ($('#isDownloadable').val() === '')
            $('#isDownloadable').val(0);

        try{
            
            $("#txtAddress").geocomplete({
                details: ".details",
                detailsAttribute: "data-geo",
                location: "<?php echo (!empty($this->txtAddress)) ? $this->txtAddress : ''; ?>"
            });            
            
        }catch(e){
            //no internet
        }    
    }

    /* Callen on every keypress when creating content title, subtitle, text */
    function contentKeyPress(event) {
        
//        if(!isCharacterKeyPress(event))
//            return true;

        hideErrorMessages();

        var key = event.keyCode || event.charCode;

        //delete keys
        if( key === 8 || key === 46 )
            countChars--;
        else
            countChars++;
               
        /* return if timer is already running*/
        if(isTimerRunning)
            return true;
                                                
        if(countChars >= 5){
            
            $('#messageSaving').html('Saving...');
            
            isTimerRunning = true;  
            
            setTimeout(function(){
                                                                                                                
                $("#savePublished").val('0');
        
                var url = '/main/' + controllerName + '/';
                
                if(controllerName === 'articles'){
                    
                    var editorVal = document.getElementById("editor").firstElementChild;
                    $("#txtText").html(editorVal.innerHTML);
                    $("#txtText").val(editorVal.innerHTML);
                }
                
                
                //Enable autosave only for articles
                if(controllerName === 'articles')
                    operations.save(formContent, url, autoSaveCallback, null, 'autosave');                
                
            }, 5000);
        }

    }
    
    function autoSaveCallback(){
        
        $('#messageSaving').html('Autosaved');
        isTimerRunning = false;
    }


    
    function saveContent(doSubmit) {
    
        var userAccepted = '<?php echo Main_Model_User::getSession(Main_Model_User::USER_ACCEPTED) ?>';
        
        if(!userAccepted && doSubmit){
            openModalRestricted();
            return;
        }
    
        if(doSubmit)
            openModalConfirmPublish();
        else
            confirmSave(doSubmit);
    }
    
    
    function confirmSave(doSubmit) {        
        
        operations.showSpinner('Saving');
                
        $('#btnSaveContent').attr('disabled', 'disabled'); //prevent double click        
        $('#btnPublish').attr('disabled', 'disabled'); //prevent double click
        
        var url = '/main/' + controllerName + '/';

        if(controllerName === 'articles'){
            
            var editorVal = document.getElementById("editor").firstElementChild;
            $("#txtText").html(editorVal.innerHTML);
            $("#txtText").val(editorVal.innerHTML);
        }                

        if (doSubmit) {
                        
            $("#savePublished").val('1');
            operations.save(formContent, url, sayThanks, enableButtons);
            
        } else {

            $("#savePublished").val('0');
            operations.save(formContent, url, showSuccess, enableButtons);
        }

    }
    
    function hideErrorMessages(){
        
        $('.alertify-log').removeClass('alertify-log-show');
    }

    function enableButtons(event) {
        
        operations.hideSpinner();                
        
        //Avoid duplicated messages
        $('#alertify-logs').remove();
        
        
        if(event.errors && event.errors.txtTitle){
            alertify.error('Title: ' + event.errors.txtTitle, 10000);
        }
        
        if(event.errors && event.errors.txtSubtitle){
            alertify.error('Subtitle: ' + event.errors.txtSubtitle, 10000);
        }

        if(event.errors && event.errors.txtText){
            alertify.error('Article Text: ' + event.errors.txtText, 10000);
        }
        
        if(event.errors && event.errors.txtAddress){
            alertify.error('Please type a valid Location', 10000);
        }

        if(event.errors && event.errors.btnSubmit){
            alertify.error(event.errors.btnSubmit);
        }
        
                
        $('#divMainBody').animate({scrollTop : 0},800);        
        $('#btnSaveContent').removeAttr('disabled');
        $('#btnPublish').removeAttr('disabled');
    }

    function sayThanks() {

        var url = "<?php echo $this->baseUrl() . '/main/contents/method/thanks/con_id/' ?>";
        url += $('#objectID').val();

        $('#divMainContentType').load(url, function(){operations.hideSpinner()});
        
        var serverUrl = '<?php echo $this->serverUrl()?>';        
        if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
            mixpanel.track("Content published");        
    }

    function showSuccess(event) {

        operations.hideSpinner();
        operations.showMessage('Saved', 'ok');

        enableButtons(event);
        
        var serverUrl = '<?php echo $this->serverUrl()?>';        
        if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
            mixpanel.track("Draft saved");
        
        return true;
    }
    

    function loadArticle() {
        
        if(creationTour)
            creationTour.stop();
        
        var url = '/main/articles/method/create.new';        
        $('#divMainOther').html('');
        $('#divMainContentType').load(url, loadNewArticleCallback);
        controllerName = 'articles';               
    }

    function loadVideo() {

        var url = '/main/videos/method/create.new';

        operations.showSpinner('Loading');
        $('#divMainOther').html('');
        $('#divMainContentType').load(url);       
        controllerName = 'videos';
    }

    function loadPhoto() {


        var url = '/main/photos/method/create.new/incognito/<?php echo $this->incognito; ?>';
        
        $('#divMainOther').html('');
        $('#divMainContentType').load(url);       
        controllerName = 'photos';
    }
    
    
    function isCharacterKeyPress(evt) {
        
        if (typeof evt.which == "undefined") {
            // This is IE, which only fires keypress events for printable keys
            return true;
            
        } else if (typeof evt.which == "number" && evt.which > 0) {
            // In other browsers except old versions of WebKit, evt.which is
            // only greater than zero if the keypress is a printable key.
            // We need to filter out backspace and ctrl/alt/meta key combinations
            return !evt.ctrlKey && !evt.metaKey && !evt.altKey && evt.which != 8;
        }
        return false;
    }    
    
    
    
    var creationTour;
    
    function initCreateContentTour(){
        
        var tourdata = [
//            {
//                html: "Hey there ! <br> Is this your first time here ?",
//                live: 1500,
//                delayIn: 2000,
//                overlayOpacity: 0.8
//            },
            {
                html: "I'll give you a quick tour through the content creation",
                overlayOpacity: 0.8,
                live: 3000
            },{
                html: "To start creating an Article, please click on the article button",
                element: "#btnLoadArticle",
                position: "s",
                live: 1000,
                overlayOpacity: 0,
                expose: "#btnLoadArticle",                
                onShow: function(element) {
                    creationTour.pause();
                }
            }            
        ];

        creationTour = jTour(tourdata,{
            autostart: false, //!getCookie('tourcontentwasplayed'),
            onStop: function(){
                //set the cookie with value 1 (true) and expire date in 365 days
                setCookie('tourcontentwasplayed', 1, 365);
            },
            onStart: function(){
                //
            }
        });
        
        creationTour.start();
    }    
    
    
    
    $('#btnTour').on('click', function (){
        
        openModalConfirmTour();
    });



    function loadNewArticleCallback(){
        
        $('#btnTour').remove();
        
        if(!creationTour)
            return true;
        
        try{
            
            
            var newStep = [{
                
                html: "Now you can start typing the title of your new article",
                live: 5000,
                element: "#txtTitle",
                position: "n",
                expose: "#txtTitle",
                overlayOpacity: 0.1
            }];
            
            creationTour = jTour(newStep,{
                autostart: false, //!getCookie('tourcontentwasplayed'),
                onStop: function(){
                    //set the cookie with value 1 (true) and expire date in 365 days
                    //setCookie('tourcontentwasplayed', 1, 365);
                },
                onStart: function(){
                    creationTour.pause();
                }
            });            
            
            creationTour.start();
                        
        }catch(err){
            
            console.log(err.message);
            console.log(err);
        }
        
        $("#txtTitle").on('keypress', function(){
            
            if(creationTour)
                creationTour.stop();
        });
    }
    
    function confirmIncognito(){
        
        $('#divIncognitoDisclaimer').hide();        
        $('#divCreateContentType').show();
        $('#titleCreateContent').html('Create Incognito Content');
    }
    
    function cancelIncognito(){
        onCreateClick();
    }

</script>
