
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>


<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>



<ul class="category_menu">
    <li id="btnArticleContent" class="category_menu_focused left-child">
        <a onclick="onArticleContentClick()" class="btn_idx_art">Articles</a>
    </li>
    <li id="btnPhotoContent">
        <a onclick="onPhotoContentClick()" class="btn_idx_pho">Photos</a>
    </li>
    <li id="btnVideoContent">
        <a onclick="onVideoContentClick()" class="btn_idx_vid">Videos</a>
    </li>
    <li id="btnTweetContent">
        <a onclick="onTweetContentClick()" class="btn_idx_twe">Tweets</a>
    </li>
</ul>


<div class="row no-margins">
    <div class="col-md-12">
        <h1>Content management</h1><br>
        <h2 id='titleContent' class="oswald_h2">Articles</h2>

        <div id='divScrollableContent' class="scrollableContent">           
            <div id="divContentList" class="index_left_inside">
                        
                        <!--        LIST OF CONTENTS LOADED  -->
            </div>
        </div>                
        
    </div>
</div>




<div class="remodal-bg">
    <div class="remodal" data-remodal-id="delete">
        <div id="modal" style="margin-top:-180px">
            <div class="wejo_box_01" id="wejo_box_01" style="height: 390px">                    
            </div>
        </div>
    </div>
</div>



<div id="boxConfirmDelete" style="display: none">

    <div class="wejo_box_01_head">
        <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
        <h2>Confirm</h2>
    </div>

    <div class="wejo_box_01_body" style="height: 280px">
        <div class="wejo_box_01_content">

            <h5 style="text-transform: none">Are you sure you want to delete this item?</h5>

            <input type="button" class="btn_request" id="btn_cancel" value="Cancel"  onclick="closeModal()">

            <input type="button" class="btn_login_black top-10" id="btn_delete" value="Yes" onclick="deleteContent()" style="margin-top: 20px">

        </div>
    </div>
</div>



<script type="text/javascript">

    var modal = null;
    var object_id = 0;
    var controllerName = '';
    var filterMyContent = '';
        
    $('document').ready(function() {
        
        
        filterMyContent = '<?php if($this->show_published) 
                                    echo '/con_published/1'; 
                                 else if($this->show_drafts) 
                                    echo '/con_published/0';
                                 else if($this->show_incognito) 
                                    echo '/incognito/1';
                                 else
                                    echo ''; ?>';
        

        $("#divScrollableContent").mCustomScrollbar({
            theme: "dark",
            setWidth: false,
        });
        
        /*** Ancho del background menu ***/
        var contentTypeMenuBar = $(".category_menu_bg");
        var screenWidth = $(window).width();    
        contentTypeMenuBar.width(screenWidth);


        //Show Articles by default
        onArticleContentClick();

        modal = $.remodal.lookup[$('[data-remodal-id=delete]').data('remodal')];
    });


    function onArticleContentClick() {

        $('#divContentList').html('');
        $('#btnArticleContent').addClass('category_menu_focused');
        $('#btnVideoContent').removeClass('category_menu_focused');
        $('#btnPhotoContent').removeClass('category_menu_focused');
        $('#btnTweetContent').removeClass('category_menu_focused');
        $('#titleContent').text('ARTICLES');
        controllerName = 'articles';

        var url = '<?php echo $this->serverUrl() . '/main/articles/method/edit.articles'; ?>' + filterMyContent;
        $('#divContentList').load(url, adjustHeight);
    }

    function onVideoContentClick() {

        $('#btnVideoContent').addClass('category_menu_focused');
        $('#btnArticleContent').removeClass('category_menu_focused');
        $('#btnPhotoContent').removeClass('category_menu_focused');
        $('#btnTweetContent').removeClass('category_menu_focused');
        $('#titleContent').text('VIDEOS');
        controllerName = 'videos';

        var url = '<?php echo $this->serverUrl() . '/main/videos/method/edit.videos' ?>' + filterMyContent;;
        $('#divContentList').load(url, adjustHeight);

    }

    function onPhotoContentClick() {

        $('#btnPhotoContent').addClass('category_menu_focused');
        $('#btnVideoContent').removeClass('category_menu_focused');
        $('#btnArticleContent').removeClass('category_menu_focused');
        $('#btnTweetContent').removeClass('category_menu_focused');
        $('#titleContent').text('PHOTO ALBUMS');
        controllerName = 'photos';
        
        var url = '<?php echo $this->serverUrl() . '/main/photos/method/edit.photos' ?>' + filterMyContent;;
        $('#divContentList').load(url, adjustHeight);
    }

    function onTweetContentClick() {

        $('#btnTweetContent').addClass('category_menu_focused');

        $('#btnVideoContent').removeClass('category_menu_focused');
        $('#btnPhotoContent').removeClass('category_menu_focused');
        $('#btnArticleContent').removeClass('category_menu_focused');
        $('#divContentList').text('TWEETS');
    }
    
    function confirmDelete(id) {

        object_id = id;
        $('#wejo_box_01').html($('#boxConfirmDelete').html());
        modal.open();
    }

    function deleteContent() {

        var data = "method=delete&con_id=" + object_id;

        closeModal();

        $.ajax({
            type: "DELETE",
            url: '/main/contents/',
            data: data,
            success: function(response){
                if (response == null || response.status == 500)
                    operations.showMessage('Try Again', 'error');

                if (response.status == 200) {

                    onArticleContentClick();
                }
            },
            dataType: 'json'
        });

    }

    function publishContent(id) {

        var data = "method=publish&con_id=" + id;

        $.post('/main/contents/', data, function(response) {

            if (response == null || response.status == 500)
                operations.showMessage('Try Again', 'error');

            if (response.status == 200) {
                closeModal();
                onArticleContentClick();
                operations.showMessage('Published', 'ok');
            }

        }, 'json');

    }

    function editContent(id) {
        
        operations.showSpinner('Loading');
        
        var url = '<?php echo $this->baseUrl(); ?>' + '/main/' + controllerName + '/method/edit/con_id/' + id;
        $('#divMainBody').load(url, function(){operations.hideSpinner()});
    }

    function goAway(id) {

        var url = '<?php echo $this->baseUrl(); ?>' + '/main/' + controllerName + '/method/view/con_id/' + id;
        $('#divMainBody').load(url);
    }

    function closeModal() {
        $('#wejo_box_01').empty();
        modal.close();
    }


    function adjustHeight() {

        var divHeight = $(window).height();

        if(!$('#divScrollableContent').offset())
            return true;

        var topDistance = $('#divScrollableContent').offset().top;
        var result = parseInt(divHeight) - parseInt(topDistance);
        $('#divScrollableContent').css('height', result + 'px');
        
        
        extendSideNav();          
    }
    


</script>