<?php echo $this->headLink()->appendStylesheet($this->baseUrl() . '/css/jquery.remodal.css'); ?>


    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="modalEndorse">
            <div id="modalGlobal" style="margin-top:-180px">
                    
                                       
                    <div id="boxPortal">
                        <div class="wejo_box_01 wejo_box_portal">
                        
                            <div class="btn_box_close"><a onclick="closeModalEndorse()"></a></div>
                            
                            <div class="wejo_box_01_body wejo_box_portal_body">

                                <div class="wejo_box_01_content">

                                    <h5 style="text-transform: none">Endorsing this article impacts your credibility.</h5>

                                    <input type="button" class="btn_request" id="btnCancelEndorse" value="Cancel"  onclick="closeModal()">

                                    <input type="button" class="btn_login_black top-10" id="btnConfirmEndorse" value="Endorse" onclick="onConfirmEndorseClick()" style="margin-top: 20px">

                                </div>
                                
                            </div>
                            
                        </div>    
                    </div>                      
                                                         
            </div>
        </div>
    </div>


<script type="text/javascript">
    
    var modalEndorse = null;

    $(document).on('open', '.remodal', function () {
        
      //  initModalEndorse();        
    });    


    function openModalEndorse(){
        
        modalEndorse = $.remodal.lookup[$('[data-remodal-id=modalEndorse]').data('remodal')];
        modalEndorse.open();
    }
    
    function onConfirmEndorseClick(){
        
        //defined in index.phtml
        endorseConfirmed();
        modalEndorse.close();
    }
    
    function closeModalEndorse(){
        
        modalEndorse.close();
    }       
    
    function initModalEndorse(){
        
        //hideAllPortalBoxes();
        //$('#boxPortal').show();        
    }    


//    function hideAllPortalBoxes(){
//        
//        $('#boxPortal').hide();
//        $('#boxLoginPortal').hide();
//        $('#boxSignUp').hide();
//        $('#boxWelcome').hide();        
//    }


</script>