<!--CONTENTS / INDEX-->
<!--CONTENTS / INDEX-->
<!--CONTENTS / INDEX-->

<script type="text/javascript">    
    $('#divMainBody').removeClass('cuerpo');
</script>

<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="/js/tour/css/theme1/style.css" />


<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/js/map-menu.js"></script>
<script type="text/javascript" src="/js/paged-scroll/jquery-paged-scroll.js"></script>

<style>

    ul#navigation {
        position: fixed;
        margin: 0px;
        padding: 0px;
        top: 100px;
        //left: 25px;
        //bottom: 60px;
        right: -90px;
        list-style: none;
        z-index:100;
    }
    ul#navigation li {
        width: 70px;

    }
    
    .navigation_selected{
        opacity: 1 !important;
    }
    
    ul#navigation li a {
        display: block;
        margin-left: -150px;
        width: 100px;
        height: 20px;    
        //background-color:#CFCFCF;
        background-color:#40484B;
        background-repeat:no-repeat;
        background-position:center right 10%;
        border:1px solid black;
        
        -moz-border-radius:0px 0px 0px 0px;
        -webkit-border-bottom-right-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -khtml-border-bottom-right-radius: 0px;
        -khtml-border-top-right-radius: 0px;
        
        -moz-box-shadow: 0px 2px 3px #000;
        -webkit-box-shadow: 0px 2px 3px #000;
        
        opacity: 0.5;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
        text-align: center;
        font-family: "Calibri";
        color: white;
        font-size: 12px;
    }


    .container-fluid {
        padding: 5px 30px 0 100px
    }

   
</style>


<script type="text/javascript">
    
    function onClickLink(){
        
        return false;
    }
    

    function updateLinks(){
        
        var nLen = nLen = document.links.length;
        for (var nIdx = 0 ; nIdx < nLen; document.links[nIdx++].onclick = onClickLink);
        
//        var links = document.getElementsByTagName('a');
//        for(i = 0; i < links.length; i++) {
//            links[i].addEventListener('click', clickOnLink, false);
//        }        
    }
    
</script>

<ul id="navigation">
    <li id="controlWorld" class=""><a id="btnWorld" title="">WORLD</a></li>    
    <li class=""><a id="btnRegion" title="">REGION</a></li>
    <li class=""><a id="btnCountry" title="">COUNTRY</a></li>
</ul>



<input class="geocode" id="txtAdress" type="hidden" name="txtAdress" value="Mendoza, Argentina">

<div class="bg_map map_size">
    <div id="map_canvas" class="map_canvas map_size" style="width:100%"></div>
</div>

<div class="details" id="geo-details" name="geo-details" style="display:none">
    <input name="lat" data-geo="lat" />
    <input name="lng" data-geo="lng" />
</div>



 <div class="col-md-12 no-margins">

    <div class="index_content">

        <div class="estructuraContent">
            <div id="hideContent" style="display:none;">
                <div class="shadow">
                    <ul class="category_menu">
                        
                        <li id="btnArticleContent"><a onclick="setContentType(<?php echo Main_Model_Content::TYPE_ARTICLE; ?>)" class="btn_idx_art">Articles</a></li>
                        <li id="btnPhotoContent"><a onclick="setContentType(<?php echo Main_Model_Content::TYPE_PHOTO; ?>)" class="btn_idx_pho">Photos</a></li>
                        <li id="btnVideoContent"><a onclick="setContentType(<?php echo Main_Model_Content::TYPE_VIDEO; ?>)" class="btn_idx_vid">Videos</a></li>
                        <li id="btnTweetContent"><a onclick="setContentType(<?php echo Main_Model_Content::TYPE_TWEET; ?>)" class="btn_idx_twe">Tweets</a></li>                        
                    </ul>

                    <div id="divScrollableContent" class="index_left">

                        <div id="divContentList" style="overflow: scroll">
                        </div>

<!--                        <div style="height: 60px;"><div class="scroll_loader"></div></div>-->
<!--<div style="text-align:center"><img style="height: 60px;" src="/images/spinner_scroll.gif"></div>-->

                    </div><!-- index_left content --> 
                </div>  

                <div class="div_btn">
                    <input type="button" class="btn_show_map" id="btnShowMap">
                </div>



            </div><!-- ↑↑↑ Hide this content ↑↑↑ -->

            <div class="div_btn2" id="btnHideMap" style="display:block">
                <input type="button" class="btn_hide_map" id="buttonHideMap">
            </div>
        </div>

    </div><!-- FIN index_content -->

</div>




<!--LO DESHABILITO POR AHORA, PARA PODER SUBIR EL CODIGO-->
<!--LO DESHABILITO POR AHORA, PARA PODER SUBIR EL CODIGO-->
<!--LO DESHABILITO POR AHORA, PARA PODER SUBIR EL CODIGO-->
<!--<div class="remodal-bg">
    <div class="remodal" data-remodal-id="modalPassword">
        <div id="modalPassword" style="margin-top:-180px">    
            <div id="boxLogin">
                <div class="wejo_box_01 wejo_box_portal" style="height: 360px !important">
                    <div class="btn_box_close"><a href="#" onclick="closeModalPassword()"></a></div>
                    <div class="wejo_box_01_body" style="height: 330px !important">
                        <div class="wejo_box_01_content">
                            <p class="wejo_box_p_gray">Please complete the following fields</p>

                            <form id="formChangePassword">

                                <input type="password" class="in_box_style_01" id="txtCurrentPassword" name="txtCurrentPassword" placeholder="Current password">
                                <input type="password" class="in_box_style_01" id="txtChangePassword" name="txtChangePassword" placeholder="New password">
                                <input type="password" class="in_box_style_01" id="txtPasswordConfirm" name="txtPasswordConfirm" placeholder="Repeat new password">

                                <br><br>               

                                <input type="button" class="btn_login_black top-10" value="Change" onclick="changePassword()">
                                <input type="button" class="search_btn_02 top-10" style="width: 232px; height: 48px" value="I will later" onclick="closeModalPassword()">

                            </form>
                        </div>
                    </div>
                </div>
            </div>                                    
        </div>
    </div>
</div>-->

<script type="text/javascript">   

    var myLatlng;
    var controllerName = '';
    var timer;
    var timerTour;
    var bounds;
    var isVisible = false;
    var conType = 0;
    var listContentWidth = 0;
    
    var map;
    var noInternet = false;
    var layerArgentina;
    var layerWorld;
    var rectangle;
    var wasCenteredByClick = false;
    var lastVisibleCenter;
    
    var arrayContinents = new Array();
    var arrayCountries = new Array();
    
    var ZOOM_WORLD = 3;
    var ZOOM_REGION = 4;
    var ZOOM_COUNTRY = 6;
//    var ZOOM_STATE = 7;
//    var ZOOM_CIYT = 9;
    
    var modalPassword = ""; 
    var listClosedByUser = false;
    
    
    $(window).resize(function () { 
        
        adjustHeight();
    });
    
    $('document').ready(function() {
                
        listContentWidth = $('#divContentList').width();
        controllerName = 'articles';        
                        
        adjustHeight(); 
        $('#btnWorld').css('background-color', '#E48C00');
                                        
        try{
            google;                
            initGoogleMap();            
            
        }catch(e){
            operations.hideSpinner();
            noInternet = true;
            alert('no internet');            
        }
        
        
        $(".shadow").on('mouseover', function(){
            //$('#leftFilterButtons').show();
        });
        
        $(".shadow").on('mouseout', function(){                       
           //$('#leftFilterButtons').hide();
        });
        
        
//DESHABILITO TEMPORALMENTE        
//        $("#divScrollableContent").mCustomScrollbar({
//            theme: "dark",
//            setWidth: false,
//        });
//        var divHeight = $(window).height();
//        var topDistance = $('#divContentList').offset().top;
//        var result = parseInt(divHeight) - parseInt(topDistance);
//        $('#divContentList').css('height', result + 'px');  
//DESHABILITO TEMPORALMENTE        
        
        
        $("#btnShowMap").on('mousedown', function() {
            
            console.log('click usuario');
            listClosedByUser = true;
            loadContentList();
            $("#hideContent").hide("slide", 500, function() {
            
                $("#btnHideMap").fadeIn(500);               
            });
        });
        
        $("#btnHideMap").on('mousedown', function() {
            
            $("#btnHideMap").fadeOut(500, function() {
                
                $("#hideContent").show("slide", 500, function(){
                    
                    adjustHeight();
                });    
            });
        });
        
        if('<?php echo $this->forgotPassword ?>' == '1'){
            
            //modalPassword = $.remodal.lookup[$('[data-remodal-id=modalPassword]').data('remodal')];
            
            //openModalChangePassword();            
        }
        
        <?php if( $this->email_verified ){ ?>
        
            //TODO: SHOW message email account verified
            
        <?php } ?>
                
        $('#divContentList').on('scroll', function(event){
            
            showHideMarkers();
        });                                   
        
        
<?php if(!Main_Model_User::getSession(Main_Model_User::USER_IS_TWITTER_VERIFIED)){ ?>
    
        goToActivities();
        
<?php }else{ ?>
    
        initTour();
        
<?php } ?>        
        
    });//    END Document Ready
    
    
    function initTour(){
        
        var tourdata = [{
                html: "Welcome ! <br> Is this your first time here ?",
                live: 1500,
                delayIn: 2000,
                overlayOpacity: 0.8
            },{
                html: "I'll give you a quick tour through the platform",
                overlayOpacity: 0.5,
                live: 4000
            },
            {
                html: "To start, use the map to click on your area of interest",
                //html: "To start, you can Click on the map to zoom it until the area of interest",
                element: "#divUserProfile",
                position: "n",
                live: 6000,
                overlayOpacity: 0.4,
                expose: "#divUserProfile",                
                onShow: function(element) {
                    
                    myTour.offset(0, 300);
                    timerTour = setInterval(function(){
                        map.setZoom(ZOOM_REGION);
                        clearInterval(timerTour);
                    }, 2000);
                },
                onHide: function(element) {
                    
                }
            },{
                html: "Once you click on an area, a list of content from that region will appear",
                live: 4000,
                element: "#divContentList",
                position: "n",
                expose: "#divContentList",
                overlayOpacity: 0.9,
            },
            {
                html: "Each item on the list is connected with a marker on the map. They will be highlighted once the mouse passes over them.",
                live: 4000,
                element: "#divContentList",
                position: "e",
                expose: "#divContentList",
                overlayOpacity: 0.9,
                onShow: function(element){
                    //myTour.offset(-70, -55);
                }                
            },            
            {
                html: "If you want to change the type of content that appears, use the buttons up top",
                element: ".category_menu",
                position: "s",
                expose: true,
                overlayOpacity: 0.8,
                live: 4000,                
                onShow: function(element){
                    myTour.offset(-70, 0);
                },
                onHide: function(element){
                    setContentType(3); //PHOTOS
                }
            },
            {
                html: "Or use this control panel to return back to the world view",
                element: "#controlWorld",
                position: "w",
                expose: "#navigation",  
                overlayOpacity: 0.4,
                live: 4000,
                onShow: function(element){
                    myTour.offset(-140, 0);
                },                
                onHide: function(element) {
                    map.setZoom(ZOOM_WORLD);
                    setContentType(1); // ARTICLES
                }                
            }            
        ];

//        var myTour = jTour(tourdata);
//        myTour.start();     
        var myTour = jTour(tourdata,{
           autostart: !getCookie('tourwasplayed'),
           onStop: function(){
              //set the cookie with value 1 (true) and expire date in 365 days
              setCookie('tourwasplayed', 1, 365);
           }
        });        
    }
    

    var doScroll = true;
    function initScrollInfinite(){
        
        if(controllerName === 'tweets')
            return true;
        
        $('#divContentList').paged_scroll({
            
            handleScroll:function (page, container, doneCallback) {
                
                if(!doScroll)
                    return false;
                
                doScroll = false;
                
                setTimeout(function () {
                    
                    var pageSize = getPageSize();
                    var url = '/main/' + controllerName + '/method/index/page/' + page + '/size/' + pageSize;
                    var urlFiltered = getFilteredUrl(url);                

                    $.get(urlFiltered, function(response) {

                        var jsonPos = response.indexOf('{');
                        if (jsonPos === 0) {
                            
                            //no more content to scroll
                            doneCallback();
                            return;
                        }
                        
                        $(container).append(response); 
                        doScroll = true;

                    }, 'html');
                
                }, 1000); //wait one second to prevent multiple calls
                
                return true;
                                
            },
            triggerFromBottom:'1%',
            targetElement : $('#divContentList'),
            //debug:true,
            loading : {                
                html  : '<div style="text-align:center"><img style="opacity:0.7; height: 50px;" src="/images/spinner_scroll.gif"></div>',                               
            },
            pagesToScroll:50,  
            monitorTargetChange : true,
             /*  
             before page hook ,if returns false execution stops
             */
            beforePageChanged:function (page, container) {

            },
             /*
             after page scroll callback
             */
            afterPageChanged:function (page, container) {
                
            }
        });
        
    }

    function getPageSize(){
        
        // 129(cardheight) + 15(space between) = 144px
        // 0.1 = 10% to increase at least one card, enable scroll
        console.log("$('#divContentList').height()" + $('#divContentList').height());
        var pageSize = ($('#divContentList').height() / 144 );
        return Math.ceil(pageSize - 0.1);
    }

    function setContentType(conType){
        
        oHomeState.contentType = conType;
        
        switch(conType){
                            
            case <?php echo Main_Model_Content::TYPE_ARTICLE ?>:
                onArticleContentClick();        
                break ;  
                        
            case <?php echo Main_Model_Content::TYPE_VIDEO ?>:   
                onVideoContentClick();
                break ;  
                
            case <?php echo Main_Model_Content::TYPE_PHOTO ?>:
                onPhotoContentClick();        
                break ;  
                
            case <?php echo Main_Model_Content::TYPE_TWEET ?>:
                onTweetContentClick();        
                break ;  
                
            default:
                onArticleContentClick();
        }                
    }    


    function getVisibleBounds(){
        
            if(rectangle)
                rectangle.setMap(null);
            
            bounds = map.getBounds();
            
            if($(window).width() < 1000)
                return bounds;
            
            //commented so that the world view also filter by visible area
            //var currentZoom = map.getZoom();            
            //if(currentZoom < ZOOM_REGION)
              //  return bounds;

        
            var sideBarWidth = 114;
            var divContentListWidth = 635; //$('#divContentList').width();
            var totalWidth = $(window).width();
            var visibleWidth = (totalWidth - sideBarWidth - divContentListWidth);                                    
            
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();        
            
            
            var totalLong = ne.lng() - sw.lng();
            
            //We have a map division
            if(ne.lng() < sw.lng() )
                totalLong = (180 - sw.lng()) + ne.lng() - (-180);

            
            var visibleLong = totalLong * visibleWidth / totalWidth;
            
            
            var x2 = ne.lat();
            var y2 = ne.lng();
            var x1 = sw.lat();        
            var y1 = sw.lng() + (totalLong - visibleLong);
            
            var myLatLng1 = new google.maps.LatLng(x1, y1);
            var myLatLng2 = new google.maps.LatLng(x2, y2);            
            var visibleBounds = new google.maps.LatLngBounds( myLatLng1, myLatLng2);
                
            rectangle = new google.maps.Rectangle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.2,
                map: null,
                bounds: visibleBounds
            });
            
            
            
            return visibleBounds;
    }
    
    function fixMapCenter(){
        
        var visibleBounds = getVisibleBounds();
        var visibleCenter = visibleBounds.getCenter();
                        
        var mapCenter = map.getCenter();
        
        if(!wasCenteredByClick){                        
            
            wasCenteredByClick = false;                                    
            return true;
        }
        
        //Nuevo centro corrido a la 
        var newCenterLng = mapCenter.lng() - ( (visibleCenter.lng() - mapCenter.lng()) / 1.2 );
        
        var newlatLng = new google.maps.LatLng(mapCenter.lat(), newCenterLng);
        map.setCenter(newlatLng);               
        
        
        
        var flightPlanCoordinates = [
            mapCenter,
            visibleCenter,
            newlatLng
        ];
        var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });                

        wasCenteredByClick = false;
    }

    function setZoom(zoom){
        
        var currentZoom = map.getZoom();
        
        if(currentZoom != zoom)
            map.setZoom(zoom);
        
        //Clear country filter
        selectedCountry = '';
    } 


    function prepareLoading() {

        $('#divContentList').html('');
        
        operations.showSpinner('Loading');
    }
    
    
    function getFilteredUrl(url, filter){
        
        //Add search bar criteria to the filter
        if(filter != undefined && filter != '' && filter != 'null'){
            url += '/search/' + filter;
        }
        
        //Add vivisble bounds to the filter 
        if(map){
            var currentZoom = map.getZoom();
        
        }
        //Add vivisble bounds to the filter             
        //if(currentZoom && currentZoom >= ZOOM_REGION){
        if(currentZoom && currentZoom >= ZOOM_WORLD){
            
            //bounds = map.getBounds();
            bounds = getVisibleBounds();
            
            var ne = bounds.getNorthEast();
            var sw = bounds.getSouthWest();        

            ne_lat = ne.lat();
            ne_lng = ne.lng();
            sw_lat = sw.lat();        
            sw_lng = sw.lng();

            url += '/ne_lat/' + ne_lat + '/ne_lng/' + ne_lng + '/sw_lat/' + sw_lat + '/sw_lng/' + sw_lng;
            
        }
        
        if($('#btnTrending').hasClass('selected'))        
            url += '/trending/true';
        
        if($('#btnLatest').hasClass('selected'))        
            url += '/latest/true';
        
        if($('#btnBreaking').hasClass('selected'))        
            url += '/breaking/true';
        
        if($('#btnFollowing').hasClass('selected'))        
            url += '/following/true';
            
        if(selectedCountry !== '')
            url += '/country/' + selectedCountry;
        
        return url;
    }
    
    
    
    function loadContentList(filter){
 
        prepareLoading();
        adjustHeight();

        var pageSize = getPageSize();
        
        if(listClosedByUser)
            pageSize = 10;
        
        var url = '/main/' + controllerName + '/method/index/size/' + pageSize;
        var urlFiltered = getFilteredUrl(url, filter);
  
        $('#divContentList').load(urlFiltered, loadContentCallBack);   
        
        saveHistoryState(oHomeState, null, oHomeState.url);
    }
    
    function onArticleContentClick() {
        
        conType = <?php echo Main_Model_Content::TYPE_ARTICLE ?>;
        
        $('#btnArticleContent').addClass('category_menu_focused');

        $('#btnVideoContent').removeClass('category_menu_focused');
        $('#btnPhotoContent').removeClass('category_menu_focused');
        $('#btnTweetContent').removeClass('category_menu_focused');
        
        controllerName = 'articles';
        loadContentList(filter);
    }

    function onVideoContentClick() {
        
        conType = <?php echo Main_Model_Content::TYPE_VIDEO ?>;
        
        $('#btnVideoContent').addClass('category_menu_focused');

        $('#btnArticleContent').removeClass('category_menu_focused');
        $('#btnPhotoContent').removeClass('category_menu_focused');
        $('#btnTweetContent').removeClass('category_menu_focused');

        controllerName = 'videos';
        loadContentList(filter);
    }

    function onPhotoContentClick() {
        
        conType = <?php echo Main_Model_Content::TYPE_PHOTO ?>;
        
        $('#btnPhotoContent').addClass('category_menu_focused');

        $('#btnVideoContent').removeClass('category_menu_focused');
        $('#btnArticleContent').removeClass('category_menu_focused');
        $('#btnTweetContent').removeClass('category_menu_focused');

        controllerName = 'photos';
        loadContentList(filter);
    }

    function onTweetContentClick() {

        prepareLoading();
        $('#btnTweetContent').addClass('category_menu_focused');

        $('#btnVideoContent').removeClass('category_menu_focused');
        $('#btnPhotoContent').removeClass('category_menu_focused');
        $('#btnArticleContent').removeClass('category_menu_focused');
        
        controllerName = 'tweets';
        loadContentList(filter);
    }

    function adjustHeight() {        
        
        var divHeight = $(window).height();
        
        if(!$('#divContentList').offset())
            return true;

        var topDistance = $('#divContentList').offset().top;
        var result = parseInt(divHeight) - parseInt(topDistance);

        $('#divContentList').css('height', result + 'px');
        
        var headerHeight = $('#header_content').height();
        $('#map_canvas').css('height', divHeight-headerHeight + 'px');
        extendSideNav();
    }
    
    function loadContentCallBack(responseText, textStatus, jqXHR){
        
        operations.hideSpinner();
        
        if(responseText.charAt(0) == '{'){
            
            $('#divContentList').html('');
            mapOperations.removeGoogleMarkers();
            
            if(responseText.indexOf('status') >= 0){
                
                var objeto = JSON.parse(responseText);
                
                //alertify.error(objeto.status + ' - ' + objeto.message);
                //
                //pending to uncomment this error message (content not found)
                //The alertify.js for some reason is not included.
                //alertify.error(objeto.message);
            }
            
            return false;
        }
                
        initScrollInfinite();
        updateLinks();        
        showHideMarkers();
    }
    
    
    
    
    function initGoogleMap(){
        
        //myLatlng = new google.maps.LatLng(<?php //echo $this->latitudeUser ?>,<?php //echo $this->longitudeUser ?>);
        
        myLatlng = new google.maps.LatLng(0,0);
        
        var Options = {
            details: ".details",
            detailsAttribute: "data-geo",
            map: ".map_canvas",
            mapOptions: {
                scrollwheel: true,                
                styles: [
                    {
                        stylers: [
                            {saturation: -100}
                        ]
                    }, {
                        featureType: "water",
                        stylers: [
                            {saturation: -100},
                            {gamma: 0.38}
                        ]
                    }
                ],
                panControl: false,
                panControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_CENTER
                },
                mapTypeControl: true,
                mapTypeControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_CENTER
                },
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SHORT,
                    position: google.maps.ControlPosition.RIGHT_CENTER
                },
                zoom: 3,
                minZoom: 3,
                center: myLatlng,
                streetViewControl: false
            }
        };

       $(".geocode").geocomplete(Options);

       map = $(".geocode").geocomplete("map");

        if (map) {
            
            google.maps.event.addListenerOnce(map, 'idle', function(){
                
                //The map loaded complete
                //Whatever has to be done when the map has loaded completely
                //This is executed once                
                
                initHomePage();
                $('#buttonHideMap').mousedown();

                google.maps.event.addListener(map, 'bounds_changed', function(e) {

                    fixMapCenter();                    

                    if($('#map_canvas').length <= 0)
                        return true;
                    
                    var currentBounds = getVisibleBounds();
                    lastVisibleCenter = currentBounds.getCenter();

                    var TIME_AFTER_SEARCH = 200;

                    clearInterval(timer);                

                    timer = setInterval(function(){

                        clearInterval(timer);    
                        loadContentList(filter);
                        
                        if($('#hideContent').css('display') == 'none' && !listClosedByUser){
                                                                
                            $('#buttonHideMap').mousedown();                                    
                        }

                    }, TIME_AFTER_SEARCH);                
                });                                
                               
            });            
            
            google.maps.event.addListener(map, 'zoom_changed', function(e) {
                
                var zoomLevel = map.getZoom();
                listClosedByUser = false;
                
                //Control Layers
                _clearContinents();
                
                //keep country layers at country level
                if(zoomLevel != ZOOM_COUNTRY) 
                    _clearCountries();
                
                if(zoomLevel <= ZOOM_WORLD)
                    initializeContinents();
                
                if(zoomLevel > ZOOM_WORLD && zoomLevel <= ZOOM_COUNTRY)
                    initializeCountries();                    
                
            });
            
            
            
//            google.maps.event.addListener(map, 'click', function(event) {
                
//                //ZoomLevel = this.getZoom();
//                //alert('current zoom level:' + ZoomLevel);
//                               
                //var lati = event.latLng.lat();
                //var long = event.latLng.lng();                
                
                //alert();
//                var location = new google.maps.LatLng(lati,long);
//                
//                map.setCenter(location);
//                //themap.setCenter(new google.maps.LatLng($(this).data('latitude'), $(this).data('longitude')));
//                map.setZoom(3);
//                                
//            });
                                    

//NO BORRAR NO BORRAR NO BORRAR NO BORRAR NO BORRAR NO BORRAR NO BORRAR NO BORRAR 
//NO BORRAR NO BORRAR NO BORRAR NO BORRAR NO BORRAR NO BORRAR NO BORRAR NO BORRAR 
//
//            layerWorld = new google.maps.FusionTablesLayer({
//            
//            query: {
//                select: 'geometry',
//                from: '1uyV3nfQxEwsGxX6JCmntYe1MSxldaoTESztJ3gLa',
//                where: "ISO_2DIGIT IN ('US')"
//              },
//
//              map: null,
//              suppressInfoWindows: true
//            });
//
//            layerArgentina = new google.maps.FusionTablesLayer({
//                query: {
//                    select: 'geometry',
//                    from: '1uyV3nfQxEwsGxX6JCmntYe1MSxldaoTESztJ3gLa',
//                    where: "ISO_2DIGIT = 'AR'"
//                },
//                styles: [{
//                    polygonOptions: {
//                        fillColor: '#ff9900',
//                        fillOpacity: 0.001,
//                        strokeColor: '#ff9900',
//                        strokeWeight: 1,
//                    }                    
//                }],
//                map: null,
//                suppressInfoWindows: true
//            });
//
//            layerArgentinaHidden = new google.maps.FusionTablesLayer({
//                query: {
//                    select: 'geometry',
//                    from: '1uyV3nfQxEwsGxX6JCmntYe1MSxldaoTESztJ3gLa',
//                    where: "ISO_2DIGIT = 'AR'"
//                },
//                styles: [{
//                    polygonOptions: {
//                        fillColor: '#000000',
//                        fillOpacity: 0.1,
//                        strokeColor: '#ff9900',
//                        strokeOpacity: 0.001,
//                        strokeWeight: 1,
//                    }                    
//                }],
//                map: null,
//                suppressInfoWindows: true
//            });


            initializeContinents();
            //initializeCountries();

        }        
        
    }
    
//    function showCountryLayer(){
//        layerWorld.setMap(map);
//    }
//    
//    function showOther(){
//        layerWorld.setMap(map);
//    }
    
//    function hideLayerWorld(){
//
//        layerWorld.setMap(null);
//        //layerWorld.style.visibility = 'hidden';
//        return;
//
//        //another way to do the same
//        for (var i = 0; i < map.layers.length; i++) {
//            map.layers[i].setMap(null);                    
//        }        
//
//        var world_geometry = new google.maps.FusionTablesLayer({
//            query: {
//                select: 'geometry',
//                from: '1N2LBk4JHwWpOY4d9fobIn27lfnZ5MDy-NoqqRpk'
//            },
//            styles: [{
//                polygonOptions: {
//                    fillColor: '#00FF00',
//                    fillOpacity: 0
//                }                    
//            }],
//
//            map: map,
//            suppressInfoWindows: true
//        });
//    }
    
    
    
    function initializeContinents() {
               
        if(arrayContinents.length > 0){
            drawContinentsLocally();
            return true;
        }
          
        // Initialize JSONP request
        var script = document.createElement('script');
        var url = ['https://www.googleapis.com/fusiontables/v1/query?'];
        url.push('sql=');
        var query = 'SELECT name, kml_4326, code FROM ' +
            '1N29mI2S1DYtAHxGh0InhhMrqolZaZLrsQHun2kqc'; //continent damian
        var encodedQuery = encodeURIComponent(query);
        url.push(encodedQuery);
        url.push('&callback=drawContinents');
        url.push('&userIp='+'<?php echo Wejo_Action_Helper_Services::getRealIP(); ?>');
        //url.push('&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ'); //example key        
        url.push('&key=AIzaSyA4rw7GchQUjIz2CStm4wsRMCF61jELSTg'); //damian.buzzaqui KEY        
        script.src = url.join('');
        var body = document.getElementsByTagName('body')[0];
        body.appendChild(script); 
    }
    
    
    function initializeCountries() {
        
        //return true;
        
        if(arrayCountries.length > 0){
            drawCountriesLocally();
            return true;
        }        
          
        // Initialize JSONP request
        var script = document.createElement('script');
        var url = ['https://www.googleapis.com/fusiontables/v1/query?'];
        url.push('sql=');
        var query = 'SELECT name, kml_4326 FROM ' +
            //'1foc3xO9DyfSIF6ofvN0kp2bxSfSeKog5FbdWdQ ' + 'AND sov_a3 IN(' + _getCountryCodesByRegion() + ')'; // countries
            '1U08emvKzq9i1USmIVxkpByFOjZ8BhkzZWGjT-cZ3';   // countries damian
            //'184sAv3fW30Q2kaCVTV7h1YQ6U8Y5Y5SfZRT7U14i'; // countries damian
        var encodedQuery = encodeURIComponent(query);
        url.push(encodedQuery);
        url.push('&callback=drawCountries');
        //url.push('&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ'); //example key
        url.push('&key=AIzaSyA4rw7GchQUjIz2CStm4wsRMCF61jELSTg'); //damian.buzzaqui KEY        
        script.src = url.join('');
        var body = document.getElementsByTagName('body')[0];
        body.appendChild(script);               
    }    
    
    function _getCountryCodesByRegion(){
        
        switch(selectedRegion){
            
            case 'North Africa':
                break;
            case 'South Africa':
                break;
            case 'Europe':
                break;
            case 'Oceania':
                break;
            case 'North America':
                break;
            case 'South America':
                break;
            case 'Central America':
                break;
            case 'Middle East':
                break;
            case 'South Asia':
                break;
            case 'Southeast Asia':
                break;
            case 'Eastern Europe':
                return 'MRT, MLI';
                break;  
                
            default:
                return '';
        }      
    }


    function drawContinentsLocally(){
        
        for (var i in arrayContinents){
            
            var continent = arrayContinents[i];
            continent.setMap(map);
        }
    }

    function drawCountriesLocally(){
        
        for (var i in arrayCountries){
            
            var country = arrayCountries[i];
            country.setMap(map);
        }
    }


    function drawContinents(data) {

        var rows = data['rows'];
        
        for (var i in rows){
                    
            if(rows[i][1] == '')
                continue;
            
            var continent = _drawMap(rows[i][1], rows[i][0]); //kml_4326
            continent.setMap(map);

            //save in the array for deleting it later
            arrayContinents[i] = continent;

            google.maps.event.addListener(continent, 'click', function(event) {
                
                var lati = event.latLng.lat();
                var long = event.latLng.lng();                
                var location = new google.maps.LatLng(lati,long);

                wasCenteredByClick = true;
                map.setCenter(location);                                
                map.setZoom(ZOOM_REGION);
                
                //defined in map-menu.js
                setRegionButton();
            });                            
        }
    }
    
    function _clearContinents(){
        
        for (var i in arrayContinents)
            arrayContinents[i].setMap(null);        
    }
    
    function _clearCountries(){
        
        for (var i in arrayCountries)
            arrayCountries[i].setMap(null);        
    }
    
    
    var selectedCountry = '';
    function drawCountries(data) {       
        
        var rows = data['rows'];

        for (var i in rows) {

            //rows[i][0] is the name of the Country  
            if (rows[i][0] != 'Antarctica') {

                var country = _drawMap(rows[i][1], rows[i][0]);
                country.setMap(map);      
                
                arrayCountries[i] = country; 
                
                google.maps.event.addListener(country, 'click', function(event) {
                    
                    //ask Google for the country name set it and zoom
                    _setSelectedCountry(event.latLng);
                    
                    wasCenteredByClick = true;
                    
                    //defined in map-menu.js
                    setCountryButton();                
                });                
                
            }
        }
    }
    
    var geocoder = new google.maps.Geocoder();
    //ask Google for the country name set it and zoom
    function _setSelectedCountry(latLng) {
        
        geocoder.geocode( {'latLng': latLng}, function(results, status) {
              
            if(status == google.maps.GeocoderStatus.OK) {
              
                //structure may vary so loop until country is found
                $.each(results, function(index, value){
                    
                    if(value.types[0] === 'country')
                    selectedCountry = value.formatted_address;
                });                            
            }else {
              selectedCountry = ''; //status;
            }
            
            var lati = latLng.lat();
            var long = latLng.lng();                
            var location = new google.maps.LatLng(lati,long);            
            map.setCenter(location);
            map.setZoom(ZOOM_COUNTRY);
            
        });
    }        
           
    function _drawMap(row, polName){
                
        var newCoordinates = [];
        var geometries = row['geometries'];
        if (geometries) {

          for (var j in geometries) {
            newCoordinates.push(constructNewCoordinates(geometries[j]));
          }

        } else {
          newCoordinates = constructNewCoordinates(row['geometry']);
        }

        var polygon = new google.maps.Polygon({
            paths: newCoordinates,              
            fillColor: '#ff9900',
            fillOpacity: 0.001,
            strokeColor: '#ff9900',
            strokeWeight: 2,
            strokeOpacity: 0.001,
            polygonName: polName
        });

        google.maps.event.addListener(polygon, 'mouseover', function() {
          this.setOptions({strokeOpacity: 1, fillOpacity: 0.2,});
        });

        google.maps.event.addListener(polygon, 'mouseout', function() {
          this.setOptions({strokeOpacity: 0.001, fillOpacity: 0.001,});
        });
        
        return polygon;
    }
    
    
    function constructNewCoordinates(polygon) {
          
        var newCoordinates = [];
        var coordinates = polygon['coordinates'][0];
        for (var i in coordinates) {
          newCoordinates.push(
              new google.maps.LatLng(coordinates[i][1], coordinates[i][0]));
        }
        return newCoordinates;
        
    }    
    
    
    
    //CONTROL whether a MARK should be shown or not on the MAP        
    var scrollMin = 20;
    var lastScrollValue = 0;
    function showHideMarkers(){

        //scrolling down
        if(lastScrollValue < $('#divContentList').scrollTop()){
            
            //if($('#divContentList').scrollTop() < scrollMin)
              //  return true;
        
            scrollMin += 20;
            
        //scrolling up    
        }else{
            
        }
        
        lastScrollValue = $('#divContentList').scrollTop();
        

        $('#divContentList .content_card').each(function(i, content){                       
            
            var bottomLimit = $('#divContentList').height() + $('#divContentList').offset().top;
            var markerIndex = content.id.replace('content_', '');
            markerIndex = parseInt(markerIndex);
           
            //1. SHOW MARKERS - visible area
            if( $(content).offset().top >= 0 && $(content).offset().top < bottomLimit){

                for(var index in globalMarkers) {

                    index = parseInt(index);        
                    if(index === markerIndex && globalMarkers[index] && !globalMarkers[index].getMap()){

                        mapOperations.showGoogleMarker(markerIndex)                            
                        break;
                    }
                };

            //2. HIDE MARKERS - hidden area
            }else{

                for(var index in globalMarkers) {

                    index = parseInt(index);
                    if(index === markerIndex){

                        mapOperations.hideGoogleMarker(markerIndex);                            
                        break;
                    }
                };                    
            }
       });

    }                
    
    
    
    function getCookie(cookieName) {
        
        var cookiePattern = new RegExp('(^|;)[ ]*' + cookieName + '=([^;]*)'),
        cookieMatch = cookiePattern.exec(document.cookie);

        if(cookieMatch){
            return cookieMatch[2];
        }
        return 0;
    };
    
    
    function setCookie(cookieName, value, daysToExpire, path, domain, secure) {
        
        var expiryDate;

        if (daysToExpire) {
            expiryDate = new Date();
            expiryDate.setTime(expiryDate.getTime() + (daysToExpire * 8.64e7));
        }

        document.cookie = cookieName + '=' + (value.toString()) +
        (daysToExpire ? ';expires=' + expiryDate.toGMTString() : '') +
        ';path=' + (path ? path : '/') +
        (domain ? ';domain=' + domain : '') +
        (secure ? ';secure' : '');
    };    
    
    
//    ********************* MAP BUTTONS *********************

    function setDefaultBackground(){
        $('#btnWorld').css('background-color', '#40484B');
        $('#btnRegion').css('background-color', '#40484B');
        $('#btnCountry').css('background-color', '#40484B');
    }
    
    
    $('#btnWorld').on('click', function(){
        
        setZoom(ZOOM_WORLD);
        setWorldButton();
    });
    
    function setWorldButton(){
        setDefaultBackground();
        $('#btnWorld').css('background-color', '#E48C00');
    }
    
    $('#btnRegion').on('click', function(){
        setZoom(ZOOM_REGION);
        setRegionButton();
    });
    
    function setRegionButton(){
        setDefaultBackground();
        $('#btnRegion').css('background-color', '#E48C00');
    }
        
    $('#btnCountry').on('click', function(){        
        setZoom(ZOOM_COUNTRY);
        setCountryButton();
    });    
    
    function setCountryButton(){
        setDefaultBackground();
        $('#btnCountry').css('background-color', '#E48C00');
    }
    
    
    

</script>