    <div class="col-md-12 social_section">

        <div class="social_buttons">
            <div class="like_bar_dislike"><div id="percentageLikes" class="like_bar_like"></div></div>

            <div class="stats">
                
                <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID) != $this->journalistID){ ?>
                
                    <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>
                        
                        <?php 
                        
                            $classLike = "icon_like";
                        
                            if($this->likedByUser){
                                $classLike = "icon_like_orange";
                            } 
                            
                            $classDislike = "icon_dislike";
                        
                            if($this->dislikedByUser){
                                $classDislike = "icon_dislike_orange";
                            } 
                        
                        
                        ?>
                
                        <span id="countLikes"></span>        
                        <span id="btnLike_<?php echo $this->contentID ?>" class="social_icon <?php echo $classLike ?>" onclick="like(1,<?php echo $this->contentID ?>)"></span>

                        <span id="countDislikes"></span>
                        <span id="btnDislike_<?php echo $this->contentID ?>" class="social_icon <?php echo $classDislike ?>" onclick="like(0,<?php echo $this->contentID ?>)"></span>
                
                    <?php } else { ?>            
                        
                        <span id="countLikes"></span>        
                        <span class="social_icon icon_like" onclick="openModalPortal()"></span>

                        <span id="countDislikes"></span>
                        <span class="social_icon icon_dislike" onclick="openModalPortal()"></span>
                        
                    <?php } ?>
                
                <?php } else { ?>    
                        
                    <span id="countLikes"></span>        
                    <span class="social_icon icon_like disable_icon_like"></span>
                    
                    <span id="countDislikes"></span>
                    <span class="social_icon icon_dislike disable_icon_like"></span>
     
                <?php } ?> 
                    
            </div><!-- FIN stats -->

            <div class="buttons">
   
                <div class="share_buttons">
                    
                    <p>Share </p>
                    <a href="javascript: void(0);" onclick="window.open('http://twitter.com/share?url=<?php echo urlencode($url)?>&text=<?php echo $this->title ?>&lang=en','', 'toolbar=0, status=0, width=650, height=450');" class="btn_social btn_social_twitter" rel="nofollow"></a>
                    <!--<div data-type="icon" class="fb-share-button btn_social btn_social_facebook" data-href="<?php //echo urlencode($url);?>"></div>-->
                    <a href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u=<?php echo urlencode($url);?>&t=<?php echo $this->title?>','', 'toolbar=0, status=0, width=650, height=450');" class="btn_social btn_social_facebook"></a>
                    
                </div><!-- FIN share_buttons -->
            </div><!-- FIN buttons -->

        </div><!-- FIN social_buttons -->

        <div class="journalis_endoursed">
            
            <?php
            
            if($this->endorseCount == 1){
                
                $journalist = ' journalist';
                
            }else{
                
                $journalist = ' journalists';
                
            }
            
            ?>
            
            <h3>Endorsed by <span id="countEndorsements"><?php echo $this->endorseCount; ?></span><span id="textCountEndorsements"><?php echo $journalist?></span></h3>

        </div><!-- FIN social_buttons -->
    </div><!--FIN social_section -->