
<link rel="import" href="/polymer/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/polymer/bower_components/paper-fab/paper-fab.html">



    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-flex-layout/classes/iron-flex-layout.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-icons/iron-icons.html' ?>">

    <!--    Paper Elements-->
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-styles/paper-styles.html' ?>">

    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-ripple/paper-ripple.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-drawer-panel/paper-drawer-panel.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-styles/paper-styles-classes.html' ?>">
   



    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/elements/in-popup/in-popup.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-spinner/paper-spinner.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/gold-email-input/gold-email-input.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-collapse/iron-collapse.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-material/paper-material.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-button/paper-button.html'?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-styles/paper-styles.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-dialog/paper-dialog.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/neon-animation/neon-animations.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/neon-animation/neon-animatable.html' ?>">
    <link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/neon-animation/neon-animated-pages.html' ?>">
 

<paper-fab icon="add" title="Add" class="blue button-animated" onclick="onAddGrantClick()"></paper-fab>


<div class="col-xs-12">
    <div class="row" style="border: solid 1px">
        <div style="border: solid 1px" class="col-xs-12
                    col-sm-8
                    col-md-6
                    col-lg-4">
            <div class="box">Responsive</div>
        </div>
        <div style="border: solid 1px" class="col-xs-12
                    col-sm-8
                    col-md-6
                    col-lg-4">
            <div class="box">Responsive</div>
        </div>
        <div style="border: solid 1px" class="col-xs-12
                    col-sm-8
                    col-md-6
                    col-lg-4">
            <div class="box">Responsive</div>
        </div>

    </div>
</div>



<script type="text/javascript">
    
    function onAddGrantClick(){
        
        var popup = document.querySelector('in-popup');
        console.log(popup);
        if(popup) popup.abramos();
    }

</script>