    <div id="divMainOther" class="content cuerpo"> 

        <div class="row no-margins">
            <div class="col-md-12 no-margins">


<div class="box_thanks_contentainer">
    <div class="box_thanks_title">
        <div class="box_det_right_top"></div>
        <h2>Thanks!</h2>
    </div>
    
    <div class="box_thanks_content">
        <div class="box_thanks_detail"></div>
        <h3>Spread the word by sharing:</h3>
        <div class="socials">
            <a href="#" class="btn_social btn_social_twitter"></a>
            <a href="#" class="btn_social btn_social_facebook"></a>            
        </div>
        
        
        <a href="<?php echo $this->baseUrl().'/main/contents/method/view/con_id/'.$this->contentID;?>" class="btn_back_home" style="width: 180px;">View Content</a>
        
    </div>
</div>

                
                </div></div></div>

<script type="text/javascript">
     
    $(document).ready(function() {
        
        //fix sidenav height
        extendSideNav();        
    });
    
</script>