<?php foreach ($this->embassies as $embassy){ ?>
        
        <div class="embassies_result">

            <div class="embassies_result_header">
                <h2><b>Embassy of <span class="originCountry"></span> in <span class="residentCountry"></span></b></h2>
               
                <?php if($embassy->getAddress() != ""): ?>
                
                    <p><?php echo $embassy->getAddress() ?></p>
                
                <?php endif ?>
                
            </div>
            
            <?php if($embassy->getPhone() != ""): ?>
            
                <div class="embassies_result_data">
                    <h3>PHONE</h3>
                    <p><?php echo $embassy->getPhone() ?></p>
                </div>
            
            <?php endif ?>
            
            <?php if($embassy->getFax() != ""): ?>
            
                <div class="embassies_result_data">
                    <h3>FAX</h3>
                    <p><?php echo $embassy->getFax() ?></p>
                </div>
            
            <?php endif ?>
            
            <?php if($embassy->getWebsite() != ""): ?>
            
                <div class="embassies_result_data">
                    <h3>WEBSITE</h3>
                    <p><a href="<?php echo $embassy->getWebsite() ?>"><?php echo $embassy->getWebsite() ?></a></p>
                </div>

            <?php endif ?>
            
            <?php if($embassy->getEmail() != ""): ?>
            
                <div class="embassies_result_data">
                    <h3>EMAIL</h3>
                    <p><a href="#"><?php echo $embassy->getEmail() ?></a></p>
                </div>
            
            <?php endif ?>
            
            <?php if($embassy->getOfficeHours() != ""): ?>
            
            <div class="embassies_result_full_data">
                <h3>OFFICE HOURS</h3>
                <p><?php echo $embassy->getOfficeHours() ?></p>
            </div>
            
            <?php endif ?>
            
            <?php if($embassy->getDetails() != ""): ?>
            
                <div class="embassies_result_full_data">
                    <h3>OTHER DETAILS</h3>
                    <p><?php echo $embassy->getDetails() ?></p>
                </div>
            
            <?php endif ?>
            
    </div>   
            
<?php } ?>
    

