<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../behaviors/in-validate-control.html">

<dom-module id="in-tabs-controller">
    <style>
        paper-tabs {
            --paper-tabs-selection-bar-color: #32ceff;
        }
        paper-tab {
            --paper-tab-ink: #4285f4;
            background-color: #303F9F;
            color: white;
        }

        paper-tab.botones {
            --paper-tab-ink: #4285f4;
            background-color: #30959f;
            color: white;
        }

    </style>
    <template>
        <paper-tabs  selected="{{selected}}">
            <template is="dom-repeat" items="{{arrayNames}}" as="tab">
                <paper-tab disabled$="{{enabledTab}}"><span>{{tab}}</span></paper-tab>
            </template>
        </paper-tabs>
        <!--<template is="dom-if" if="{{!editMode}}">-->
            <!--<paper-tabs>-->
                <!--<paper-tab class="botones"><span>Siguiente</span></paper-tab>-->
                <!--<paper-tab class="botones"><span>Anterior</span></paper-tab>-->
            <!--</paper-tabs>-->
        </template>
    </template>
    <script>
        Polymer({
            is:'in-tabs-controller',
            behaviors:[InValidateControl],
            properties:{
                tabsNames:{//atributo que recibe los nombres de los tabs
                    type:String
                },
                fnChangeTab:{
                    type:String,
                    value:''
                },
                editMode:{
                    type:Boolean,
                    value:false
                },
                selected:{
                    type:Number,
                    observer:'_validate'
                },
                lastSelection:{
                    type:Number
                }
            },
            ready: function () {
                if(!this.editMode){
                    this.enabledTab=true;
                }else{
                    this.enabledTab=false;
                }
                animatedPages = Polymer.dom(this).parentNode.querySelector('neon-animated-pages');
                this.lastSelection = 0;
                this.selected = 0;
                animatedPages.setAttribute('entry-animation','fade-in-animation');
                animatedPages.setAttribute('selected',this.selected);
                this.arrayNames = JSON.parse(this.tabsNames);
            },
            _validate: function () {
                if(this.editMode){
                    var nodo = null;
                    switch (this.lastSelection){
                        case 0:
                            nodo = animatedPages.querySelector('#page-datos-personales');
                            if(!this._validateControl(nodo, true)){
                                this.selected = this.lastSelection;
                                return;
                            }
                            this.cambioTab();
                            break;
                        case 1:
                            nodo = animatedPages.querySelector('#page-datos-contacto');
                            if(!this._validateControl(nodo, true)){
                                this.selected = this.lastSelection;
                                return;
                            }
                            this.cambioTab();
                            break;
                        case 2:
                            nodo = animatedPages.querySelector('#page-atributos');
                            if(!this._validateControl(nodo, true)){
                                this.selected = this.lastSelection;
                                return;
                            }
                            this.cambioTab();
                            break;
                        default :
                            this.cambioTab();
                    }
                }else{
                    return;
                }
            },
            cambioTab: function () {
                if(this.lastSelection > this.selected){
                    animatedPages.entryAnimation = 'slide-from-left-animation';
                    animatedPages.exitAnimation = 'slide-right-animation';
                }
                if(this.lastSelection < this.selected){
                    animatedPages.entryAnimation = 'slide-from-right-animation';
                    animatedPages.exitAnimation = 'slide-left-animation';
                }
                animatedPages.setAttribute('selected',this.selected);
                this.lastSelection = this.selected;
                if(this.fnChangeTab != ""){
                    window[this.fnChangeTab](this.selected);
                }
            }
        });
    </script>
</dom-module>