<!--VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS-->
<!--VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS-->
<!--VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS - VIDEOS-->

<!--Version 1.2.1-->
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/editor/css/font-awesome.min.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/editor/css/froala_editor.min.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/contents/content-create.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/js/counter/counter.css'?>">

<!--<script src="<?php //echo $this->baseUrl() . '/editor/js/froala_editor.min.js' ?>"></script>-->
<script src="<?php echo $this->baseUrl() . '/editor/js/froala_editor.js' ?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/counter/counter.js' ?>"></script>


<div id="divBodyBackground" style="background: #EDECE4; height: 100%">


    <div class="row">
        
        <div class="col-md-11" style="margin-left: 114px;">
                        
            <input checkspell="true" autocomplete="off" onkeypress="hideErrorMessages()" data-counter="70" class="counter-text articleInput articleTitle" maxlength="70" type="text"  name="txtTitle" id="txtTitle" placeholder="Your video title" style="margin-top: 20px;">
            <div id="counter_txtTitle" class="counter"></div>
            <input checkspell="true" autocomplete="off" onkeypress="hideErrorMessages()" data-counter="70" class="counter-text articleInput articleSubtitle" maxlength="70" type="text"  name="txtSubtitle" id="txtSubtitle" placeholder="Subtitle">
            <div id="counter_txtSubtitle" class="counter"></div>
            <input type="hidden"  name="txtDescription" onkeypress="hideErrorMessages()" id="txtDescription">
            <p name="editorVideo" id="editorVideo" class="counter-asc-text html-editor"></p>
            <div id="counter_editorVideo" class="counter counter-editor-html"></div>
            
        </div>
        
        <div class="col-md-1"></div>                
    </div>
    

    
    <div id="divCommonButtons" class="row" style="background: #FFFFFF; height: 100%">  
                                
        <div class="col-md-11" style="margin-left: 114px;">            
                             
            
            <div style="margin-top:20px; margin-bottom:20px;">
                
                <input id="btnSelectVideo" type="button" class="btn_select_video" value="Select video" /><span id="titleFile" class="file_name"></span>
                <input id="file" name="file" type="file" style="visibility: hidden" accept="video/*"/>
                <input name="token" id="token" type="hidden" value="<?php echo $this->token; ?>"/>
            </div>
            
            <div id="uploadInProgress"><span class="progress-upload">Upload in progress <img class="img-progress-upload" src="/css/ajax-loader.gif"></span></div>
            
            <input style="margin-bottom: 60px; margin-top: 30px;" maxlength="100" onkeypress="hideErrorMessages()" value="<?php echo $this->txtAddress ?>" type="text" class="in_style_01" name="txtAddress" id="txtAddress" placeholder="Location"><br>

            <div id="divButtons">
<!--                <input type="Button" class="btn_submit" id="btnPublish" name="btnPublish" value="Publish" onclick="saveContent(true)">-->
                <input type="button" class="btn_submit" id="btnUpload" name="btnUpload" value="Publish" onclick="uploadVideo()">
                <input type="button" class="btn_cancel" id="btnCancel" name="btnCancel" value="Cancel">
            </div>
            
        </div>
    </div>    
    
</div>    
    
    
<div class="details" id="geo-details" hidden="true">
    <input name="lat" data-geo="lat" value="<?php echo $this->lat; ?>"/>
    <input name="lng" data-geo="lng" value="<?php echo $this->lng; ?>"/>
    <input name="formatted_address" data-geo="formatted_address" />
    <input name="country_short" data-geo="country_short" />
    <input name="country" data-geo="country" />
</div>  


<script type="text/javascript">
    
    
    $('document').ready(function() {

        prepareCommonElements();

        $('#editorVideo').editable();

        //onContentEditorLoadComplete();
                
        //Video is not downloadable
        $('#isDownloadable').val(0);        
        
        
        document.formContent.action = '<?php echo $this->postUrl; ?>';
        
        $("#btnSelectVideo").on('click', function(){
            $('#file').trigger('click');
        });

            
        $("#file").on('change', function(){
            
            hideErrorMessages();
            
            var fullPath = $("#file").val();
            
            var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
            var filename = fullPath.substring(startIndex);
            if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
            }
            
            $("#titleFile").html(filename);
            
        });
        
        operations.hideSpinner();        
    });
    
    

//    $('#btnUpload').on('click', function() {
//        
//        operations.showSpinner('Uploading');
//        
//        var url = '/main/videos/';
//
//        $("#savePublished").val('1');
//        operations.save(formContent, url, afterSave_UploadVideo, saveError);
//    });
    
    function uploadVideo(){
        
        //Validate the file is selected
        if($("#titleFile").html() == ''){
            $('#alertify-logs').remove();
            alertify.error('Please select a video to be uploaded', 0);
            return;
        }
        
        operations.showSpinner('Uploading');
        
        var url = '/main/videos/';
        
        var editorVal = document.getElementById("editorVideo").firstElementChild;
        $("#txtDescription").html(editorVal.innerHTML);
        $("#txtDescription").val(editorVal.innerHTML);        

        $("#savePublished").val('1');
        
        $("#uploadInProgress").show();
        
        setTimeout(function(){
            operations.save(formContent, url, afterSave_UploadVideo, saveError);
        },100);
        
//            data += '&method=save';
//
//        $.post(url, data, function(response) {
//            operations.saveResult(response, successCallBack, errorCallBack)
//        }, 'json');
//        
        
    }
    
//    function uploadVideo(){
//        
//        operations.showSpinner('Uploading');
//        
//        var url = '/main/videos/';
//        
//        var editorVal = document.getElementById("editorVideo").firstElementChild;
//        $("#txtDescription").html(editorVal.innerHTML);
//        $("#txtDescription").val(editorVal.innerHTML);        
//
//        $("#savePublished").val('1');
//        operations.save(formContent, url, afterSave_UploadVideo, saveError);
//        
//    }
    
    
    function afterSave_UploadVideo(event){
        
        $('#token').val(event.data.token);
        
        document.formContent.action = event.data.postUrl;
        
        document.formContent.submit();        
    }
    
    function saveError(event){
        
        $("#uploadInProgress").hide();
        
        //Avoid duplicated messages
        $('#alertify-logs').remove();        
        
        operations.hideSpinner();        
        
        $('#divMainBody').animate({scrollTop : 0},800);        
        $('#btnSaveContent').removeAttr('disabled');
        $('#btnPublish').removeAttr('disabled');

        
        if(event.errors && event.errors.txtTitle){
            alertify.error('Title: ' + event.errors.txtTitle, 0);
        }
        
        if(event.errors && event.errors.txtSubtitle){
            alertify.error('Subtitle: ' + event.errors.txtTitle, 0);
        }
        
        if(event.errors && event.errors.txtAddress){
            alertify.error('Please type a valid Location', 0);
        }
        
        if(event.errors && event.errors.txtDescription){
            alertify.error('Description: ' + event.errors.txtDescription, 0);
        }

        if(event.errors && event.errors.btnSubmit){
            alertify.error(event.errors.btnSubmit);
        }
        
        
    }
    
        
    
</script>
