<h3>Your Video</h3>
<br>

<!--<form action="'. $postUrl .'?nexturl='. $nextUrl . '" method="post" enctype="multipart/form-data">-->

<input id="btnSelectVideo" type="button" class="btn_select_video" value="Select video" /><span id="titleFile" class="file_name"></span>
<input id="file" name="file" type="file" style="visibility: hidden" accept="video/*"/>
<input name="token" type="hidden" value="<?php echo $this->tokenValue; ?>"/>

    <!--<input value="Upload Video File" type="submit" />-->
    <!--</form>-->

    <!--<input maxlength="100" type="text" class="in_style_01" name="txtYoutube" id="txtYoutube" placeholder="Video Url">-->
<!--    <input maxlength="100" type="text" class="in_style_01" name="txtDescription" id="txtDescription" placeholder="Video Description">-->

    <br><br>
    
    <textarea style="height:80px" name="txtDescription" id="txtDescription" maxlenght="500" class="txta_style_01" placeholder="Type your description here..."></textarea>

    <br><br>
    
    <div id="divButtonsVideo">
        <input type="button" class="btn_submit" id="btnUpload" name="btnUpload" value="Publish">
        <input type="button" class="btn_cancel" id="btnCancel" name="btnCancel" value="Cancel">
    </div>



<script type="text/javascript">
    
    $('document').ready(function() {
        
        document.formContent.action = '<?php echo $this->postUrl; ?>';
        
        $("#btnSelectVideo").on('click', function(){
            $('#file').trigger('click');
        });

            
        $("#file").on('change', function(){
            
            var fullPath = $("#file").val();
            
            var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
            var filename = fullPath.substring(startIndex);
            if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
            }
            
            $("#titleFile").html(filename);
            
        });
 
    });

    $('#btnUpload').on('click', function() {
        
        operations.showSpinner('Uploading');
        
        var url = '/main/videos/';

        $("#savePublished").val('1');
        operations.save(formContent, url, afterSave_UploadVideo, saveError);
    });
    
    function afterSave_UploadVideo(){
        
        objectID = $('#objectID').val();
        document.formContent.action = '<?php echo $this->postUrl; ?>' + '/con_id/' + objectID;
        
        document.formContent.submit();
        
    }
    
    function saveError(){
        
        operations.hideSpinner();
        enableButtons();
    }
    
    

</script>