<!--DISEÑO ORIGINAL CLAUDIO-->

<!--        <div class="cms_content">
            <h2><a href="#">Panasonic's GIANT 152"</a></h2><br>
            
            <div class="cms_content_video_left">
                                
                <video class="cms_video" controls>
                  <source src="/videos/panasonic.webm" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                </video>

            </div> 
            
            <div class="cms_content_video_center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, ipsam, sunt suscipit culpa laudantium itaque adipisci velit cum enim magnam iure temporibus nostrum                     optio vel animi.</p>
            </div>
            
            <div class="cms_content_right">
                <input type="button" id="btn_edit" class="cms_btn_edit">
                <input type="button" id="btn_erase" class="cms_btn_erase">         
            </div>

        </div>-->
        

<?php

if(!is_null($this->listVideos))
    
    foreach ($this->listVideos as $video) {

        if ($video['published']) {

            $dateLabel = 'Published on ' . $video['datePublished'];
            $notPublishedLabel = '';
            $classNotPublished = '';            
            $dontShow = 'display:none;';
            
        } else {

            $dateLabel = 'Last edit on ' . $video['dateCreation'];
            $notPublishedLabel = '(not published)';
            $classNotPublished = 'not_published';
            $dontShow = '';
        }

        $publishAction = 'publishContent(' . $video['objectID'] . ')';
        $editAction = 'editContent(' . $video['objectID'] . ')';
        $deleteAction = 'confirmDelete(' . $video['objectID'] . ')';
        $onTitleClick = 'onContentTitleClick(' . $video['objectID'] . ')';        
        
        
        $videoSource = '//www.youtube.com/embed/';
        $videoSource.= $video['youtube'];
        $videoSource.= '?controls=0';                   #show controls (0,1,2)
        $videoSource.= '&fs=1';                         #show full screen button
        $videoSource.= '&disablekb=0';                  #disable keyboard functions
        $videoSource.= '&autoplay=0';                   #auto play
        $videoSource.= '&color=white';                  #progress bar color
        $videoSource.= '&modestbranding=0';             #show youtube logo
        $videoSource.= '&rel=0';                        #show related videos on the end
        $videoSource.= '&showinfo=0';                   #show video info before playing

        $videoSource.= '&origin=https://jouture.com';        #origin 


        $title = $video['title'];                

        $description = $video['description'];
        if(strlen($description) > 420 )
                $description = mb_substr($description, 0, 420) . "...";                
    ?>

    <div class="cms_content <?php echo $classNotPublished; ?>">
       <div class="cms_content_left">
        <h2><a onclick="<?php echo $onTitleClick; ?>"><?php echo $title; ?></a></h2><br><br>

        <div class="cms_content_video_left">
            
            <iframe id="ytplayer" type="text/html" width="260" height="140"
                  src="<?php echo $videoSource; ?>"
                  frameborder="0"/>
        </div> 

        <div class="cms_content_video_center">
            <p><?php echo $description; ?></p>
            <span class="font_gray_01"><?php echo $dateLabel; ?></span>
        </div>
        
        </div>
        <div class="cms_content_right">
            <input type="button" id="btn_publish" class="cms_btn_publish" onclick="<?php echo $publishAction; ?>" style="<?php echo $dontShow; ?>" title="Publish">
            <input type="button" id="btn_edit" class="cms_btn_edit" onclick="<?php echo $editAction; ?>" style="<?php echo $dontShow; ?>"  title="Edit">
            <input type="button" id="btn_erase" class="cms_btn_erase" onclick="<?php echo $deleteAction; ?>" style="<?php echo $dontShow; ?>"  title="Delete">        
        </div>

    </div>

<?php } ?>


        
