<div class="row no-margins">
    <div class="col-md-12 no-margins">
        
        <?php foreach($this->listVideos as $video) {
            
            $videoSource = '//www.youtube.com/embed/';
            $videoSource.= $video->getYoutube();
            $videoSource.= '?controls=0';                   #show controls (0,1,2)
            $videoSource.= '&fs=1';                         #show full screen button
            $videoSource.= '&disablekb=0';                  #disable keyboard functions
            $videoSource.= '&autoplay=0';                   #auto play
            $videoSource.= '&color=white';                  #progress bar color
            $videoSource.= '&modestbranding=0';             #show youtube logo
            $videoSource.= '&rel=0';                        #show related videos on the end
            $videoSource.= '&showinfo=0';                   #show video info before playing
            
            $videoSource.= '&origin=https://jouture.com';        #origin 
            
                    
            ?>
        
        <div class="cms_content">
            
            <h2><a href="#" class="h2_oswald"><?php echo $video->getJournalist()->getName()?></a></h2>
            <h3><a href="#" class="h3_oswald"><?php echo $video->getTitle()?></a></h3><br>                

            <div class="cms_content_video_left2">
                <iframe id="ytplayer" type="text/html" width="215" height="160"
                  src="<?php echo $videoSource; ?>"
                  frameborder="0"/>           
            </div>

            <div class="cms_content_video_center2">
                <p class="p_gray"><?php echo $video->getDescription(); ?></p>
            </div>
            
            <div class="article_box_bottom">                
                <div class="article_date">
                        <p><?php echo Wejo_Action_Helper_Services::formatDate($video->getDatePublished()); ?></p>
                </div>                
                <div class="stats_buttons">
                    <span class="icon_heart article_icon"><?php echo $video->getLikesCount(); ?></span>
                    <span class="icon_comment article_icon"><?php echo $video->getCommentsCount(); ?></span>
                </div>
            </div>         
                        
        </div>
        
        <?php }?>
                
    </div>
</div>