<!--VIDEOS - INDEX JOURNALIST -->
<!--VIDEOS - INDEX JOURNALIST -->
<!--VIDEOS - INDEX JOURNALIST -->


<div class="row no-margins">
    <div class="col-md-12 no-margins" id="divInfiniteContainer">
        
        <?php 

if(!is_null($this->listVideos))            
        foreach($this->listVideos as $video) {
            
            $videoSource = '//www.youtube.com/embed/';
            $videoSource.= $video['youtube'];
            $videoSource.= '?controls=0';                   #show controls (0,1,2)
            $videoSource.= '&fs=1';                         #show full screen button
            $videoSource.= '&disablekb=0';                  #disable keyboard functions
            $videoSource.= '&autoplay=0';                   #auto play
            $videoSource.= '&color=white';                  #progress bar color
            $videoSource.= '&modestbranding=0';             #show youtube logo
            $videoSource.= '&rel=0';                        #show related videos on the end
            $videoSource.= '&showinfo=0';                   #show video info before playing
            
            $videoSource.= '&origin=https://jouture.com';        #origin 
            
            $videoTitle = $video['title'];
            if(strlen($videoTitle) > 120 )
                    $videoTitle = mb_substr($videoTitle, 0, 120) . "...";
            
            $videoDescription = $video['description' ];
            if(strlen($videoDescription) > 340 )
                    $videoDescription = mb_substr($videoDescription, 0, 40) . "...";
                    
        ?>
        
        <div class="cms_content cms_video" id="videoItem"  onclick="onContentTitleClick(<?php echo $video['objectID']; ?>)">
            
            <h2><a class="h2_oswald">
                <?php echo $videoTitle; ?></a>
            </h2>
            
            <br>                

            <div class="cms_content_video_left2">
                <iframe id="ytplayer" type="text/html" width="215" height="160"
                  src="<?php echo $videoSource; ?>"
                  frameborder="0"/>           
            </div>

            <div class="cms_content_video_center2">
                <p class="p_gray"><?php echo $videoDescription; ?></p>
            </div>
            
            <div class="article_box_bottom">                  
                <div class="article_date">
                        <p><?php echo $video['datePublished']; ?></p>
                </div>                
                <div class="stats_buttons">
                    <span class="icon_heart article_icon"><?php echo $video['likesCount']; ?></span>
                    <span class="icon_comment article_icon"><?php echo $video['commentsCount'] ; ?></span>
                </div>
            </div>         
                        
        </div>
        
        <?php } ?>
                
    </div>
</div>


<script type="text/javascript">

    $('document').ready(function() {
        
        $('#titleContentType').html('Videos (<?php echo $this->countContent; ?>)');
        
    });


</script>