<!--VIDEOS - INDEX-->
<!--VIDEOS - INDEX-->

<div class="row no-margins">
    <div class="col-md-12 no-margins" id="divInfiniteContainer">
                
        <?php 

if(!is_null($this->listVideos))                    
        foreach($this->listVideos as $video) {
            
            $videoSource = '//www.youtube.com/embed/';
            $videoSource.= $video['youtube'];
            $videoSource.= '?controls=0';                   #show controls (0,1,2)
            $videoSource.= '&fs=1';                         #show full screen button
            $videoSource.= '&disablekb=0';                  #disable keyboard functions
            $videoSource.= '&autoplay=0';                   #auto play
            $videoSource.= '&color=white';                  #progress bar color
            $videoSource.= '&modestbranding=0';             #show youtube logo
            $videoSource.= '&rel=0';                        #show related videos on the end
            $videoSource.= '&showinfo=0';                   #show video info before playing
            
            $videoSource.= '&origin=https://jouture.com';        #origin 
            
            $videoTitle = $video['title'];
            if(strlen($videoTitle) > 120 )
                    $videoTitle = mb_substr($videoTitle, 0, 120) . "...";
            
            $videoDescription = $video['description' ];
            if(strlen($videoDescription) > 340 )
                    $videoDescription = mb_substr($videoDescription, 0, 40) . "...";
            
            $journalistID = $video['journalistID'];
            $contentID = $video['objectID'];
        ?>
        
        <div class="cms_content content_card" id="content_<?php echo $contentID ?>" onclick="onVideoBoxClick(<?php echo $contentID ?>)" onmouseover="onContentMouseover(this, true)" onmouseout="onContentMouseover(this, false)">
           
           <div class="cms_content_left_100">
                <h2><a href="#" class="h2_oswald" onclick="onJournalistNameVideoClick(event, <?php echo $journalistID; ?>)"><?php echo $video['journalistName']; ?></a></h2>
                <h3><a href="#" class="h3_oswald"><?php echo $videoTitle; ?></a></h3><br>                

                <div class="cms_content_video_left2">
                    <iframe id="ytplayer" type="text/html" width="215" height="160"
                      src="<?php echo $videoSource; ?>"
                      frameborder="0"/>           
                </div>

                <div class="cms_content_video_center2">
                    <p class="p_gray"><?php echo $videoDescription; ?></p>
                </div>
            
            </div>
            <div class="space-25px"></div>

            <div class="article_box_bottom">                  
                <div class="article_date">
                        <p><?php echo $video['datePublished']; ?></p>
                </div>

                <div class="stats_buttons">
                    <span class="icon_heart article_icon"><?php echo $video['likesCount']; ?></span>
                    <span class="icon_comment article_icon"><?php echo $video['commentsCount'] ; ?></span>
                </div>
            </div>         
                        
        </div>
        
        <?php } ?>
                
    </div>
</div>

<script type="text/javascript">
    
    $('document').ready(function() {                
        
<?php if(!$this->cleanResponse){ ?>
        
        mapOperations.removeGoogleMarkers();                
        
<?php } ?>        
        
        var listVideos = <?php echo json_encode($this->listVideos);?>;
        
        if (listVideos){
            
            $.each(listVideos, function(i, video) {
                
                mapOperations.addGoogleMarker(video);
            });
        }

    });
    
    
<?php if(!$this->cleanResponse){ ?>    
    
    function onVideoBoxClick(contentID){
        
        operations.showSpinner('Loading');
        var url = "/main/journalists/method/index/con_id/"+contentID;
        $('#divMainBody').load(url, function(){operations.hideSpinner()}, function(){operations.hideSpinner()});
    }
    
    function onJournalistNameVideoClick(event, journalistID){
        
        stopClickEvent(event);
        
        var contentType = '<?php echo ((Main_Model_Content::TYPE_VIDEO)?Main_Model_Content::TYPE_VIDEO:1); ?>'; 
        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
        window.location.assign("<?php echo $this->baseUrl(); ?>" + url);
        //$('#divMainBody').load(url);        
    }
    
    function stopClickEvent(event){
        
        var e = event || window.event; 
        
        //IE9 & Other Browsers
        if (e.stopPropagation) {
          e.stopPropagation();
        }
        //IE8 and Lower
        else {
          e.cancelBubble = true;
        }        
    }    
    
    
    function onContentMouseover(divVideo, isOver){
        
        if(noInternet)
            return false;        
        
        var urlMarkerImage = '';        
        var aTitle = divVideo.getElementsByTagName('a')[1];
        
        if(isOver){
            
            divVideo.className = "cms_content content_card active";
            aTitle.className = "h3_oswald active";
            urlMarkerImage = '/images/map/pin.png';
            
        }else{
            divVideo.className = "cms_content content_card";
            aTitle.className = "h3_oswald";
            urlMarkerImage = '/images/map/pin_active.png';
        } 
        
        
        //Trigger marker mouseover
        var contentID = divVideo.id;        
        contentID = contentID.replace('content_', '');
        contentID = parseInt(contentID);
        
        var imageOver = {
            url: urlMarkerImage,
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0, 32)
        };

        
        globalMarkers[contentID].setIcon(imageOver);
    }     
    
<?php } ?>    
    
</script>

<!--VIDEOS - INDEX-->
<!--VIDEOS - INDEX-->
