<!--VIDEOS THANKS-->


<!DOCTYPE html>


<form id="formContent" name="formContent" method="post" enctype="multipart/form-data">
    
    <div class="sidenav" id="sidenav">
        <div class="insidenav_01">
            <ul>
                <li><a id="btnDrafts">Drafts</a></li>
                <li><a id="btnPublished">Published</a></li>
                <li><a id="btnIncognito">Incognito</a></li>
            </ul>
        </div>
    </div>    
    
    <input maxlength="250" value="<?php echo $this->objectID ?>" type="hidden" name="objectID" id="objectID">

    <div class="content cuerpo"> 

        <div class="row no-margins">
            <div class="col-md-12 no-margins">

                <div id="divMainContent" class="page_content">

                </div>

            </div>
        </div>
        
    </div>





</form>



<script type="text/javascript">
   
    
    $('document').ready(function() {
        
        sayThanks();
        
    });
    
   
    

    function sayThanks() {

        var url = "<?php echo $this->baseUrl() . '/main/contents/method/thanks/con_id/' ?>";
        url += $('#objectID').val();

        $('#divMainContent').load(url);        
    }

</script>
