<!--VIDEO VIEW-->
<!--VIDEO VIEW-->
<!--VIDEO VIEW-->
<?php
            $videoSource = '//www.youtube.com/embed/';
            $videoSource.= $this->youtube;
            $videoSource.= '?controls=1';                   #show controls (0,1,2)
            $videoSource.= '&fs=1';                         #show full screen button
            $videoSource.= '&disablekb=0';                  #disable keyboard functions
            $videoSource.= '&autoplay=0';                   #auto play
            $videoSource.= '&color=white';                  #progress bar color
            $videoSource.= '&modestbranding=0';             #show youtube logo
            $videoSource.= '&rel=0';                        #show related videos on the end
            $videoSource.= '&showinfo=0';                   #show video info before playing
            
            $videoSource.= '&origin=https://jouture.com';        #origin 
            $url = $this->serverUrl()."/main/contents/method/view/con_id/".$this->contentID; 
?> 

<script src="<?php echo $this->baseUrl() . '/js/modules/main/contents/comments.js' ?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">
<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>

<div class="row no-margins" style="margin-top: 59px">
    <div class="col-md-12 no-margins">
        <div class="article_header">
            <h1><?php echo $this->title ?></h1>                                
            <h2><?php echo $this->subTitle; ?></h2>
            <div class="article_header_bottom">
                <div class="article_date"><p><?php echo ($this->datePublished?$this->datePublished:$this->dateCreated) ?></p></div>
                <div class="article_header_options">
                <?php   
                $buttonToShow = '<input type="button" <<style>> class="btn_head_back" onclick="goBack()">';
                if(empty($this->datePublished) && Main_Model_User::getSession(Main_Model_User::USER_ROLE) >= Main_Model_Role::JOURNALIST_ROLE_ID){ 
                    $buttonToShow = '<input type="button" class="btn_head_edit" <<style>> class="cms_btn_edit" id="btn_edit" onclick="editContent('.$this->contentID.')"  title="Edit">';    
                }
                if ($this->isDownloadable) { //show download button 
                    echo '<input type="button" class="btn_head_download" onclick="download()">';
                    echo str_replace("<<style>>", '', $buttonToShow);    
                    
                } else { 
                    echo str_replace("<<style>>", '', $buttonToShow);
                } ?>
                    
                <?php if(Main_Model_User::getSession(Main_Model_User::USER_ROLE) == Main_Model_Role::ADMIN_ROLE_ID){  ?> 
                    
                    <input type="button" id="btn_erase" class="cms_btn_erase" onclick="confirmDelete(<?php echo $this->contentID ?>)" title="Delete">

                <?php } ?>     
                    
                </div>
            </div>
            <input type="hidden" name="contentID" id="contentID">
        </div>
    </div><!-- FIN col-md-12 -->
</div>
<div class="row no-margins">
    
    
    <div class="col-md-12 no-margins article_text">
        <iframe id="ytplayer" type="text/html" width="100%" height="400"
            accesskey="" src="<?php echo $videoSource; ?>"
            frameborder="0" allowfullscreen/>           
    </div>
    
    
    <?php echo $this->partial('contents/social.phtml', array('journalistID' => $this->journalistID,
                                                             'endorseCount' => $this->endorseCount)); ?>
    
    <?php echo $this->partial('contents/comments.phtml', array('userPic' => $this->userPic)); ?>

    
</div>

<script type="text/javascript">
    
    var arrayJson = <?php echo json_encode($this->jSon) ?>;
    var endorseUser = '<?php echo $this->endorseUser ?>';
    var arrayEndorsements = <?php echo $this->arrayEndorsements ?>;
    var serverUrl = '<?php echo $this->serverUrl() ?>';
    var modal = null;
    
    function editContent(id) {
        var url = '<?php echo $this->baseUrl(); ?>' + '/main/videos/method/edit/con_id/' + id;
        $('#divMainBody').load(url);
    }
</script>

<script src="<?php echo $this->baseUrl() . '/js/modules/main/contents/view.js' ?>"></script>

<div class="remodal-bg">
    <div class="remodal" data-remodal-id="delete">
        <div id="modal" style="margin-top:-180px">
            <div class="wejo_box_01" id="wejo_box_01" style="height: 390px">                    
            </div>
        </div>
    </div>
</div>

<div id="boxConfirmDelete" style="display: none">

    <div class="wejo_box_01_head">
        <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
        <h2>Administrator</h2>
    </div>

    <div class="wejo_box_01_body" style="height: 280px">
        <div class="wejo_box_01_content">

            <h5 style="text-transform: none">Are you sure you want to delete this item?</h5>

            <input type="button" class="btn_request" id="btn_cancel" value="Cancel"  onclick="closeModal()">

            <input type="button" class="btn_login_black top-10" id="btn_delete" value="Yes" onclick="deleteContent()" style="margin-top: 20px">

        </div>
    </div>
</div>
