
<link rel="import" href="/polymer/bower_components/iron-list/iron-list.html">
<link rel="import" href="/polymer/bower_components/paper-card/paper-card.html">
<link rel="import" href="/polymer/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/polymer/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="/polymer/bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
<link rel="import" href="/polymer/bower_components/neon-animation/neon-animation.html">


<link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
<link rel="import" href="/polymer/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">


<link rel="import" href="/polymer/bower_components/paper-date-picker/paper-date-picker.html">



<!--<link rel="import" href="/polymer/bower_components/paper-dialog/paper-dialog-transition.html">-->
<!--<link rel="import" href="/polymer/bower_components/paper-dialog/paper-dialog-base.html">-->
<!--<link rel="import" href="/polymer/bower_components/paper-dialog/paper-action-dialog.html">-->


<dom-module id="in-list-card">
    <template class="items_grant" style="height: 1200px;">
        

        <style>
/*            :host {
                @apply(--layout-fit);
                @apply(--layout-vertical);
                @apply(--paper-font-common-base);
            }*/
            iron-list {
                //background-color: var(--paper-grey-200, #eee);
                background-color: white;
                padding-top: 1px;
                padding-bottom: 16px;
            }
            .item {
                padding: 20px;
                background-color: white;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            .item:focus {
                outline: 0;
            }
            .primary {
                font-size: 14px;
            }
            .primary:hover {
                color: #FC7108;
            }            
            .shortText, .longText, .firstLine {
                font-size: 14px !important;
            }
            .longText, .firstLine{
                color: gray;
                display: none;
            }
            .item:hover .shortText::after {
                content: ' [+]';
                color: gray;
            }
            .item.expanded:hover .shortText::after {
                content: '';
            }
            .item.expanded .longText, .item.expanded .firstLine{
                display: block;
                margin-top: 10px;
            }
            .item.expanded:hover .longText::after {
                content: ' [–]';
            }            
            .item-column {
                flex-grow: 1; /* default 0 */
                border:none;
            }
            paper-card {
                margin-bottom: 10px;
                display: block !important;
            }
            .truncate {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }            
        </style>
        
        <iron-ajax 
            auto="{{reload}}"
            last-response="{{items}}"
            url="/resource/index/method/grant.json" 
            method="GET">                
        </iron-ajax>
        
        
        
        <paper-dialog id="dialogCalendar" 
                      exit-animation="fade-out-animation" 
                      modal="true">
        
            <paper-date-picker id="datePicker"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>    
        </paper-dialog>        
        
        
        <paper-dialog id="dialogAddGrant" 
                      entry-animation="scale-up-animation" 
                      exit-animation="fade-out-animation" 
                      modal="true" style="width:800px">
            
            <!--<div class="col-xs-12">-->
                <paper-material elevation="0" class="tabs-paper-material">
                    <div id="formGrant" name="formGrant" class="flex">
                        
                        <div class="row">
                            <div class="col-xs-12">
                               <paper-input
                                label="Title"
                                id="title"
                                name="title"
                                pattern="[a-zA-Z0-9-_\s]*"
                                value=""
                                required
                                error-message=""></paper-input>                                                            
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-6">
                                <paper-input
                                    label="Location"
                                    id="location"
                                    name="location"
                                    pattern="[a-zA-Z0-9\s]*"
                                    value=""
                                    error-message=""></paper-input>
                            </div>
                            <div class="col-xs-6">
                                <paper-input
                                    label="Eligibility"
                                    id="focus"
                                    name="focus"
                                    pattern="[a-zA-Z0-9\s]*"
                                    value=""
                                    error-message=""></paper-input>                                
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <paper-input
                                    label="Amount"
                                    id="amount"
                                    name="amount"
                                    pattern="[0-9]*"
                                    value=""
                                    error-message=""><div prefix>$</div></paper-input>                                
                            </div>
                            <div class="col-xs-6">
                                <paper-input
                                    label="Deadline"
                                    id="deadline"
                                    name="deadline"
                                    value=""
                                    on-tap="openDeadlineCalendar"
                                    error-message=""></paper-input>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <paper-input
                                    label="Link"
                                    id="url"
                                    name="url"
                                    pattern="[a-zA-Z0-9\s]*"
                                    value=""
                                    error-message=""></paper-input>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <paper-textarea 
                                label="Summary" 
                                id="summary" 
                                name="summary"
                                required
                                pattern="[a-zA-Z0-9\s]*"
                                error-message="Summary is required please complete it"
                                value="" 
                                char-counter maxlength="512"></paper-textarea>                                
                            </div>
                        </div>

                    </div>
                </paper-material>

                <div class="row">
                    <paper-material elevation="0" class="tabs-paper-material" style="margin-top: 8px !important">                    
                        <div class="row-spinner"><paper-spinner id="spinnerSaveForm" class="blue" active></paper-spinner></div>                    
                    </paper-material>
                </div>
            
            <div class="row">
                <div class="col-xs-offset-9 col-xs-3">
                    <paper-button onclick="closeModalGrant()">Cancel</paper-button>
                    <paper-button onclick="saveGrant()">Save</paper-button>
                </div>
           </div>
        </paper-dialog>


<!--<paper-card>-->





<!--        <div class="row" style="background-color: #E48C00; color:#FFF">
            <div class="col-xs-9">
                <h2>GRANTS AND SCHOLARSHIPS</h2>
            </div>            
            
            <div class="col-xs-3">
                <paper-input label="Search" type="search"
                    autosave="test" results="5">
                </paper-input>            
            </div>
            
        </div>        -->

        
        
        <div class="col-xs-12">

            <div class="row mess_table_head">                
                <div class="col-xs-4 col-md-4 "><p data-order-name="" data-order-value="desc" class="">GRANT NAME </p></div>
                <div class="col-xs-3 col-md-3 "><p data-order-name="" data-order-value="desc" class="order">LOCATION <iron-icon icon="arrow-drop-down"></iron-icon></p></div>
                <div class="col-xs-2 col-md-2 "><p data-order-name="" data-order-value="desc" class="">DEADLINE <iron-icon icon="arrow-drop-down"></iron-icon></p></div>
                <div class="col-xs-2 col-md-2 "><p data-order-name="" data-order-value="desc" class="">AMOUNT <iron-icon icon="arrow-drop-down"></iron-icon></p></div>
                <div class="col-xs-1 col-md-1"></div>
            </div>

        </div>          
        <div class="col-xs-12" style=" border-bottom: 1px solid #E48C00; overflow: hidden;"></div>
        
        <iron-list id="list" items="[[items]]" as="item" >
            <template>
                <div on-tap="_collapseExpand">                            
                    <!--<paper-card>-->

                        <div class="item" tabindex="0">

                                <div class="row">
                                    
                                    <div class="col-xs-4 primary truncate">[[item.gra_title]]</div>
                                    <div class="col-xs-3 primary truncate">[[item.gra_location]]</div>
                                    <div class="col-xs-2 primary">[[item.gra_deadline]]</div>
                                    <div class="col-xs-2 primary">[[item.gra_amount]]</div>
                                    
                                    <div class="col-xs-1">
                                    <paper-button on-tap="_openLink" onclick="_openLink" style="color:#E48C00">APPLY</paper-button>
                                    <!--<a class="col-xs-1" on-tap="_openLink" onclick="_openLink" style="color:#E48C00"><b>APPLY</b></a>-->
                                    </div>
                                    
                                </div>
                                <div class="firstLine">[[item.gra_focus]]</div>
                                <div class="longText">[[item.gra_description]]</div>                            
                        </div>
                        
                    <!--</paper-card>-->                        
                </div>
            </template>
        </iron-list>
    
        <div class="col-xs-1">        
            <paper-fab icon="add" title="Add" class="blue button-animated" onclick="onAddGrantClick()"></paper-fab>
        </div>
        
<!--</paper-card>        -->

        
    </template>
</dom-module>            
            
<script type="text/javascript">
        
    HTMLImports.whenReady(function () {

        Polymer({
            is: 'in-list-card',
            properties: {
                items: {
                    type: Array
                },
                reload: {
                    type: Boolean,
                    value: true
                }            
            },
            _openLink: function (e){
                var list = this.$.list;                   
                var index = e.model.index;
                var url = list.items[index].gra_url + '';
                window.open(url, '_blank');
                e.stopPropagation();
            },
            _collapseExpand: function (e) {

                var list = this.$.list;                        
                var index = e.model.index;
                var isExpanded = list.items[index].expanded;

                if(!isExpanded){
                    $($('.item')[e.model.index]).addClass('expanded');
                }else{
                    $($('.item')[e.model.index]).removeClass('expanded');
                }

                list.set('items.' + index + '.expanded', !isExpanded);
                list.updateSizeForItem(e.model.index);
                
                //var dateTimestamp = list.items[index].gra_deadline;
                //var date = new Date(dateTimestamp * 1000);
                //list.set('items.' + index + '.deadline', date.format('YY-mm-dd'));
            },
            openDeadlineCalendar: function (e){
                var dialog = document.getElementById("dialogCalendar");
                if (dialog) {
                    dialog.open();
                }        
            }            
        });

    });
    
        
    function onAddGrantClick(){

        var dialog = document.getElementById("dialogAddGrant");
        if (dialog) {
            dialog.open();
        }
    }
    
    function closeModalGrant(){
        var dialog = document.getElementById("dialogAddGrant");
        dialog.close();
    }
    
    
    function openLink(url){
        url = url + '';
        window.open(url, '_blank');
    }
    
    function saveGrant(){
        
        $("#spinnerSaveForm").css("display", "block");
        $("#btnSaveForm").attr("disabled", "disabled");
        
        var url = '/resource/grants/';
        operations.save('formGrant', url, successSaveGrant);
    }
    
    function successSaveGrant(){

        $("#spinnerSaveForm").css("display", "none");
        $("#btnSaveForm").removeAttr("disabled");
        
        var item = new Object();
        
        item.title = $('#title').html();
        item.description = $('#description').html();
        item.deadline = $('#deadline').html();
        item.location = $('#location').html();
        item.amount = $('#amount').html();
        item.focus = $('#focus').html();
        item.url = $('#url').html();
                
        var listGrants = document.querySelector('#list');                        
        listGrants.push('data', item);
        closeModalGrant();
    }
    
    

</script>            