<!--DEFAULT/INDEX-->
<!DOCTYPE html>

<?php

$beginUrl = ($_SERVER['HTTPS'] !="" ? "https" : "http") ."://".$_SERVER["SERVER_NAME"];

$http = ($_SERVER['HTTPS'] !="" ? "https" : "http") . "://";

?>

<title>Jouture - Rediscover the world, one story at a time</title>


<meta name="description" content="Jouture is creating a journalism culture where the story matters most. Publish your work to reach and impact your audience immediately and without an intermediary.">
<meta name="meta-description" content="Jouture is creating a journalism culture where the story matters most. Publish your work to reach and impact your audience immediately and without an intermediary">
<meta name="meta-keywords" content="news journalist jouture content latest articles videos photos breaking trending">

<meta property="og:title" content="Jouture" /> 
<meta property="og:type" content='article' /> 
<meta property="og:url" content="<?php echo $beginUrl ?>" />
<meta property="og:site_name" content="Jouture"/>
<meta property="og:image" content="<?php echo $beginUrl ?>/images/landing/logo_index.png" />

<link rel="icon" type="image/png" href="<?php echo $this->serverUrl() ?>/favicon.png"/>

<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/jquery.remodal.css' ?>">
<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/bootstrap.min.css' ?>">
<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/style.css' ?>">
<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/resp-style.css' ?>">
<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/landing/mainstyle.css'; ?>" media="all" type="text/css" />
<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/css/alertify/alertify.flat.css'?>">
<link rel="stylesheet" href="<?php echo $this->serverUrl() . '/fullPage/jquery.fullPage.css'?>" />

<style>
    
body { 
  background: url(/images/landing/mobile_back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}    
    
    
</style>

<script src="<?php echo $this->serverUrl() . '/js/alertify/alertify.min.js' ?>"></script>
<script src="<?php echo $this->serverUrl() . '/js/jquery-1.11.1.min.js' ?>"></script>
<script src="<?php echo $this->serverUrl() . '/js/wejo.js' ?>"></script>
<script src="<?php echo $http ?>//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="<?php echo $this->serverUrl() . '/js/jquery.geocomplete.min.js' ?>"></script>
<script src="<?php echo $this->serverUrl() . '/js/iosOverlay.js' ?>"></script>
<script type="text/javascript" src="<?php echo $this->serverUrl() . '/js/spin.min.js' ?>"></script>

<script type="text/javascript" src="<?php echo $this->serverUrl() . '/fullPage/jquery.fullPage.min.js' ?>"></script>


<body id="landingBody">
    
    <?php $this->analytics(); ?>    
    
    <?php

        $isMobile = false;
        $useragent = $_SERVER['HTTP_USER_AGENT'];
        if(preg_match('/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i',$useragent)||preg_match('/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i',substr($useragent,0,4)))
            $isMobile = true;    
    ?>
    

    
    <?php if(!$isMobile){ ?>    
    
        <div class="mesh">        
        </div>
    
    <?php } ?>        

    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="signup">
            <div id="modalSignUp" style="margin-top:-180px">
                <div class="wejo_box_01" id="wejo_box_01" <?php echo ($this->forgotPassword ? 'hidden="hidden"' : '') ?>>

                </div>
            </div>
        </div>
    </div>


<?php if(!$isMobile){ ?>    

    <footer id="landingHeader" style="width:100%">
        <div class="footer" id="footer">

            <a id="btnPenModal" class="footer_a_orange">For Journalists</a>            
            <a onclick="onTermsClick()">Terms</a>
            <a onclick="onAboutClick()">About</a>

        </div>
    </footer>

<?php } ?>    


    <div id="divSectionsContainer" class="landing_sections" style="display:none">
        <div id="divModalBox" class="container-fluid">

            
            <div class="row col-xs-12" style="position:fixed; z-index: 9; margin-top: 25px;">
                
<!--                <div class="col-xs-8 col-lg-7"></div>-->
                
                
                    <div class="row col-xs-3 col-lg-3 col-lg-push-7" style="text-align: right;">

                        <div style="max-width: 350px;">
                            <div class="col-xs-4 col-lg-4">
                                <a id="circleAbout" class="circle" onclick="onAboutClick()">ABOUT US</a>
                            </div>

                            <div class="col-xs-4 col-lg-4">
                                <a id="circleTerms" class="circle" onclick="onTermsClick()">TERMS</a>        
                            </div>

                            <div class="col-xs-4 col-lg-4">
                                <a class="circle" onclick="onCloseLandingClick()">HOME</a>
                            </div>
                        </div>
                    </div>
             

                <div class="col-xs-1 col-lg-2"></div>

                
            </div>


            <div class="row col-xs-12" id="divBoxAbout">  
                
                <div class="col-xs-1 col-lg-2"></div>
                
                <div class="col-xs-10 col-lg-8 txt_content">

                    <div id="fullpageAbout">

                        <div class="section">

                            <h2>About us</h2>                                
<!--                            <p>News has become overwhelming, irrelevant, and questionable- There's a level of disconnect between what we hear on the news and what is taking place.</p>
                            <p>We at Jouture, always question what we read or hear on the news, wondering if media outlets consider themselves advocates or silencers. We believe journalism has always been more than just information and thought-provoking but as force for mobilization.</p>
                            <p>So we created Jouture: a news platform created by journalists you support, advocate, and believe in; Trusted to convey your community opinions and deliver on content you are part of.</p>
                            <p>Why? Because we are passionate about change and truth just like you - We want to not just inform you but to include you as part of the solution</p>-->
                            
                            <p>Mass media has turned the news industry into a circuit less about noteworthy information and more about chaos, an overabundance of irrelevant stories, and being first rather than getting the story right. This has resulted in a disconnect between what we hear on the news and reality, the reader and the journalist.</p>
                            <p>Jouture is creating a culture of journalism. We question what we read and hear, and wonder if media outlets consider themselves advocates or silencers. We believe journalism is more than just information and thought-provoking words, it is a force for mobilization.</p>
                            <p>We created Jouture to be a news platform fueled by journalists you support, advocate for, and believe in. Journalists involved with Jouture should be trusted to convey your community opinions and deliver content the reader is a part of.</p>

                            <p>Why? Because we are passionate about change and truth just like you. We want to not just inform you but to include you as part of the process.</p>
                            
                            
                            <img class="arrow_down"  onmouseover="hoverArrowDown(this);" onmouseout="unhoverArrowDown(this);" alt="Next">

                        </div><!-- FIN section -->


                        <div class="section">

                            <h2>Journalists</h2>
                            <p>Jouture is your distribution platform to create, manage, and publish your content.</p>

                             <table class="box_table">
                              <tr>
                                <td width="33.333%"><img src="/images/email/icon-database.png" alt="#"></td>
                                <td width="33.333%"><img src="/images/email/icon-chat.png" alt="#"></td>
                                <td width="33.333%"><img src="/images/email/icon-graph.png" alt="#"></td>
                              </tr>
                              <tr>
                                <td>
                                    <p><b class="relevant">RESOURCE INDEX</b></p>
                                    <p>Access our database to reduce research time</p>
                                </td>
                                <td>
                                    <p><b class="relevant">CONVERSE W/ JOURNALISTS</b></p>
                                    <p>Connect & collaborate to share resources and fixes</p>
                                </td> 
                                <td>
                                    <p><b class="relevant">MEASURE ENGAGEMENT</b></p>
                                    <p>Understand your audience and measure beyond clicks and impressions</p>
                                </td>
                              </tr>
                            </table>

                            <img class="arrow_down"  onmouseover="hoverArrowDown(this);" onmouseout="unhoverArrowDown(this);" alt="Next">
                        </div><!-- FIN section -->

                        
                        
                        <div class="section">

                            <h2>Readers</h2>
                            <p>We built Jouture for web, iPhone and Android.</p>
                            <p class="min-marg">These methods give you a quick and easy way to browse through the news and content relevant to you and your community.</p>

                            <table class="box_table">
                              <tr>
                                <td width="33.333%"><img src="/images/icon_landing_search.png" alt="Relevant Browsing"></td>
                                <td width="33.333%"><img src="/images/icon_landing_bell.png" alt="Notifications"></td>
                                <td width="33.333%"><img src="/images/icon_landing_chat.png" alt="Engage"></td>
                              </tr>
                              <tr>
                                <td>
                                    <p><b class="relevant">RELEVANT BROWSING</b></p>
                                    <p>Find news affecting the world or your community while searching from your desktop or your phone</p>
                                </td>
                                <td>
                                    <p><b class="relevant">NOTIFICATIONS</b></p>
                                    <p>Get notifications from your favorite journalists as soon as they create new content or break news in your community</p>
                                </td> 
                                <td>
                                    <p><b class="relevant">ENGAGE</b></p>
                                    <p>Engaged with the readers and journalists about news affecting your area or issues you are interested in</p>
                                </td>
                              </tr>
                            </table>

                            <img class="arrow_down"  onmouseover="hoverArrowDown(this);" onmouseout="unhoverArrowDown(this);" alt="Next">

                <!--            <ul class="mobile_btns">
                                <li><a href="#" class="for_iphone">Jouture for iPhone</a></li>
                                <li><a href="#" class="for_android">Jouture for Android</a></li>
                            </ul><br><br><br><br><br><br>-->

                        </div>



                        <div class="section">

                            <h2>Team</h2>
                            <p>We're an international team of creators; changing the journalism space.</p><br>

<div class="row">                            
                            
                            <div class="team_photos">

                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/mo.png" alt="#">
                                        <h3 class="team_name">MOHAMED ALI</h3>
                                        <span class="team_description">Founder & CEO</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/damian.png" alt="#">
                                        <h3 class="team_name">Damian Buzzaqui</h3>
                                        <span class="team_description">CTO</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/daniel.png" alt="#">
                                        <h3 class="team_name">Daniel Robert</h3>
                                        <span class="team_description">BACKEND</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/natalia.png" alt="#">
                                        <h3 class="team_name">Natalia Lo Duca</h3>
                                        <span class="team_description">BACKEND</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/email/logo_index.png" alt="#">
                                        <h3 class="team_name">Claudio Baiardi</h3>
                                        <span class="team_description">FRONT END</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/luciano.png" alt="#">
                                        <h3 class="team_name">Luciano Putignano</h3>
                                        <span class="team_description">MOBILE</span>
                                    </div>
                                </div>

                            </div><!-- FIN team_photos -->
</div>
                            <div class="row-fluid">
                                <div class="col-xs-12">
                                    <img class="arrow_down"  onmouseover="hoverArrowDown(this);" onmouseout="unhoverArrowDown(this);" alt="Next">    
                                </div>
                            </div>
                            
                        </div><!-- FIN section -->
                        
                        
                        <div class="section">

                            <h2>We're always hiring!</h2>
                            <p>We seek truth seekers and those who want to expose the real story and who question the status quo. Journalism is tough and relentless, but we believe in progress and pushing forward. Be part of the changing Journalism culture and make your dent in history.</p>

                            <table class="box_table_text">
                              <tr>
                                <td width="40%">
                                    <p><a href="javascript:download('Country Manager - Egypt.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td width="20%">&nbsp;</td> 
                                <td width="40%">
                                    <p><a href="javascript:download('Country Manager - Egypt.pdf');">EGYPT</a></p>
                                </td>

                              </tr>

                              <tr>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Argentina.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td>&nbsp;</td> 
                                <td>
                                    <p><a href="javascript:download('Country Manager - Argentina.pdf');">ARGENTINA</a></p>
                                </td>

                              </tr>

                              <tr>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Syria.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Syria.pdf');">SYRIA</a></p>
                                </td>

                              </tr>
                            </table>

                            <p>Think you're a good fit?</p>
                            <p>Email us at <a class="changedirection">moc.erutuoj@nimda</a> and tell us why you'd like to join our team.</p>
                            
                        </div>                        
                        
                        
                        
                    </div><!-- FIN fullpage -->

                </div>
                    
                <div class="col-xs-1 col-lg-2"></div>
                    
            </div> <!--FIN divBoxAbout  -->

            
            <div class="row col-xs-12" id="divBoxTerms">                
            </div>
 
           

        </div>
    </div>
 
    


    <div id="landingContent" class="landing_content" <?php echo ($this->forgotPassword ? 'hidden="hidden"' : '') ?>>
        <div class="white_box_borders">
            <div id="whiteBox" class="white_box" style="<?php if(!$isMobile) echo 'opacity: 0.3' ?>">
                <img class="landing_logo" src="/images/landing/logo_index.png" alt="Welcome to Jouture">

                <h1 class="wb_h1">REDISCOVER THE WORLD, ONE STORY AT A TIME.</h1>
                <div class="line"></div>
                <h3>Find news that matter,</h3>   
                <h3>created by journalists you trust.</h3>


                <div class="landing_btns">                   
                    <ul>                       
<!--                        <li><a id="btnStartReading" class="btn_r" href="#">READ</a></li>-->
                        <li><a id="btnFrontRequest" class="btn_j btn_j_orange" href="#">SIGN UP</a></li>
                                                
                    </ul>                                        
                </div>   
                
<?php if($isMobile){ ?>
                
                <h3 style="">
                    <p style=""> 
                        <a id="btnMobileLogin" style="" id="linkLogin" href="#"> LOGIN </a> 
                    </p>
                </h3>
                
<?php } ?>                
                
            </div>
        </div>

    </div>




    <div id="boxPostRequest" style="display: none">
        <div class="wejo_box_01_head">
            <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
            <h2>Thank You</h2>
        </div>
        <div class="wejo_box_01_body" style="height:380px;">
            <div class="wejo_box_01_content">

                <div class="wejo_box_structure_top" style="height:280px;"> 
                    <br>
<!--                    <div><img src="<?php //echo $this->serverUrl() . '/images/landing/logo_index.png' ?>" style="width:150px;" alt="Jouture"/></div>-->
                    <br>
                    <br>
                    <h4 style="color:#FC7108 !important">We are excited about your interest in Jouture! We will now review your information and send you an email with an access code to complete your registration once you are approved.</h4>

                </div>
                
<!--                <div class="wejo_box_structure_bottom">
                    <input type="submit" class="btn_login_black" id="btn_login_black" value="CAN'T WAIT !" onclick="gotoRead()">
                </div>-->

            </div>
        </div>
    </div>      


</body>

<?php if (!$isMobile){ ?>

    <script src="<?php echo $this->serverUrl() . '/js/jquery.backgroundvideo.min.js' ?>"></script>

<?php } ?>

<script type="text/javascript">
    
    var url = window.location + ''; //to be cast as String
    
    $(document).ready(function() {
        
        setTimeout(function(){
            
            //If it does come from the email code, then do not open sign up.
            if(url.indexOf('enc/1') > 0)
                hasCode = true;
            else
                hasCode = false;
            
            if(url.hash === '#signup' && !hasCode){
                closeModal();
                $('#btnFrontRequest').trigger("click");
            }
        }, 500);


        setTimeout(function(){
            if(url.hash === '#journalist'){
                $('#wejo_box_01').load('/default/index/method/portal', onBoxLoadComplete);
                setTimeout(function(){
                    document.location.hash = 'journalist';
                },1500);
            }
        },500);


        setTimeout(function(){
            if(url.hash === '#login'){
                $('#wejo_box_01').load('/default/index/method/login', onBoxLoadComplete);
                setTimeout(function(){
                    document.location.hash = 'login';
                },1500);
            }
        },500);
        
        
<?php if (!$isMobile){ ?>

            var videobackground = new $.backgroundVideo($('body'), {
                "align": "centerXY",
                "width": 1920,
                "height": 1080,
                "path": "/vids/",
                "filename": "river",
                "types": ["mp4", "ogg", "webm"]
            });


            $('#fullpageAbout').fullpage();

            configArrowPage();

            $('.arrow_down').on('click', function(){
                $.fn.fullpage.moveSectionDown();
            });
        
<?php }?>        
        
       
    });    
    
    function hoverArrowDown(element) {
        element.setAttribute('src', '/images/landing/down_orange.png');
    }
    
    function unhoverArrowDown(element) {
        element.setAttribute('src', '/images/landing/down_grey.png');
    }
    
    function configArrowPage(){
   
        $('.arrow_down').attr('style', 'width:40px; margin-top:20px;');
        $('.arrow_down').attr('src', '/images/landing/down_grey.png');
     
    }
        
    function setLandingHeight(){
        
        var screenHeight = $(window).height();
        
        var centerHeight = screenHeight * 0.9;
        var marginHeight = screenHeight * 0.1 * 0.5;
        
        document.getElementById("divModalBox").style.marginTop = marginHeight + 'px';
        document.getElementById("divModalBox").style.height = centerHeight + 'px';        
    }

</script>

<script src="<?php echo $this->serverUrl() . '/js/jquery.remodal.js' ?>"></script>

<script type="text/javascript">
    
    var modal = $.remodal.lookup[$('[data-remodal-id=signup]').data('remodal')];
    var modalHeader = $.remodal.lookup[$('[data-remodal-id=header]').data('remodal')];
    var justSignedUp = false;
    var codeInvite = 0;
    
    /*** Altode la malla/mesh ***/
    var mesh = $(".mesh");
    var altoPantalla = $(window).height();
    mesh.height(altoPantalla);

    $(document).on('ready', function() {

        window.onresize = function(){
            var altoPantalla = $(window).height();
            mesh.height(altoPantalla);
        };


        $('#btnPenModal').on('click', function() {
            $('#wejo_box_01').load('/default/index/method/login', onBoxLoadComplete);
        });
        
        $('#btnMobileLogin').on('click', function() {
            $('#wejo_box_01').load('/default/index/method/login', onBoxLoadComplete);
        });        


        $('#btnPenModal').on('mouseover', function() {
            $('#btnPenModal').html('');
        });

        $('#btnPenModal').on('mouseout', function() {
            $('#btnPenModal').html('For Journalists');
        });

        $('#btnFrontRequest').on('click', function() {
            
            operations.showSpinner('Loading');
            $('#wejo_box_01').load('/default/index/method/request', null, function(){
                
                operations.hideSpinner();
                onBoxLoadComplete();
                loadLocation();
            });            
        });

        $('#btnStartReading').on('click', function() {
            
            var serverUrl = '<?php echo $this->serverUrl()?>';        
            if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
                mixpanel.track("READ clicked");

            //gotoRead();
        });

        $('#whiteBox').on('mouseover', function() {
            $('#whiteBox').fadeTo(100, 1);
        });        
        
        if('<?php echo $this->forgotPassword ?>' == '1'){
            
            $('#btnPenModal').trigger("click");
            
            openLogin();
            
        }
        
        if(<?php if(isset($this->code) && strlen($this->code) > 0) echo 'true'; else echo 'false'; ?>){
            
            //openPortal();
            openSignUp();
        }
        
        $(document).on("keypress keyup keydown",function(e){
            
            //escape
            if (e.keyCode == 27) {
                var displaySections = $('#divSectionsContainer').css("display");

                if(displaySections == "block"){
                    onCloseLandingClick();
                }
             }
            
        })
        
    });


    $(document).on('close', '.remodal', function() {
        $('#landingHeader').show();
        $('#landingContent').show();
    });


    function gotoRead(){
        //comentado temporalmente para produccion
//        window.location = '/main/contents/index/';
    }

    function openPortal(){
        $('#wejo_box_01').load('/default/index/method/portal', onOpenPortalCompleteTypeCode);
    }
    
    function onOpenPortalCompleteTypeCode(){
        modal.open();
        hideBackGround();
        $('#txtCode').val('<?php echo $this->code; ?>');
        $('#txtCode').focus();
    }

    function onBoxLoadComplete() {
        
        operations.hideSpinner();
        modal.open();
        hideBackGround();                
    }

    function hideBackGround(){
        $('#landingHeader').hide();
        $('#landingContent').hide();                    
    }

    function showBackGround(){
        $('#landingHeader').show();
        $('#landingContent').show();                    
    }

    function login() {

        var data = $("#formLogin").serialize();

        data += "&method=authenticate";

        $.post('/default/login', data, function(response) {

            if (response == null){
                alertify.error("SERVER ERROR");
                return
            }

            if (response.status == 200)
                window.location = '/main/contents/index/';

            if (response.status == 401){                
                alertify.error("User or password not valid, try again");
                return;
            }

            if (response.status != 200)
                alertify.error("Please try again");
            
            var serverUrl = '<?php echo $this->serverUrl()?>';        
            if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
                mixpanel.track("Logged in");
            

        }, 'json');

    }

    function closeModal() {

        $('#wejo_box_01').empty();
        modal.close();
    }


    function signUp() {
        
        operations.showSpinner('Saving');
        var url = '/main/users';
        operations.save(formSignUp, url, signupCallBack, null, 'create.password');        
    }

    function signupCallBack(response) {
                        
        if (response == null)
            alert("Error en el servidor!");

        if (response.status != 200)
            alertify.error('Validation error');    
        
        var serverUrl = '<?php echo $this->serverUrl()?>';        
        if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
            mixpanel.track("Signed up");
        
        if (response.status == 200) {
            justSignedUp = true;
            window.location.href = '/';
        }

    }

    function openLogin() {
        $('#wejo_box_01').load('/default/index/method/login', null, showSuccess);
    }

    function openRequest() {
        $('#wejo_box_01').load('/default/index/method/request', null, loadLocation);
        setTimeout(function(){
            document.location.hash = "signup";
        },500);
    }
    
    function openForgotPassword() {

        $('#wejo_box_01').load('/default/index/method/forgot.password');
    }

    function loadLocation() {

        $('#txtLocation').geocomplete({
            details: ".details",
            detailsAttribute: "data-geo",
            location: "NYC"
        }).bind("geocode:result", function(event, result) {

            $(".pac-container").css("z-index", 15000);
        });
    }

    function loadCode() {
        $('#txtCodeInvite').val(codeInvite);
        onBoxLoadComplete();
    }

    function saveNewUser() {
        
        operations.hideErrors();
        operations.showSpinner('Saving');
        var url = '/main/users';
        
        /* TEMPORAL - skip ACCEPT and CODE validation process */
        //operations.save(formRequest, url, showPostRequest);
        operations.save(formRequest, url, directSignUp, null, 'save.new');
    }
    
    function directSignUp(response){
        
        codeInvite = response.data.code;
        $('#wejo_box_01').load('/default/index/method/sign.up', null, loadCode);
    }
    
    function openSignUp(response){
        
        codeInvite = '<?php  echo $this->code ?>';
        $('#wejo_box_01').load('/default/index/method/sign.up', null, loadCode);
    }
    

    function showPostRequest() {
        $('#wejo_box_01').empty();
        $('#wejo_box_01').html($('#boxPostRequest').html());
        modal.open();
    }


    function makeNumber() {

        var one = "";
        var possible = "123";

        one = possible.charAt(Math.floor(Math.random() * possible.length));

        return one;
    }

    function showSuccess() {
        
        $('#wejo_box_01').show();
        
        if (!justSignedUp)
            return true;

        operations.showMessage('Welcome', 'ok');

        justSignedUp = false;
        
        return true;
    }


    function showTryAgain() {

        operations.showMessage('Try Again', 'error');

        return true;
    }


    function onFaqClick() {

        hideBackGround();
        unselectAllCircles();
        $('#circleFaqs').addClass('selected');
        $('#divModalHeader').empty();
        $('#divModalHeader').html($('#divBoxFaqs').html());
        modalHeader.open();

    }

    function onCareersClick() {
        
        hideBackGround();
        unselectAllCircles();
        $('#circleCareers').addClass('selected');


        $('#divBoxTerms').hide();
        $('#divBoxAbout').hide();
        $('#divBoxCareers').show();
        
        $('#landingContent').hide();
        $('#divSectionsContainer').show();
    }

    function onAboutClick() {
        
        hideBackGround();
        unselectAllCircles();
        $('#circleAbout').addClass('selected');
        
        $('#divBoxTerms').hide();
        $('#divBoxCareers').hide();
        $('#divBoxAbout').show();
        
        $('#landingContent').hide();
        $('#divSectionsContainer').show();
        
        
        if( $('#divBoxAbout').html() != '' )
            return true;
        
        
        $.fn.fullpage.destroy();        
        $('#divBoxTerms').html('');
        
        var url = '/default/index/method/about';
        $('#divBoxAbout').load(url, function(){
            $('#fullpageAbout').fullpage();
            configArrowPage();
            $('#divBoxAbout').show();
        });        
    }
    
    function onTermsClick() {
        
        $('#divBoxTerms').hide();
        $.fn.fullpage.destroy();

        hideBackGround();
        unselectAllCircles();
        $('#circleTerms').addClass('selected');        
                
                
        $('#divBoxAbout').html('');        
        $('#divBoxAbout').hide();
        
        $('#divBoxCareers').hide();
        
        
        $('#landingContent').hide();
        $('#divSectionsContainer').show();
        
        var url = '/default/index/method/terms';
        $('#divBoxTerms').load(url, function(){
            $('#fullpageTerms').fullpage();
            configArrowPage();
            $('#divBoxTerms').show();
        });
        
    }
    
    function onCloseLandingClick(){
        
        $('#divSectionsContainer').hide();
        $('#landingContent').show(); 
        showBackGround();
    }

    function onMobileClick() {

        hideBackGround();
        unselectAllCircles();
        $('#circleMobile').addClass('selected');
        $('#divModalHeader').empty();                    
        $('#divModalHeader').html($('#divBoxMobile').html());
        modalHeader.open();
    }

    function unselectAllCircles(){

        $('#circleAbout').removeClass('selected');
        $('#circleTerms').removeClass('selected');
        $('#circleMobile').removeClass('selected');
        $('#circleCareers').removeClass('selected');
        $('#circleFaqs').removeClass('selected');
    }

    /*** Enviar footer de landing al fondo
     var footer = $("#footer");
     var topFooter = $(window).height()-60;

     footer.css("top", topFooter) ***/


    function download(fileName){
        filePath = '/main/downloads/index/file.name/' + fileName;
        window.open(filePath, '_self');
    }




</script>

<!-- Google Fonts -->
<link href='<?php echo $http ?>fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link href='<?php echo $http ?>fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
