                <div class="col-xs-1 col-lg-2"></div>
                
                <div class="col-xs-10 col-lg-8 txt_content">

                    <div id="fullpageAbout">

                        <div class="section">

                            <h2>About us</h2>
                            
                            <p>Mass media has turned the news industry into a circuit less about noteworthy information and more about chaos, an overabundance of irrelevant stories, and being first rather than getting the story right. This has resulted in a disconnect between what we hear on the news and reality, the reader and the journalist.</p>
                            <p>Jouture is creating a culture of journalism. We question what we read and hear, and wonder if media outlets consider themselves advocates or silencers. We believe journalism is more than just information and thought-provoking words, it is a force for mobilization.</p>
                            <p>We created Jouture to be a news platform fueled by journalists you support, advocate for, and believe in. Journalists involved with Jouture should be trusted to convey your community opinions and deliver content the reader is a part of.</p>

                            <p>Why? Because we are passionate about change and truth just like you. We want to not just inform you but to include you as part of the process.</p>
                            
<!--                            <p>News has become overwhelming, irrelevant, and questionable- There's a level of disconnect between what we hear on the news and what is taking place.</p>
                            <p>We at Jouture, always question what we read or hear on the news, wondering if media outlets consider themselves advocates or silencers. We believe journalism has always been more than just information and thought-provoking but as force for mobilization.</p>
                            <p>So we created Jouture: a news platform created by journalists you support, advocate, and believe in; Trusted to convey your community opinions and deliver on content you are part of.</p>
                            <p>Why? Because we are passionate about change and truth just like you - We want to not just inform you but to include you as part of the solution</p>-->
                            
                            <img class="arrow_down"  onmouseover="hoverArrowDown(this);" onmouseout="unhoverArrowDown(this);" alt="Next">

                        </div><!-- FIN section -->


                        <div class="section">

                            <h2>Journalists</h2>
                            <p>Jouture is your distribution platform to create, manage, and publish your content.</p>

                             <table class="box_table">
                              <tr>
                                <td width="33.333%"><img src="/images/email/icon-database.png" alt="Resource Index"></td>
                                <td width="33.333%"><img src="/images/email/icon-chat.png" alt="Converse with Journalists"></td>
                                <td width="33.333%"><img src="/images/email/icon-graph.png" alt="Measure Engagement"></td>
                              </tr>
                              <tr>
                                <td>
                                    <p><b class="relevant">RESOURCE INDEX</b></p>
                                    <p>Use our resources and database to reduce research time</p>
                                </td>
                                <td>
                                    <p><b class="relevant">CONVERSE W/ JOURNALISTS</b></p>
                                    <p>Connect and collaborate to share resources and fixes</p>
                                </td> 
                                <td>
                                    <p><b class="relevant">MEASURE ENGAGEMENT</b></p>
                                    <p>Understand your audience and measure beyond clicks and impressions</p>
                                </td>
                              </tr>
                            </table>

                            <img class="arrow_down"  onmouseover="hoverArrowDown(this);" onmouseout="unhoverArrowDown(this);" alt="Next">
                        </div><!-- FIN section -->
                        
                            
                        <div class="section">

                            <h2>Readers</h2>
                            <p>We built Jouture for the web, iPhone and Android.</p>
                            <p class="min-marg">These methods give you a quick and easy way to browse through the news and content relevant to you and your community.</p>

                            <table class="box_table">
                              <tr>
                                <td width="33.333%"><img src="/images/icon_landing_search.png" alt="Relevant Browsing"></td>
                                <td width="33.333%"><img src="/images/icon_landing_bell.png" alt="Notifications"></td>
                                <td width="33.333%"><img src="/images/icon_landing_chat.png" alt="Engage"></td>
                              </tr>
                              <tr>
                                <td>
                                    <p><b class="relevant">RELEVANT BROWSING</b></p>
                                    <p>Find news affecting the world or your community while searching from your desktop or your phone</p>
                                </td>
                                <td>
                                    <p><b class="relevant">NOTIFICATIONS</b></p>
                                    <p>Get notifications from your favorite journalists as soon as they create new content or break news in your community</p>
                                </td> 
                                <td>
                                    <p><b class="relevant">ENGAGE</b></p>
                                    <p>Engaged with the readers and journalists about news affecting your area or issues you are interested in</p>
                                </td>
                              </tr>
                            </table>

                            <img class="arrow_down"  onmouseover="hoverArrowDown(this);" onmouseout="unhoverArrowDown(this);" alt="Next">

                <!--            <ul class="mobile_btns">
                                <li><a href="#" class="for_iphone">Jouture for iPhone</a></li>
                                <li><a href="#" class="for_android">Jouture for Android</a></li>
                            </ul><br><br><br><br><br><br>-->

                        </div>


                        <div class="section">

                            <h2>Team</h2>
                            <p>We're an international team of creators; changing the journalism space.</p><br>

<div class="row">                            
                            
                            <div class="team_photos">

                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/mo.png" alt="Mohamed Ali">
                                        <h3 class="team_name">MOHAMED ALI</h3>
                                        <span class="team_description">Founder & CEO</span>
                                    </div>
                                </div>
                               

                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/damian.png" alt="Damian Buzzaqui">
                                        <h3 class="team_name">Damian Buzzaqui</h3>
                                        <span class="team_description">CTO & Founder</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/daniel.png" alt="Daniel Robert">
                                        <h3 class="team_name">Daniel Robert</h3>
                                        <span class="team_description">BACKEND</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/natalia.png" alt="Natalia Lo Duca">
                                        <h3 class="team_name">Natalia Lo Duca</h3>
                                        <span class="team_description">BACKEND</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/email/logo_index.png" alt="Claudio Baiardi">
                                        <h3 class="team_name">Claudio Baiardi</h3>
                                        <span class="team_description">FRONT END</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/luciano.png" alt="Luciano Putignano">
                                        <h3 class="team_name">Luciano Putignano</h3>
                                        <span class="team_description">MOBILE</span>
                                    </div>
                                </div>

                            </div><!-- FIN team_photos -->
</div>
                            <div class="row-fluid">
                                <div class="col-xs-12">
                                    <img class="arrow_down"  onmouseover="hoverArrowDown(this);" onmouseout="unhoverArrowDown(this);" alt="Next">    
                                </div>
                            </div>
                            
                        </div><!-- FIN section -->
                        
                        
                        <div class="section">

                            <h2>We're always hiring!</h2>
                            <p>We seek truth seekers and those who want to expose the real story and who question the status quo. Journalism is tough and relentless, but we believe in progress and pushing forward. Be part of the changing Journalism culture and make your dent in history.</p>

                            <table class="box_table_text">
                              <tr>
                                <td width="40%">
                                    <p><a href="javascript:download('Country Manager - Egypt.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td width="20%">&nbsp;</td> 
                                <td width="40%">
                                    <p><a href="javascript:download('Country Manager - Egypt.pdf');">EGYPT</a></p>
                                </td>

                              </tr>

                              <tr>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Argentina.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td>&nbsp;</td> 
                                <td>
                                    <p><a href="javascript:download('Country Manager - Argentina.pdf');">ARGENTINA</a></p>
                                </td>

                              </tr>

                              <tr>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Syria.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Syria.pdf');">SYRIA</a></p>
                                </td>

                              </tr>
                            </table>

                            <p>Think you're a good fit?</p>
                            <p>Email us at <a>admin@jouture.com</a> and tell us why you'd like to join our team.</p>
                            
                        </div>                        
                        
                        
                        
                    </div><!-- FIN fullpage -->

                </div>
                    
                <div class="col-xs-1 col-lg-2"></div>