<div id="boxForgotPassword">
    
    <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
    <div class="wejo_box_01_body" onkeypress="onSearchKeyPress(event)">
        <div class="wejo_box_01_content">
            <p class="wejo_box_p_gray">Recover your account</p>
            
            <form id="formForgotPassword">
            
                <input type="text" class="in_box_style_01" id="txtEmail" name="txtEmail" placeholder="Email">
                
 <br><br>               

                <input type="button" class="btn_login_black top-10" id="Login" value="Recover" onclick="forgotPassword()">
                
            </form>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <div class="forgot-pass-message" hidden="hidden">
                
                <h3>We sent you an email with the steps to reclaim your account.</h3>
                
            </div>
            
        </div>
    </div>
</div>


<script type="text/javascript">
    
    function onSearchKeyPress(event){
        
        if(event.keyCode === 13)
            forgotPassword();             
    }
    
    function forgotPassword(){
        
        var data =  'method=forgot.password&'+$('#formForgotPassword').serialize();
        
        operations.showSpinner("Loading");
        
        $.post("/default/login", data, function(response){
            
            operations.hideSpinner();
            
            var errors = JSON.stringify(response.errors);

            if(errors != 'null'){
                
                if(response.errors.length != 0){
                    
                    errors = errors.split(":");

                    var error = errors[1];

                    error = error.slice(1,(error.length-4));

                    alertify.error(error);
                    
                }
                
            }

            if(response.status == 200){
                
                $(".forgot-pass-message").show();
                
            }else{  
                
                if(errors != 'null'){
                    if(response.errors.length != 0){
                        alertify.error("Server error, please try again");
                    }
                }
                
            }
            
        }, 'json');
        
    }
    
 </script>