<!--DEFAULT/INDEX-->
<link rel="icon" type="image/png" href="/favicon.png"/>

<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/bootstrap.min.css' ?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/style.css' ?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/resp-style.css' ?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/landing/mainstyle.css'; ?>" media="all" type="text/css" />
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.flat.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/fullPage/jquery.fullPage.css'?>" />



<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/jquery-1.11.1.min.js' ?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/wejo.js' ?>"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="<?php echo $this->baseUrl() . '/js/jquery.geocomplete.min.js' ?>"></script>
<script src="<?php echo $this->baseUrl() . '/js/iosOverlay.js' ?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl() . '/js/spin.min.js' ?>"></script>

<!--<script type="text/javascript" src="<?php //echo $this->baseUrl() . '/fullPage/jquery.easings.min.js' ?>"></script>
<script type="text/javascript" src="<?php //echo $this->baseUrl() . '/fullPage/jquery.slimscroll.min.js' ?>"></script>-->
<script type="text/javascript" src="<?php echo $this->baseUrl() . '/fullPage/jquery.fullPage.min.js' ?>"></script>

<!-- Scrollbar -->
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>


<body id="landingBody" style="width: 100% !important">
    
    <?php $this->analytics(); ?>    

    <div class="mesh">        
    </div>

    <div class="remodal-bg">
        <div class="remodal" data-remodal-id="signup">
            <div id="modalSignUp" style="margin-top:-180px">
                <div class="wejo_box_01" id="wejo_box_01" <?php echo ($this->forgotPassword ? 'hidden="hidden"' : '') ?>>                    
                </div>
            </div>
        </div>
    </div>





    <footer id="landingHeader">
        <div class="footer" id="footer">

            <a id="btnPenModal" class="footer_a_orange">For Journalists</a>            
            <a onclick="onTermsClick()">Terms</a>
<!--            <a onclick="onCareersClick()">Careers</a>            -->
            <a onclick="onAboutClick()">About</a>

        </div>
    </footer>



 
<!--
    <div id="divSectionsContainer" class="landing_content" style="display:none">
        <div id="divModalBox" class="white_box_borders2">
            <div class="white_box2">
-->

    <div id="divSectionsContainer" class="landing_sections" style="text-align: center; display:none">
        <div id="divModalBox" style="text-align: center; max-width: 1200px;">

            
            <ul class="circle_nav">
                <li><a class="circle" onclick="onCloseLandingClick()">HOME</a></li>
                <li><a id="circleTerms" class="circle" onclick="onTermsClick()">TERMS</a></li>
<!--                <li><a id="circleCareers" class="circle" onclick="onCareersClick()">CAREERS</a></li>-->
                <li><a id="circleAbout" class="circle" onclick="onAboutClick()">ABOUT US</a></li>
            </ul>


            <div id="divBoxAbout">  
                <div class="txt_content">

                    <div id="fullpageAbout" style="vertical-align: top;">

                        <div class="section" style="vertical-align: top;">

                            <h2>We're all Jouture</h2>                                
                            <p>News has become overwhelming, irrelevant, and questionable- There's a level of disconnect between what we hear on the news and what is taking place.</p>
                            <p>We at Jouture, always question what we read or hear on the news, wondering if media outlets consider themselves advocates or silencers. We believe journalism has always been more than just information and thought-provoking but as force for mobilization.</p>
                            <p>So we created Jouture: a news platform created by journalists you support, advocate, and believe in; Trusted to convey your community opinions and deliver on content you are part of.</p>
                            <p>Why? Because we are passionate about change and truth just like you - We want to not just inform you but to include you as part of the solution</p>
                            
                            <img class="arrow_down" class="arrow_down">

                        </div><!-- FIN section -->


                        <div class="section" style="vertical-align: top;">

                            <h2>Readers</h2>
                            <p>We built Jouture for web, iPhone and Android.</p>
                            <p class="min-marg">These give you a quick and easy way to browse through the news and content relevant to you and your community.</p>

                            <table class="box_table">
                              <tr>
                                <td width="33.333%"><img src="/images/icon_landing_search.png" alt="#"></td>
                                <td width="33.333%"><img src="/images/icon_landing_bell.png" alt="#"></td>
                                <td width="33.333%"><img src="/images/icon_landing_chat.png" alt="#"></td>
                              </tr>
                              <tr>
                                <td>
                                    <p><b class="relevant">RELEVANT BROWSING</b></p>
                                    <p>Find news affecting the world or your community. Search from your desktop or your phone.</p>
                                </td>
                                <td>
                                    <p><b class="relevant">NOTIFICATIONS</b></p>
                                    <p>Get notified as soon as your favored journalists create new content or break news in your community.</p>
                                </td> 
                                <td>
                                    <p><b class="relevant">ENGAGE</b></p>
                                    <p>Engaged with the online community and journalist about news affecting your neighborhood or issues you are interested in.</p>
                                </td>
                              </tr>
                            </table>

                            <img class="arrow_down" class="arrow_down">

                <!--            <ul class="mobile_btns">
                                <li><a href="#" class="for_iphone">Jouture for iPhone</a></li>
                                <li><a href="#" class="for_android">Jouture for Android</a></li>
                            </ul><br><br><br><br><br><br>-->

                        </div>


                        <div class="section" style="vertical-align: top;">

                            <h2>Journalists</h2>
                            <p>Your distribution platform to create, manage and publish your content.</p>

                             <table class="box_table">
                              <tr>
                                <td width="33.333%"><img src="/images/email/icon-database.png" alt="#"></td>
                                <td width="33.333%"><img src="/images/email/icon-chat.png" alt="#"></td>
                                <td width="33.333%"><img src="/images/email/icon-graph.png" alt="#"></td>
                              </tr>
                              <tr>
                                <td>
                                    <p><b class="relevant">RESOURCE INDEX</b></p>
                                    <p>Access our database to reduce research time.</p>
                                </td>
                                <td>
                                    <p><b class="relevant">CONVERSE W/ JOURNALISTS</b></p>
                                    <p>Connect & collaborate to share resources and fixes.</p>
                                </td> 
                                <td>
                                    <p><b class="relevant">MEASURE ENGAGEMENT</b></p>
                                    <p>Understand your audience and measure beyond clicks and impressions.</p>
                                </td>
                              </tr>
                            </table>

                            <img class="arrow_down" class="arrow_down">
                        </div><!-- FIN section -->



                        <div class="section" style="vertical-align: top;">

                            <h2>Team</h2>
                            <p>We're an international team of creators; changing the journalism space.</p><br>

                            <div class="team_photos">

                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/mo.png" alt="#">
                                        <h3 class="team_name">MOHAMED ALI</h3>
                                        <span class="team_description">Founder & CEO</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/bryant2.png" alt="#">
                                        <h3 class="team_name">BRYANT YANG</h3>
                                        <span class="team_description">Co-founder</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/damian.png" alt="#">
                                        <h3 class="team_name">Damian Buzzaqui</h3>
                                        <span class="team_description">CTO</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/daniel.png" alt="#">
                                        <h3 class="team_name">Daniel Robert</h3>
                                        <span class="team_description">BACKEND</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/natalia.png" alt="#">
                                        <h3 class="team_name">Natalia Lo Duca</h3>
                                        <span class="team_description">BACKEND</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/email/logo_index.png" alt="#">
                                        <h3 class="team_name">Claudio Baiardi</h3>
                                        <span class="team_description">FRONT END</span>
                                    </div>
                                </div>


                                <div class="photo_content">
                                    <div class="photo_content_iside">
                                        <img src="/images/landing/luciano.png" alt="#">
                                        <h3 class="team_name">Luciano Putignano</h3>
                                        <span class="team_description">MOBILE</span>
                                    </div>
                                </div>

                            </div><!-- FIN team_photos -->

                            
                            <img style="position:absolute" class="arrow_down" class="arrow_down">    
                            
                        </div><!-- FIN section -->
                        
                        
                        <div class="section" style="vertical-align: top;">

                            <h2>We're always hiring!</h2>
                            <p>We seek disruptors, truth seekers, and non-conformists who question the status quo and are not afraid of failing, only to get up again and try once more. The journalism space is tough and relentless; but we believe in change and progress. Be part of changing ecosystem and make your dent in history.</p>

                            <table class="box_table_text">
                              <tr>
                                <td width="33%">
                                    <p><a href="javascript:download('Country Manager - Egypt.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td width="33%">&nbsp;</td> 
                                <td width="33%">
                                    <p><a href="javascript:download('Country Manager - Egypt.pdf');">EGYPT</a></p>
                                </td>

                              </tr>

                              <tr>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Argentina.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td>&nbsp;</td> 
                                <td>
                                    <p><a href="javascript:download('Country Manager - Argentina.pdf');">ARGENTINA</a></p>
                                </td>

                              </tr>

                              <tr>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Syria.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Syria.pdf');">SYRIA</a></p>
                                </td>

                              </tr>
                            </table>

                            <p>Think you're a good fit?</p>
                            <p>Email us at <a>admin@jouture.com</a> and tell us why you'd like to join our team.</p>
                            
                        </div>                        
                        
                        
                        
                    </div><!-- FIN fullpage -->

                </div>
            </div> <!--FIN divBoxAbout  -->

            
            <div id="divBoxTerms">                
            </div>
 
            
            <!--    CAREERS BOX -->
            <!--    CAREERS BOX -->
            <div id="divBoxCareers" hidden="hidden">        
                <div class="txt_content">

                    <div id="fullpageCareers">
                        
                        <div class="section">

                            <h2>We're always hiring!</h2>
                            <p>We seek disruptors, truth seekers, and non-conformists who question the status quo and are not afraid of failing, only to get up again and try once more. The journalism space is tough and relentless; but we believe in change and progress. Be part of changing ecosystem and make your dent in history.</p>

                            <table class="box_table_text">
                              <tr>
                                <td width="33%">
                                    <p><a href="javascript:download('Country Manager - Egypt.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td width="33%">&nbsp;</td> 
                                <td width="33%">
                                    <p><a href="javascript:download('Country Manager - Egypt.pdf');">EGYPT</a></p>
                                </td>

                              </tr>

                              <tr>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Argentina.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td>&nbsp;</td> 
                                <td>
                                    <p><a href="javascript:download('Country Manager - Argentina.pdf');">ARGENTINA</a></p>
                                </td>

                              </tr>

                              <tr>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Syria.pdf');">COUNTRY MANAGER</a></p>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <p><a href="javascript:download('Country Manager - Syria.pdf');">SYRIA</a></p>
                                </td>

                              </tr>
                            </table>

                            <p>Think you're a good fit?</p>
                            <p>Email us at <a>admin@jouture.com</a> and tell us why you'd like to join our team.</p>

                        </div>
                    </div>
                </div>    
            </div>
            <!--    CAREERS BOX -->



        </div>
    </div>
 

    <div id="landingContent" class="landing_content" <?php echo ($this->forgotPassword ? 'hidden="hidden"' : '') ?>>
        <div class="white_box_borders">
            <div id="whiteBox" class="white_box" style="opacity: 0.3">
                <img class="landing_logo" src="/images/landing/logo_index.png" alt="Welcome to Jouture">

                <h2 class="wb_h2">REDISCOVER THE WORLD, ONE STORY AT A TIME.</h2>
                <div class="line"></div>
                <h3>Find news that matter,</h3>   
                <h3>created by journalists you trust.</h3>


                <div class="landing_btns">                   
                    <ul>                       
<!--                        <li><a id="btnStartReading" class="btn_r" href="#">READ</a></li>-->
                        <li><a id="btnFrontRequest" class="btn_j btn_j_orange" href="#">REQUEST INVITE</a></li>
                                                                         
                    </ul>                   
                </div>               
            </div>
        </div>

    </div>




    <div id="boxPostRequest" style="display: none">
        <div class="wejo_box_01_head">
            <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
            <h2>Thank You</h2>
        </div>
        <div class="wejo_box_01_body" style="height:380px;">
            <div class="wejo_box_01_content">

                <div class="wejo_box_structure_top" style="height:280px;"> 
                    <br>
                    <div><img src="<?php echo $this->baseUrl() . '/images/landing/logo_index.png' ?>" style="width:150px;"/></div>
                    <br>
                    <br>
                    <h6>we're excited about your interest in Jouture.</h6>
                    <h6>your invitation will be sent shortly.</h6>
                </div>
                <div class="wejo_box_structure_bottom">
                    <input type="submit" class="btn_login_black" id="btn_login_black" value="CAN'T WAIT !" onclick="gotoRead()">
                </div>

            </div>
        </div>
    </div>      
    
    
    
</body>


<script src="<?php echo $this->baseUrl() . '/js/jquery.backgroundvideo.min.js' ?>"></script>

<script type="text/javascript">
    
    $(document).ready(function() {
        
        var videobackground = new $.backgroundVideo($('body'), {
            "align": "centerXY",
            "width": 1920,
            "height": 1080,
            "path": "/vids/",
            "filename": "river",
            "types": ["mp4", "ogg", "webm"]
        });
        

        $('#fullpageAbout').fullpage();
        
        $('.arrow_down').attr('style', 'width:50px;');
        $('.arrow_down').attr('src', '/images/landing/down_grey.png');
        
        $('.arrow_down').on('mouseover', function(){
            
            $('.arrow_down').attr('src', '/images/landing/down_orange.png');
        });
        
        $('.arrow_down').on('mouseout', function(){
            
            $('.arrow_down').attr('src', '/images/landing/down_grey.png');
        });        
        
        $('.arrow_down').on('click', function(){
            $.fn.fullpage.moveSectionDown();
        });
        
       
    });    
    
        
    function setLandingHeight(){
        
        var screenHeight = $(window).height();
        
        var centerHeight = screenHeight * 0.9;
        var marginHeight = screenHeight * 0.1 * 0.5;
        
        document.getElementById("divModalBox").style.marginTop = marginHeight + 'px';
        document.getElementById("divModalBox").style.height = centerHeight + 'px';        
    }

</script>

<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>

<script type="text/javascript">
    
    var modal = $.remodal.lookup[$('[data-remodal-id=signup]').data('remodal')];
    var modalHeader = $.remodal.lookup[$('[data-remodal-id=header]').data('remodal')];
    var justSignedUp = false;
    var codeInvite = 0;
    
    /*** Altode la malla/mesh ***/
    var mesh = $(".mesh");
    var altoPantalla = $(window).height();
    mesh.height(altoPantalla);

    $(document).on('ready', function() {

        window.onresize = function(){
            var altoPantalla = $(window).height();
            mesh.height(altoPantalla);
        };


        $('#btnPenModal').on('click', function() {
            $('#wejo_box_01').load('/default/index/method/portal', onBoxLoadComplete);
        });


        $('#btnPenModal').on('mouseover', function() {
            $('#btnPenModal').html('');
        });

        $('#btnPenModal').on('mouseout', function() {
            $('#btnPenModal').html('For Journalists');
        });

        $('#btnFrontRequest').on('click', function() {
            
            $('#wejo_box_01').load('/default/index/method/request', null, function(){
                onBoxLoadComplete();
                loadLocation();
            });            
        });

        $('#btnStartReading').on('click', function() {
            
            var serverUrl = '<?php echo $this->serverUrl()?>';        
            if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
                mixpanel.track("READ clicked");

            //gotoRead();
        });

        $('#whiteBox').on('mouseover', function() {
            $('#whiteBox').fadeTo(100, 1);
        });        
        
        if('<?php echo $this->forgotPassword ?>' == '1'){
            
            $('#btnPenModal').trigger("click");
            
            openLogin();
            
        }
        
        if(<?php if(isset($this->code) && strlen($this->code) > 0) echo 'true'; else echo 'false'; ?>){
            
            openPortal();
        }
        
    });


    $(document).on('close', '.remodal', function() {
        $('#landingHeader').show();
        $('#landingContent').show();
    });


    function gotoRead(){
        //comentado temporalmente para produccion
//        window.location = '/main/contents/index/';
    }

    function openPortal(){
        $('#wejo_box_01').load('/default/index/method/portal', onOpenPortalCompleteTypeCode);
    }
    
    function onOpenPortalCompleteTypeCode(){
        modal.open();
        hideBackGround();
        $('#txtCode').val('<?php echo $this->code; ?>');
        $('#txtCode').focus();
    }

    function onBoxLoadComplete() {
        modal.open();
        hideBackGround();
    }

    function hideBackGround(){
        $('#landingHeader').hide();
        $('#landingContent').hide();                    
    }

    function showBackGround(){
        $('#landingHeader').show();
        $('#landingContent').show();                    
    }

    function login() {

        var data = $("#formLogin").serialize();

        data += "&method=authenticate";

        $.post('/default/login', data, function(response) {

            if (response == null){
                alertify.error("SERVER ERROR");
                return
            }

            if (response.status == 200)
                window.location = '/main/contents/index/';

            if (response.status == 401){                
                alertify.error("User or password not valid, try again");
                return;
            }

            if (response.status != 200)
                alertify.error("Please try again");
            
            var serverUrl = '<?php echo $this->serverUrl()?>';        
            if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
                mixpanel.track("Logged in");
            

        }, 'json');

    }

    function closeModal() {

        $('#wejo_box_01').empty();
        modal.close();
    }

    function openSignUp() {

        codeInvite = $("#txtCode").val();
        
        if( codeInvite.length < 12 ){
            alertify.error("Please type a valid code");
            return;
        }

        var data = "txtCode=" + $("#txtCode").val();

        data += "&method=validate.code";

        $.post('/management/requests', data, function(response) {

            if (response == null || response.status == 500) {
                alertify.error("Invalid code, please try again");
            }

            if (response.status == 200) {
                $('#wejo_box_01').load('/default/index/method/sign.up', null, loadCode);
            }

        }, 'json');


    }

    function signUp() {
        
        //TODO: deshabilitar boton SIGN UP
        var url = '/main/users';
        operations.save(formSignUp, url, signupCallBack);
        
    }

    function signupCallBack(response) {

        if (response.status == 200) {
            justSignedUp = true;
            openLogin();
        }

        if (response == null)
            alert("Error en el servidor!");

        if (response.status != 200)
            alertify.error('Validation error');    
        
        var serverUrl = '<?php echo $this->serverUrl()?>';        
        if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
            mixpanel.track("Signed up");

    }

    function openLogin() {

        $('#wejo_box_01').load('/default/index/method/login', null, showSuccess);
    }

    function openRequest() {

        $('#wejo_box_01').load('/default/index/method/request', null, loadLocation);
    }
    
    function openForgotPassword() {

        $('#wejo_box_01').load('/default/index/method/forgot.password');
    }

    function loadLocation() {

        $('#txtLocation').geocomplete({
            details: ".details",
            detailsAttribute: "data-geo",
            location: "NYC"
        }).bind("geocode:result", function(event, result) {

            $(".pac-container").css("z-index", 15000);
        });
    }

    function loadCode() {
        $('#txtCodeInvite').val(codeInvite);
    }

    function requestCode() {
        var url = '/management/requests';
        operations.save(formRequest, url, showPostRequest);
    }

    function showPostRequest() {
        $('#wejo_box_01').empty();
        $('#wejo_box_01').html($('#boxPostRequest').html());
        modal.open();
    }


    function makeNumber() {

        var one = "";
        var possible = "123";

        one = possible.charAt(Math.floor(Math.random() * possible.length));

        return one;
    }

    function showSuccess() {
        
        $('#wejo_box_01').show();
        
        if (!justSignedUp)
            return true;

        operations.showMessage('Welcome', 'ok');

        justSignedUp = false;
        
        return true;
    }


    function showTryAgain() {

        operations.showMessage('Try Again', 'error');

        return true;
    }


    function onFaqClick() {

        hideBackGround();
        unselectAllCircles();
        $('#circleFaqs').addClass('selected');
        $('#divModalHeader').empty();
        $('#divModalHeader').html($('#divBoxFaqs').html());
        modalHeader.open();

    }

    function onCareersClick() {
        
        hideBackGround();
        unselectAllCircles();
        $('#circleCareers').addClass('selected');


        $('#divBoxTerms').hide();
        $('#divBoxAbout').hide();
        $('#divBoxCareers').show();
        
        $('#landingContent').hide();
        $('#divSectionsContainer').show();
    }

    function onAboutClick() {

        hideBackGround();
        unselectAllCircles();
        $('#circleAbout').addClass('selected');
        
        $('#divBoxTerms').hide();
        $('#divBoxCareers').hide();
        $('#divBoxAbout').show();
        
        $('#landingContent').hide();
        $('#divSectionsContainer').show();
        
        
        if( $('#divBoxAbout').html() != '' )
            return true;
        
        
        $.fn.fullpage.destroy();        
        $('#divBoxTerms').html('');
        
        var url = '/default/index/method/about';
        $('#divBoxAbout').load(url, function(){
            $('#fullpageAbout').fullpage();
            $('#divBoxAbout').show();
        });        
    }
    
    function onTermsClick() {

        $('#divBoxTerms').hide();
        $.fn.fullpage.destroy();

        hideBackGround();
        unselectAllCircles();
        $('#circleTerms').addClass('selected');        
                
                
        $('#divBoxAbout').html('');        
        $('#divBoxAbout').hide();
        
        $('#divBoxCareers').hide();
        
        
        $('#landingContent').hide();
        $('#divSectionsContainer').show();
        
        var url = '/default/index/method/terms';
        $('#divBoxTerms').load(url, function(){
            $('#fullpageTerms').fullpage();
            $('#divBoxTerms').show();
        });
        
    }
    
    function onCloseLandingClick(){
        
        $('#divSectionsContainer').hide();
        $('#landingContent').show(); 
        showBackGround();
    }

    function onMobileClick() {

        hideBackGround();
        unselectAllCircles();
        $('#circleMobile').addClass('selected');
        $('#divModalHeader').empty();                    
        $('#divModalHeader').html($('#divBoxMobile').html());
        modalHeader.open();
    }

    function unselectAllCircles(){

        $('#circleAbout').removeClass('selected');
        $('#circleTerms').removeClass('selected');
        $('#circleMobile').removeClass('selected');
        $('#circleCareers').removeClass('selected');
        $('#circleFaqs').removeClass('selected');
    }

    /*** Enviar footer de landing al fondo
     var footer = $("#footer");
     var topFooter = $(window).height()-60;

     footer.css("top", topFooter) ***/


    function download(fileName){
        filePath = '/main/downloads/index/file.name/' + fileName;
        window.open(filePath, '_self');
    }




</script>

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
