    <div class="row" id="fullpageAbout">

        <div class="section row">

            <h2>About us</h2>

            <p>Mass media has turned the news industry into a circuit less about noteworthy information and more about chaos, an overabundance of irrelevant stories, and being first rather than getting the story right. This has resulted in a disconnect between what we hear on the news and reality, the reader and the journalist.</p>
            <p>Jouture is creating a culture of journalism. We question what we read and hear, and wonder if media outlets consider themselves advocates or silencers. We believe journalism is more than just information and thought-provoking words, it is a force for mobilization.</p>
            <p>We created Jouture to be a news platform fueled by journalists you support, advocate for, and believe in. Journalists involved with Jouture should be trusted to convey your community opinions and deliver content the reader is a part of.</p>

            <p>Why? Because we are passionate about change and truth just like you. We want to not just inform you but to include you as part of the process.</p>

        </div>
        
        <br><br>

        <div class="section row text-center">
                    
            <div class="row text-left">
                <h2>Team</h2>
                <p>We're an international team of creators; changing the journalism space.</p><br>                
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">                
                <div class="thumbnail">
                  <img src="/images/landing/mo.png" alt="Mohamed Ali">
                  <div class="caption">
                    <h3>Mohamed Ali</h3>
                    <p>Founder & CEO</p>
                  </div>
                </div>                    
            </div>
                        
                
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">                    
                <div class="thumbnail">
                <img src="/images/landing/damian.png" alt="Damian Buzzaqui">
                  <div class="caption">
                    <h3>Damian Buzzaqui</h3>
                    <p>Founder & CTO</p>
                  </div>
                </div>
            </div>                
                                        
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">                    
                <div class="thumbnail">
                  <img src="/images/landing/daniel.png" alt="Daniel Robert">
                  <div class="caption">
                    <h3>Daniel Robert</h3>               
                    <p>BACKEND</p>
                  </div>
                </div>
            </div>                
                
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">                    
                <div class="thumbnail">
                  <img src="/images/landing/natalia.png" alt="Natalia Lo Duca">
                  <div class="caption">
                    <h3>Natalia Lo Duca</h3>    
                    <p>BACKEND</p>
                  </div>
                </div>
            </div>                
                  
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">                
                <div class="thumbnail">
                  <img class="img-circle" src="/images/landing/claudio.jpg" alt="Claudio Baiardi">
                  <div class="caption">
                    <h3>Claudio Baiardi</h3>   
                    <p>FRONT END</p>
                  </div>
                </div>
            </div>                
                
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">                    
                <div class="thumbnail">
                  <img src="/images/landing/luciano.png" alt="Luciano Putignano">
                  <div class="caption">
                    <h3>Luciano Putignano</h3>    
                    <p>MOBILE</p>
                  </div>
                </div>
            </div>                
                            
        </div>


        <br><br>
        
        
        <div class="section row">

            <h2>We're always hiring!</h2>
            <p>We seek truth seekers and those who want to expose the real story and who question the status quo. Journalism is tough and relentless, but we believe in progress and pushing forward. Be part of the changing Journalism culture and make your dent in history.</p>

            <table class="box_table_text">
                
              <tr>
                <td width="40%">
                    <p><a class="text-orange" href="javascript:download('Country Manager - Egypt.pdf');">COUNTRY MANAGER</a></p>
                </td>
                <td width="20%">&nbsp;</td> 
                <td width="40%">
                    <p><a class="text-orange" href="javascript:download('Country Manager - Egypt.pdf');">EGYPT</a></p>
                </td>
              </tr>

              <tr>
                <td>
                    <p><a class="text-orange" href="javascript:download('Country Manager - Argentina.pdf');">COUNTRY MANAGER</a></p>
                </td>
                <td>&nbsp;</td> 
                <td>
                    <p><a class="text-orange" href="javascript:download('Country Manager - Argentina.pdf');">ARGENTINA</a></p>
                </td>
              </tr>

              <tr>
                <td>
                    <p><a class="text-orange" href="javascript:download('Country Manager - Syria.pdf');">COUNTRY MANAGER</a></p>
                </td>
                <td>&nbsp;</td>
                <td>
                    <p><a class="text-orange" href="javascript:download('Country Manager - Syria.pdf');">SYRIA</a></p>
                </td>
              </tr>
              
            </table>

            <p>Think you're a good fit?</p>
            <p>Email us at <a class="text-orange">admin@jouture.com</a> and tell us why you'd like to join our team.</p>

        </div>         
        
        <br><br>

    </div>


<script type="text/javascript">
    
    
    function download(fileName){
        filePath = '/main/downloads/index/file.name/' + fileName;
        window.open(filePath, '_self');
    }
    
    
</script>