

        <div id="fullpageTerms">

            <div class="section">

                <h2>Terms</h2>
                <h3>Community Guidelines (Journalists)</h3>
                <p><span>• Truthful</span> - This is an open platform for a free press so you can create anything on the condition that it is true. Breaking this community guideline will be causation for an account review and possible termination.</p>

                <p><span>• Quality</span> - This is a content creators' platform for storytelling, informing the public and/or making a difference. We love Internet culture, memes and cat videos, but this is not the place for it.</p>

                <p><span>• Ownership</span> - Creators make this platform possible, so please don't post any media that you have not personally created or have permission from the owner to post. Basically create content, don't steal or plagiarize.</p>

                <h3>Our Commitment (Journalists)</h3>
                <p><span>• Creator First Mindset</span> - We created the platform with our content creators in mind. Anything we do, we do it for our content creators. This means that any new features or executive decision we make, we do it with our content creators in mind and we promise to listen and take feedback seriously when we get them.</p>

                <p><span>• Your Rights</span> - We won’t ever take the rights to your content. Posting on the platform does not allow anyone to reuse your content without your explicit permission.</p>

                <p><span>• Hands-off Approach</span> - Our platform provides you the power to deliver your content when, where and how you want for the reasons you want. We promise never to edit, alter, and/or screw with your content. What you publish is what gets published on the platform and we won’t take down your content if you abide by the community guidelines and terms of service.</p>

            </div>

            <div class="section">

                <h3>Terms of Service (Everyone)</h3>

                <h4>Closed Beta Testing</h4>
                <p>As an early beta tester you are granted early access privilege to test a product that is not yet ready for public viewing or use:</p>

                <p>A) We expect full discretion and confidentiality on your behalf. You are not allowed to share any Jouture content or information with others who have not been accepted to participate in the closed beta (i.e. leaking information to outside parties).</p>

                <p>B) If at any point after receiving your invite code you decide to no longer participate in the closed beta, you may not give away your invite code to another person.</p>

                <p>C) You may not allow another person to access or use your account to participate in the closed beta without written consent from Jouture. You may refer friends, colleagues and others to sign up for testing privileges by directing them to the Jouture homepage.</p>

                <h4>What information do we collect?</h4>
                <p>We collect information from you when you register on our site, subscribe to our newsletter, respond to a survey or fill out a form.</p>

                <p>When registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address or phone number and/or link your social network accounts (e.g. Twitter, LinkedIn, Facebook, etc.). You may, however, visit our site anonymously.</p>

                <p>Google, as a third party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on their visit to our sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.</p>


            </div>            


            <div class="section">

                <h4>What do we use your information for?</h4>
                <p>Any of the information we collect from you may be used in one of the following ways:</p>

                <p>• To personalize your experience (your information helps us to better respond to your individual needs)</p>

                <p>• To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)</p>

                <p>• To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)</p>

                <p>• To process transactions</p>

                <p>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</p>

                <p>• To administer a contest, promotion, survey or other site feature</p>

                <p>• To send periodic emails</p>

                <p>The email address you provide for registration, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.</p>

                <p>Note: If at any time you would like to unsubscribe from receiving future emails, please click “unsubscribe” to be taken to our website in order to edit your emailing preferences.</p>
                
                <h4>How do we protect your information?</h4>
                <p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.</p>                

            </div>

            <div class="section">


                <h4>Do we use cookies?</h4>
                <p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information</p>

                <p>We use cookies to understand and save your preferences for future visits, keep track of advertisements and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</p>

                <h4>Do we disclose any information to outside parties?</h4>
                <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

                <h4>Third Party Links</h4>
                <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

                <h4>California Online Privacy Protection Act Compliance</h4>
                <p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>

                <p>As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the 'Edit Profile' page.</p>

            </div>       

            <div class="section">

                <h4>Childrens Online Privacy Protection Act Compliance</h4>
                <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.</p>

                <h4>Jouture Accounts</h4>
                <p>A) In order to access some features of the Service, you will have to create a Jouture Account. You may never use another's account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify Jouture immediately of any breach of security or unauthorized use of your account.</p>

                <p>B) Although Jouture will not be liable for your losses caused by any unauthorized use of your account, you may be liable for the losses of Jouture or others due to such unauthorized use.</p>

                <h4>Your Content and Conduct</h4>
                <p>A) As a Jouture account holder you may submit Content to the Service, including writings, photographs, audio, videos and user comments. You understand that Jouture does not guarantee any confidentiality with respect to any Content you submit.</p>

                <p>B) You shall be solely responsible for your own Content and the consequences of submitting and publishing your Content on the Service. You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish Content you submit; and you license to Jouture all patent, trademark, trade secret, copyright or other proprietary rights in and to such Content for publication on the Service pursuant to these Terms of Service.</p>
                

            </div>   

            <div class="section">
                
                <p>C) For clarity, you retain all of your ownership rights in your Content. However, by submitting Content to Jouture, you hereby grant Jouture a worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Content in connection with the Service and Jouture's (and its successors' and affiliates') business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels. You also hereby grant each user of the Service a non-exclusive license to access your Content through the Service, and to use, reproduce, distribute, display and perform such Content as permitted through the functionality of the Service and under these Terms of Service. The above licenses granted by you in written, audio, photographic or video Content you submit to the Service terminate within a commercially reasonable time after you remove or delete your written, audio, photographic or video Content from the Service. You understand and agree, however, that Jouture may retain, but not display, distribute, or perform, server copies of your written, audio, photographic or video Content that have been removed or deleted. The above licenses granted by you in user comments you submit are perpetual and irrevocable.</p>
                
                <p>D) You further agree that Content you submit to the Service will not contain third party copyrighted material, or material that is subject to other third party proprietary rights, unless you have permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant Jouture all of the license rights granted herein.</p>

                <p>E) You further agree that you will not submit to the Service any Content or other material that is contrary to the Jouture Community Guidelines, currently found at http://www.jouture.com/community_guidelines, which may be updated from time to time, or contrary to applicable local, national, and international laws and regulations.</p>
                
            </div>                   
                
            <div class="section">
                                

                <p>F) Jouture does not endorse any Content submitted to the Service by any user or other licensor, or any opinion, recommendation, or advice expressed therein, and Jouture expressly disclaims any and all liability in connection with Content. Jouture does not permit copyright infringing activities and infringement of intellectual property rights on the Service, and Jouture will remove all Content if properly notified that such Content infringes on another's intellectual property rights. Jouture reserves the right to remove Content without prior notice.</p>
                

                <h4>Account Termination Policy</h4>
                <p>A) Jouture will terminate a user's access to the Service if, under appropriate circumstances, the user is determined to be a repeat infringer.</p>

                <p>B) Jouture reserves the right to decide whether Content violates these Terms of Service for reasons other than copyright infringement, such as, but not limited to, pornography, obscenity, or excessive length. Jouture may at any time, without prior notice and in its sole discretion, remove such Content and/or terminate a user's account for submitting such material in violation of these Terms of Service.</p>

            </div>    
                
            <div class="section">                
                
                <h4>Online Privacy Policy Only</h4>
                <p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>

                <h4>Terms and Conditions</h4>
                <p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at http://www.jouture.com/terms_and_conditions</p>

                <h4>Your Consent</h4>
                <p>By using our site, you consent to our online privacy policy.</p>

                <h4>Changes to our Privacy Policy</h4>
                <p>Unlike others we care about you. If we decide to change our privacy policy, we will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below. </p>

                <p>This policy was last modified on August 12, 2014</p>

                <h4>Contacting Us</h4>
                <p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>

                <p>Direct all emails to us at: <a href="#">support@jouture.com</a></p>

            </div>
            
            

        </div>

