<!DOCTYPE html>
<?php
    $beginUrl = ($_SERVER['HTTPS'] !="" ? "https" : "http") ."://".$_SERVER["SERVER_NAME"];
    $http = ($_SERVER['HTTPS'] !="" ? "https" : "http") . "://";
?>
<html class="no-skrollr" style="overflow-x:hidden !important;">
<head>
    
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Jouture - Rediscover the world, one story at a time</title>


        <meta name="description" content="Jouture is creating a journalism culture where the story matters most. Publish your work to reach and impact your audience immediately and without an intermediary.">
        <meta name="meta-description" content="Jouture is creating a journalism culture where the story matters most. Publish your work to reach and impact your audience immediately and without an intermediary">
        <meta name="meta-keywords" content="news journalist jouture content latest articles videos photos breaking trending">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/animate.css">
        
<!--        <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">-->

	<style type="text/css">
            
@media screen and (max-width: 568px) {
    h2 {
        font-size:20px;
    }
    h3 {
        font-size:18px;
    }    
    p {
        font-size:12px;
    }    
}            
/*@media screen and (max-width: 768px) {
    .lead {
        font-size:20px;
    }
}
@media screen and (max-width: 568px) {
    .lead {
        font-size:0.8em;
    }
}            */
            
	* {
		padding:0;
		margin:0;
	}

	html, body {
		height:100%;
	}

	.skrollr-desktop body {
		height:100% !important;
	}

	body {
		font-family:sans-serif;
	}

	p {
		margin:1em 0;
	}

	.parallax-image-wrapper {
		position:fixed;
		left:0;
		width:100%;
		overflow:hidden;
	}

	.parallax-image-wrapper-50 {
		height:50%;
		top:-50%;
	}

	.parallax-image-wrapper-100 {
		height:100%;
		top:-100%;
	}

	.parallax-image {
		display:none;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
	}

	.parallax-image-50 {
		height:200%;
		top:-50%;
	}

	.parallax-image-100 {
		height:100%;
		top:0;
	}

	.parallax-image.skrollable-between {
		display:block;
	}

	.no-skrollr .parallax-image-wrapper {
		display:none !important;
	}

	#skrollr-body {
		height:100%;
		overflow:visible;
		position:relative;
	}

	.gap {
		background:transparent center no-repeat;
		background-size:cover;
	}

	.skrollr .gap {
		background:transparent !important;
	}

	.gap-50 {
		height:50%;
	}

	.gap-100 {
		height:100%;
	}

	.content {
		background:#fff;
		padding:1em;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
        
        
	.header {
		background:#fff;
		//padding:1em;
                //position:fixed;
                //float:top;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
        

	.content-l {
		height:100%;
	}
                
        div#indicator {
            position: fixed;
            left: 0px;
            top: 0px;
            display: block;
            width: 5px;
            z-index: 10000;
            background: orange; //rgba(225,75,75,.85);
        }   
        
        .home-page {
            width:100% !important; 
            height:100% !important;
            background-image: url(/images/landing/back_plain5.jpg);
        }
        
        button.btn-cancel {                
            margin-top: 10px;
            border: none;
            color: #24292f;            
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif;
            -webkit-transition: all .2s ease-in;
               -moz-transition: all .2s ease-in;
                -ms-transition: all .2s ease-in;
                 -o-transition: all .2s ease-in;
                    transition: all .2s ease-in;
        }

        button.btn-cancel:hover {
            text-decoration: none;
            background: #f0f0f0;
        }

        
        button.btn-landing {
            background: #FC7108; 
            color: #fff;
            border: none;
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif;            
            //font-size: 12pt;
            //font-weight: lighter;
            text-transform: uppercase;
            -webkit-transition: all .2s ease-in;
               -moz-transition: all .2s ease-in;
                -ms-transition: all .2s ease-in;
                 -o-transition: all .2s ease-in;
                    transition: all .2s ease-in;
        }

        button.btn-landing:hover {
            text-decoration: none;
            background: #c87b00;
            color: #fff;
        }

        button.btn-landing:active {
            text-decoration: none;
            background: #c87b00;
            color: #fff;
        }
        
        .tiperror {
            color: white;
        }


input.input-j {

    outline: none;        
    margin-top: 5px;        
    //font-size: 9pt !important;    
    border-radius: 0;
    border: 1px solid #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all .2s ease-in;
       -moz-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
         -o-transition: all .2s ease-in;
            transition: all .2s ease-in;    
}


input.input-j:focus {
    box-shadow: 0px 0px 5px #E48C00;
    -webkit-box-shadow: 0px 0px 5px #E48C00;
    -moz-box-shadow: 0px 0px 5px #E48C00;
    -o-box-shadow: 0px 0px 5px #E48C00;
    border: 1px solid #E48C00;
}

input.input-error {
    border: 2px solid !important;
    border-color: #FD2020 !important;
    -webkit-transition: all .2s ease-in;
       -moz-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
         -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
}

input.input-error:focus {
    box-shadow: 0px 0px 5px #FD2020 !important;
    -webkit-box-shadow: 0px 0px 5px #FD2020;
    -moz-box-shadow: 0px 0px 5px #FD2020;
    -o-box-shadow: 0px 0px 5px #FD2020;
    border: 2px solid #FD2020;
}


            img.logo {
                max-width: 110px;
            }
            
            .text-orange {
                color: #FC7108 !important;
            }
            
            .text-white {
                color: #FFF !important;
            }
            
            .mesh-background {
                background-image: url(/images/mesh.png);
            }

            .underline {
                //border-bottom: 2px solid #deeced;
                border-bottom: 2px solid #c87b00;
                padding-bottom: 20px;
                //line-height: 220%;
            }
            
            .img-icon{
                max-width: 60px;
            }
            
            
            
            
 .social a span{
     text-indent:-9999px;
     position:absolute
 }
 .copyright{
     font-size:12px;
     margin-top:20px
 }
 .social{
     margin:25px 0
 }
.social a{
    background-image:url("/images/landing/mini-social-icons.png"); 
    background-repeat:no-repeat;
    background-size:924px 252px; // 168px 92px;
    width:84px; //46px;
    height:84px; //46px;
    //border-radius:3px;
    //margin-right:15px;
    display:inline-block;
}
.social a.facebook{background-position:0 -168px}
.social a.facebook:hover{background-position:0 0}
.social a.twitter{background-position:-672px -168px}
.social a.twitter:hover{background-position:-672px 0}
.social a.googleplus{background-position:-252px -168px}
.social a.googleplus:hover{background-position:-252px 0}

.social a:hover{background-color:#fff}
.social a:last-child{margin-right:0}
 
 footer{
    background-color:#b5b5b5 !important;
    background-position:top;
    background-repeat:repeat-x;
    color:#fff;
    border-top:5px solid #FC7108;
    padding:70px 0
}
footer a{
    color:#fff
}
footer a:hover{
    color:#f9a38f
}


.box-scroller {
    padding-top: 40px;
    padding-bottom: 80px;
}

.section h2 {
    color: #FC7108 !important;
}
.section h3 {
    color: #FC7108 !important;
}
.section h4 {
    color: #FC7108 !important;
    text-align: center;
}

.arrow_down:hover {  
    background-color: white !important;
    color:white;    
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10) !important;
    filter:alpha(opacity=10) !important;
    opacity:.1 !important;
    
}

.arrow_down {
    bottom: 3px; 
    width: 100%;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    border: solid 1px white;
    width: 50px;
    padding-bottom: 50px;
    display: block;
    height: 0;
}

.thumbnail {
    display: block;
    padding: 4px;
    //margin-bottom: 20px;
    //line-height: 1.42857143;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    /*border-radius: 4px;*/
/*    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;*/
}

.thumbnail img {
    max-width: 120px;
}

.thumbnail p {
    font-size: 18px;
}
 

.btn_box_close {
	//position: absolute;
	width: 25px;
	height: 26px;
        margin-right: 10px;
	//margin: -30px 0 0 348px;
}

.btn_box_close a {
	display: block;
	width: 25px;
	height: 26px;
	background: url(/images/btn_closebox.png) left top no-repeat;
	-webkit-transition: all .2s ease-in;
	   -moz-transition: all .2s ease-in;
	    -ms-transition: all .2s ease-in;
	     -o-transition: all .2s ease-in;
	        transition: all .2s ease-in;
}

.btn_box_close a:hover {
	background: url(/images/btn_closebox_hover.png) left top no-repeat;
}



scrollup{
    width:40px;
    height:40px;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter:alpha(opacity=80);
    opacity:.8;
    position:fixed;
    bottom:100px;
    right:15px;
    display:none;
    text-align:center;
    color:#fafafa;
    font-size:28px;
    background:#9e9e9e;
    z-index:9999;
}
.scrollup i{
    line-height:38px;
    border-radius:2px;
}

a.scrollup:hover,a.scrollup:focus{
    text-decoration:none;
    color:#fafafa;
    outline:none;
}

        
    </style>
    
    <?php

        $isMobile = false;
        $useragent = $_SERVER['HTTP_USER_AGENT'];
        if(preg_match('/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i',$useragent)||preg_match('/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i',substr($useragent,0,4)))
            $isMobile = true;    
    ?>        
    
    
<link rel="stylesheet" href="/css/alertify/alertify.core.css">
<link rel="stylesheet" href="/css/alertify/alertify.flat.css">

	<script type="text/javascript" src="/skrollr/skrollr.min.js"></script>                
        <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>        
        <script type="text/javascript" src="/js/wow.min.js"></script>        
        <script type="text/javascript" src="/js/jquery.backgroundvideo.min.js"></script>
        
<?php if($isMobile){ ?>
<!--        <script type="text/javascript" src="/js/jquery.mobile-1.4.5.min.js"></script>-->
<?php } ?>        
    
    
</head>

<body>
    
	<!--
		We position the images fixed and therefore need to place them outside of #skrollr-body.
		We will then use data-anchor-target to display the correct image matching the current section (.gap element).
	-->

        
        <div id="indicator"></div>
        <div id="scroller"></div>

        
	<div
		class="parallax-image-wrapper parallax-image-wrapper-100"
		data-anchor-target="#dragons + .gap"
		data-bottom-top="transform:translate3d(0px, 200%, 0px)"
		data-top-bottom="transform:translate3d(0px, 0%, 0px)">
                            
                <div    id="divCopado"
			class="parallax-image parallax-image-100"
                        style="background-image:url(/images/landing/back_plain5.jpg)"
			data-anchor-target="#dragons + .gap"
			data-bottom-top="transform: translate3d(0px, -80%, 0px);"
                        data-top-bottom="transform: translate3d(0px, 80%, 0px);">
                            
                </div>
		<!--the +/-80% translation can be adjusted to control the speed difference of the image-->
	</div>

	<div
		class="parallax-image-wrapper parallax-image-wrapper-50"
		data-anchor-target="#bacons + .gap"
		data-bottom-top="transform:translate3d(0px, 300%, 0px)"
		data-top-bottom="transform:translate3d(0px, 0%, 0px)">

		<div
			class="parallax-image parallax-image-50"
			style="background-image:url(/images/landing/humo1.png);"
			data-anchor-target="#bacons + .gap"
			data-bottom-top="transform: translate3d(0px, -60%, 0px);"
			data-top-bottom="transform: translate3d(0px, 60%, 0px);"
		></div>
	</div>

	<div
		class="parallax-image-wrapper parallax-image-wrapper-50"
		data-anchor-target="#kittens + .gap"
		data-bottom-top="transform:translate3d(0px, 300%, 0px)"
		data-top-bottom="transform:translate3d(0px, 0%, 0px)">

		<div
			class="parallax-image parallax-image-50"
                        style="background-image:url(/images/landing/humo2.png)"
			data-anchor-target="#kittens + .gap"
			data-bottom-top="transform: translate3d(0px, -60%, 0px);"
                        data-top-bottom="transform: translate3d(0px, 60%, 0px);">
                            
                </div>
	</div>
        
	<div
		class="parallax-image-wrapper parallax-image-wrapper-50"
		data-anchor-target="#done + .gap"
		data-bottom-top="transform:translate3d(0px, 300%, 0px)"
		data-top-bottom="transform:translate3d(0px, 0%, 0px)">

		<div
			class="parallax-image parallax-image-50"
			style="background-image:url(/images/landing/humo3.png)"
			data-anchor-target="#done + .gap"
			data-bottom-top="transform: translate3d(0px, -60%, 0px);"
                        data-top-bottom="transform: translate3d(0px, 60%, 0px);">
                            
                </div>
	</div>
        
        
        
        

	<div id="skrollr-body">
            
            <div class="header" id="dragons">
                
                <header class="navbar navbar-default navbar-fixed-top bs-docs-nav text-orange" role="banner" style="background-color:white !important; max-height: 44px; min-height: 44px;">
                  <div class="container">
                    <div class="navbar-header navbar-default">
                      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
<!--                      <a href="../" class="navbar-brand">Jouture</a>-->
                    </div>
                    <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
                      <ul class="nav navbar-nav navbar-right" style="margin-right:-90px">
                        <li>
                          <a class="text-orange" style="padding-top: 10px;" onclick="showAbout()">About Us</a>
                        </li>
                        <li>
                          <a class="text-orange" style="padding-top: 10px;" onclick="showTerms()">Terms</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </header>                
                
            </div>
            
            
            <div class="gap gap-100 content-full" id="boxOnTheTop">
                
                
                <div id="boxVideo" class="container home-page mesh-background">
                      
                    
                    <div id="boxLogo" style="display:none; margin-top: 20px;">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <img src="/images/landing/logo_index.png" alt="Welcome to Jouture" class="logo">
                            </div>
                        </div>                           

                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
                                <div class="row">
                                    <div class="" style="margin-top:30px">
                                        <button type="button" class="btn btn-cancel btn-lg btn-block" id="btnShowLogin" style="text-transform: uppercase;">Login</button>
                                    </div>
                                    <div class="" style="margin-top:20px">
                                        <button type="button" class="btn btn-landing btn-lg btn-block" id="btnShowSignup">Sign Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class="row" id="boxLogin" style="display:none; height: 100%; margin-top: 10%">
                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
                            <div class="row">

                                <form id="formLogin" onkeypress="onLoginKeyPress(event)">
                                    <controls>
                                        <input type="text" class="form-control input-lg input-j" placeholder="Email" id="txtEmail" name="txtEmail" >
                                        <input type="password" class="form-control input-lg input-j" placeholder="Password" id="txtUserPassword" name="txtUserPassword">
                                        <div class="" style="margin-top:20px; text-align: center;">                                            
                                            <button type="button" class="btn btn-landing btn-lg btn-block" data-loading-text="Wait..." id="btnLogin">Login</button>
                                            <br><span class="text-white" style="cursor:pointer; text-shadow: 2px 2px 8px #000;" onclick="showRecover()">Forgot your password?</span><br>
                                            <button type="button" class="btn btn-cancel btn-lg" onclick="onCancelClick()">Cancel</button>
                                        </div>
                                    </controls>
                                </form>

                            </div>
                        </div>
                    </div>                        
                    
                    <?php if(!$isMobile) $fieldClass = 'input-lg'; else $fieldClass = ''; ?>
                    
                    <div class="row" id="boxSignup" style="display:none; height: 100%;">
                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
                            <div class="row">

                                <form id="formSignup" onkeypress="onSignupKeyPress(event)">
                                    <controls>
                                        <input type="text" class="form-control <?php echo $fieldClass ?> input-j" id="txtFullname" name="txtFullname" placeholder="Full Name (hidden)">
                                        
<!--                                        <input type="text" class="form-control <?php //echo $fieldClass ?> input-j" id="txtName" name="txtName" placeholder="Display Name">-->
                                        <input type="text" class="form-control <?php echo $fieldClass ?> input-j" id="txtEmail" name="txtEmail" placeholder="Email">
                                        <input type="text" class="form-control <?php echo $fieldClass ?> input-j" id="txtEmail2" name="txtEmail2" placeholder="Retype email">
<!--                                        <input type="text" class="form-control <?php //echo $fieldClass ?> input-j" id="txtLocation" name="txtLocation" placeholder="Location">-->
<!--                                        <input type="text" class="form-control <?php //echo $fieldClass ?> input-j" id="txtTwitter" name="txtTwitter" placeholder="@Twitter">-->
                                        <input type="password" class="form-control <?php echo $fieldClass ?> input-j" id="txtPass" name="txtPass" placeholder="Password">
                                        
                                        <div class="details" id="geo-details" hidden="true" style="display:none">    
                                            <input name="lat" data-geo="lat" />
                                            <input name="lng" data-geo="lng" />
                                            <input name="country" data-geo="country"/>
                                            <input name="formatted_address" data-geo="formatted_address" />
                                            <input name="country_short" data-geo="country_short" />
                                        </div>
                    
                    
                                        <div id="divJournalist" class="text-white" style="margin-top:10px">
                                            <h4>Are you a Journalist / Writer ?</h4>
                                        </div>

                                        
                                        <div class="btn-group" data-toggle="buttons">
                                          <label class="btn btn-warning">
                                            <input type="radio" name="options" id="checkYes" autocomplete="off"> Yes
                                          </label>
                                          <label class="btn btn-warning">
                                            <input type="radio" name="options" id="checkNo" autocomplete="off"> No
                                          </label>
                                        </div>                                        

                                        <div class="" style="margin-top:20px; text-align: center;">
                                            <button type="button" class="btn btn-landing btn-lg btn-block" id="btnSignup" data-loading-text="Saving...">Next</button>
                                            <button type="button" class="btn btn-cancel btn-lg" onclick="onCancelClick()">Cancel</button>
                                        </div>
                                    </controls>
                                    
                                    
                                    <input value="1" type="hidden" name="isJournalist" id="isJournalist">
                                </form>

                            </div>
                        </div>
                    </div>                        
                    
                    
                    
                    <div class="row" id="boxPassword" style="display:none; height: 100%; padding-top: 10%">
                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
                            <div class="row">

                                <form id="formPassword">
                                    <controls>
                                        
                                        <input type="password" class="form-control input-lg input-j" id="txtPass" name="txtPass" placeholder="Password">
                                                                                
                                        <div class="" style="margin-top:20px">
                                            <button type="button" class="btn btn-landing btn-lg btn-block" id="btnSavePassword" data-loading-text="Saving..">Submit</button>
                                        </div>
                                    </controls>
                                                                        
                                    <input type="hidden" id="txtCodeInvite" name="txtCodeInvite">                                    
                                </form>
                            </div>
                        </div>
                    </div>   
                    
                    <div class="row" id="boxRecover" style="display:none; height: 100%; padding-top: 10%">
                        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
                            <div class="row">

                                <form id="formRecover">
                                    <controls>
                                        
                                        <input type="text" class="form-control input-lg input-j recoverEmail" id="txtEmail" name="txtEmail" placeholder="Email">
                                                                                
                                        <div class="text-center" style="margin-top:20px">
                                            <button type="button" class="btn btn-landing btn-lg btn-block" id="btnRecover" data-loading-text="Sending.." onclick="forgotPassword()">Request</button>
                                            <button type="button" class="btn btn-cancel btn-lg" onclick="onCancelClick()">Cancel</button>
                                        </div>
                                    </controls>                                                                        
                                </form>
                                <div  id="recoverMessage" style="display:none; text-shadow: 4px 4px 8px #000;" class="text-center text-white">
                                    <h3>We sent you an email with the steps to reclaim your account.</h3>
                                </div>                                
                            </div>
                        </div>
                    </div>   
                    
                    
                    <div class="row" id="boxAbout" style="display:none; height: 100%; overflow-y: scroll">                        
                        <div class="btn_box_close col-lg-1 col-lg-offset-10 col-md-1 col-md-offset-10 col-xs-1 col-xs-offset-11">
                            <a href="#" onclick="onXClick()"></a>
                        </div>                        
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12" style="color:white">

                                <?php echo $this->render('index/landing-about.phtml'); ?>

                        </div>
                    </div>                       
                    
                    <div class="row" id="boxTerms" style="display:none; height: 100%; overflow-y: scroll">                        
                        <div class="btn_box_close col-lg-1 col-lg-offset-10 col-md-1 col-md-offset-10 col-xs-1 col-xs-offset-11">
                            <a href="#" onclick="onXClick()"></a>
                        </div>                        
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12" style="color:white">

                                <?php echo $this->render('index/landing-terms.phtml'); ?>

                        </div>
                    </div>                       
                    
                    
                    <div class="row text-center arrow_down" id="arrow" onclick="onArrowClick()" style="display:none; margin-top:15px">
                            <img src="/images/landing/down-arrow-transparent.png" 
                                 style="height: 50px; cursor:pointer;    
                                        font-size: 24px;
                                        -webkit-font-smoothing: antialiased;
                                        color: white;">
                    </div>
                    
                </div>                 
                
            </div>
            
            
            <div id="bacons">
                        
                <div class="row" style="background-color: white; width:100%; margin-top: 30px; margin-bottom: 30px; ">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
<!--                        <h2 class="text-orange text-center">Get published, be recognized</h2>-->
                        <h2 class="text-orange text-center">What is Jouture ?</h2>
                        <h4 class="text-center lead" id="whatText">
                            <small id="quoteCite" ></small>
                            Jouture [joh-toor] is the easiest way to create and distribute your story to your readers. <br>
                            Control the angle and engage your audience.
                        </h4>                                                

                    </div>
                </div>



                <div class="row" style="vertical-align: middle; background-color: #FC7108; padding-top: 30px; padding-bottom: 30px;">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12" style="vertical-align: middle">
                        <h4 class="text-center lead" style="color:white; vertical-align: middle" >
                        No longer should journalists be suppressed by censorship or editorial pressure. 
                        Jouture gives journalists the chance to reclaim storytelling through articles, pictures, 
                        and video with a journalism platform empowered by journalists and readers.                                    
                        <h4>                                
                    </div>
                </div>                                                


            </div>
            
            
            
		<div id="picture1" class="gap gap-50" style="background-image:url(/images/landing/humo1.png);"></div>
                
                
		<div class="content" id="kittens">
		
                    
                    <div class="">

<!--                        <br><br><br>-->

                        <div class="row" style="margin-bottom:20px;">
                            <div class="col-xs-12">
                                <h2 class="text-center text-orange">Benefits</h2>
                            </div>
                        </div>

                        <div class="row col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">        

                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="icon-box text-center wow fadeInLeft showdelay4" style="visibility: visible; animation-name: fadeInLeft;">

                                        <img src="/images/landing/icon-pen.png" alt="Social" class="img-icon">

                                    <h3 class="text-orange">Be the Storyteller</h3>
                                    <p class="">Publish your stories, pictures, and video with Jouture and distribute instantly across social media platforms</p>
                                </div>
                            </div>        


                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="icon-box text-center wow fadeInUp showdelay4" style="visibility: visible; animation-name: fadeInUp;">

                                        <img src="/images/email/icon-database.png" alt="Research" class="img-icon">

                                    <h3 class="text-orange">Access to Resources</h3>
                                    <p class="">Access our database for contacts, organizations, and support</p>
                                </div>
                            </div>        


                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="icon-box text-center wow fadeInRight showdelay4" style="visibility: visible; animation-name: fadeInRight;">
                                    <img src="/images/email/icon-chat.png" alt="Connect" class="img-icon">
<!--                                    <img src="/images/landing/icon_chat.png" alt="Connect" class="img-icon">-->
                                    <h3 class="text-orange">Network and Connect</h3>
                                    <p class="">Connect and collaborate with other journalists and fixers</p>
                                </div>
                            </div>        

                        </div>

                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sx-8 col-lg-offset-2 col-md-offset-2 col-sx-offset-2">
                                <div class=" hidden-xs"></div>
                            </div>
                        </div>

<!--                        <br><br><br><br>-->

                    </div>                    
                    
                    
		</div>
                
		<div id="picture2" class="gap gap-50" style="background-image:url(/images/landing/humo2.png);"></div>
		
                
                <div class="content" id="done">
	                    
                    <div class=" text-center">
                        
                        
                        <div class="row">
                            <div class="col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                            <!--<div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">-->
                                <h2 class="text-orange">Getting started with Jouture</h2>
                            </div>
                        </div>
                        
                        <div class="row">    
                            <div class="col-lg-6  col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12">
                            <!--<div class="text-left col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">-->
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">As a journalist</h3>
<!--                                        <img src="/images/landing/icon-pen.png">-->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 text-left">
                                        <p>1. Create and verify your Jouture account</p>
                                        <p>2. Complete your bio and link your Twitter account for full access<p>
                                        <p>3. Start publishing stories and connecting with other journalists<p>
                                    </div>
                                </div>

                            </div>
                        </div>                        
                        
                        <br><br>
                        
                        <div class="row">
                            <div class="col-lg-6  col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12">
                            <!--<div class="text-left col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">-->
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">As a reader</h3>
<!--                                        <img src="/images/landing/icon-glasses.png">-->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 text-left">
                                        <p>1. Create your Jouture account</p>
                                        <p>2. Access articles, photos, and videos from journalists around the world<p>
                                        <p>3. Follow and support journalists you trust<p>
                                    </div>
                                </div>

                            </div>
                        </div>  
                        
                        <div class="row" style="margin-top: 20px">
                            <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
                                <div class="row">
                                    <div class="" style="margin-top:20px">
                                        <button type="button" class="btn btn-landing btn-lg btn-block" onclick="showSignup()">Sign Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        
                    </div>
                                            
                    
                    <br><br><br>
                </div>
                
                
                
                
                
                <div id="picture3" class="gap gap-50" style="background-image:url(/images/landing/humo3.png);"></div>
                
                <div class="content" id="shakeit">
                    
                    <div class="">

                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">    
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">Why sign­up with Jouture?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        Jouture wants to reclaim journalism and put storytelling back in the journalists' hands. 
                        The news has been hijacked by advertising industries and mass media, making the story the lesser 
                        focal point. As a journalist, signing up with Jouture means you're in control of the storytelling. 
                        As a reader, signing up for Jouture means you will get access to high quality and fact-driven reporting 
                        from around the world.        
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">    
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">         
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">How does Jouture work for journalists?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        Jouture gives journalists an all­round journalism platform empowered by 
                        them and the reader. Journalists can publish stories, pictures and video with 
                        Jouture, network with other journalists on the platform, and be given access 
                        to a tool kit full of valuable resources, from tips on reporting in the field to 
                        data collection.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">         
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">How does Jouture work for readers?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        Jouture will work just like a news platform for readers, but will give the reader 
                        more power in verifying news and stories by empowering journalists on the 
                        platform. Readers will have access to journalists from around the world and 
                        can participate in the story directly via the Jouture platform.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">         
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">Can anyone publish stories on Jouture?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        Jouture offers two account types: journalist and reader. Only journalists will 
                        have access to publishing stories, photos, and videos on Jouture. Journalists 
                        must have their account screened and given access to publishing by Jouture.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>  



                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">How does Jouture screen journalists?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        Once journalists sign up on Jouture they will receive a welcome email asking 
                        them to verify their account followed by an email notifying them of account 
                        verification. This doesn't mean your journalist account has been approved 
                        just yet! You can speed up your verification process by inviting others to join 
                        the platform. Once your journalist account has been approved you will 
                        receive an email from Jouture explaining that you now have the ability to 
                        publish stories, photos, and videos and more. 
                        <br>Jouture verifies journalists through their Twitter accounts and records of their 
                        past publications.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>  


                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">How does Jouture filter content?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        While we want to give journalists the ability to control the story by removing
                        editorial pressure, we will still make sure that the stories appearing on
                        Jouture are appropriate and created without libel, slander, or misinformation.
                        The Jouture team will screen stories as they are being published and contact
                        journalists about questionable material.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>   




                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">How do journalists get paid?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        Jouture doesn't function like a regular news or storytelling website, because
                        we are creating a direct line of communication between the readers and the
                        journalists. Readers will give power to the journalists by funding their
                        storytelling through a unique method developed by Jouture.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>       



                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">Why should I publish my work on Jouture?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        There are a lot of different venues for publishing stories nowadays, but
                        Jouture is trying to do something different. Jouture is about storytelling and
                        engaging the audience. Call it new journalism if you want. We are putting the
                        story in journalists' hands by removing the editorial process and censorship.
                        We want to go back to the basics and give journalists a voice for themselves
                        (not for the publication).
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div> 


                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">What type of stories does Jouture accept?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        We give journalists the freedom to set their own tone. From breaking news to
                        long and in­depth features, Jouture is accepting of all methods of storytelling
                        as long as you get the story across using your voice and create content
                        grounded in ethics. Jouture is a multimedia platform; we accept articles,
                        photos, and videos.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>   



                        <div class="row wow flipInX showdelay4" style="visibility: visible; animation-name: flipInX;">
                            <div class="text-center col-lg-8  col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
                                <div class="row" style="margin-top:10px">
                                    <div class="col-xs-12">
                                        <h3 class="text-orange">How does Jouture use social media?</h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="interior">
                        Social media—like Facebook and Twitter—has become the main source for
                        news. Readers are often scrolling down their feeds before checking a news
                        website. Jouture wants to help empower this method of using social media
                        as a news source by giving journalists the chance to publish across all social
                        media platforms through Jouture. It is the job of the journalists to streamline
                        and disseminate their work across social media platforms, but we're going to
                        make it as easy as clicking a button.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>     
                        
                        
                        <div class="row" style="margin-top: 20px">
                            <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
                                <div class="row">
                                    <div class="" style="margin-top:20px">
                                        <button type="button" class="btn btn-landing btn-lg btn-block" onclick="showSignup()">Sign Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        

                        <br><br><br>

                    </div>    
                    
		</div>
                
                
                    <footer class="text-center">

                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Connect With Us!</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="social">
                                        <a target="_blank" href="https://www.facebook.com/groups/659532367480529/" class="facebook"><span>facebook</span></a>
<!--                                        <a href="#" class="twitter" ><span>twitter</span></a>
                                        <a href="#" class="googleplus"><span>googleplus</span></a>-->
                                        
<!--                                        <a href="http://stackoverflow.com/questions/tagged/kubernetes" class="facebook"><span>facebook</span></a>
                                        <a href="https://twitter.com/googlecloud" class="twitter" ><span>twitter</span></a>
                                        <a href="https://plus.google.com/+googlecloudplatform" class="googleplus"><span>googleplus</span></a>-->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="copyright">© Jouture </div>
                                </div>
                            </div>

                        </div>

                    </footer>                  
                
	</div>

        <script type="text/javascript" src="/js/alertify/alertify.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>        
        <script src="<?php echo $http ?>//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
        <script src="/js/jquery.geocomplete.min.js"></script>
        


<script type="text/javascript">

    var videobackground;

window.onerror = function(error) {
    alert(error);
};        


        $(document).ready(function() {

            $('#btnShowLogin').on('click', function(){                    
                showLogin();
            });

            $('#btnShowSignup').on('click', function(){
                showSignup();
            });


            $('#btnLogin').on('click', function(){
                $(this).button('loading');
                login();
            });

            $('#btnSignup').on('click', function(){
                $(this).button('loading');
                signup();
            });
            
            $('#btnSavePassword').on('click', function(){
                $(this).button('loading');
                savepassword();
            });
            

            
<?php if(!$isMobile){ ?>
                    
            /* Set the progress left side bar behavior*/
            window.onscroll = function(){

                var indicator = document.getElementById('indicator'); 
                var pageHeight = document.documentElement.offsetHeight;
                var currentTop = window.pageYOffset;
                var lastDivHeight = $('#done').height();

                var body = document.body,
                    html = document.documentElement;

                var totalHeight = Math.max( body.scrollHeight, body.offsetHeight, 
                                       html.clientHeight, html.scrollHeight, html.offsetHeight );                    

                var x1 = (currentTop + lastDivHeight) * 100 / totalHeight;
                var barHeight = x1 * pageHeight / 100;

                indicator.style.height = barHeight + "px";
                return true;


                // this was the original behavior
                var scroller = document.getElementById('scroller');
                var sh = scroller.offsetHeight;
                var ww = document.documentElement.offsetWidth;
                var wh = document.documentElement.offsetHeight;
                var y = window.pageYOffset + wh;
                var idHeight = (wh - (((sh - wh)- (y - wh)) * (wh / (sh - wh))));
                indicator.style.height = idHeight + "px";

                if(y >= sh) {
                        //document.body.setAttribute('class', 'gocrazy');
                        console.log('algo pasa AAAAAA');
                } else {
                        //document.body.removeAttribute('class');
                        console.log('algo pasa BBBBBB');
                }
            }
            
<?php } ?>            

            setSignupReady();


            <?php if(!$isMobile){ ?>    

                wow = new WOW({
                    animateClass: 'animated',
                    offset: 150
                });
                wow.init();    

                initVideo();

            <?php } ?>      

            /* Init Skrollr*/
            skrollr.init({
                smoothScrolling: false,
                mobileDeceleration: 0.004
            });

            $( window ).resize(function() {
                adjustResize();
            });

<?php if( !$this->forgotPassword ){ ?>

            initPositions(2000);            
            
<?php }else{ ?>
    
            showResetPassword();
    
<?php } ?>    
            
            
            
        });    
                        
        function showSignup(){
            
            $('#boxLogo').css('display', 'none');
            $('#dragons').css('display', 'none');            
            $("body").scrollTop(0);
            $("html").scrollTop(0);
            $('#boxSignup').css('display', 'block');
            
            var pageHeight = document.documentElement.offsetHeight;
            var boxSignupMargin = ((pageHeight - $("#formSignup").height() ) / 2 );
            $("#boxSignup").css('margin-top', boxSignupMargin);                         
            
console.log(pageHeight + '  ' + $("#formSignup").height() + '  ' + boxSignupMargin);

//            $('#txtLocation').geocomplete({
//                details: ".details",
//                detailsAttribute: "data-geo",
//                location: "NYC"
//            }).bind("geocode:result", function(event, result) {
//                $(".pac-container").css("z-index", 15000);
//            });            
            
        }
        
        function showLogin(){
            
            $('#boxLogo').css('display', 'none');
            $('#dragons').css('display', 'none');
            
            $("body").scrollTop(0);
            $("html").scrollTop(0);
            
            $('#boxLogin').css('display', 'block');
            
            var pageHeight = document.documentElement.offsetHeight;
            var boxLoginMargin = ((pageHeight - $("#formLogin").height() ) / 2 );
            
            console.log(pageHeight + '  ' + $("#formLogin").height() + '  ' + boxLoginMargin);
            
            $("#boxLogin").css('margin-top', boxLoginMargin);                                                       
        }


        function centerLogo(){
            
            var pageHeight = document.documentElement.offsetHeight;
            var logoHeight = $("#boxLogo").height();
            var logoMarginTop = (pageHeight - logoHeight) / 3;
            
            $("#boxLogo").css('margin-top', logoMarginTop);
        }

        function initPositions(milisecondsDelay){


            if(window.location.hash) {
                showSignup();
                return;
            }

            var pageHeight = document.documentElement.offsetHeight;
            var quoteCiteTop = $('#quoteCite').offset().top;
            var scrollDistance = quoteCiteTop - pageHeight + 10;

            var boxLogoMargin = ((pageHeight - scrollDistance - $("#boxLogo").height() ) / 2 ) + scrollDistance;
            $("#boxLogo").css('margin-top', boxLogoMargin); 

            <?php if($isMobile){ ?>
                //jQuery.mobile.silentScroll(scrollDistance);    
                $("#boxLogo").fadeIn(3000);
                return;
            <?php }?>
            
            setTimeout(function(){
                /*body solo no funciona en firefox*/
                
                $('body', parent.document).animate({ scrollTop: scrollDistance },600);
                //jQuery('html').animate({scrollTop:scrollDistance},600);                
                //jQuery('body').animate({scrollTop:scrollDistance},600);
    
                //$("body, html").animate({scrollTop: scrollDistance}, 600);
                $("#boxLogo").fadeIn(3000);
                return!1
                
            },milisecondsDelay);
                        
        }
        
            

        function adjustResize(){
            
            
            return;
            
//                var totalHeight = 0;
//                $(".gap-100 > div").each(function(){
//                    totalHeight += $(this).height();
//                });               
//                $(".parallax-image-100").height(totalHeight);
//                $(".gap-100").height(totalHeight);
        }

        function initVideo(){
            videobackground = new $.backgroundVideo($('#divCopado'), {
                "align": "centerXY",
                "width": 1920,
                "height": 1080,
                "path": "/vids/",
                "filename": "river",
                "preload": true,
                "types": ["mp4", "ogg", "webm"]
            });                
        }

        function onLoginKeyPress(event){
            if(event.keyCode === 13){
                //TODO: login
            }
        }

        function onSignupKeyPress(event){
            if(event.keyCode === 13){
                //TODO: signup
            }                
        }




        function login() {
            
            cleanErrors();
            var data = $("#formLogin").serialize();
            data += "&method=authenticate";
            $.post('/default/login', data, function(response) {
                

                if (response.status == 200)
                    window.location = '/main/contents/index/';

                if (response.status == 401)
                    alertify.error("User or password not valid, try again");

                if (response.status != 200)
                    alertify.error("Please try again");
                
                $('#btnLogin').button('reset');

//                var serverUrl = '<?php //echo $this->serverUrl()?>';        
//                if(serverUrl.search('jouture.com') > 0 && globalMixpanelActive)
//                    mixpanel.track("Logged in");

            }, 'json');
        }


/**** SIGN UP  */

    function setSignupReady(){

        $('#txtEmail2').on('keyup', function(){

            if($('#txtEmail2').val() !== $('#txtEmail').val()){
                $('#txtEmail2').addClass('input-error');
            }else{
                $('#txtEmail2').removeClass('input-error');
            }
        });

        $('#checkYes').on('click', function() {
            $('#isJournalist').val(1);
        });

        $('#checkNo').on('click', function() {
            $('#isJournalist').val(0);
        });
    }

    function signup() {
        cleanErrors();
        var url = '/main/users';               
        save(formSignup, url, signupSucess, signupError, 'save.new');
    }


    function showResetPassword(){
        hideBackgorund();
        $('#txtCodeInvite').val('<?php echo $this->code ?>');
        $('#boxPassword').show();        
    }
    
    
    function savepassword() {
        cleanErrors();
        var url = '/main/users';               
        save(formPassword, url, savepasswordSucess, savepasswordError, 'create.password');
    }    

    function savepasswordError(response){

        $('#btnSavePassword').button('reset');
        $.each(response.errors, function(id, emsg) {
            $('#'+id).addClass('input-error');            
            extraHtml ='<span id="'+id+'_tip" class="errmsg" ><span class="tiperror">'+emsg+'<br></span></span>';
            $(extraHtml).insertAfter($("input[id='"+id+"'],textarea[id='"+id+"']") );            
        });        
    }

    function savepasswordSucess(response){
    
        $('#boxPassword').hide();        
        window.location = '/main/contents/index';        
    }

    function signupError(response){

        $('#btnSignup').button('reset');
        $.each(response.errors, function(id, emsg) {
            $('#'+id).addClass('input-error');            
            extraHtml ='<span id="'+id+'_tip" class="errmsg" ><span class="tiperror">'+emsg+'<br></span></span>';
            $(extraHtml).insertAfter($("input[id='"+id+"'],textarea[id='"+id+"']") );            
        });        
    }

    function signupSucess(response){
    
        $('#btnSignup').button('reset');
        $('#boxSignup').hide();        
        //$('#txtCodeInvite').val(response.data.code);
        //$('#boxPassword').show();
        
        window.location = '/main/contents/index';
    }
    
    function onCancelClick(){

        centerLogo();
        $('#boxLogin').css('display', 'none');
        $('#boxSignup').css('display', 'none');       
        $('#boxRecover').css('display', 'none');       
        $('#dragons').show();
        cleanErrors();
        
        //Clear hash without page refresh
        history.pushState('', document.title, window.location.pathname);
        
        initPositions(100);
    }
    
    function cleanErrors(){
        
        $('.input-error').removeClass('input-error');
        $('.errmsg').css('display', 'none');
    }
        
    function save(idForm, url, successCallBack, errorCallBack, method) {

        data = $("[name='" + idForm + "']").serialize();
        
        if(data === '')
            data = $(idForm).serialize();
                
        if(method != undefined)
            data += '&method=' + method;
        else
            data += '&method=save';

        $.post(url, data, function(response) {
            
            if(response.status === 200){
                successCallBack(response);
            }else{
                errorCallBack(response);
            }
            
        }, 'json');
    }


    function showAbout(){
        hideBackgorund();
        $('#boxAbout').show();
    }
    function showTerms(){
        hideBackgorund();
        $('#boxTerms').show();        
    }

    function hideBackgorund(){
        $('video').hide();
        $('#boxLogo').hide();
        $('#dragons').hide();
        $('#boxLogin').hide();
        $('#boxSignup').hide();
        $('#boxVideo').addClass('box-scroller');

        $('#bacons').hide();
        $('#picture1').hide();
        $('#kittens').hide();
        $('#picture2').hide();
        $('#done').hide();
        $('#picture3').hide();
        $('#shakeit').hide();
        $('footer').hide();        
        $('#indicator').hide();        
        $('#arrow').show();
    }
    
    function showBackground(){
        $("body").scrollTop(0);
        $("html").scrollTop(0);
        $('video').show();
        $('#boxLogin').hide();
        $('#boxSignup').hide();        
        $('#boxLogo').show();
        $('#dragons').show();
        $('#boxVideo').removeClass('box-scroller');      
        
        $('#bacons').show();
        $('#picture1').show();
        $('#kittens').show();
        $('#picture2').show();
        $('#done').show();
        $('#picture3').show();
        $('#shakeit').show();
        $('footer').show();     
        $('#arrow').hide();   
        $('#boxAbout').hide();
        $('#boxTerms').hide();
        $('#indicator').show();        
    }
    
    
    
    function onArrowClick(){
        
        if( $('#boxAbout').is(":visible") ){
            
            var innerHeight = $('#boxAbout').innerHeight();
            $('#boxAbout').animate({scrollTop: ( $('#boxAbout').scrollTop() + innerHeight)}, 800);
            
        }else {
            
            var innerHeight = $('#boxTerms').innerHeight();
            $('#boxTerms').animate({scrollTop: ( $('#boxTerms').scrollTop() + innerHeight)}, 800);
        }
    }
    
    function onXClick(){
        showBackground();
    }
    
    
    function showRecover(){
        //hideBackgorund();
        $('#boxLogin').hide();
        $('#recoverMessage').hide();
        $('#boxRecover').show();
        //$('#arrow').hide();
    }
    
    function forgotPassword(){
        
        $('#btnRecover').button('loading');
        var data =  'method=forgot.password&'+$('#formRecover').serialize();
        
        $.post("/default/login", data, function(response){
            
            $('#btnRecover').button('reset');
            
            var errors = JSON.stringify(response.errors);

            if(errors != 'null'){
                
                if(response.errors.length != 0){
                    
                    errors = errors.split(":");

                    var error = errors[1];

                    error = error.slice(1,(error.length-4));

                    alertify.error(error);
                    
                }
                
            }

            if(response.status == 200){
                
                $("#recoverMessage").show();
                $(".recoverEmail").empty();                
                
            }else{  
                
                if(errors != 'null'){
                    if(response.errors.length != 0){
                        alertify.error("Server error, please try again");
                    }
                }
                
            }
            
        }, 'json');
        
    }    
    
    
    function showCreatePassword(){
        
        $('#txtCodeInvite').val(response.data.code);
        $('#boxPassword').show();        
    }
    
    

</script>




<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('4015-468-10-4729');/*]]>*/</script><noscript><a href="https://www.olark.com/site/4015-468-10-4729/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->    

</body>
</html>