<div id="boxLogin">
    
    <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
    <div class="wejo_box_01_body" onkeypress="onSearchKeyPress(event)">
        <div class="wejo_box_01_content">
            <p class="wejo_box_p_gray">Please complete the following fields</p>
            
            <form id="formLogin">
            
                <input type="text" class="in_box_style_01" id="txtEmail" name="txtEmail" placeholder="Email">
                <input type="password" class="in_box_style_01" id="txtUserPassword" name="txtUserPassword" placeholder="Password">
           
 <br><br>               

                <input type="button" class="btn_login_black top-10" id="Login" value="Finish" onclick="login()">
                
                <span class="forgot-pass" onclick="openForgotPassword()">Forgot your password?</span>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    
    function onSearchKeyPress(event){
        
        if(event.keyCode === 13)
            login();             
    }
    
    
 </script>