<div id="boxJPortal">
        
        <!--
        <div class="wejo_box_01_head">
            
            <h2>Journalist Portal</h2>
        </div> -->
        <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>

        <div class="wejo_box_01_body">
            <div class="wejo_box_01_content">
               
                <div class="wejo_box_structure_top">
                    <h3>Use the right toolkit for the right story.</h3>
                    <p style="text-align: center">Browse our database, connect with other journalists, and measure your readers' engagement - with ease.</p>
                    <input type="button" class="btn_request" id="btn_request" value="Request Invite" onclick="openRequest()">

                    <span class="span_or">OR</span>
                    <input type="text" class="in_code" id="txtCode" name="txtCode" placeholder="I have an invite code">
                    <input type="button" class="btn_code" id="btn_code" value="Submit"  onclick="openSignUp()">
                </div>                  
                    
                <div class="wejo_box_structure_bottom">
                    <input type="submit" class="btn_login_black" id="btn_login_black" value="Login" onclick="openLogin()">
<!--                    <a href="#" class="a_text">What is Wejo?</a>-->

<!--                    <span class="forgot-pass" onclick="openForgotPassword()">Forgot your password?</span>-->

                </div> 
                
            </div>
        </div>
    </div>


<script type="text/javascript">
    
    function onSearchKeyPress(event){
        
        if(event.keyCode === 13)
            login();             
    }
    
 </script>