<?php

    $isMobile = false;
    $useragent = $_SERVER['HTTP_USER_AGENT'];
    if(preg_match('/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i',$useragent)||preg_match('/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i',substr($useragent,0,4)))
        $isMobile = true;    
    
?>


<div id="boxRequest" class="modalContentBox">
    
    <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
    <div class="wejo_box_01_body">
        <div class="wejo_box_01_content">
               
            <form id="formRequest">
                
                <div class="wejo_box_structure_top">
                <p class="wejo_box_p_gray">Please complete the following fields</p>
                    <input type="text" class="in_box_style_01" id="txtFullname" name="txtFullname" placeholder="Full Name (hidden)">

<?php if($isMobile){ ?>
<h6 id="error_txtFullname" style="color:#BE4B49; margin-bottom: 3px; display:none">Error message</h6>
<?php } ?>
                    <input type="text" class="in_box_style_01" id="txtName" name="txtName" placeholder="Display Name">
<?php if($isMobile){ ?>                    
<h6 id="error_txtName" style="color:#BE4B49; margin-bottom: 3px; display:none">Error message</h6>                    
<?php } ?>
                    <input type="text" class="in_box_style_01" id="txtEmail" name="txtEmail" placeholder="Email">
<?php if($isMobile){ ?>                    
<h6 id="error_txtEmail" style="color:#BE4B49; margin-bottom: 3px; display:none">Error message</h6>                                        
<?php } ?>
                    <input type="text" class="in_box_style_01" id="txtEmail2" name="txtEmail2" placeholder="Retype email">
<?php if($isMobile){ ?>                    
<h6 id="error_txtEmail2" style="color:#BE4B49; margin-bottom: 3px; display:none">Error message</h6>                    
<?php } ?>
                    <input type="text" class="in_box_style_01" id="txtLocation" name="txtLocation" placeholder="Location">
<?php if($isMobile){ ?>                    
<h6 id="error_txtLocation" style="color:#BE4B49; margin-bottom: 3px; display:none">Error message</h6>                    
<?php } ?>
                    <input type="text" class="in_box_style_01" id="txtTwitter" name="txtTwitter" placeholder="@Twitter">
<?php if($isMobile){ ?>                    
<h6 id="error_txtTwitter" style="color:#BE4B49; margin-bottom: 3px; display:none">Error message</h6>                    
<?php } ?>
<!--                    <input type="text" class="in_box_style_01" id="txtLinkedin" name="txtLinkedin" placeholder="Linkedin URL">-->
                    <div class="details" id="geo-details" hidden="true">    
                        <input name="lat" data-geo="lat" />
                        <input name="lng" data-geo="lng" />
                        <input name="country" data-geo="country"/>
                        <input name="formatted_address" data-geo="formatted_address" />
                        <input name="country_short" data-geo="country_short" />
                    </div>
                    
                    
                    <div id="divJournalist" class="check_buttons_content" style="margin-top:10px">
                        <p class="wejo_box_p_gray">Are you a Journalist or Writer ?</p>
                        <div class="check_individual_content" style="text-align:left; margin-left:-10px; font-size:11pt">
                            <label class="check_inside_content" for="checkYes">Yes </label>
                            <input type="checkbox" class="check_style_01" id="checkYes" value="#" checked='checked'>
                        </div>
                        <div class="check_individual_content" style="font-size:11pt">
                            <label class="check_inside_content" for="checkNo">No </label>
                            <input type="checkbox" class="check_style_01" id="checkNo" value="#">
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
                
<!--                    <div id="divJournalist" class="check_buttons_content" style="margin-top:-70px; margin-bottom:50px">
                        <p class="wejo_box_p_gray">Are you a Journalist or Writer ?</p>
                        <div class="check_individual_content" style="text-align:left; margin-left:-10px; font-size:11pt">
                            <label class="check_inside_content" for="checkYes">Yes </label>
                            <input type="checkbox" class="check_style_01" id="checkYes" value="#" checked='checked'>
                        </div>
                        <div class="check_individual_content" style="font-size:11pt">
                            <label class="check_inside_content" for="checkNo">No </label>
                            <input type="checkbox" class="check_style_01" id="checkNo" value="#">
                        </div>
                    </div>-->
                
                    <input value="1" type="hidden" name="isJournalist" id="isJournalist">
                   
                    <div class="wejo_box_structure_bottom">
                        <input type="button" class="btn_login_black" id="btn_login_black" value="NEXT"  onclick="saveNewUser()">
<!--                        <a href="#" class="a_text">What is Wejo?</a>-->
                    </div>

            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('document').ready(function() {
    
        $('#txtEmail2').on('keyup', function(){
        
            if($('#txtEmail2').val() !== $('#txtEmail').val()){
                
                console.log('distinto');                
                $('#txtEmail2').addClass('in_box_style_error');
                
            }else{
                
                console.log('igual');
                $('#txtEmail2').removeClass('in_box_style_error');
            }
        });
        

        $('#checkYes').click(function() {

            $('#isJournalist').val(1);

            if (document.getElementById("checkYes").checked)
                document.getElementById("checkNo").checked = false;
            else {
                document.getElementById("checkNo").checked = true;
                $('#isDownloadable').val(0);
            }
        });

        $('#checkNo').click(function() {

            $('#isJournalist').val(0);

            if (document.getElementById("checkNo").checked)
                document.getElementById("checkYes").checked = false;
            else {
                document.getElementById("checkYes").checked = true;
                $('#isJournalist').val(1);
            }
        });
        
    });        
</script>        