<!doctype html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Jouture - Rediscover the world, one story at a time</title>


        <meta name="description" content="Jouture is creating a journalism culture where the story matters most. Publish your work to reach and impact your audience immediately and without an intermediary.">
        <meta name="meta-description" content="Jouture is creating a journalism culture where the story matters most. Publish your work to reach and impact your audience immediately and without an intermediary">
        <meta name="meta-keywords" content="news journalist jouture content latest articles videos photos breaking trending">

<!--        <link rel="stylesheet" href="/css/landing.css">-->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/instalax/instalax.css">

        <!--        <link rel="stylesheet" href="/instalax/main.css">-->


        <style>

            html, body {
                
                height: 100%;
                width: 100%;
/*                margin: 0;
                padding: 0;*/
                
                //font-family: Century Gothic, Helvetica, Arial, sans-serif;
                //line-height: 1;
                //-webkit-font-smoothing: antialiased;
                //font-smoothing: antialiased;
            }
            h1 { 
                //font-size: 72px;
                //margin: 0px;
            }
            h2 {
                //font-size: 48px;
            }
            h3 {
                //font-size: 36px;
                text-transform: uppercase;
                //margin: 20px 0px; 
            }
            h4 {
                //font-size: 24px;
            }
            a {
                //color: white;
            }
            div.slide .bg {
                //opacity: 0.75;
            }
            div.slide {
                background-size: cover;
                background-repeat: no-repeat;
            }

            div.slide.one { background-image: url(/images/landing/mobile_back.jpg); }
            //div.slide.two { background-image: url(/instalax/images/slide2.jpg); }
            //div.slide.two { background-image: url(/images/landing/back_train.jpg); }
            div.slide.two { background-color: #FFF; }
            div.slide.three { background-color: #FFF; 
                              //background-image: url(/instalax/images/slide3.jpg); 
                            }
            //div.slide.four { background-image: url(/instalax/images/slide4.jpg); }
            div.slide.four { background-image: url(/images/landing/back_rapid.jpg); }
            //div.slide.five { background-image: url(/instalax/images/slide5.jpg); }
            //div.slide.five { background-image: url(/images/landing/back_orange.jpg); }
            div.slide.five { background-color: #FFF; }
            div.slide.six { background-image: url(/instalax/images/slide6.jpg); }
            div.slide.seven { background-image: url(/instalax/images/slide7.jpg); }

            div.content {
                text-align: center;
                //color: white;
                //text-shadow: 0px 0px 5px black, 2px 2px 0px black;
            }
            div.content pre {
/*                text-align: left;
                opacity: 0.90;*/
            }
            div#indicator {
                position: fixed;
                left: 0px;
                top: 0px;
                display: block;
                width: 5px;
                z-index: 9999;
                background: rgba(225,75,75,.85);
            }    



            img.logo {
                //display: block;
                margin-bottom: 10px;
            }                        
            
            img.img-icon{
                padding: 0 30px 0 30px; 
            }


        </style>        


        <script src="/js/jquery-1.11.1.min.js"></script>
<!--        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>        -->
        <script src="/instalax/instalax.js"></script>

        <script>
            
            function setContentWidth(){
                $(".content").attr('data-width', window.innerWidth);
                console.log(window.innerWidth);                
            }
            
            $(document).ready(function() {
            
                setContentWidth();                
            });
            
            $( window ).resize(function() {
                    setContentWidth();
            });
        </script>

    </head>


    <body>
        
<!--<div class="navbar navbar-default navbar-fixed-top">-->        
<div class="navbar navbar-default">    
  <div class="container">
      
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
      
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>            
        
        
        
        <div id="indicator"></div>
        <div id="scroller"></div>

        <section id="instalax" data-topoffset="0">


                <!--                data-fade="out"-->
                <!--                data-fade="true"-->            
            <div class="slide one" data-noslide="true" data-fade="true" id="slide-one">
                <div class="content" data-width="1500" data-start="center" data-stop="center">
                    
                    
<!--            <div class="slide three" data-fade="true" data-noslide="true">
                <div class="content" data-width="1500" data-start="top" data-stop="center">-->
                    
                    
                    <div class="hero homepage">                    
                        <div class="container">
                        
                            <div class="row">
                                <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4">
                                    
                                    <img src="/images/landing/logo_index.png" alt="Welcome to Jouture" class="img-responsive logo">
                                    
                                </div>
                            </div>                        


                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-xs-12">
                                    <div class="row">
                                        
                                        <form>
                                            <controls>
                                                <input type="text" class="form-control input-lg" placeholder="Email">
                                                <input type="text" class="form-control input-lg" placeholder="Password">
                                            </controls>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>                        
                        

                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12" style="margin-top:20px">
                                            <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="margin-top:20px">
                                            <button type="button" class="btn btn-primary btn-lg btn-block">Sign Up</button>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                    <h2 class="text-blue underline">WHAT IS JOUTURE ?</h2>

                                    <blockquote>
                                            <p>
                                               Jouture is a journalism platform empowered by storytelling and readers.<br>
                                               Jouture is a news and storytelling platform that connects journalists with their audience.
                                            </p> 
                                            <small>Mo<cite> Jouture's Founder</cite></small>
                                    </blockquote>                                

                                </div>
                            </div>                            
                        
                        </div>                        
                        
                    </div>
   
                                                
                </div>
            </div>



<!--data-backgroundscroll=".85"-->
<!--            <div class="slide two" data-fade="true" data-noslide="true" >
                <div class="content" data-width="1500" data-start="center" data-stop="bottom" data-fade="out">-->

                    
            <div class="slide two" data-backgroundscroll=".5" id="slide-two">
                <div class="content" data-width="1500" data-start="center" data-stop="top">
                    
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                <h2 class="text-blue underline">WHAT IS JOUTURE ?</h2>
                                
                                <blockquote>
                                        <p>
                                           Jouture is a journalism platform empowered by storytelling and readers.<br>
                                           Jouture is a news and storytelling platform that connects journalists with their audience.
                                        </p> 
                                        <small>Mo<cite> Jouture's Founder</cite></small>
                                </blockquote>                                
                                
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                <h2 class="text-blue underline">Giving a voice to journalists and re­imagining storytelling</h2>
                                <h4 class="text-white">
                                No longer should journalists be suppressed by censorship or editorial pressure. 
                                Jouture gives journalists the chance to reclaim storytelling through articles, pictures, 
                                and video with a journalism platform embowered by journalists and readers.                                    
                                <h4>                                
                            </div>
                        </div>                                                

                    </div>                    
                    
                    
                </div>
             </div>

            

            <div class="slide three" data-fade="true" data-noslide="true" id="slide-three">
                <div class="content" data-width="1500" data-start="top" data-stop="center">
                                        <!--                    <h2>Panels don't need to slide</h2>-->
                                        
                                        
 <div class="container">
  <div class="row">
   <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
    <h2 class="text-blue underline">
     Why Jouture?
    </h2>
   </div>
  </div>
     
  <div class="row list">
 
   <div class="col-md-3 col-md-offset-1 col-xs-6 col-xs-offset-3">
    <img src="/images/landing/icon-social.png" alt="Social" class="img-icon img-responsive hidden-xs">
    <img src="/images/landing/icon-social.png" alt="Social" class="img-icon img-responsive visible-xs-block">
    <h3 class="text-blue text-center">
     Be the Storyteller
    </h3>
    <p class="text-gray text-center">Publish your stories, pictures, and video with Jouture and instantly across social media</p>
   </div>
 
      
      
   <div class="col-md-3 col-md-offset-1 col-xs-6 col-xs-offset-3">
    <img src="/images/email/icon-database.png" alt="Research" class="img-icon img-responsive hidden-xs">
    <img src="/images/email/icon-database.png" alt="Research" class="img-icon img-responsive visible-xs-block">
    <h3 class="text-blue text-center">
     Get Access to Resources
    </h3>
    <p class="text-gray text-center">Access our database for contacts, organizations, and support</p>
   </div>
 
      
      
   <div class="col-md-3 col-md-offset-1 col-xs-6 col-xs-offset-3">
    <img src="/images/email/icon-chat.png" alt="Connect" class="img-icon img-responsive hidden-xs">
    <img src="/images/email/icon-chat.png" alt="Connect" class="img-icon mg-responsive visible-xs-block">
    <h3 class="text-blue text-center">
     Network and Connect
    </h3>
    <p class="text-gray text-center">Connect and collaborate with other journalists and fixers</p>
   </div>
 
  </div>
  <div class="row">
   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <div class="underline hidden-xs">
    </div>
   </div>
  </div>
     
 </div>
                                                                                                                                                            

                </div>
            </div>



            <div class="slide four" data-backgroundscroll=".5">
                <div class="content" data-width="1500" data-start="center" data-stop="center">


                    <div class="container">

                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                <h2 class="text-blue underline">Getting started with Jouture as a journalists</h2>
                                <h4 class="text-white">1. Create and verify your Jouture account</h4>
                                <h4 class="text-white">2. Complete your bio and link your Twitter account for full access<h4>
                                <h4 class="text-white">3. Start publishing stories and connecting with other journalists<h4>
                                        
                            </div>
                        </div>
                        
                        <br>
                        
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                <h2 class="text-blue underline">Getting started with Jouture as a reader</h2>
                                <h4 class="text-white">1. Create your Jouture account</h4>
                                <h4 class="text-white">2. Access articles, photos, and videos from journalists around the world<h4>
                                <h4 class="text-white">3. Follow and support journalists you trust<h4>
                            </div>
                        </div>                                                

                    </div>   



                </div>
            </div>
            
            
            
            <div class="slide five" data-fade="true" data-noslide="true">
                <div class="content" data-width="1500" data-start="bottom" data-stop="top">
                    
<div class="">
    
    
    
 <div class="container">
     
  <div class="row">
   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <h2 class="text-blue underline">
     FAQ's
    </h2>
   </div>
  </div>


<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">Why sign­up with Jouture?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
Jouture wants to reclaim journalism and put storytelling back in the journalists' hands. 
The news has been hijacked by advertising industries and mass media, making the story the lesser 
focal point. As a journalist, signing up with Jouture means you're in control of the storytelling. 
As a reader, signing up for Jouture means you will get access to high quality and fact-driven reporting 
from around the world.        
                </p>
            </div>
        </div>
       
    </div>
</div>
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">How does Jouture work for journalists?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
Jouture gives journalists an all­round journalism platform empowered by 
them and the reader. Journalists can publish stories, pictures and video with 
Jouture, network with other journalists on the platform, and be given access 
to a tool kit full of valuable resources, from tips on reporting in the field to 
data collection.
                </p>
            </div>
        </div>
       
    </div>
</div>
     
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">How does Jouture work for readers?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
Jouture will work just like a news platform for readers, but will give the reader 
more power in verifying news and stories by empowering journalists on the 
platform. Readers will have access to journalists from around the world and 
can participate in the story directly via the Jouture platform.
                </p>
            </div>
        </div>
       
    </div>
</div>
     
     
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">Can anyone publish stories on Jouture?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
Jouture offers two account types: journalist and reader. Only journalists will 
have access to publishing stories, photos, and videos on Jouture. Journalists 
must have their account screened and given access to publishing by Jouture.
                </p>
            </div>
        </div>
       
    </div>
</div>  
     
     
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">How does Jouture screen journalists?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
Once journalists sign up on Jouture they will receive a welcome email asking 
them to verify their account followed by an email notifying them of account 
verification. This doesn't mean your journalist account has been approved 
just yet! You can speed up your verification process by inviting others to join 
the platform. Once your journalist account has been approved you will 
receive an email from Jouture explaining that you now have the ability to 
publish stories, photos, and videos and more. 
<br>Jouture verifies journalists through their Twitter accounts and records of their 
past publications.
                </p>
            </div>
        </div>
       
    </div>
</div>  
     
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">How does Jouture filter content?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
While we want to give journalists the ability to control the story by removing
editorial pressure, we will still make sure that the stories appearing on
Jouture are appropriate and created without libel, slander, or misinformation.
The Jouture team will screen stories as they are being published and contact
journalists about questionable material.
                </p>
            </div>
        </div>
       
    </div>
</div>   
     
     
     
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">How do journalists get paid?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
Jouture doesn't function like a regular news or storytelling website, because
we are creating a direct line of communication between the readers and the
journalists. Readers will give power to the journalists by funding their
storytelling through a unique method developed by Jouture.
                </p>
            </div>
        </div>
       
    </div>
</div>       
     
     
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">How do journalists get paid?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
There are a lot of different venues for publishing stories nowadays, but
Jouture is trying to do something different. Jouture is about storytelling and
engaging the audience. Call it new journalism if you want. We are putting the
story in journalists' hands by removing the editorial process and censorship.
We want to go back to the basics and give journalists a voice for themselves
(not for the publication).
                </p>
            </div>
        </div>
       
    </div>
</div> 
     
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">What type of stories does Jouture accept?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
We give journalists the freedom to set their own tone. From breaking news to
long and in­depth features, Jouture is accepting of all methods of storytelling
as long as you get the story across using your voice and create content
grounded in ethics. Jouture is a multimedia platform; we accept articles,
photos, and videos.
                </p>
            </div>
        </div>
       
    </div>
</div>   
     
     
     
<div class="row">    
    <div class="col-lg-12 col-md-12 col-sm-12">         
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <h3 class="vertical-center height-52 text-gray">How does Jouture use social media?</h3>
            </div>
        </div>
         
        <div class="row">
            <div class="col-xs-12">
                <p class="interior">
Social media—like Facebook and Twitter—has become the main source for
news. Readers are often scrolling down their feeds before checking a news
website. Jouture wants to help empower this method of using social media
as a news source by giving journalists the chance to publish across all social
media platforms through Jouture. It is the job of the journalists to streamline
and disseminate their work across social media platforms, but we're going to
make it as easy as clicking a button.
                </p>
            </div>
        </div>
       
    </div>
</div>        
     
     
  <div class="row" style="margin-top:10px">
   <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
    <div class="underline hidden-xs">
    </div>
   </div>
  </div>
 </div>
    
    
</div>                      
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </div>
            </div>
        <!--            <div class="slide six">
                        <div class="content" data-width="451" data-start="top" data-stop="bottom">
                           <h2>Slide from above to below</h2>


                        </div>
                    </div>-->
        <!--            <div class="slide seven" data-backgroundscroll=".75">
                        <div class="content" id="gocrazy" data-width="451" data-start="top" data-stop="center">
                            <div class="crazy">
                            <h2>So go crazy</h2>
                            </div>
                        </div>
                    </div>-->
        </section>


    <script type="text/javascript" src="/instalax/app.js"></script>
</body>
</html>



<!--<script src="/js/jquery.backgroundvideo.min.js"></script>-->



<!--<script type="text/javascript">
    
    $(document).ready(function() {

        var videobackground = new $.backgroundVideo($('#divOneVideo'), {
            "align": "centerXY",
            "width": 1920,
            "height": 1080,
            "path": "/vids/",
            "filename": "river",
            "types": ["mp4", "ogg", "webm"]
        });
       
       
    });
    
</script>-->