<form id="formNotificationSetup">

    <div class="page_content">

            <h1>Notifications setup</h1>

            <p class="short_text"><b>You will be notified when: </b></p>            
            
            <br>
            
            <div class="container-fluid">
                
                
                    <div class="row">                        

                        <div class="col-md-7">
                            <p class="">A journalist write a new message to you</p>
                        </div>                                                    
                        <div class="col-md-2">
                            <div class="check_individual_content" >
                                <label class="check_inside_content" for="checkYes">Yes </label>
                                <input onclick="onMessageClick(1)" type="checkbox" class="check_style_01" id="checkMessageYes" value="#" <?php if ($this->isMessage) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                        <div class="col-md-2">
                            <div class="check_individual_content">
                                <label class="check_inside_content" for="checkNo">No </label>
                                <input onclick="onMessageClick(0)" type="checkbox" class="check_style_01" id="checkMessageNo" value="#" <?php if (!$this->isMessage) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                    </div>                

                
                    <div class="row">                        
                        <div class="col-md-7">
                            <p class="">A journalist replies a discussion of your interest</p>
                        </div>                                                    
                        <div class="col-md-2">
                            <div class="check_individual_content" >
                                <label class="check_inside_content" for="checkYes">Yes </label>
                                <input onclick="onDiscussionClick(1)" type="checkbox" class="check_style_01" id="checkDiscussionYes" value="#" <?php if ($this->isDiscussion) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                        <div class="col-md-2">
                            <div class="check_individual_content">
                                <label class="check_inside_content" for="checkNo">No </label>
                                <input onclick="onDiscussionClick(0)" type="checkbox" class="check_style_01" id="checkDiscussionNo" value="#" <?php if (!$this->isDiscussion) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                    </div>                
             

                    <div class="row">                        
                        <div class="col-md-7">
                            <p class="">Your content is endorsed</p>
                        </div>                                                    
                        <div class="col-md-2">
                            <div class="check_individual_content" >
                                <label class="check_inside_content" for="checkYes">Yes </label>
                                <input onclick="onEndorseClick(1)" type="checkbox" class="check_style_01" id="checkEndorseYes" value="#" <?php if ($this->isEndorse) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                        <div class="col-md-2">
                            <div class="check_individual_content">
                                <label class="check_inside_content" for="checkNo">No </label>
                                <input onclick="onEndorseClick(0)" type="checkbox" class="check_style_01" id="checkEndorseNo" value="#" <?php if (!$this->isEndorse) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                    </div>    
                
                    <div class="row">                        
                        <div class="col-md-7">
                            <p class="">Your comments are replied</p>
                        </div>                                                    
                        <div class="col-md-2">
                            <div class="check_individual_content" >
                                <label class="check_inside_content" for="checkYes">Yes </label>
                                <input onclick="onCommentClick(1)" type="checkbox" class="check_style_01" id="checkCommentYes" value="#" <?php if ($this->isComment) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                        <div class="col-md-2">
                            <div class="check_individual_content">
                                <label class="check_inside_content" for="checkNo">No </label>
                                <input onclick="onCommentClick(0)" type="checkbox" class="check_style_01" id="checkCommentNo" value="#" <?php if (!$this->isComment) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                    </div>                        
                
                    <div class="row">                        
                        <div class="col-md-7">
                            <p class="">A journalist that you are following creates new content</p>
                        </div>                                                    
                        <div class="col-md-2">
                            <div class="check_individual_content" >
                                <label class="check_inside_content" for="checkContentYes">Yes </label>
                                <input onclick="onContentClick(1)" type="checkbox" class="check_style_01" id="checkContentYes" value="#" <?php if ($this->isContent) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                        <div class="col-md-2">
                            <div class="check_individual_content">
                                <label class="check_inside_content" for="checkContentNo">No </label>
                                <input onclick="onContentClick(0)" type="checkbox" class="check_style_01" id="checkContentNo" value="#" <?php if (!$this->isContent) echo "checked='checked'"; ?>>
                            </div>
                        </div>                        
                    </div>  
                
                <br/><br/> 

                <input type="button" class="btn_submit" name="btnSaveNoti" id="btnSaveNoti" value="Save" onclick="onSaveNotificationClick()"> 
                <input type="Button" class="btn_cancel" id="btnCancel" name="btnCancel" value="Cancel">                             
                
            </div>
            
            

            <!-- ***************************************************************************************************** -->

    </div>

    
    <input value="<?php echo $this->isMessage ?>" type="hidden" name="isMessage" id="isMessage">
    <input value="<?php echo $this->isDiscussion ?>" type="hidden" name="isDiscussion" id="isDiscussion">
    <input value="<?php echo $this->isEndorse ?>" type="hidden" name="isEndorse" id="isEndorse">
    <input value="<?php echo $this->isComment; ?>" type="hidden" name="isComment" id="isComment">
    <input value="<?php echo $this->isContent; ?>" type="hidden" name="isContent" id="isContent">
    
</form>    


<script type="text/javascript">
    
    $(document).ready(function () {  


     });


     function onMessageClick(yes){
         
         $('#isMessage').val(yes);
         
         document.getElementById("checkMessageYes").checked = false;
         document.getElementById("checkMessageNo").checked = false;
         
         if(yes)
             document.getElementById("checkMessageYes").checked = true;
         else
             document.getElementById("checkMessageNo").checked = true;
     }
     
     function onDiscussionClick(yes){
         
         $('#isDiscussion').val(yes);
         
         document.getElementById("checkDiscussionYes").checked = false;
         document.getElementById("checkDiscussionNo").checked = false;
         
         if(yes)
             document.getElementById("checkDiscussionYes").checked = true;
         else
             document.getElementById("checkDiscussionNo").checked = true;
     }


     function onEndorseClick(yes){
         
         $('#isEndorse').val(yes);
         
         document.getElementById("checkEndorseYes").checked = false;
         document.getElementById("checkEndorseNo").checked = false;
         
         if(yes)
             document.getElementById("checkEndorseYes").checked = true;
         else
             document.getElementById("checkEndorseNo").checked = true;
     }


     function onCommentClick(yes){
         
         $('#isComment').val(yes);
         
         document.getElementById("checkCommentYes").checked = false;
         document.getElementById("checkCommentNo").checked = false;
         
         if(yes)
             document.getElementById("checkCommentYes").checked = true;
         else
             document.getElementById("checkCommentNo").checked = true;
     }


     function onContentClick(yes){
         
         $('#isContent').val(yes);
         
         document.getElementById("checkContentYes").checked = false;
         document.getElementById("checkContentNo").checked = false;
         
         if(yes)
             document.getElementById("checkContentYes").checked = true;
         else
             document.getElementById("checkContentNo").checked = true;
     }


     function onSaveNotificationClick(){
         
         var url = '/main/email.notifications/';
         operations.save(formNotificationSetup, url, showSuccess);
     }
     
     
    function showSuccess() {
        
        operations.showMessage('Saved','ok');
        return true;
    }
     

</script>
