<?php 

$service = new Wejo_Action_Helper_Services();

foreach($this->replies as $reply){ ?>
    
    <div class="mid-line"></div>

    <div class="row" style="margin-left: 13px">
        <div class="col-xs-12 mess-discussion-reply-container">
            <div class="row">
                <div class="col-md-12 no-margins mess-discussion-header">
                    <div class="col-md-10 no-margins"><h3><?php echo $reply->getUser()->getName() ?></h3></div>
                    <div class="col-md-2 no-margins"><p class="date-grey"><?php echo $service::formatDate($reply->getDate()) ?></p></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-margins mess-discussion-reply">
                    <p><?php echo $reply->getText() ?></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-margins mess-discussion-bottom">

                    <?php 

                    $classLike = "btn_like";
                    $onclickLike = "undoLike(".$reply->getId().")";

                    if(!$reply->getLikeUser()){ 
                        $classLike = "btn_dislike";
                        $onclickLike = "likeComment(".$reply->getId().")";
                    } 

                    ?>

                    <input id="btnLike_<?php echo $reply->getId() ?>" type="button" class="<?php echo $classLike ?>" style="float: right" onclick="<?php echo $onclickLike ?>">

                </div>
            </div>

        </div>
    </div>

<?php } ?>
            
<div id="boxNewReply_<?php echo $this->parentReply->getId() ?>" class="row" style="margin-left: 10px">
   <div class="mid-line"></div>
    <div class="col-xs-12">
        <textarea id="txtNewReply_<?php echo $this->parentReply->getId() ?>" name="txtNewReply_<?php echo $this->parentReply->getId() ?>" class="new_message new_discussion" placeholder="write your answer"></textarea>
    </div>                            
</div>

<div class="row" style="margin-left: 27px">
    <div id="btnPostReply_<?php echo $this->parentReply->getId() ?>" class="col-md-12 no-margins mess-discussion-bottom_post">
        <input type="button" class="btn-reply" value="Reply" onclick="saveChildReply('<?php echo $this->parentReply->getId() ?>','<?php echo $this->parentReply->getDiscussion()->getId() ?>')">
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function() { 
   
        $('.btn_like').bind('click', function (event) {
            event.stopPropagation();
        });
   
        $('.btn_dislike').bind('click', function (event) {
            event.stopPropagation();
        });
        
    });
    
    function saveChildReply(com_dis_id, reply_id){

        var data = "com_dis_id=" + com_dis_id + "&txtNewReply="+$("#txtNewReply_"+com_dis_id).val()+"&method=save.reply";
        
        operations.showSpinner('Loading');
        
        $.post('/main/comment.discussions', data, function(response) {
            
            operations.hideSpinner();
            
            if(response.status == 200){
                
                refreshTotalCounter(reply_id);
                
                var newCount = parseInt($("#counterChildrenReplies_"+com_dis_id).html())+1;
                $("#counterChildrenReplies_"+com_dis_id).html(newCount);
                
                if(newCount > 1){
                    $("#textChildrenReplies_"+com_dis_id).html("Replies");
                }
                
                viewReplies(com_dis_id,'false',reply_id);
            }else{
                
                if(response.status == 500 && response.errors != "null" && response.errors != ""){
                    operations.addError(response.errors);
                    $("#txtNewReply_"+com_dis_id+"_tip").find(".tiperror").css("margin-left","-27%");
                }else{
                    showError();
                }
                
            }

        }, 'json');

    }

</script>
