<div id="boxComments_<?php echo $this->discussion->getId() ?>" class="col-xs-12 no-margins" style="margin-bottom: 20px">
    <div class="row">
        <div class="col-xs-1" style="text-align: right">
            <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo Main_Model_User::getSession("user_pic") ?>" class="user_Pic user_pic_fix" style="display: none">
        </div>

        <div class="col-xs-11 mess_table_body_2">

            <div class="row">
                <div class="col-xs-12 mess-discussion">              
                    <p><?php echo $this->discussion->getComment()->getText() ?></p>
                </div>
            </div>
            
            <?php 
            
            $service = new Wejo_Action_Helper_Services();
            
            foreach($this->replies as $reply){ ?>
            
                <div class="mid-line"></div>

                <div class="row">
                    <div class="col-xs-12 mess-discussion-reply-container">
                        <div class="row">
                            <div id="headChildrenReplies_<?php echo $reply->getId() ?>" data-id="<?php echo $reply->getId() ?>" class="col-md-12 no-margins mess-discussion-header" onclick="viewReplies(<?php echo $reply->getId() ?>,'false',<?php echo $reply->getDiscussion()->getId() ?>)">
                                <div class="col-md-10 no-margins"><h3><?php echo $reply->getUser()->getName() ?></h3></div>
                                <div class="col-md-2 no-margins"><p class="date-grey"><?php echo $service::formatDate($reply->getDate()) ?></p></div>
                            </div>
                        </div>
                        <div id="contentChildrenReplies_<?php echo $reply->getId() ?>" style="display: none">
                            <div class="row">
                                <div class="col-md-12 no-margins mess-discussion-reply">
                                    <p><?php echo $reply->getText() ?></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 no-margins mess-discussion-bottom">
                                    
                                    <span id="textChildrenReplies_<?php echo $reply->getId() ?>" class="counters-replies"><?php echo ($reply->getCountReplies() < 2 ? "Reply":"Replies") ?></span>
                                    <span id="counterChildrenReplies_<?php echo $reply->getId() ?>" class="counters-replies"><?php echo $reply->getCountReplies() ?></span>
                                    
                                    <?php 

                                    $classLike = "btn_like";
                                    $onclickLike = "undoLike(".$reply->getId().",'firstLevel')";

                                    if(!$reply->getLikeUser()){ 
                                        $classLike = "btn_dislike";
                                        $onclickLike = "likeComment(".$reply->getId().",'firstLevel')";
                                    } 

                                    ?>

                                    <input id="btnLike_<?php echo $reply->getId() ?>" type="button" class="<?php echo $classLike ?>" style="float: right" onclick="<?php echo $onclickLike ?>">
                                    
                                    <span id="boxCounterChildrenlikes_<?php echo $reply->getId() ?>" class="counters-replies"><?php echo $reply->getCountLikes() ?></span>
                                   
                                </div>
                                
                                <div id="boxChildrenReplies_<?php echo $reply->getId() ?>" class="boxChildrenReplies"></div>

                            </div>
                        </div>    
                    </div>
                </div>
            
            <?php } ?>
            
            <div id="contentNewReplies_<?php echo $this->discussion->getId() ?>"></div>    
             
            <div class="mid-line"></div>
            
            <div id="boxNewDiscussion_<?php echo $this->discussion->getId() ?>" class="row">
                <div class="col-xs-12">
                    <textarea id="txtDiscussionReply_<?php echo $this->discussion->getId() ?>" name="txtDiscussionReply_<?php echo $this->discussion->getId() ?>" class="new_message new_discussion" placeholder="Write your opinion..."><?php echo $this->meText ?></textarea>
                </div>                            
            </div>

            <div class="row">
                <div id="btnPost_<?php echo $this->discussion->getId() ?>" class="col-md-12 no-margins mess-discussion-bottom_post">
                    <input type="button" class="btn-reply" value="Post" onclick="saveReply('<?php echo $this->discussion->getId() ?>')">
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function() { 
   
        $('.btn_like').bind('click', function (event) {
            event.stopPropagation();
        });
   
        $('.btn_dislike').bind('click', function (event) {
            event.stopPropagation();
        });
        
    });
    
    function saveReply(dis_id) {
        
        var data = "method=save.reply&comment=" + $("#txtDiscussionReply_"+dis_id).val() + "&dis_id=" +dis_id;
        
        operations.showSpinner('Loading');
        
        $.ajax({
            type: "POST",
            url: '/main/discussions/',
            data: data,
            success: function(response){
                
                try {
                    var data = $.parseJSON(response);
                } catch(err) {
                    var data = "";
                }

                if(data != "" && data.status == 500){
                    
                    operations.addError(data.errors);
                    $("#txtDiscussionReply_"+dis_id+"_tip").find(".tiperror").css("margin-left","-26%");
                
                }else{
                    
                    if($("#txtDiscussionReply_"+dis_id+"_tip").length > 0){
                        $("#txtDiscussionReply_"+dis_id+"_tip").remove();
                    }
                    
                    $("#contentNewReplies_"+dis_id).append(response);
                    $("#txtDiscussionReply_"+dis_id).val("");
                    centerUserPic(dis_id);
                    refreshTotalCounter(dis_id);
                    operations.hideSpinner();
                }
            }    
        });

    }
    
    function refreshTotalCounter(dis_id){
       
        var actualCount = parseInt($("#counterTotalReplies_"+dis_id).html());
        
        $("#counterTotalReplies_"+dis_id).html(actualCount+1);
        
    }
    
    function likeComment(com_dis_id){
  
        var data = "com_dis_id=" + com_dis_id + "&method=like";

        $.post('/main/comment.discussions', data, function(response) {

            if(response.status == 200){
                
                var countLikes = parseInt($("#boxCounterChildrenlikes_"+com_dis_id).html());
                $("#boxCounterChildrenlikes_"+com_dis_id).html(countLikes+1);
                
                $("#btnLike_"+com_dis_id).removeClass();
                $("#btnLike_"+com_dis_id).addClass("btn_like");
                $("#btnLike_"+com_dis_id).attr("onclick","undoLike("+com_dis_id+")");
            }else{
                showError();
            }

        }, 'json');

    }

    function undoLike(com_dis_id){
        var data = "com_dis_id=" +com_dis_id + "&method=undo.like";
        operations.delete('/main/comment.discussions', data, function(){
            
            var countLikes = parseInt($("#boxCounterChildrenlikes_"+com_dis_id).html());
            $("#boxCounterChildrenlikes_"+com_dis_id).html(countLikes-1);
            
            $("#btnLike_"+com_dis_id).removeClass();
            $("#btnLike_"+com_dis_id).addClass("btn_dislike");
            $("#btnLike_"+com_dis_id).attr("onclick","likeComment("+com_dis_id+")");
        }, showError);
    }
    
    function showError(){
        alertify.error("Server error, please try again");
    }
    
    function viewReplies(reply_id, focus, parentReplyId){
       
        var url = '/main/discussions/method/children.replies.list/reply_id/'+reply_id;
        
        operations.showSpinner('Loading');
        
        $("#boxChildrenReplies_"+reply_id).load(url, function(){
            
            $("#contentChildrenReplies_"+reply_id).slideDown(function(){
                centerUserPic(parentReplyId);
                operations.hideSpinner();
                    if(focus == 'true'){
                    $("#txtNewReply_"+reply_id).focus();
                }
                $("#headChildrenReplies_"+reply_id).attr('onclick', 'hideReplies('+reply_id+","+focus+","+parentReplyId+')');
                $("#btnViewReplies_"+reply_id).attr('onclick', 'hideReplies('+reply_id+","+focus+","+parentReplyId+')');

            });
            
        }); 
       
    }
    
    function hideReplies(reply_id, focus, parentReplyId){
        
        if($("#boxChildrenReplies_"+reply_id).html() == ""){
            viewReplies(reply_id, focus, parentReplyId);
        }
        
        $("#contentChildrenReplies_"+reply_id).slideUp(function(){
            centerUserPic(parentReplyId);
        });
        $("#headChildrenReplies_"+reply_id).attr('onclick', 'viewReplies('+reply_id+","+focus+","+parentReplyId+')');
        $("#btnViewReplies_"+reply_id).attr('onclick', 'viewReplies('+reply_id+","+focus+","+parentReplyId+')');
        
    }
    
</script>