<!-- is used by the infinite scroll - not remove -->
<div></div>
<!-- is used by the infinite scroll - not remove -->

<?php 

$service = new Wejo_Action_Helper_Services();

foreach($this->array_discussions as $discussion){ ?>

<div class="row topmargin-3">
    <div class="row no-margins">
        <div id="discussion_<?php echo $discussion->getId() ?>" class="col-xs-12 drop-down no-margins" onclick="dropDown(<?php echo $discussion->getId() ?>)">
            <div class="col-xs-1 mess_table_replies no-hor-paddin">
                <p><span id="counterTotalReplies_<?php echo $discussion->getId() ?>"><?php echo $discussion->getTotalCountReplies() ?></span> REPLIES</p>
            </div>
            <div class="col-xs-11 mess_table_mess_2">
                <div class="col-md-10 col-xs-9">
                    <h2><?php echo $discussion->getTitle() ?></h2>
                    <p><?php echo $discussion->getUser()->getName() ?> <b class="date-grey"><?php echo $service::formatDate($discussion->getDate()) ?></b></p>
                </div>
                <div class="col-md-2 col-xs-3">
                    <div class="btn_container">
                        <p id="countFollow_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountFollowers() ?></p>
                        
                        <?php 
                        
                        $class = 'btn_following';
                        $follow = 'false';
                        
                        if(!$discussion->isFollowing()){
                            $class = 'btn_fav';
                            $follow = 'true';
                        } 
                        
                        ?>
                            
                        <input id="btnFollow_<?php echo $discussion->getId() ?>" type="button" class="<?php echo $class ?>" onclick="follow('<?php echo $follow ?>', '<?php echo $discussion->getId() ?>')">    
                            
                        
                    </div>
                </div>
            </div><!-- FIN mess_table_mess_2 -->
        </div>
    </div>
    <div id="content_dis_<?php echo $discussion->getId() ?>" class="row drop-down-element" style="display: none"></div>
</div>

<?php } 
