<?php 

$service = new Wejo_Action_Helper_Services();

foreach($this->array_discussions as $discussion){ ?>

<div class="row topmargin-3">
    <div class="row no-margins">
        <div id="discussion_<?php echo $discussion->getId() ?>" class="col-xs-12 drop-down no-margins" onclick="dropDown(<?php echo $discussion->getId() ?>)">
            <div class="col-xs-1 mess_table_replies no-hor-paddin">
                <p><span id="counterTotalReplies_<?php echo $discussion->getId() ?>"><?php echo $discussion->getTotalCountReplies() ?></span> REPLIES</p>
            </div>
            <div class="col-xs-11 mess_table_mess_2">
                <div class="col-md-10 col-xs-9">
                    <h2><?php echo $discussion->getTitle() ?></h2>
                    <p><?php echo $discussion->getUser()->getName() ?> <b class="date-grey"><?php echo $service::formatDate($discussion->getDate()) ?></b></p>
                </div>
                <div class="col-md-2 col-xs-3">
                    <div class="btn_container">
                        <p id="countFollow_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountFollowers() ?></p>
                        
                        <?php 
                        
                        $class = 'btn_following';
                        $follow = 'false';
                        
                        if(!$discussion->isFollowing()){
                            $class = 'btn_fav';
                            $follow = 'true';
                        } 
                        
                        ?>
                            
                        <input id="btnFollow_<?php echo $discussion->getId() ?>" type="button" class="<?php echo $class ?>" onclick="follow('<?php echo $follow ?>', '<?php echo $discussion->getId() ?>')">    
                            
                        
                    </div>
                </div>
            </div><!-- FIN mess_table_mess_2 -->
        </div>
    </div>
    <div id="content_dis_<?php echo $discussion->getId() ?>" class="row drop-down-element" style="display: none"></div>
</div>

<?php } 

$display="none";

if(count($this->array_discussions) == 0){
    $display="inline-block";
}

?>

<p style="display: <?php echo $display ?>"><i id="searchNoResults">No results found for <?php echo $this->paramList ?></i></p>

<script type="text/javascript">
    
    callFollow = false;
    
    $(document).ready(function() { 
        
        $("#filters").show();
        
        <?php if($this->isSearch != "" && !is_null($this->isSearch)){ ?>
        
            $("#filter_1").addClass("filter_active");
        
        <?php } ?>

        $('.btn_like').bind('click', function (event) {
            event.stopPropagation();
        });
        
        $('.btn_dislike').bind('click', function (event) {
            event.stopPropagation();
        });

    });

    function dropDown(dis_id, focus) {
        
        if(callFollow){
            callFollow = false;
            return;
        }
        
        if($("#content_dis_"+dis_id).html() == ""){
            
            operations.showSpinner('Loading');
            
            $("#content_dis_"+dis_id).load("/main/discussions/method/detail.discussion/dis_id/"+dis_id, function(){
                
                $("#content_dis_"+dis_id).slideDown(function(){
                    centerUserPic(dis_id);
                    operations.hideSpinner();
                    if(focus == true){
                        $("#txtDiscussionReply_"+dis_id).focus();
                    }    
                });
                $("#discussion_"+dis_id).attr('onclick', 'slide('+dis_id+')');
            });
            
        }else{
            
            $("#content_dis_"+dis_id).slideDown(function(){
                centerUserPic(dis_id);
                if(focus == true){
                    $("#txtDiscussionReply_"+dis_id).focus();
                }
                $("#discussion_"+dis_id).attr('onclick', 'slide('+dis_id+')');
            });
        }
        
        $("#content_dis_"+dis_id).css("margin-bottom","40px");
        
    }
    
    function slide(dis_id) {
        
        if(callFollow){
            callFollow = false;
            return;
        }
        
        $("#content_dis_"+dis_id).slideUp(function(){
            $("#boxComments_"+dis_id).find(".mess-discussion-header").each(function(){
                var reply_id = $(this).data("id");
                $("#contentChildrenReplies_"+reply_id).slideUp();
                $("#boxChildrenReplies_"+reply_id).empty();
            });
        });
        $("#discussion_"+dis_id).attr('onclick', 'dropDown('+dis_id+')');
        $("#content_dis_"+dis_id).css("margin-bottom","0px");
    }
    
    function centerUserPic(dis_id){
        $("#boxComments_"+dis_id).find(".user_Pic").attr("style","margin-top: 0px !important");
        var heightBox = $("#boxComments_"+dis_id).height();
        var marginTop = heightBox - 43;
        $("#boxComments_"+dis_id).find(".user_Pic").attr("style","margin-top: "+marginTop+"px !important");
        $("#boxComments_"+dis_id).find(".user_Pic").fadeIn( "slow" );
    }
    
    function follow(isFollow, dis_id) {
        
        callFollow = true;
        
        var data = '';

        if (isFollow == 'true')
            data = 'method=follow';
        else
            data = 'method=unfollow';

        data += "&dis_id=" + dis_id;

        $.post('/main/discussions', data, function(response) {

            if (response === null || response.status === 500) {
                operations.showMessage('Error', 'error');
            }

            if (response.status === 200) {

                var countFollowers = $("#countFollow_"+dis_id).text();
                var followers = 0;

                if (isFollow == 'true') {
                
                    followers = parseInt(countFollowers) + 1;

                    $("#countFollow_"+dis_id).text(followers);
                    $("#btnFollow_"+dis_id).removeClass();
                    $("#btnFollow_"+dis_id).addClass('btn_following');
                    $("#btnFollow_"+dis_id).attr('onclick',"follow('false',"+dis_id+")");
                    
                } else {

                    followers = parseInt(countFollowers) - 1;

                    $("#countFollow_"+dis_id).text(followers);
                    $("#btnFollow_"+dis_id).removeClass();
                    $("#btnFollow_"+dis_id).addClass('btn_fav');
                    $("#btnFollow_"+dis_id).attr('onclick',"follow('true',"+dis_id+")");
                    
                }
            }

        }, 'json');

    }
    
</script>