<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>    
<script type="text/javascript" src="/js/modules/main/discussions/index.js"></script>    

   <div class="row no-margins">
    <div class="col-md-12">
        
        <div class="left40 left40_resize">
            
            <div class="discussion_header">
            
                <h1 class="h1_format1">Discussions</h1>


                <!-- inicio boton start -->
                
                <?php if (Main_Model_User::getSession(Main_Model_User::USER_ROLE) >= Main_Model_Role::JOURNALIST_ROLE_ID) { ?>                                    
                    
                    <input onclick="startConversation();" type="button" class="btn_gen1" value="Start new conversation thread"/><br><br><br>
                    
                <?php } ?>                                   
                
                <!-- fin boton start -->


                <div class="structure_input01">
                    <div style="position: relative; float: left; width: 75%; height: 40px;">
                        <input id="txtSearchDiscussion" name="txtSearchDiscussion" type="text" class="in_style_04">
                        <span id="searchclear" class="search-clear-discussions glyphicon glyphicon-remove"></span>
                    </div>
                    <input id="btSearch" type="button" value="Search" class="search_btn_02" onclick="search()"><br><br><br>
                </div><!-- FIN  -->

                <ul class="discuss_filters">
                    <li id="filter_1" class="filter_active" onclick="filterList(1)">Recent</li>
                    <li id="filter_2" onclick="filterList(2)">Popular</li>
                    <li id="filter_3" onclick="filterList(3)">Following</li>
                    <li id="filter_4" onclick="filterList(4)">Mine</li>
                </ul>
                <div class="space-10px_btm_line"></div>
            
            </div>
            <div class="row no-margins scrollableContent listDiscussions">
                <div id="boxListDiscussions" class="col-md-12 no-margins algo">
               
                    <?php foreach ($this->array_discussions as $discussion){ ?>
                    
                        <?php if(!$discussion->isFollowing()){ ?>
                           
                           
                            
                             <div id="box_dis_<?php echo $discussion->getId() ?>" class="box_discuss">
                                <p class="gray_date"><?php echo Wejo_Action_Helper_Services::formatDate($discussion->getDate(), false) ?>
                                <div class="box_discuss_headContainer">
                                    <div class="box_discuss_pic">
                                         <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $discussion->getUser()->getPic() ?>" alt="<?php echo $discussion->getUser()->getName() ?>">
                                    </div>
                                    <h3><a href="#" style="font-size: 12pt" class="h3_oswald h3_oswald_small"><?php echo $discussion->getUser()->getName() ?></a></h3>
                                    <h2><a href="#" onclick="detailDiscussion(<?php echo $discussion->getId() ?>)" style="font-size: 14pt"><?php echo $discussion->getTitle() ?></a></h2>
                                </div><br>
                                 
                                 <input type="button" id="textFollowMe_<?php echo $discussion->getId() ?>" onclick="follow(true,<?php echo $discussion->getId() ?>)" class="btn_style_04" value="Follow"><br>
                                 <input type="button" style="display:none" id="textUnfollow_<?php echo $discussion->getId() ?>" onclick="follow(false,<?php echo $discussion->getId() ?>)" class="btn_style_04" value="Following" onmouseover="overUnfollow(this.id)" onmouseout="outUnfollow(this.id)"><br>     
                                 <p class="bottom_info"><span><label id="txtRepliesList_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountReplies() ?></label> Replies</span><span id="textCountFollow_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountFollowers() ?> Followers</span></p>
                             </div><!-- FIN BOX_DISCUSS -->
                             
                             
                             
                    
                        <?php }else{ ?>
                             
                             <div id="box_dis_<?php echo $discussion->getId() ?>" class="box_discuss box_discuss_follow">
                                <p class="gray_date"><?php echo Wejo_Action_Helper_Services::formatDate($discussion->getDate(), false) ?>
                                <div class="box_discuss_headContainer">
                                 <div class="box_discuss_pic">
                                     <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $discussion->getUser()->getPic() ?>" alt="<?php echo $discussion->getUser()->getName() ?>">
                                 </div>
                                 <h3><a href="#" style="font-size: 12pt" class="h3_oswald h3_oswald_small"><?php echo $discussion->getUser()->getName() ?></a></h3>
                                 <h2><a href="#" onclick="detailDiscussion(<?php echo $discussion->getId() ?>)" style="font-size: 14pt"><?php echo $discussion->getTitle() ?></a></h2>
                                </div><br>

                                 <input type="button" style="display:none" id="textFollowMe_<?php echo $discussion->getId() ?>" onclick="follow(true,<?php echo $discussion->getId() ?>)" class="btn_style_04" value="Follow"><br>
                                 <input type="button" id="textUnfollow_<?php echo $discussion->getId() ?>" onclick="follow(false,<?php echo $discussion->getId() ?>)" class="btn_style_04 btn_unfollow" value="Following" onmouseover="overUnfollow(this.id)" onmouseout="outUnfollow(this.id)"><br>     
                                 <p class="bottom_info"><span id="txtRepliesList_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountReplies() ?> Replies</span><span id="textCountFollow_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountFollowers() ?> Followers</span></p>
                             </div><!-- FIN BOX_DISCUSS -->
              
                        <?php } ?>
                        
                    <?php } ?>
                        
            </div>
        </div>
            
        </div><!-- CONTENT LEFT -->
        
        <div class="right60 right60_bg_gray boxDetailDiscussions scrollableDetailContent" style="display: none">

            
        </div>

    </div>
</div>

<script type="text/javascript">
    operations.hideSearcher();
</script>



