<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.flat.css'?>">
<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>    
<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">
<script type="text/javascript" src="/js/paged-scroll/jquery-paged-scroll.js"></script>

<div class="fixed-header elem-heigth">
    <div class="col-xs-12">

        <div class="col-xs-12 mess_head">
            <div class="anim-icon">
                <a href="javascript:void(0)" onclick="newDiscussion()">
                    <span>New discussion</span>
                    <img src="/images/animicon-chat.png" alt="New message">
                </a>
            </div>
        </div><!-- messages head -->
        
        <div class="col-xs-12 mess_table_searcher searcher_100 no-margins">
            <input id="searchDiscussion" type="text" placeholder="Search">
        </div>
    
        <div id="filters" class="row">
            <div class="col-xs-12 no-hor-paddin" style="border-bottom: 1px solid #E48C00; margin-bottom: 15px; overflow: hidden; height: 40px">
                <ul class="discuss_filters">
                    <li id="filter_1" data-filter="1" class="filter_active" onclick="filterList(1)">Recent</li>
                    <li id="filter_2" data-filter="2" onclick="filterList(2)">Popular</li>
                    <li id="filter_3" data-filter="3" onclick="filterList(3)">Following</li>
                    <li id="filter_4" data-filter="4" onclick="filterList(4)">Mine</li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- FIN fixed-header -->
    

<div id="listDiscussions" class="col-xs-12 mess_table row mess_table_container calculate-heigth" style="overflow-y: scroll;">

</div>

<script>
    
    operations.hideSearcher();
    
    $(document).ready(function() { 
        
        calculateHeight();
        
        filterList(1);
        
        $(window).resize(function() {
            var headerH = $(".elem-heigth").height();
            var scrollable = $(".calculate-heigth");
            var windowH = $(window).height();
            scrollable.height(windowH - headerH - 55);
        });

        $('#searchDiscussion').on("keypress", function(e) {
            if(e.keyCode == 13 && $('#searchDiscussion').val() != "") {
               search();
            }
        }); 
        
        $('#searchDiscussion').on("keyup", function(e) {
            if($('#searchDiscussion').val() == ""){
                filterList(1);
            }
        });
        
    });
    
    function calculateHeight(){
        var headerH = $(".elem-heigth").height();
        var scrollable = $(".calculate-heigth");
        var windowH = $(window).height();
        scrollable.height(windowH - headerH - 55);
    }
    
    function initScrollInfinite(){       
     
        noMoreContent = false;
        loadingContent = false;
        pageLoaded = 0;   

        $('#listDiscussions').paged_scroll({
            handleScroll:function (page,container,doneCallback) {
                
                pageLoaded++; 
                
                var keywords = $("#searchDiscussion").val();
                
                if(keywords == ""){
                    var extraUrl = 'method/filter/type/' + $(".filter_active").data('filter')+'/keywords/'+keywords;
                }else{
                    var extraUrl = 'method/search/keywords/'+keywords;
                }
                
                var url = '/main/discussions/'+extraUrl+'/list/1/page/' + pageLoaded;
               
                $.get(url, function(response) {
                    
                    var jsonPos = response.indexOf('{');
                    if (jsonPos === 0) {
                        
                        noMoreContent = true;
                        doneCallback();
                        return;
                    }

                    $('#listDiscussions').append(response); 

                }, 'html');
                                
            },
            triggerFromBottom:'1%',
            targetElement : $('#listDiscussions'),
            loading : {                
                html  : '<div style="text-align:center"><img style="opacity:0.7; height: 50px;" src="/images/spinner_scroll.gif"></div>',
            },
            pagesToScroll:50,  
            monitorTargetChange : true,
            beforePageChanged:function (page, container) {

                if(loadingContent || noMoreContent || waiting){
                    return false;
                }

                loadingContent = true;
                waiting = true;
                timerScroll = setInterval(function(){


                    clearInterval(timerScroll);
                    doneCallback();
                    //waiting = false;

                }, 10000);
                        
            },
            afterPageChanged:function (page, container) {
                
                 loadingContent = false;
            }
        });
        
    }
    
    function newDiscussion(){
        
        hideAllDivs();
        $('#divDiscuss').show();   
        var url = '/main/discussions/method/new';
        
        operations.showSpinner('Loading');
        
        $('#divDiscuss').load(url, function(){
            operations.hideSpinner();
        }); 
        
    }
    
    function filterList(type){
    
        $("#searchDiscussion").val("");

        var url = '/main/discussions/method/filter/type/'+type;

        $(".discuss_filters").find("li").removeClass("filter_active");

        $("#filter_"+type).addClass("filter_active");

        operations.showSpinner('Loading');

        $('#listDiscussions').load(url, function(){
            initScrollInfinite();
            operations.hideSpinner();
        });

    }
    
    function search(){
    
        var keywords = $("#searchDiscussion").val();

        var url = '/main/discussions/method/search/keywords/' + encodeURIComponent(keywords);

        $("#filter_1").removeClass("filter_active");
        $("#filter_2").removeClass("filter_active");
        $("#filter_3").removeClass("filter_active");
        $("#filter_4").removeClass("filter_active");
        
        operations.showSpinner('Loading');

        $('#listDiscussions').load(url, function(){
            $("#filters").hide();
            calculateHeight();
            setTimeout(function(){
                initScrollInfinite();
            },200);
            operations.hideSpinner();
        });
        
    }
    
</script>