<!--MESSAGE-->
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.flat.css'?>">
<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<div class="row mess_table_container">
    <div class="col-xs-12">
      
        <div class="col-xs-12 mess_head">
            <div class="row">
                <div class="col-xs-12 no-margins">
                    <div onclick="startNewMessage()" class="anim-icon-active">
                        <a href="#">
<!--                            <span>New message</span>-->
                            <img src="/images/animicon-chat.png" alt="New discussion">
                        </a>
                    </div>

                </div>
            </div>

            <div class="row" style="margin-top:35px">
                <div class="col-xs-12 no-margins">
                    <h2>NEW DISCUSSION THREAD</h2>
                </div>                    
            </div>

            <div class="row">
                <div class="col-xs-12" style="border-bottom: 1px solid #E48C00; overflow: hidden; height: 2px">
                </div>
            </div>

        </div>
        
        <div class="row">
            <div class="col-xs-12 no-margins">
                <div class="col-xs-1 mess_table_picture no-margins">
                    <img id="imageProfileHeader" src="<?php echo Main_Model_Url::getFullUrl() ?>/main/uploads/method/get.image?file=/thumbnail/<?php echo Main_Model_User::getSession(Main_Model_User::USER_PIC) ?>" class="user_Pic user_pic_fix">
                </div>
                
                <div class="col-xs-11 mess_table_mess" style="height: 360px" >   
                    <form id="formNewDiscussion" name="formNewDiscussion">    
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-9 col-md-10">
                                    <input type="text"maxlength="90" class="new_title" id="txtTitle" name="txtTitle" placeholder="Title">
                                </div>
                            </div>
                        </div>

                        <div class="mid-line"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <textarea id="txtDiscussion" name="txtDiscussion" class="new_message textarea_new_discussion" placeholder="What would you like to discuss?"><?php echo $this->meText?></textarea>
                            </div>                            
                        </div>

                        <div class="row" style="margin-top:20px;">
                            <div class="col-xs-12">
                                <input type="button" class="btn-send" value="Post" onclick="saveDiscussion()">
                                <p id="messageSaving" style="float: right; display: inline; color: #E48C00"></p>
                            </div>                            
                        </div>                     
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function saveDiscussion() {
        var url = '/main/discussions/';
        operations.save(formNewDiscussion, url, successNewDiscussion, showMessageError);
    }

    function successNewDiscussion(dis_response) {
        showDiscuss(4);
    }

    function showMessageError() {
        alertify.error("Server error, please try again");
    }

</script>