     
<script type="text/javascript" src="/js/modules/main/discussions/detail-discussion.js"></script>    

<div id="principalComment" class="principalComment">

    <div class="right60_02_header">
        <h2 class="h2_format1"><?php echo $this->discussion->getTitle() ?></h2>
    </div>

    <div id="boxChat2Ppal" class="box_chat2">
        <div class="box_chat2_pic">
            <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $this->discussion->getUser()->getPic() ?>" alt="<?php echo $this->discussion->getUser()->getName() ?>">
        </div>
        <h2><a href="#" class="h2_oswald h2_oswald_small"><?php echo $this->discussion->getUser()->getName() ?></a></h2><span class="chat_date"><?php echo Wejo_Action_Helper_Services::formatDate($this->discussion->getDate(), false) ?></span>
        <p><?php echo $this->discussion->getComment()->getText() ?></p><br>

        <div class="detail_comment">
            <span id="count_likes_<?php echo $this->discussion->getComment()->getId() ?>"><?php echo $this->discussion->getComment()->getCountLikes() ?></span>
            <img class="like_comment" src="/images/icon_like.png">
            
                <?php if($this->discussion->getComment()->getLikeUser()){ ?>
        
                    <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

                        <span><a id="text_undo_like_<?php echo $this->discussion->getComment()->getId() ?>" onclick="undoLike(<?php echo $this->discussion->getComment()->getId() ?>)">Unlike</a></span>

                    <?php } else { ?>                                   

                        <span><a id="text_undo_like_<?php echo $this->discussion->getComment()->getId() ?>" onclick="openModalPortal()">Unlike</a></span>

                    <?php } ?>          


                <?php }else{ ?>

                    <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

                        <span><a id="text_like_<?php echo $this->discussion->getComment()->getId() ?>" onclick="likeComment(<?php echo $this->discussion->getComment()->getId() ?>)">Like</a></span>

                    <?php } else { ?>                                   

                        <span><a id="text_like_<?php echo $this->discussion->getComment()->getId() ?>" onclick="openModalPortal()">Like</a></span>

                    <?php } ?>          


                <?php } ?>
            
                <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

                    <span class="reply_comment"><a onclick="comment()">Reply</a></span>

                <?php } else { ?>                                   
                    
                    <span class="reply_comment"><a onclick="openModalPortal()">Reply</a></span>
                    
                <?php } ?>            
                        
            
            <span><a class="see_comment" id="seeComment" href="#">hide</a></span>
        </div>
    </div>

</div>
<input id="btnPrincipalReply" name="btnPrincipalReply" type="button" class="btn_replies" value="Replies (<?php echo $this->discussion->getCountReplies() ?>)">

<div class="right60_interno detailDiscussion">
    
    <?php 
    
        foreach($this->comments as $comment){ 
            
        ?>
        
        

        <div id="box_comment_<?php echo $comment->getId() ?>" class="box_chat2 box_chat2_comments">
            <div class="box_chat2_pic">
                <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $comment->getUser()->getPic() ?>" alt="<?php echo $comment->getUser()->getName() ?>">
            </div>
            <h2><a href="#" class="h2_oswald h2_oswald_small"><?php echo $comment->getUser()->getName() ?></a></h2><span class="chat_date"><?php echo Wejo_Action_Helper_Services::formatDate($comment->getDate(),false) ?></span>
            <p><?php echo $comment->getText() ?></p><br>

            <div class="detail_comment">
                <span id="count_likes_<?php echo $comment->getId() ?>"><?php echo $comment->getCountLikes() ?></span>
                <img class="like_comment" src="/images/icon_like.png">
                
                
                <?php if($comment->getLikeUser()){ ?>
        
                    <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

                        <span><a id="text_undo_like_<?php echo $comment->getId() ?>" onclick="undoLike(<?php echo $comment->getId() ?>)">Unlike</a></span>

                    <?php } else { ?>                                   

                        <span><a id="text_undo_like_<?php echo $comment->getId() ?>" onclick="openModalPortal()">Unlike</a></span>

                    <?php } ?>          


                <?php }else{ ?>

                    <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

                        <span><a id="text_like_<?php echo $comment->getId() ?>" onclick="likeComment(<?php echo $comment->getId() ?>)">Like</a></span>

                    <?php } else { ?>                                   

                        <span><a id="text_like_<?php echo $comment->getId() ?>" onclick="openModalPortal()">Like</a></span>

                    <?php } ?>          


                <?php } ?>
                
                <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

                    <span class="reply_comment"><a onclick="reply(<?php echo $comment->getId() ?>)">Reply</a></span>

                <?php } else { ?>                                   
                    
                    <span class="reply_comment"><a onclick="openModalPortal()">Reply</a></span>
                    
                <?php } ?>     
                
                <span id="viewReply_<?php echo $comment->getId() ?>" class="reply_comment"><a onclick="viewReplies(<?php echo $comment->getId() ?>)">View Replies (<span id="txtCountReplies_<?php echo $comment->getId() ?>"><?php echo $comment->getCountReplies() ?></span>)</a></span>
            </div>
            
            <div id="box_replies_<?php echo $comment->getId() ?>"></div>
            
        </div>
        
        

    <?php } ?>
    
</div><!-- scrollable -->

<div class="message_write2_content">
    <form id="formComment" name="formComment">    
        <textarea id="txtComment" name="txtComment" placeholder="Send..." class="message_write2"></textarea>
        <input type="hidden" id="txtDisId" name="txtDisId" value="<?php echo $this->discussion->getId() ?>" />
        <input type="hidden" id="txtParentId" name="txtParentId" value="<?php echo $this->discussion->getComment()->getId() ?>" />
        
        <?php if (Main_Model_User::getSession(Main_Model_User::USER_ID)) { ?>                                    

            <input id="btnComment" onclick="newComment()" type="button" value="Send" class="btn_replay btn_disabled">

        <?php } else { ?>                                   
            
            <input id="btnComment" onclick="openModalPortal()" type="button" value="Send" class="btn_replay btn_disabled">

        <?php } ?>
        
        
    </form>
</div>





















