
<div id="newConversation" class="div_new_conversation">
    
    <form id="formStartConversation" name="formStartConversation">
    
        <h2>Title</h2>
        <div class="form_structure_full_width">
            <input class="in_style_full_width" type="text" id="txtTitle" name="txtTitle" placeholder="Enter title of discussion" />
        </div>

        <h2>Details</h2>
        <div class="form_structure_full_width">
            <textarea class="in_style_full_width" id="txtDiscussion" name="txtDiscussion" rows="5" cols="65" placeholder="Enter your opinion"></textarea>
        </div>
        <input onclick="saveConversation();" type="button" class="btn_gen1" value="Post!"/>
    
    </form>
    
</div>

<script type="text/javascript">

(function($) {
    
    $("#formStartConversation").submit(function() {
       return false;
    });

})(jQuery);

$(document).keydown(function (e) {
    if ($("#txtTitle:focus") && (e.keyCode == 13)) {
       saveConversation();
    }
 });

</script>
