<div class="box_discuss">
    <p class="gray_date"><?php echo Wejo_Action_Helper_Services::formatDate($this->dis_date, false) ?></p><br>
    <div class="box_discuss_pic">
        <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $this->user_pic ?>" alt="<?php echo $this->user_name ?>">
    </div>
    <h2><a href="#" onclick="detailDiscussion(<?php echo $this->dis_id ?>)" style="font-size: 14pt" class=""><?php echo $this->dis_title ?></a></h2><br>
    <h3><a href="#" style="font-size: 12pt" class="h3_oswald"><?php echo $this->user_name ?></a></h3>
    <input type="button" value="Follow" class="btn_style_04" onclick="follow(<?php echo $this->dis_id ?>)"><br>

    <p class="bottom_info"><span>0 Replies</span><span>0 Followers</span></p>
</div>