<div id="boxListDiscussions" class="col-md-12 no-margins algo">
<?php foreach ($this->array_discussions as $discussion) { ?>

    <?php if (!$discussion->isFollowing()) { ?>

        <div id="box_dis_<?php echo $discussion->getId() ?>" class="box_discuss">
            <p class="gray_date"><?php echo Wejo_Action_Helper_Services::formatDate($discussion->getDate(), false) ?>
            <div class="box_discuss_headContainer">
                <div class="box_discuss_pic">
                     <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $discussion->getUser()->getPic() ?>" alt="<?php echo $discussion->getUser()->getName() ?>">
                </div>
                <h3><a href="#" style="font-size: 12pt" class="h3_oswald h3_oswald_small"><?php echo $discussion->getUser()->getName() ?></a></h3>
                <h2><a href="#" onclick="detailDiscussion(<?php echo $discussion->getId() ?>)" style="font-size: 14pt"><?php echo $discussion->getTitle() ?></a></h2>
            </div>
            <br>
            <input type="button" id="textFollowMe_<?php echo $discussion->getId() ?>" onclick="follow(true,<?php echo $discussion->getId() ?>)" class="btn_style_04" value="Follow"><br>
            <input type="button" style="display:none" id="textUnfollow_<?php echo $discussion->getId() ?>" onclick="follow(false,<?php echo $discussion->getId() ?>)" class="btn_style_04" value="Following" onmouseover="overUnfollow(this.id)" onmouseout="outUnfollow(this.id)"><br>     
            <p class="bottom_info"><span><label id="txtRepliesList_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountReplies() ?></label> Replies</span><span id="textCountFollow_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountFollowers() ?> Followers</span></p>
         </div><!-- FIN BOX_DISCUSS -->

    <?php } else { ?>

        <div id="box_dis_<?php echo $discussion->getId() ?>" class="box_discuss box_discuss_follow">
            <p class="gray_date"><?php echo Wejo_Action_Helper_Services::formatDate($discussion->getDate(), false) ?>
            <div class="box_discuss_headContainer">
             <div class="box_discuss_pic">
                 <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $discussion->getUser()->getPic() ?>" alt="<?php echo $discussion->getUser()->getName() ?>">
             </div>
             <h3><a href="#" style="font-size: 12pt" class="h3_oswald h3_oswald_small"><?php echo $discussion->getUser()->getName() ?></a></h3>
             <h2><a href="#" onclick="detailDiscussion(<?php echo $discussion->getId() ?>)" style="font-size: 14pt"><?php echo $discussion->getTitle() ?></a></h2>
            </div>
            <br>
            <input type="button" style="display:none" id="textFollowMe_<?php echo $discussion->getId() ?>" onclick="follow(true,<?php echo $discussion->getId() ?>)" class="btn_style_04" value="Follow"><br>
            <input type="button" id="textUnfollow_<?php echo $discussion->getId() ?>" onclick="follow(false,<?php echo $discussion->getId() ?>)" class="btn_style_04 btn_unfollow" value="Following" onmouseover="overUnfollow(this.id)" onmouseout="outUnfollow(this.id)"><br>     
            <p class="bottom_info"><span id="txtRepliesList_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountReplies() ?> Replies</span><span id="textCountFollow_<?php echo $discussion->getId() ?>"><?php echo $discussion->getCountFollowers() ?> Followers</span></p>
        </div><!-- FIN BOX_DISCUSS -->

    <?php } ?>

<?php } ?>
                   
</div>

