<?php $service = new Wejo_Action_Helper_Services(); ?>

<div class="mid-line"></div>

<div class="row">
    <div class="col-xs-12 mess-discussion-reply-container">
        <div class="row">
            <div id="headChildrenReplies_<?php echo $this->reply->getId() ?>" data-id="<?php echo $this->reply->getId() ?>" class="col-md-12 no-margins mess-discussion-header" onclick="viewReplies(<?php echo $this->reply->getId() ?>,'false',<?php echo $this->reply->getDiscussion()->getId() ?>)">
                <div class="col-md-10 no-margins"><h3><?php echo $this->reply->getUser()->getName() ?></h3></div>
                <div class="col-md-2 no-margins"><p class="date-grey"><?php echo $service::formatDate($this->reply->getDate()) ?></p></div>
            </div>
        </div>
        <div id="contentChildrenReplies_<?php echo $this->reply->getId() ?>" style="display: none">
            <div class="row">
                <div class="col-md-12 no-margins mess-discussion-reply">
                    <p><?php echo $this->reply->getText() ?></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-margins mess-discussion-bottom">
                    <span id="textChildrenReplies_<?php echo $this->reply->getId() ?>" class="counters-replies">Reply</span>
                    <span id="counterChildrenReplies_<?php echo $this->reply->getId() ?>" class="counters-replies">0</span>
                    <input id="btnLike_<?php echo $this->reply->getId() ?>" type="button" class="btn_dislike" style="float: right" onclick="likeComment(<?php echo $this->reply->getId() ?>)">
                    <span id="boxCounterChildrenReplies_<?php echo $this->reply->getId() ?>"></span>
                    <span id="boxCounterChildrenlikes_<?php echo $this->reply->getId() ?>" class="counters-replies">0</span>
                </div>
                <div id="boxChildrenReplies_<?php echo $this->reply->getId() ?>" class="boxChildrenReplies"></div>
            </div>
        </div>
    </div>
</div>