
<!-- Scripts here -->

<script type="text/javascript" src="/js/dropdown/jquery-cascadingdropdown.js"></script>
<script type="text/javascript">
    
    function isInt(value) {
        return ! isNaN (value-0) && value !== null && value !== "" && value !== false;
    }

    function searchEmbassies(){

        var url = '/resource/embassies/method/get.embassy/ori_country_id/'+ori_country_id+'/res_country_id/'+res_country_id;

        $('#listEmbassies').load(url, function(){
            
            $(".originCountry").html($("#slOriginCountry option:selected").text());
            $(".residentCountry").html($("#slResidentCountry option:selected").text());
            
        });

    }
    
    var ori_country_id = 0;

    $('#form_embassies').cascadingDropdown({
        selectBoxes: [
            {
                selector: '.step1',
                source: function(request, response) {
                    $.getJSON('/resource/embassy.countries/method/get.origin.countries', null, function(data) {
                        var selectOnlyOption = data.length <= 1;
                        response($.map(data, function(item, index) {

                            return {
                                label: item.label,
                                value: item.value,
                                selected: selectOnlyOption
                            };
                        }));
                    });
                },
                onChange: function(event, value, requiredValues, requirementsMet) {
                    
                    if(isInt(value)){
                        ori_country_id = value;
                    }
                }
            },
            {
                selector: '.step2',
                requires: ['.step1'],
                requireAll: true,
                source: function(request, response) {
                    $.getJSON('/resource/embassy.countries/method/get.resident.countries/country_id/'+ori_country_id, null, function(data) {
                        var selectOnlyOption = data.length <= 1;
                        response($.map(data, function(item, index) {

                            return {
                                label: item.label,
                                value: item.value,
                                selected: selectOnlyOption
                            };
                        }));
                    });
                },
                onChange: function(event, value, requiredValues, requirementsMet) {
                    
                    if(isInt(value)){
                        res_country_id = value;
                        $("#btnSearchEmbassies").prop("disabled",false);
                    }
                    
                }
            }
        ]
    });

</script>


<div id="form_embassies" class="form_embassies">
    <select id="slOriginCountry" type="text" class="step1 in_embassies in_embassies_top">
        <option selected>EMBASSIES OF</option>
    </select>

    <select id="slResidentCountry" type="text" class="step2 in_embassies in_embassies_bottom" disabled>
        <option selected>EMBASSIES LOCATED IN</option>
    </select>

    <input id="btnSearchEmbassies" type="button" value="Search" class="btn_embassies" onclick="searchEmbassies()" disabled>

</div>

<div id="listEmbassies">
    
    
</div>