<div class="fixed-header elem-heigth">
    <div class="col-xs-12">
        <div class="col-xs-12 mess_head">
            <h2>FELLOWSHIPS</h2>
        </div><!-- messages head -->

        
        <div class="row">
            <div class="col-xs-12" style="border-bottom: 1px solid #E48C00; overflow: hidden;">
            </div>
        </div>
        
    </div>

</div><!-- FIN fixed-header -->

<!--<div class="row mess_table_container calculate-heigth">
    <div class="col-xs-12">
        <div id="table_connect"></div>
    </div>
</div>-->







<!--<div class="col-xs-12 mess_table no-margins">-->
<div class="row mess_table_container calculate-heigth">

    <div class="col-xs-12">

        <div class="col-xs-12 mess_table_head">                
            <div class="col-xs-5 col-md-5 txt-center"><p id="order_articles" data-order-name="user_count_articles" data-order-value="desc" class="order">NAME <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-3 col-md-3 txt-center"><p id="order_pictures" data-order-name="user_count_pictures" data-order-value="desc" class="order">LOCATION <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-3 col-md-3 txt-center"><p id="order_videos" data-order-name="user_count_videos" data-order-value="desc" class="order">DEADLINE <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-1 col-md-1"></div>
        </div>

    </div>       
    
    <div class="row no-margins topmargin-3">
        <div class="row no-margins">
            <div id="user_1" class="col-xs-12 drop-down no-margins" onclick="dropDown(1)">

                <div class="col-xs-12 mess_table_mess">
                    <div class="col-xs-5 col-md-5"><p>2015 Global Health Reporting Contest</p></div>
                    <div class="col-xs-3 col-md-3 txt-center"><p>United States</p></div>
                    <div class="col-xs-3 col-md-3 txt-center"><p>05/24/2015</p></div>
                    <div class="col-xs-1 col-md-1 txt-center"><p><a target="_blank" href="http://www.tfaforms.com/370510"><b>APPLY</b></a></p></div>
                </div>
            </div>
        </div>
    </div>
    
    
        <div id="content_1" class="row drop-down-element" style="display: none">
                <div class="col-xs-12 no-margins">
                    <div class="row">

                        <div class="col-xs-12 mess_table_body">
                            <div class="row" >
                                <div class="col-xs-12"><h2 class="biography">Description</h2></div>
                            </div>
                            <div class="col-xs-12">              
                                <p>
                                    
Journalists in Brazil, China, India, Russia and Sub-Saharan Africa have a chance to win a trip to the

United States and cash prizes as part of regional competitions to recognize the best media coverage of 

maternal and child health and other urgent health matters such as Ebola and vaccination.

Stories focusing on these topics published, broadcast or posted online in Brazil, China, India, Russia and 

Africa between Dec. 1, 2014, and May 24, 2015, qualify for the contest. The deadline for submitting 

stories is May 24, 2015.

<br>

Six winners will receive a cash prize and a 10-day study tour to the United States. Contest topics may 

include:

<br><br>

<b>•</b> Reducing maternal, infant and child mortality. <br>

<b>•</b> Reducing disease transmission from mother to child. <br>

<b>•</b> Preventing malnutrition. <br>

<b>•</b> Improving delivery of care and infrastructure for maternal and child health. <br>

<b>•</b> Responses to the Ebola epidemic. <br>

<b>•</b> Innovative approaches to delivery of vaccines.<br>

Journalists employed by print, broadcast or online media in each country qualify. The contest is also open 

to affiliated freelance journalists. Submitted work must have appeared in a media outlet based in each 

region or distributed mainly in the region. Submissions may be made in English, French (Africa), Hindi 

(India), Mandarin/Cantonese (China), Portuguese (Brazil), Russian (Russia). Submissions in other 

languages must include an English translation. Applicants may submit more than one entry.<br>

This program is modeled on the <a target="_blank" href="http://www.icfj.org/our-work/global-health-reporting-contest">2014 Global Health Reporting Contest</a>, with <a target="_blank" href="http://www.icfj.org/global-winners-reporting-contest-target-maternal-and-child-health-0">winners</a> from Brazil, China, 

India and Russia. It is made possible with the support of Johnson & Johnson.

To apply for this program in English, <a target="_blank" href="http://www.tfaforms.com/370510">click here</a>.<br><br>

Please join ICFJ for the <a target="_blank" target="https://ijnet.org/en/chats/ijnet-live-how-enter-global-health-reporting-contest">Global Health Reporting Webinar</a> on May 14th, 2015 at 9:00 a.m. EDT. For more 

information on the webinar, <a target="_blank" href="http://www.icfj.org/calendar/global-health-reporting-webinar">click here</a>.<br>

To apply for this program in English, <a target="_blank" href="http://www.tfaforms.com/370510">click here</a>.<br>

通过中文申请该项目，<a target="_blank" href="http://www.icfj.org/our-work/2015-global-health-reporting-contest-chinese">请点击这里。</a><br>

Pour postuler à ce programme en FRANÇAIS, <a target="_blank" href="http://www.icfj.org/our-work/2015-global-health-reporting-contest-frenc">cliquez ici</a>.<br>

इस प्रोग्राम में आवेदन करने के लिए यहां <a target="_blank" href="http://www.icfj.org/our-work/2015-global-health-reporting-contest-hind">क्लिक कीजिए।</a><br>

Para se candidatar a este programa em português, <a target="_blank" href="http://www.icfj.org/our-work/2015-global-health-reporting-contest-portuguese">clique</a><br>

Подать заявку на участие в программе на русском <a target="_blank" href="http://www.icfj.org/our-work/2015-global-russi">языке можно </a> <br><br><br>
                                                                        
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
    
    <div class="row no-margins topmargin-3">
        <div class="row no-margins">
            <div id="user_2" class="col-xs-12 drop-down no-margins" onclick="dropDown(2)">

                <div class="col-xs-12 mess_table_mess">
                    <div class="col-xs-5 col-md-5"><p>Scripps Howard Semester in Washington Internship Program</p></div>
                    <div class="col-xs-3 col-md-3 txt-center"><p>United States</p></div>
                    <div class="col-xs-3 col-md-3 txt-center"><p>05/25/2015</p></div>
                    <div class="col-xs-1 col-md-1 txt-center"><p><b><a target="_blank" href="https://www.tfaforms.com/341427">APPLY</a></b></p></div>
                </div>
            </div>
        </div>
    </div>    
    
    
    
    
        <div id="content_2" class="row drop-down-element" style="display: none">
                <div class="col-xs-12 no-margins">
                    <div class="row">

                        <div class="col-xs-12 mess_table_body">
                            <div class="row" >
                                <div class="col-xs-12"><h2 class="biography">Description</h2></div>
                            </div>
                            <div class="col-xs-12">              
                                <p>
                                    
The Scripps Howard Foundation Semester in Washington internship program brings two international

students per year to Washington, D.C., to work at the Scripps Howard News Service for a semester. The 

internship is designed to give international students an opportunity to cover events in the U.S. capital, as 

well as to report and write feature stories for the Scripps Howard Foundation Wire. Stories written by 

Scripps Howard interns may be published in newspapers across the United States.

The internship is open to undergraduate journalism or communications students who intend to pursue 

careers in journalism after graduation. Interns must be fluent in both spoken and written English. Interns 

who are selected in the program will work in one of two periods: January to April or September to 

December. <br><br>

The internship is sponsored by the Scripps Howard Foundation, which strives to advance the cause of a 

free press through support of excellence in journalism, quality journalism education and professional 

development. International participants in the program are recruited and selected by the International 

Center for Journalists, which provides training and other assistance to journalists across the globe.

The deadline to apply for the Fall 2015 internship is <b>Monday, May 25, 2015</b>. To apply, <a target="_blank" href="https://www.tfaforms.com/341427">click here</a>. <br><br>


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>    
    
    
    
    <div class="row no-margins topmargin-3">
        <div class="row no-margins">
            <div id="user_3" class="col-xs-12 drop-down no-margins" onclick="dropDown(3)">

                <div class="col-xs-12 mess_table_mess">
                    <div class="col-xs-5 col-md-5"><p>The Douglas Tweedale Memorial Fellowship</p></div>
                    <div class="col-xs-3 col-md-3 txt-center"><p>Latin America</p></div>
                    <div class="col-xs-3 col-md-3 txt-center"><p>07/06/2015</p></div>
                    <div class="col-xs-1 col-md-1 txt-center"><p><a target="_blank" href="https://www.tfaforms.com/370224"><b>APPLY</b></a></p></div>
                </div>
            </div>
        </div>
    </div>    
    
    
    
    
        <div id="content_3" class="row drop-down-element" style="display: none">
                <div class="col-xs-12 no-margins">
                    <div class="row">

                        <div class="col-xs-12 mess_table_body">
                            <div class="row" >
                                <div class="col-xs-12"><h2 class="biography">Description</h2></div>
                            </div>
                            <div class="col-xs-12">              
                                <p>

The Douglas Tweedale Memorial Fellowship helps Latin American journalists improve their digital skills in

specialty reporting in areas such as immigration, environment, science and technology or business and 

personal finance, through a three-week long program in the United States.

The fellowship program will begin with a three-day orientation and professional program for the 

participants in Washington, D.C. The agenda in Washington will focus on the fellows’ specialty reporting 

areas, including appointments with digital media experts, think tanks and top journalists who cover the 

issue. The journalists then will depart for a two-week assignment in the newsroom of a Spanish- or 

English-language media organization in the United States, where they will conduct reporting in the 

specialty area or will develop the project they proposed when they applied to the program. <br><br>

<b>Application and selection</b> <br>

The International Center for Journalists will offer the fellowship to two journalists from Latin America to 

enhance and polish their skills in the United States in the fall of 2015. We will look for early- to mid-career 

journalists working at independent news organizations, including print, radio, television or online media in 

Latin America who have an interest in new, digital media. They should be committed to excellent in 

journalism, journalism in a democratic society, and dedicated to developing strong professional skills. 

They should outline what specialized topical area of reporting they want to strengthen -- such as 

business, environmental, health and science -- and what technical skills they want to improve -- such as 

data visualization or customizing content for smart phones. Applicants should also propose a project that 

they wish to develop during the program. This might or might not include a reporting project.

Applicants must demonstrate enough proficiency in the English language to function and work in an 

English language environment. <br><br>

<b>Program Orientation</b>: October 14 - 16, 2015 <br>

<b>Program Attachment</b>: October 16 - 30, 2015 <br>

<b>Application deadline</b>: July 6, 2015 <br>

To apply, <a target="_blank" href="https://www.tfaforms.com/370224">click here.</a> <br><br>                                    
                                    
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>    
    

        </div>


    </div>

<script type="text/javascript">
    
    $(document).ready(function () {
        
        
        $(".content").css("overflow-y","hidden");
        $("#divMainBody").css("overflow-y","hidden");
        

        //calcular el alto del contenedor scrollable
        var headerH = $(".elem-heigth").height();
        var scrollable = $(".calculate-heigth");
        var windowH = $(window).height();

        $(window).resize(function() {
            var headerH = $(".elem-heigth").height();
            var scrollable = $(".calculate-heigth");
            var windowH = $(window).height();
            scrollable.height(windowH - headerH - 55);
        });
            
        function calculateHeight() {
            scrollable.height(windowH - headerH - 55);
        };
        
        calculateHeight();


    });
    
    function dropDown(user_id) {
        $("#content_"+user_id).slideDown();
        $("#user_"+user_id).attr('onclick', 'slide('+user_id+')');
    }
    
    function slide(user_id) {
        $("#content_"+user_id).slideUp();
        $("#user_"+user_id).attr('onclick', 'dropDown('+user_id+')');   
    }
    
   
</script>