<!--REMOVER AL INTEGRAR AL LAYOUT -->

<!--<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>-->
<!--<script src="<?php //echo $this->serverUrl() . '/polymer/bower_components/webcomponentsjs/webcomponents.min.js' ?>"></script>-->

<!--REMOVER AL INTEGRAR AL LAYOUT -->


<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-list/iron-list.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-card/paper-card.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-icon/iron-icon.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-icons/iron-icons.html' ?>">

<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-icon-button/paper-icon-button.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-button/paper-button.html'?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-fab/paper-fab.html'?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-styles/paper-styles.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/paper-dialog/paper-dialog.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/neon-animation/neon-animations.html' ?>">
<!--<link rel="import" href="<?php //echo $this->serverUrl() . '/polymer/elements/in-popup/in-popup.html'?>">-->




<!--<in-popup
    target-id="#formGrant"
    class="ancho">       
</in-popup>
-->


<dom-module id="x-collapse">
            
    <template class="items_grant">
                    
        <div class="layout horizontal">
            <div class="flex content-btn-new">
                <paper-fab class="blue button-animated" icon="add" title="New" tabindex="0"  onclick="newGrantClick()"></paper-fab>
            </div>
        </div>
            
            
        <style>
            :host {
                @apply(--layout-fit);
                @apply(--layout-vertical);
                @apply(--paper-font-common-base);
            }
            iron-list {
                //background-color: var(--paper-grey-200, #eee);
                background-color: white;
                padding-top: 1px;
                padding-bottom: 16px;
                --iron-list-items-container: {
                    max-width: 1000px;
                    margin: auto;
                    margin-top: 60px;
                    margin-bottom: 60px;
                    border-bottom: 1px solid #ddd;
                };
            }
            .item {
                a(--layout-horizontal);
                padding: 20px;
                background-color: white;
                border: 1px solid #ddd;
                cursor: pointer;
                margin-bottom: 10px;
            }
            .item:focus {
                outline: 0;
                //border-color: #666;
            }
            .pad {
                padding: 0 16px;
                @apply(--layout-flex);
                @apply(--layout-vertical);
            }
            .primary {
                font-size: 16px;
            }
            .primary:hover {
                color: #FC7108;
            }            
            .shortText, .longText, .firstLine {
                font-size: 14px;
            }
            .longText, .firstLine{
                color: gray;
                display: none;
            }
            .item:hover .shortText::after {
                content: ' [+]';
                color: gray;
            }
            .item.expanded:hover .shortText::after {
                content: '';
            }
            .item.expanded .longText, .item.expanded .firstLine{
                display: block;
                margin-top: 10px;
            }
            .item.expanded:hover .longText::after {
                content: ' [–]';
            }
            
            .container {
                display: flex;
            }
            .item-column {
                flex-grow: 1; /* default 0 */
                border:none;
            }
        </style>

        <iron-ajax 
            auto="{{reload}}"
            last-response="{{items}}"
            url="https://www.jouture.com/resource/index/method/grant.json" 
            method="GET">                
        </iron-ajax>
        

        <iron-list id="list" items="[[items]]" as="item" indexAs="gra_id">
            <template>
                <paper-card>
                <div on-tap="_collapseExpand">
                    <!--<div class$="[[getClassForItem(item, item.expanded)]]" tabindex="0">-->
                    <div class="item" tabindex="0">

                         <div class="pad">
                            <div class="container">
                                <div class="item-column primary">[[item.gra_title]]</div>
                                <div class="item-column primary">[[item.gra_location]]</div>
                                <div class="item-column primary">[[item.gra_deadline]]</div>
                                <div class="item-column primary">[[item.gra_amount]]</div>
                                <iron-icon class="item-column " icon="info"></iron-icon>
                            </div>
<!--                            <div class="shortText">[[item.gra_description]]</div>-->
                            <div class="firstLine">[[item.gra_focus]]</div>
                            <div class="longText">[[item.gra_description]]</div>                            
                        </div>

                        
                    </div>
                </div>
                </paper-card>
            </template>
        </iron-list>


    </template>

</dom-module>

<script type="text/javascript">
        
HTMLImports.whenReady(function () {

    Polymer({
        is: 'x-collapse',
        properties: {
            items: {
                type: Array
            },
            reload: {
                type: Boolean,
                value: false
            }            
        },
        _collapseExpand: function (e) {
                        
            var list = this.$.list;                        
            var index = e.model.index;
            var isExpanded = list.items[index].expanded;
            
            if(!isExpanded){
                $($('.item')[e.model.index]).addClass('expanded');
            }else{
                $($('.item')[e.model.index]).removeClass('expanded');
            }
            
            list.set('items.' + index + '.expanded', !isExpanded);
            list.updateSizeForItem(e.model.index);
        },
        iconForItem: function (item) {
            return item ? (item.integer < 50 ? 'star-border' : 'star') : '';
        },
        dataReceived: function(e) {                       
            this.data = [];
            var data = e.detail.response;
            //adds 10 items to the list every 3 seconds
            while (data.length > 0) {
                var items = data.splice(0, 10);
                this.async(function(items) {
                    items.forEach(function(item){
                        this.push('data', item);
                    }.bind(this));
                }.bind(this, items), (50-(data.length/10)) * 3000);
            }
        }        
    });

});

</script>

<!--    function newGrantClick(idObj, relObj){
        
        var popup = document.querySelector('in-popup');
        
        idObj || ( idObj = '' );
        relObj || ( relObj = '' );
        
        popup.setAttribute('object-id', '');
        popup.setAttribute('rel-obj', '');
        popup.resetUrl();
        
        if(idObj != '') {
            popup.setAttribute('object-id', idObj);
        }
        
        if(relObj != ''){
            popup.setAttribute('rel-obj', relObj);
            popup.editObject();
        }
        
        if(popup) popup.open();        
    }-->

<!--</script>-->




<x-collapse></x-collapse>