<!--<link rel="import" href="<?php //echo $this->serverUrl() . '/polymer/bower_components/polymer/polymer.html' ?>">-->
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-list/iron-list.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-ajax/iron-ajax.html' ?>">
<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/bower_components/iron-collapse/iron-collapse.html' ?>">



<style type="text/css">
    
/*iron-list {
 --iron-list-items-container: {
    margin: auto;
  };
}*/


      .heading {
        padding: 10px 15px;
        margin-top: 20px;
        background-color: #f3f3f3;
        border: 1px solid #dedede;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        text-align: left;
      }
      .content {
        padding: 15px;
        border: 1px solid #dedede;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

</style>

<div class="layout horizontal" id="divProfileContent">
    <div class="flex-2"></div>
    <div class="flex-5 middle-content">
        
        <h2>GRANTS AND SCHOLARSHIPS</h2>                
        
        
            <template is="dom-bind" class="item_list">
              <iron-ajax url="https://www.jouture.com/resource/index/method/grant.json" last-response="{{data}}" auto></iron-ajax>
              
              
                  
              <iron-list items="[[data]]" as="item" class="flex">                
                <template>
                  <div>                      
                      
    <button class="heading" aria-expanded$="[[isExpanded(item.opened)]]" aria-controls$="[[getItemId(item.gra_id)]]" onclick="toggle(this)">[[item.gra_title]]</button>
    <iron-collapse id$="[[getItemId(item.gra_id)]]" tabindex="0" opened="{{item.opened}}">
        
      <div class="content">
        <div>[[item.gra_description]]</div>
      </div>
    </iron-collapse>
                                          
                  </div>                  
                </template>
              </iron-list>
                  
              
              
               
              
                  
              
            </template>
        
        
        
    </div>
    <div class="flex-2"></div>
</div>



<!--
<template is="dom-bind">
    
    <button class="heading" aria-expanded$="[[isExpanded(opened1)]]" aria-controls="collapse1" onclick="toggle2('#collapse1')">Collapse #1</button>

    <iron-collapse id="collapse1" tabindex="0" opened="{{opened1}}">
      <div class="content">
        <div>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea, id minim maiestatis incorrupte duo. Dolorum verterem ad ius, his et nullam verterem. Eu alia debet usu, an doming tritani est. Vix ad ponderum petentium suavitate, eum eu tempor populo, graece sententiae constituam vim ex. Cu torquatos reprimique neglegentur nec, voluptua periculis has ut, at eos discere deleniti sensibus. Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea, id minim maiestatis incorrupte duo. Dolorum verterem ad ius, his et nullam verterem. Eu alia debet usu, an doming tritani est. Vix ad ponderum petentium suavitate, eum eu tempor populo, graece sententiae constituam vim ex. Cu torquatos reprimique neglegentur nec, voluptua periculis has ut, at eos discere deleniti sensibus.</div>
      </div>
    </iron-collapse>

    <button class="heading" aria-expanded$="[[isExpanded(opened2)]]" aria-controls="collapse2" onclick="toggle2('#collapse2')">Collapse #2</button>

    <iron-collapse id="collapse2" tabindex="0" opened="{{opened2}}">
      <div class="content">
        <div>Pro saepe pertinax ei, ad pri animal labores suscipiantur. Modus commodo minimum eum te, vero utinam assueverit per eu, zril oportere suscipiantur pri te. Partem percipitur deterruisset ad sea, at eam suas luptatum dissentiunt. No error alienum pro, erant senserit ex mei, pri semper alterum no. Ut habemus menandri vulputate mea. Feugiat verterem ut sed. Dolores maiestatis id per. Pro saepe pertinax ei, ad pri animal labores suscipiantur. Modus commodo minimum eum te, vero utinam assueverit per eu, zril oportere suscipiantur pri te. Partem percipitur deterruisset ad sea, at eam suas luptatum dissentiunt. No error alienum pro, erant senserit ex mei, pri semper alterum no. Ut habemus menandri vulputate mea. Feugiat verterem ut sed. Dolores maiestatis id per.</div>

        <button class="heading" aria-expanded$="[[isExpanded(opened3)]]" aria-controls="collapse3"  onclick="toggle2('#collapse3')">Collapse #3</button>

        <iron-collapse id="collapse3" tabindex="0" opened="{{opened3}}">
          <div class="content">
            <div>Iisque perfecto dissentiet cum et, sit ut quot mandamus, ut vim tibique splendide instructior. Id nam odio natum malorum, tibique copiosae expetenda mel ea. Mea melius malorum ut. Ut nec tollit vocent timeam. Facer nonumy numquam id his, munere salutatus consequuntur eum et, eum cotidieque definitionem signiferumque id. Ei oblique graecis patrioque vis, et probatus dignissim inciderint vel. Sed id paulo erroribus, autem semper accusamus in mel. Iisque perfecto dissentiet cum et, sit ut quot mandamus, ut vim tibique splendide instructior. Id nam odio natum malorum, tibique copiosae expetenda mel ea. Mea melius malorum ut. Ut nec tollit vocent timeam. Facer nonumy numquam id his, munere salutatus consequuntur eum et, eum cotidieque definitionem signiferumque id. Ei oblique graecis patrioque vis, et probatus dignissim inciderint vel. Sed id paulo erroribus, autem semper accusamus in mel.</div>
          </div>
        </iron-collapse>
      </div>
    </iron-collapse>
</template>-->








<div class="fixed-header elem-heigth">
    <div class="col-xs-12">
        <div class="col-xs-12 mess_head">
            <h2>GRANTS AND SCHOLARSHIPS</h2>
        </div><!-- messages head -->

        
        <div class="row">
            <div class="col-xs-12" style="border-bottom: 1px solid #E48C00; overflow: hidden;">
            </div>
        </div>
        
    </div>

</div>

<div class="row mess_table_container calculate-heigth">
    
    
    <div class="col-xs-12">

        <div class="col-xs-12 mess_table_head">                
            <div class="col-xs-5 col-md-3 txt-center"><p data-order-name="" data-order-value="desc" class="">GRANT NAME <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-2 col-md-2 txt-center"><p data-order-name="" data-order-value="desc" class="order">LOCATION <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-2 col-md-2 txt-center"><p data-order-name="" data-order-value="desc" class="">FOCUS <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-1 col-md-2 txt-center"><p data-order-name="" data-order-value="desc" class="">AMOUNT <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-1 col-md-2 txt-center"><p data-order-name="" data-order-value="desc" class="">DEADLINE <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
<!--            <div class="col-xs-3 col-md-3 txt-center"><p data-order-name="" data-order-value="desc" class="order">LINK <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>-->
            <div class="col-xs-1 col-md-1"></div>
        </div>

    </div>  
    
    
    <?php
        
        foreach($this->grants as $grant){    
            
            $date = new DateTime();
            $date->setTimestamp($grant->gra_deadline);
            $deadline = $date->format('Y-m-d');
            
    ?>
    
    
    <div class="row no-margins topmargin-3">
        <div class="row no-margins">
            <div id="user_1" class="col-xs-12 drop-down no-margins" onclick="dropDown(1)">

                <div class="col-xs-12 mess_table_mess">
                    <div class="col-xs-3"><p><?php echo $grant->gra_title ?></p></div>
                    <div class="col-xs-2 txt-center"><p><?php echo $grant->gra_location ?></p></div>
                    <div class="col-xs-2 txt-center"><p><?php echo $grant->gra_focus ?></p></div>
                    <div class="col-xs-2 txt-center"><p><?php echo $grant->gra_amount ?></p></div>
                    <div class="col-xs-2 txt-center"><p><?php echo $deadline ?></p></div>
                    <div class="col-xs-1 txt-center"><p><a target="_blank" href="'<?php echo $this->gra_url ?>'"><b>info</b></a></p></div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="content_1" class="row drop-down-element" style="display: none">
        <div class="col-xs-12 no-margins">
            <div class="row">

                <div class="col-xs-12 mess_table_body">
                    <div class="row" >
                        <div class="col-xs-12"><h2 class="biography">Summary</h2></div>
                    </div>
                    <div class="col-xs-12">              
                        <p>

                            <?php echo $grant->gra_description ?>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <?php
    
        }
    ?>
    
    
<script type="text/javascript">
    

    function _computeid(item){
        console.log(item);
        return 'item' + item.id;
    }

    function toggle(button) {
        var itemId = $(button).attr('aria-controls');                
        document.querySelector('#'+itemId).toggle();
    }
    
    function toggle2(selector) {
        document.querySelector(selector).toggle();
    }    
    
    document.querySelector('template[class=item_list]').isExpanded = function(opened) {        
        return String(opened);
    };    

    document.querySelector('template[class=item_list]').getItemId = function(itemId) {
        return 'item' + itemId;
    };    


    $(document).ready(function () {
        
        //$(".content").css("overflow-y","hidden");
        //$("#divMainBody").css("overflow-y","hidden");
        

        //calcular el alto del contenedor scrollable
        var headerH = $(".elem-heigth").height();
        var scrollable = $(".calculate-heigth");
        var windowH = $(window).height();

        $(window).resize(function() {
            var headerH = $(".elem-heigth").height();
            var scrollable = $(".calculate-heigth");
            var windowH = $(window).height();
            scrollable.height(windowH - headerH - 55);
        });
            
        function calculateHeight() {
            scrollable.height(windowH - headerH - 55);
        };
        
        calculateHeight();


    });
    
    function dropDown(user_id) {
        $("#content_"+user_id).slideDown();
        $("#user_"+user_id).attr('onclick', 'slide('+user_id+')');
    }
    
    function slide(user_id) {
        $("#content_"+user_id).slideUp();
        $("#user_"+user_id).attr('onclick', 'dropDown('+user_id+')');   
    }
    
   
</script>