<!--RESOURCES - INDEX-->
<!--RESOURCES - INDEX-->
<!--RESOURCES - INDEX-->


<link rel="import" href="<?php echo $this->serverUrl() . '/polymer/elements/in-list-card/in-list-card.html' ?>">


  
  
<div class="row">
    <div id="containerIcons" class="col-md-12"><!-- IMPORTANTE: al hacer click sobre algunos de los iconos, se debe eliminar la clase "col-md-12" y reemplazar por "col-md-6". Además se debe colocar: style="border-right: 1px solid #e8e8e8;"-->

    <div id="divResourceIcons" >
        
        <ul class="icon_menu_emb"><!-- IMPORTANTE: al hacer click sobre algunos de los iconos, se debe añadir la clase "split_screen"-->
            
            <li id="btnGrant" class="icon_emb icon_emb_emb" onclick="onIconGrantClick(this.id)">
                <a href="#" class="btn_grill">
                   
                    <div class="icon_images icon_img_grant"></div>
                    <p><span class="icon-description">Grants</span></p>
                    <h3>Grants & Scholarships</h3>
                </a>
            </li>
            
            <li id="btnEmbassies" class="icon_emb icon_emb_emb" onclick="onIconEmbassiesClick(this.id)">
                <a href="#" class="btn_grill">
                   
                    <div class="icon_images icon_img_emb"></div>
                    <p><span class="icon-description">All over the world</span></p>
                    <h3>Embassies</h3>
                </a>
            </li>
            
            <li id="btnVisas" class="icon_emb icon_emb_emb" onclick="onIconVisasClick(this.id)">
                <a href="#" class="btn_grill">
                   
                    <div class="icon_images icon_img_visa"></div>
                    <p><span class="icon-description">Requirements and restrictions</span></p>
                    <h3>Visas</h3>
                </a>
            </li>
            
            <li class="icon_emb icon_emb_emb">
                <a href="#" class="btn_grill">
                   
                    <div class="icon_images icon_img_journalist"></div>
                    <p><span class="icon-description">Coming soon</span></p>
                    <h3>Training</h3>
                </a>
            </li>
            
            <li id="btnFellowship" class="icon_emb icon_emb_emb" onclick="onIconFellowshipClick(this.id)">
                <a href="#" class="btn_grill">
                   
                    <div class="icon_images icon_img_fellowship"></div>
                    <p><span class="icon-description">Fellowships for ICFJ</span></p>
                    <h3>Fellowships</h3>
                </a>
            </li>
                       
            
        </ul>
        <!--<input type="button" value="ICONO Embassies" class="" onclick="onIconEmbassiesClick()">-->

    </div>
    </div><!-- FIN COL-MD-6 -->


    


    <!-- IMPORTANTE: al hacer click sobre algunos de los iconos, se debe colocar esta capa en "display: block"-->

    <paper-card id="divResourcesContent" class="col-xs-12" style="display:none; background-color: #FFF">

        <!--<div id="divResourcesContent">-->
            
            
        <in-list-card></in-list-card>
<!--        <div class="layout horizontal">
            <in-list-card></in-list-card>
        </div>-->
            

            
        <!--</div>-->
        
    </paper-card><!-- FIN COL-MD-6 -->

    
    
</div><!-- FIN ROW -->


<script type="text/javascript">
    
    operations.showSearcher();
    //$(".content").css("overflow-y","auto");
    //$("#divMainBody").css("overflow-y","auto");
        
    $('document').ready(function() {
        
        resizeScreen();
        
        $(window).resize(function() {
            
            resizeScreen();
            
        });
     
    });
    
    function resizeScreen(){
        
        var windowWidth = $(window).width();
            
        if(windowWidth >= 991 && windowWidth <= 1150){

            $(".icon-description").hide();
            $(".icon_emb_emb h3").css("margin-top",0);

        }else{

            $(".icon-description").show();
            $(".icon_emb_emb h3").css("margin-top","8px");
        }
        
    }
    
    function changeScreen(id){
        
        $("#containerIcons").hide();        
        //$("#containerIcons").removeClass("col-md-12");
        //$("#containerIcons").addClass("col-md-2").fadeIn("slow");
        
        $("#divResourcesContent").css("display","block").fadeIn("slow");
        
        var element = $("#"+id);
        
        $(".icon_menu_emb").find("li").removeClass("icon_emb_hover");
        
        element.parent().addClass("split_screen");
        element.addClass("icon_emb_hover");
    }
    
    function onIconEmbassiesClick(id){
        var url = '/resource/index/method/embassy';
        $('#divResourcesContent').load(url); 
        changeScreen(id);
    }
    
    function onIconVisasClick(id){
        var url = '/resource/index/method/visa';
        $('#divResourcesContent').load(url);  
        changeScreen(id);
    }
    
    function onIconFellowshipClick(id){
        var url = '/resource/index/method/fellowship';
        $('#divResourcesContent').load(url);  
        changeScreen(id);
    }    
  
  
    function onIconGrantClick(id){
        
        // TODO: en lugar de hacer un load, tengo que disparar el evento que inicializa el 
        //elemento polymer, la llamada ajax. En el response de la llamada, esta el metodo que 
        // cargar el inner html con el contenido de la respuesta
        
//        var url = '/resource/index/method/grant';
//        $('#divResourcesContent').load(url);
        changeScreen(id);
        document.querySelector('iron-list').fire('iron-resize');
    }
    
</script>