
<!-- Scripts here -->

<script type="text/javascript" src="/js/dropdown/jquery-cascadingdropdown.js"></script>
<script type="text/javascript">
    
    function isInt(value) {
        return ! isNaN (value-0) && value !== null && value !== "" && value !== false;
    }

    function searchVisas(){

        var url = '/resource/visas/method/get.visas/vi_na_id/'+vi_na_id;
        
        $.get(url, function(response){
            
            var response = $.parseJSON(response);
            
            $("#mapVisas").attr("src", response.data.url);
            $("#conteinerMapVisas").css("display", "block");
            
        });
                
    }
    
    var vi_na_id = 0;

    $('#form_visas').cascadingDropdown({
        selectBoxes: [
            {
                selector: '.step1',
                source: function(request, response) {
                    $.getJSON('/resource/visa.nationalities/method/get.nationalities', null, function(data) {
                        var selectOnlyOption = data.length <= 1;
                        response($.map(data, function(item, index) {

                            return {
                                label: item.label,
                                value: item.value,
                                selected: selectOnlyOption
                            };
                        }));
                    });
                },
                onChange: function(event, value, requiredValues, requirementsMet) {
                    
                    if(isInt(value)){
                        vi_na_id = value;
                        $("#btnSearchVisa").prop("disabled",false);
                    }
                }
            }
        ]
    });

</script>


<div id="form_visas" class="form_embassies">
    <select id="slNationalities" type="text" class="step1 in_embassies in_embassies_top">
        <option selected>NATIONALITIES</option>
    </select>
    <input id="btnSearchVisa" type="button" value="Search" class="btn_embassies" onclick="searchVisas()" disabled>
    
</div>

<div id="conteinerMapVisas" style="display: none">
    <img id="mapVisas" scr="" style="width: 100%">
</div>