<?php foreach($this->comments as $comment){ ?>

<div id="comment_<?php echo $comment['com_id'] ?>" class="comment_box">
    <div class="user_pic_content_small pointer" onclick="goProfileJournalist('<?php echo $comment['com_user_id'] ?>')" href="#">
        <div class="user_pic_small"><img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $comment['com_user_pic'] ?>"></div>
    </div>

    <div class="comment">
        <div class="date_comment">
            <?php echo Wejo_Action_Helper_Services::formatDate($comment['com_date']); ?>
        </div>

        <div class="text_comment">
            <?php echo $comment['com_text'] ?>
        </div>

    </div>  

    <div class="detail_comment">
        <span id="count_likes_<?php echo $comment['com_id'] ?>"><?php echo $comment['com_count_likes'] ?></span>
        <img class="like_comment" src="/images/icon_like.png">
        
        <?php if($comment['com_like_user']){ ?>
        
            <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

                <span><a id="text_undo_like_<?php echo $comment['com_id'] ?>" onclick="undoLike(<?php echo $comment['com_id'] ?>)">Unlike</a></span>

            <?php } else { ?>                                   

                <span><a id="text_undo_like_<?php echo $comment['com_id'] ?>" onclick="openModalPortal()">Unlike</a></span>

            <?php } ?>          
            
        
        <?php }else{ ?>
            
            <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

                <span><a id="text_like_<?php echo $comment['com_id'] ?>" onclick="likeComment(<?php echo $comment['com_id'] ?>)">Like</a></span>

            <?php } else { ?>                                   

                <span><a id="text_like_<?php echo $comment['com_id'] ?>" onclick="openModalPortal()">Like</a></span>

            <?php } ?>          
            
        
        <?php } ?>
        
        <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    

            <span class="reply_comment"><a onclick="reply(<?php echo $comment['com_id'] ?>)">Reply</a></span>

        <?php } else { ?>                                   

            <span class="reply_comment"><a onclick="openModalPortal()">Reply</a></span>

        <?php } ?>          
                
    </div>
    
    <div id="comment_replies">
    
    <?php if(!is_null($comment['com_replies'])){ ?>
                   
        <?php foreach($comment['com_replies'] as $reply){ ?>

                <div class="reply_box">
                    <div class="user_pic_content_small pointer" onclick="goProfileJournalist('<?php echo $reply['rep_user_id'] ?>')" href="#">
                        <div class="user_pic_small"><img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $reply['rep_user_pic'] ?>"></div>
                    </div>

                    <div class="comment">
                        <div class="date_comment">
                            <?php echo Wejo_Action_Helper_Services::formatDate($reply['rep_date']); ?>
                        </div>

                        <div class="text_comment">
                            <?php echo $reply['rep_text'] ?>
                        </div>

                    </div>  

                    <div class="detail_comment">
                        <span id="count_likes_<?php echo $reply['rep_id'] ?>"><?php echo $reply['rep_count_likes'] ?></span>
                        <img class="like_comment" src="/images/icon_like.png">
                        
                        
                        <?php if($reply['rep_like_user']){ ?>
                            <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    
        
                                <span><a id="text_undo_like_<?php echo $reply['rep_id'] ?>" onclick="undoLike(<?php echo $reply['rep_id'] ?>)">Unlike</a></span>
                                
                            <?php } else { ?>                                   
                                
                                <span><a id="text_undo_like_<?php echo $reply['rep_id'] ?>" onclick="openModalPortal()">Unlike</a></span>
                                
                            <?php } ?>          

                        <?php }else{ ?>

                            
                            <?php if(Main_Model_User::getSession(Main_Model_User::USER_ID)){ ?>                                    
        
                                <span><a id="text_like_<?php echo $reply['rep_id'] ?>" onclick="likeComment(<?php echo $reply['rep_id'] ?>)">Like</a></span>
                                
                            <?php } else { ?>                                   
                                
                                <span><a id="text_like_<?php echo $reply['rep_id'] ?>" onclick="openModalPortal()">Like</a></span>
                                
                            <?php } ?>          
                            
                            

                        <?php } ?>
                        
                        
                    </div>

                </div>  
                                            
      <?php } 
    
            if($comment['com_count_replies'] > 3){
      
      ?>
            
        <a id="btn_more_replies_<?php echo $comment['com_id'] ?>" class="btn_more_replies" onclick="getMoreReplies(<?php echo $comment['com_con_id'].",".$comment['com_id'] ?>)">Load more</a> 
        
      <?php } ?>
        
    <?php } ?>

    </div>  
    
</div>

<?php } ?>