<div class="new_reply">
    <div class="user_pic_content_small pointer" onclick="goProfileJournalist(<?php echo $this->user_id ?>)" href="#">
        <div class="user_pic_small"><img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $this->user_pic ?>"></div>
    </div>
    <div class="new_comment">
        <form id="formReply" class="form_comment">    
            <input type="hidden" name="txtParentId" id="txtParentId">
            <textarea name="txtCommentReply" id="txtCommentReply" oninput="verifyText(this.id,'btn_disabled_2')" cols="70" rows="1" placeholder="Add your comment"></textarea>
            <a class="btn_reply btn_disabled_2" id="btnReply" name="btnReply" onclick="saveReply(<?php echo $this->com_id ?>)">Comment</a>
        </form>
    </div> 
</div>