<?php foreach($this->replies as $reply){ ?>

    <div class="reply_box">
        <div class="user_pic_content_small pointer" onclick="goProfileJournalist('<?php echo $reply['rep_user_id'] ?>')" href="#">
            <div class="user_pic_small"><img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $reply['rep_user_pic'] ?>"></div>
        </div>

        <div class="comment">
            <div class="date_comment">
                <?php echo Wejo_Action_Helper_Services::formatDate($reply['rep_date']); ?>
            </div>

            <div class="text_comment">
                <?php echo $reply['rep_text'] ?>
            </div>

        </div>  

        <div class="detail_comment">
            <span id="count_likes_<?php echo $reply['rep_id'] ?>"><?php echo $reply['rep_count_likes'] ?></span>
            <img class="like_comment" src="/images/icon_like.png">

            <?php if($reply['rep_like_user']){ ?>

                <span><a id="text_undo_like_<?php echo $reply['rep_id'] ?>" onclick="undoLike(<?php echo $reply['rep_id'] ?>)">Unlike</a></span>

            <?php }else{ ?>

                <span><a id="text_like_<?php echo $reply['rep_id'] ?>" onclick="likeComment(<?php echo $reply['rep_id'] ?>)">Like</a></span>

            <?php } ?>


        </div>
    </div>

<?php } ?>