/*
Theme Name: Reposter
Version: 1.9
Tags: black, white, two-columns, fixed-layout, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, editor-style
Description: Reposter is a journalist theme designed to take massive amounts of content and present it to the reader in a clear and structured manner. It has a typographical hierarchy, strict grid and a clean layout that gives each element just enough room to breath. Reposter includes everything you need to bring your webblog online. This Theme is very easy to use and doesn't let anything get in the way of its functional and structured layout. If you are looking for an all-in-one solution for your new journalist blog IT review or event information, then Reposter is the theme for you. Check out the demo version of Reposter at http://bestwebsoft.com/wordpress_demo_theme/reposter/
Author: the BestWebSoft team
Author URI: https://github.com/bestwebsoft
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.en.html
Theme URI: http://bestwebsoft.com/theme/reposter
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
/* remember to define focus styles! */
:focus {
	outline: 0;
}
html {
	height:100%;
}
body {
	line-height: 1;
	margin: 0;
	font-family: opensans;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 auto;
	font-family: opensans;
}
caption {
	padding-bottom: 10px;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

/*blockquote*/
blockquote p:after,
blockquote p:before {
	content: "\"";
}
a img {
	border: 0;
}
a {
	color:#f47b56;
	text-decoration:none;
}
blockquote {
	margin:0;
}
article, 
aside, 
details, 
figcaption, 
figure,
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}
/*=================styles====================*/
@font-face {
font-family:cuprum;
	src: url('fonts/cuprum.eot?#iefix') format('embedded-opentype'),
	url('fonts/cuprum.ttf') format('truetype'),
	url('fonts/cuprum.woff') format('woff'),
	url('fonts/cuprum.svg#cuprum') format('svg');
}
@font-face {
font-family:oswald;
	src: url('fonts/oswald.eot?#iefix') format('embedded-opentype'),
	url('fonts/oswald.ttf') format('truetype'),
	url('fonts/oswald.woff') format('woff'),
	url('fonts/oswald.svg#oswald') format('svg');
}
@font-face {
	font-family:opensans;
	src: url('fonts/open_sans.eot?#iefix') format('embedded-opentype'),
	url('fonts/open_sans.ttf') format('truetype'),
	url('fonts/open_sans.woff') format('woff'),
	url('fonts/open_sans.svg#open_sans') format('svg');
}
hr {
	margin:0;
}
body ul {
	margin:0;
	padding:15px;
}
sup, sub , .special_text {
	color:#999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:oswald;
}
table th,
td {
	padding:8px;
	font-size:13px;
}
body a:link {
	text-decoration:none;
}
input[type ='button'],
input[type ='submit'],
input[type ='reset'] {
	cursor:pointer;
}
.alignright { }
.alignleft { }
.bypostauthor { }
.aligncenter { }
.gallery-caption { }
.sticky { }
.wp-caption-text { }
.previous-image {
	float:left;
}
.next-image {
	float:right!important;
}
.attachment img {
	display:block;
	margin:0 auto;
	margin-top:30px; 
}
.reposter_cont ul li {
	line-height:19px;
}
address {
	line-height:1.5;
	padding-bottom:10px;
	font-family:opensans;
}
pre {
	overflow:auto;
	font-size:11px;
	color:#555;
	line-height:24px;
	margin-right:19px;
	border:1px solid #ccc;
	padding:13px 0 19px 19px;
	margin-bottom:14px;
	margin-top:-2px;
	font-family:opensans;
}
/*=========styles for IE7-8==========*/
.ie7 .widget_recent_entries {
	margin-top:1px;
}
.ie7 .searchform input[type='submit'],
.ie8 .searchform input[type='submit'] {
	width:95px;
}
.ie7 .reposter_widget_search input[type='text'],
.ie8 .reposter_widget_search input[type='text'] {
	width:182px;
	padding-top:12px;
	height:28px;
}
.ie8 .attachment-thumbnail{
	height:120px!important;
}

/*===============Header===============*/
#reposter_wrapper-content {
	width:100%;
	min-height:100%;
}
.reposter_white {
	width:100%;
	border-bottom:1px solid #ccc;
	background-color:#fff;
}
#reposter_header-container {
	width:940px;
	margin:0 auto;
	clear:both;
}
#reposter_header #reposter_hgroup,
#navigation {
	float:left;
}
#reposter_header-image {
	overflow: hidden;
	width: 100%;
}
#reposter_header .menu {
	padding-bottom:0;
	margin-top:0;
	padding:12px;
}
#reposter_header {
	word-wrap: break-all;
}
#reposter_header ul > li {
	margin-top:9px;
}
#reposter_header ul > li ul li {
	margin-top:0;
}
.reposter_clear {
	clear:both;
}
#reposter_hgroup div .reposter_site-title, 
.reposter_site-description {
	margin:0;
	font-weight:lighter;
}
#block {
	padding-bottom:51px;
}
#reposter_hgroup div {
	float:left;
}
#reposter_hgroup {
	padding:20px 10px;
	width:340px;
}
.reposter_site-title {
	color:#444444;
	font-size:18px;
	font-family:oswald;
}
.reposter_site-description {
	padding-top:4px;
	padding-left:3px;
	color:#cccccc!important;
	font-size:13px;
	font-family:opensans;
}
/*=========Menu=========*/
.menu-navigation-container {
	width:577px;
	float:right;
}
#navigation {
	width:600px;
}
.menu {
	float:right;
	margin-top:9px;
	position:relative;
	width:550px;
}
.menu ul {
	float:right;
	z-index:1000;
}
.menu li {
	list-style-type:none;
	float:left;
	padding-left:28px;
	font-size:13px;
	position:relative;
}
.fix_side {
	margin-bottom:290px;
}
.li-hover {
	height: 33px;
	left: -20px;
	position: absolute;
	top: 19px;
	width: 153px;
}
.menu li a {
	color:#444;
}
.post-results {
	padding-bottom:23px;
	font-family:opensans!important;
}
.reposter_nothing_results {
	margin-top:10px;
}
#reposter_main_content {
	margin-top:20px;
}
#reposter_header .menu li a:hover {
	color:#b5b5b5;
}
.menu li:hover > ul, 
.menu li:hover > .wrap_sub > ul {
	display:block;
}
.menu ul li ul {
	background-color:#fff;
	padding:0;
	position:absolute;
	display:none;
	right:0px;
	top:35px;
	z-index:1000;
	border:1px solid #cccccc;
	border-radius:5px;
	padding:10px 0;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	width:200px;
}
.menu li ul li {
	float:none;
	height:auto;
	width:160px;
	padding: 10px 20px 12px;
}
.menu li ul li ul {
	position: absolute;
	left: 195px;
	top: 10px;
	z-index: 1000;
}
.page_item {
	padding-bottom: 10px;
}
#reposter_header-container .menu li ul li:hover {
	background-color: #e5e5e5;
}
#reposter_header-container .menu li ul li:hover > a {
	color:#b5b5b5;
}
.indicator {
	background: url( 'images/indicator.png' ) no-repeat 0 0;
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 44px;
	left: 170px;
}
.children {
	z-index: 1000;
}
.sub-menu {
	background-color: #fff;
	padding: 0;
	position: absolute;
	top: 45px;
	right: 0px;
	display: none;
	z-index: 110;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px 0;
	behavior: url( '/wp-content/themes/reposter/js/pie.htc' );
	width:200px!important;
}
#reposter_header .current_page_item > a {
	color: #B5B5B5 !important;
}
#nav-below div {
	font-family: opensans;
	padding-bottom: 20px;
}
.nav-previous {
	float: left;
	text-align: left;
	width: 250px;
}
.nav-next {
	float: right;
	text-align: right;
	padding-bottom: 15px;
	width: 250px;
	text-align: right;
}
.navigation {
	width: 558px;
	margin-top: 10px;
}
#reposter_nav-pages #next-page a {
	float: right;
	padding: 10px;
	font-family: opensans;
}
#reposter_nav-pages #pre-page a {
	float: left;
	padding: 10px;
	font-family: opensans;
}
.sub-menu li {
	position: relative;
}
.wrap_sub {
	position: relative;
	right: 394px;
	top: 8px;
}
.widheigh {
	height: 5px;
	width: 200px;
	position: absolute;
	left: 160px;
	top: -5px;
}

/*=========Title=========*/
#reposter_width {
	min-height: 100%;
}
#reposter_width,
#reposter_container {
	width: 100%;
	margin-top: 20px;
}
#reposter_container {
	margin-top: 30px;
}
#reposter_main,
#content {
	width: 940px;
	margin: 0 auto;
}
#reposter_title {
	padding-bottom: 27px;
	overflow: hidden;
	width: 100%;
}
#reposter_title #reposter_article_head {
	float: left;
}
#reposter_title #reposter_search {
	float: right;
}
#reposter_title .search-button {
	margin-top: 5px;
}
.clear-both {
	clear: both;
}
#reposter_article_head h1,
p {
	margin: 0;
}
#reposter_article_head h1 a {
	color: #444444;
	font-family: oswald;
	font-weight: lighter;
	font-size: 24px;
}
#reposter_article_head p {
	font-family: opensans;
	color: #aaa;
	font-size: 13px;
	padding-top: 9px;
}
#reposter_article_head p span {
	color: #444;
}
#reposter_article_head {
	float: left;
	width: 560px;
	word-wrap: break-all;
}
#reposter_search {
	padding-top: 6px;
	width: 380px;
}
.search-box input {
	float: left;
}
.searchform div input {
	float: left;
}
.searchform input {
	margin-left: 7px;
}
.search-box {
	width: 179px !important;
	height: 36px;
	border-radius: 5px;
	border: none;
	border: 1px solid #ccc;
	font-family: opensans;
	font-size: 13px;
	color: #b5b5b5;
	behavior: url( '/wp-content/themes/reposter/js/pie.htc' );
	position: relative;
	margin: 0 !important;
	padding-left: 10px;
	padding-top: 3px;
}
.search-button {
	width: 100px !important;
	font-family: oswald;
	font-size: 14px;
	color: #fff;
	border-radius: 5px;
	border: none;
	background-color: #f47b56;
	behavior: url( '/wp-content/themes/reposter/js/pie.htc' );
	position: relative;
	padding-bottom: 2px;
}
#line {
	margin-top: 1px;
}

/*========Comment form=========*/
.recentcomments a {
	line-height: 1.5;
}
#commentform textarea {
	margin-bottom: 0;
}
#comment-nav-below {
	margin-top: 10px;
}
/*/Title*/
/*==========Slider========*/
#slider_form {
	margin-top: 30px;
}
.reposter_search_result {
	margin-left: 9px;
}
/*=====Browser Resets======*/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*========FlexSlider Necessary Styles=========*/
.flexslider {
	margin: 0;
	padding: 0;
	font-family: oswald
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	margin: 0;
}

/*========Hide the slides before the JS is loaded. Avoids image jumping========*/
.flexslider .slides img {
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}

/*=========Clearfix for the .slides element=========*/
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}

.no-js .slides > li:first-child {
	display: block;
}
.slides > li {
	max-height: 268px;
}

/*========FlexSlider Default Theme=======*/
.flexslider {
	margin: 0 0 20px;
	background: #fff;
	border: 0px solid #fff;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; -o-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;
	behavior: url( '/wp-content/themes/reposter/js/pie.htc' );
	position :relative;
}
.flex-viewport {
	max-height: 268px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right:5px
}
.flexslider .slides a {
	color: #D46F00;
	text-decoration: none;
}
.flexslider .slides a:hover {
	text-decoration: underline;
}
.flexslider .slides li figure {
	margin: 0;
	position: relative;
}
.flexslider .slides figure figcaption {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, .75);
	color: #fff;
	padding: 15px 0
}
.flexslider .slides figure figcaption > * {
	margin-left: 25px !important
}
.flexslider .slides figure figcaption h4 {
	margin: 0;
	font-size: 22px
}
.flexslider .slides figure figcaption p {
	margin: 0;
	font-size: 13px
}

/*========Direction Nav========*/
.flex-direction-nav {
	*height: 0;
}
.flex-direction-nav a {
	width: 30px;
	height: 30px;
	margin: -20px 0 0;
	display: block;
	background: url(../images/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: -36px;
}
.flex-direction-nav .flex-prev {
	left: -36px;
}
.flexslider:hover .flex-next {
	opacity: 0.8;
	right: 5px;
}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	left: 5px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important;
	filter: alpha(opacity=30);
	cursor: default;
}

/*========Control Nav========*/
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
	margin: 0 !important;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #878787;
	background: rgba(0,0,0,0.5);
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	position:relative;
	cursor: pointer; text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
	background: rgba(0,0,0,0.1);
}
.flex-control-paging li a.flex-active {
	background: #F0F0F0;
	cursor: default;
	border:2px solid #f47b56;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 0;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	right: 0;
}
}

/*=======block slider=======*/
#menu-posts-slides .wp-menu-image {
	background:url( '/wp-content/themes/reposter/images/post-formats.png' )!important;
}
#reposter_slider {
	margin-top:37px;
	width:100%;
	overflow:hidden;
}
#slider_img {
	position:relative;
	bottom:130px;
}
.opasity {
	z-index: 100;
	background-color: #000;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	width: 444px;
	height: 129px;
	position: relative;
	top: -150px;
	left: 17px;
}
.slider_box h1 {
	margin: 0;
	padding-bottom: 15px;
	padding-left: 23px;
}
.slider_box h1 a{
	font-weight: bolder;
	font-family: oswald;
	text-decoration: none;
	color: #fff;
	padding: 0;
}
.slider_box {
	color: #fff !important;
	padding: 18px;
	padding-left: 20px;
	padding-top: 13px;
}
.slider_box p {
	font-size: 13px;
	font-family: opensans;
	padding-left: 23px;
	line-height: 20px;
}
.slider-title a {
	color: #fff !important;
	padding-left: 20px;
	font-size: 21px;
}
h1 .entry-title .slide_post_title a {
	color: #fff;
}

/*/Slider*/
/*==========Content===========*/
#content {
	width: 100%;
	margin-top: -10px;
	margin: 0 auto;
}
.reposter_cat {
	font-family:opensans!important;
	padding-bottom:27px;
}
.reposter_cont, .entry {
	padding:28px 30px 10px 30px;
	overflow:hidden;
	word-wrap: break-all;
}
.reposter-archives {
	padding-bottom:33px;
}
.entry {
	width:560px!important;
}
.reposter_cont > hr {
	margin-top: 3px;
}
.entry-title {
	letter-spacing:0.1px;
	padding-bottom:7px!important;
	word-wrap: break-all;
}
.reposter_cont input[type="submit"] {
	padding:10px;
	margin-bottom: 10px;
}
.entry-title a{
	font-family:oswald;
	font-size:21px;
	font-weight:lighter;
	color:#444;
}
.reposter_cont p {
	font-family:opensans;
	font-size:13px;
	color:#525252;
	line-height:21px;
	padding-bottom:20px;
}
.reposter_cont img {
	max-width:555px;
	height:auto;
}
.entry-meta {
	font-family:opensans;
	font-size:13px;
	color:#b5b5b5;
	padding-bottom:14px;
	line-height:1.5;
}
.featured-image-title p {
	font-family:opensans;
	font-size:13px;
	color:#aaa;
	font-style:italic;
	padding-bottom:17px;
}
.entry-imgdiscription {
	font-family:opensans;
	font-size:13px;
	color:#aaa;
	padding-bottom:21px;
}
.reposter_cont > form {
	margin-bottom:-2px;
	margin-left:-1px;
}
.tags {
	color:#aaa;
	font-size:13px;
	font-family:opensans;
	background-color:#f6f6f6;
	padding:0 30px;
	padding-top:13px;
	padding-bottom:10px;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	position:relative;
	line-height:1.5;
	margin-top:5px;
}
.tags a {
	color:#f47b56;
}
#commentform input[type='submit'] {
	margin-top:15px;
	width:auto;
}
.comment {
	list-style-type:none;
}
.comment-info {
	width:auto!important;
}
.comment-info,
.comment-info-avatar {
	border:none!important;
}
.comment-info-avatar {
	width:auto;
}
.dnt_reply {
	width:50%;
	float:left;
}
.logged-in-as {
	padding-bottom:15px!important;
}
.reposter_orange {
	color:#f47b56!important;
}
.reposter_orange a {
	color:#f47b56;
}
.grey {
	font-weight:bold;
}
.reposter_grey_serif {
	color:#aaa!important;
}
.site-header-color {
	color:#444;
}
.hr {
	color:#e9e9e9;
}

/*=======Sidebar=======*/
#reposter_left-side {
	width:620px;
	float:left;
}
#reposter_right-side {
	width:310px;
	float:right;
}
#reposter_right-side aside.widget_search:first-child {
	margin-top:0px;
}
.widgets input[type="text"].search-box {
	margin-top: 0px !important;
}
#reposter_right-side aside h3 {
	font-weight:normal;
}
#reposter_right-side aside h3:first-child {
	margin-top:0;
}
#reposter_right-side .reposter_widget_search .searchform div input[type='submit']{
	width:78px!important;
}
#reposter_right-side .reposter_widget_search .searchform div .search-box{
	margin-right:10px!important;
	width:180px;
}
#reposter_right-side ul li a:hover {
	color:#f47b56;
}
#reposter_right-side h3 {
	font-size:16px;
}
#reposter_right-side .select {
	padding-bottom:0!important
}
#reposter_right-side .menu li ul li {
	padding-bottom:0!important;
	padding-right:0!important;
	padding-left:0!important;
	padding-top:5px!important;
}

/*=======Gallery images=======*/
/*=======Images=======*/
.gallery-columns-4 .gallery-item {
	width:25%!important;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*========Add fancy borders to all WordPress-added images but not things like badges and icons and the like========*/
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/*========Keep wide captions from overflowing their container.========*/
.wp-caption {
	max-width: 100%;
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}
.gallery .list {
	padding:0;
}
#gallery-2 .gallery-item {
	width:auto!important;
	float:inherit!important;
}

/*=====heading styles=====*/
.reposter_cont h1,
.reposter_cont h2,
.reposter_cont h3,
.reposter_cont h4,
.reposter_cont h5,
.reposter_cont h6 {
	padding:0;
	padding-top:21px;
	padding-bottom:10px;
	font-weight:lighter;
	color:#444;
	line-height:1.2em;
}
.reposter_cont h1 {
	font-size:24px;
	margin:0;
}
.reposter_cont h2 {
	font-size:21px;
	margin:0;
}
.reposter_cont h3 {
	font-size:18px;
	margin:0;
}
.reposter_cont h4 {
	font-size:15px;
	margin:0;
}
.reposter_cont h5 {
	font-size:13px;
	margin:0;
}
.reposter_cont h6 {
	font-size:11px;
	margin:0;
}
.list h3{
	font-family:opensans!important;
	font-size:17px!important;
}
.list {
	padding-top:12px;
}
.excerpt_cont {
	padding-left:120px;
}
.reposter_back-top {
	padding-left:29px;
	font-size:13px;
	font-family:opensans;
	padding-bottom:30px;
	margin-top:10px;
	clear:both;
}

/*======post styles=======*/
.post,
.entry {
	border:1px solid #ccc;
	background:#fff;
	border-radius:5px;
	width:620px;
	margin-bottom:33px;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	position:relative;
}
.page {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	margin-bottom:20px;
}
.reposter_cont table td,
.reposter_cont table th {
	width:11%;
	border-bottom:1px solid #ccc;
}
.reposter_cont table {
	padding-bottom:15px;
}
.sticky {
	background-color:#eee;
}
.reposter_cont > div#comments {
	float:left;
}
#comments .children {
	padding-left:15px;
}
#comments label {
	float:left;
	width:100%;
	padding-bottom:0;
}
.reposter_cont > .reposter_back-top {
	padding-left:0;
}
.reposter_cont img {
	max-width:560px;
	height:auto;
}
.reposter_cont .newList li ul {
	margin-right:-15px;
}
.reposter_cont embed {
	max-width:560px;
	max-height:300px;
}
.reposter_cont iframe {
	max-width:560px;
	max-height:300px;
}
.alignleft {
	padding-right:10px;
	margin-left:0;
}
.alignright {
	padding-left:10px;
	margin-right:0;
}
.reposter_cont ol,
ul,
dl {
	font-family:opensans, arial;
	font-size:13px;
}
.reposter_cont ol {
	padding-left: 12px;
	margin: 0;
}
.reposter_cont ol li {
	margin-left: 9px;
	margin-top: 8px;
	line-height: 18px;
	font-size: 13px;
}
.reposter_cont ul li {
	margin-left: 15px;
	padding-bottom: 5px;
	font-size: 13px;
}
.reposter_cont dl {
	margin-bottom: 15px;
}
.reposter_cont dl dt {
	padding-bottom: 8px;
	font-size: 15px;
	padding-top: 7px;
}
.reposter_cont dl dd {
	font-size:13px;
	margin-left:15px;
}
.reposter_cont .newList {
	padding-bottom: 0px !important;
}
.reposter_cont .newList li ul li {
	padding-left: 20px;
}
.reposter_cont iframe {
	width: 554px;
}
.reposter_cont ul ul ol {
	padding-left: 10px;
}
.reposter_cont ul ol {
	padding-left: 10px;
}
.reposter_cont ul ol li {
	padding-bottom: 0;
}
.reposter_cont ol ul {
	padding-top: 2px;
	padding-left:3px;
}
.reposter_cont ul {
	padding-top:5px;
	padding-bottom:5px;
}
.reposter_cont ol ul li {
	padding-bottom:0;
}
.reposter_cont ul ul ol li {
	padding-bottom:0;
}
.type-attachment {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 20px;
	margin-top: 27px;
	position: relative;
	width: 620px;
}
dd {
	padding:5px 0;
}
dt {
	padding-left:15px;
	font-weight:bold;
}
.reposter_cont .newListOptionTitle {
	margin-top:9px!important;
	margin-left:5px!important;
	padding-top:24px;
	padding-bottom:10px!important;
}
.reposter_cont .newListOptionTitle li {
	margin-left: -10px !important;
	padding-left: 10px !important;
}
.newListOptionTitle ul li {
	margin-bottom:10px!important;
}
.reposter_cont ul {
	padding:6px 15px 0 5px;
}
.reposter_cont form ul li,
ol li,
dl li {
	padding:0;
	margin:0;
	margin-left:-10px;
	margin-top:9px;
	font-size:13px;
}
blockquote {
	border-left:10px solid #f47b56;
}
blockquote p {
	padding-left:8px;
	font-style:italic;
}
.featured-image {
	padding-bottom:5px;
}
#nav-below div {
	font-size:14px;
}

/*=======Widget area======*/
.widgets .newList li:hover {
	background-color:#e5e5e5;
}
.widgets .newList li a {
	height:auto;
}
.widhets .menu ul li:hover a {
	color:#000;
}
.widgets .newList {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	width: 220px;
	padding-bottom:0px!important;
}
.widgets form div + label {
	top:-15px;
}
.widgets .style_file {
	width:262px;
}
.widgets .style_file .wrap_file {
	width:120px;
}
.widgets .style_file .file_text {
	left:70px;
}
.widgets .wrap_sub {
	right:0px;
	top:0px;
}
.widgets .menu li ul li ul {
	left:0;
	top:0;
}
.textwidget {
	font-size:13px;
	font-family:opensans;
}
.textwidget img {
	margin-top:10px;
	max-height: 200px;
	max-width: 218px;
}
.textwidget ul{
	float:none;
	border:none!important;
	padding:0!important;
	margin:0!important;
}
.textwidget ul li{
	padding:0!important;
	margin:0!important;
	font-size:13px!important;
	color:#525252!important;
}
.textwidget ul li ul {
	padding-left:20px!important;
}
.textwidget p {
	line-height:1.3;
}
.widget_nav_menu .menu {
	float:none;
	padding:0;
	margin:0;
	padding-bottom:15px;
	padding-top:7px;
}
.widgets ul.children {
	border:none;
	padding:0;
	margin:0;
}
.widgets .children {
	padding-left:10px!important;
}
.widget_nav_menu .menu > li {
	float:none;
	border:none;
	padding-left:0;
	width:100%;
	padding:0;
	margin:0;
	height:auto;
	padding-left:20px;
}
.widget_nav_menu .menu li ul{
	float:none;
	padding:0;
	margin:0;
	height:auto;
}
.widget_nav_menu .menu ul li ul {
	float:none;
	padding:0;
	margin:0;
}
.widget_nav_menu .menu li ul li {
	height:auto;
	padding-top:15px;
}
.widget_nav_menu .menu .sub-menu{
	padding:0;
	margin:0;
	margin-top:2px;
	width:100px!important;
}
.widget .searchform input {
	margin-left:0;
}
.no-widgets li > a{
	color:#525252;
	font-size:13px;
}
.widgets {
	font-family:oswald;
	color:#444;
	font-size:16px;
	padding:15px;
	padding-right:0;
}
#reposter_right-side .widgets:first-child {
	padding-top:0;
}
.widgets input[type='submit'] {
	width: 80px !important;
	margin-left: 0 !important;
}
.widgets input[type='text'] {
	width:183px!important;
	margin-right:9px!important;
}
.reposter_cont .reposter_widget_search .searchform {
	padding-bottom:20px;
}
.reposter_cont #reposter_search {
	width:307px;
}
.searchform {
	float:right;
}
.searchform div {
	z-index:1;
}
.widgets caption {
	text-align:center;
	font-size:15px;
}
.widgets ol {
	padding:0;
	font-size:13px;
	color:#525252;
}
.widgets ol li ol li {
	padding:0!important;
	padding-left:20px!important;
	padding-top:10px!important;
	margin:0!important;
}
.widgets ol li {
	padding:0!important;
	padding-top:10px!important;
}
.widgets .sub-menu {
	padding-left:10px!important;
}
#wp-calendar td,
#wp-calendar tr,
#wp-calendar th {
	border:none!important;
	font-size:13px;
	width:12%;
}
table#wp-calendar {
	border:none!important;
}
.textwidget .select {
	padding-bottom:33px!important;
}
.textwidget .newListSelected ul{
	top:0px!important;
	border:1px solid #ccc!important;
}
.textwidget .newListSelected ul li:hover {
	background-color:#aaa;
}
.textwidget .newListSelected ul li:hover a {
	color:#fff!important;
}
.widget_calendar td#next a {
	float:right;
}
.widget table {
	margin:0 auto;
	border:none;
	font-size:15px;
}
.widget table tbody {
	color:#B5B5B5;
}
.widgets li {
	list-style-type:none;
}
.widgets li .children li .children {
	padding-left:10px;
}
.widgets ul{
	margin-top:20px;
	padding-top:7px;
	border-radius:5px;
	border:1px solid #ccc;
	background-color:#fff;
	width:auto;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	position:static;
}
.widgets .menu {
	width:288px;
}
.widgets ul li {
	padding:0;
	margin:0;
}
.widgets li {
	padding:0;
	margin:5px!important;
}
.widgets li ul li .children {
	border:none;
	padding:0;
	margin:0;
}
.widgets .sub-menu {
	border:none;
	padding:0;
	margin:0;
	top:0;
	display:block!important;
	position:relative;
}
.widgets ul li a {
	color:#525252;
	font-family:opensans;
	font-size:13px;
}
.widgets li ul li a:hover {
	color:#f47b56;
}
.widget_rss a {
	color:#444;
}
.widget_rss li {
	padding-top:5px!important;
	padding-bottom:5px!important;
}
.widget_rss span,
.widget_rss div,
.widget_rss cite {
	font-size:13px!important;
	line-height:1.3;
}
#recent-comments-2 > ul {
	margin-top: 24px;
	padding-bottom: 12px;
	margin-bottom: 1px;
}
#archives-2 > ul {
	margin-top: 23px;
	margin-bottom: -2px;
}
#categories-2 > ul {
	margin-top: 22px;
}

/*=======select style=======*/
.selectedTxt{
	text-overflow: clip;
	width: 168px!important;
	height:42px;
	padding:0 0 0 10px;
	overflow:hidden;
	padding-right: 42px;
	background:url(images/bg_select.png) no-repeat;
	color:#000;
	font-size:13px;
	font-family:opensans;
	margin-top:10px;
	line-height:40px;
	position:relative;
	border:1px solid #ccc;
	border-radius:5px;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
}
.newList{
	list-style:none;
	padding:0!important;
	margin:0!important;
	width:219px;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:0 0 5px 5px;
	position:absolute;
	z-index:500;
	top:35px;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
}
.wp-caption.alignright {
	float: right;
}
.wp-caption.alignleft {
	float: left;
}
.size-full.wp-image-905.alignright {
	float: right;
}
.size-full.wp-image-904.alignleft {
	float: left;
}
.newList {
	padding-bottom:40px!important;
}
.newList li{
	padding:0!important;
	margin:0!important;
}
.newList li a{
	display:block;
	font-size:13px;
	font-family:opensans;
	padding:0 6px;
	line-height:normal;
	padding:12px 0 12px 6px;
	overflow:hidden;
}
.newList li ul {
	list-style-type:none;
	padding-top:6px;
	margin-bottom:-26px;
}
.newList li ul li {
	padding-left:23px;
	margin-top:-2px;
}
.newList .newListOptionTitle ul li:hover,
.newList .newListOptionTitle ul li a:hover {
	background-color:#aaa;
	color:#fff;
}
.newList li a:link,
.newList li a:visited {
	color:#000;
	text-decoration:none;
}
.newListOptionTitle  {
	color:#ccc;
	font-size:13px;
	font-family:opensans;
}
#reposter_main .newList>.opt_class:hover,
#reposter_main .newList>.opt_class a:hover {
	background-color:#aaa;
	color:#fff;
}
.opt_class {
	margin-left: 0 !important;
	padding-left: 15px !important;
}

/*======file style=======*/
input[type='file'] {
	margin-top:8px;
}
.wrap_file {
	display:block;
	width:220px;
	height:46px;
	background:url(images/bg_file.png);
	border:1px solid #ccc;
	border-radius:5px;
	position:relative;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	top:10px;
	left:10px;
}
.text_file {
	position:relative;
	bottom:23px;
	left:20px;
}
.file_text {
	position:relative;
	left:180px;
	bottom:22px;
}
.style_file {
	background-color:#f1f1f1;
	width:460px;
	border-radius:5px;
	margin-top:4px;
	padding-bottom:10px;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	position:relative;
}

/*======styles radio checkbox======*/
/*======CSS sprites styles checkbox======*/
.wrap-checkbox {
	background: url(images/bg_checkbox.png) no-repeat 0 0;
	display: block;
	height: 18px;
	width: 18px;
}
.wrap-checkbox.active {
	background: url(images/bg_checkbox.png) no-repeat 0 -35px;
}
.wrap-checkbox.hover {
	background: url(images/bg_checkbox.png) no-repeat 0 -71px;
}

/*=======CSS sprites styles radio=======*/
.wrap-radio {
	background: url(images/bg_radio.png) no-repeat 0 0;
	display: block;
	height: 19px;
	width: 19px;
}
.wrap-radio.active {
	background: url(images/bg_radio.png) no-repeat 0 -36px;
}
.wrap-radio.hover {
	background: url(images/bg_radio.png) no-repeat 0 -72px;
}
.forms-elements-radiobuttons{
	width:100%;
	overflow:hidden;
	margin-left:28px;
}
.forms-elements-radiobuttons div,
.rad{
	float:left;
}
.forms-elements-radiobuttons + span{
	font-family:opensans;
	font-size:13px;
	position:relative;
	left:55px;
	bottom:20px;
}
.forms-elements-checkboxes{
	width:100%;
	overflow:hidden;
	margin-top:-4px;
	margin-left:28px;
}
.forms-elements-checkboxes div,
.rad{
	float:left;
}
.forms-elements-checkboxes + span{
	font-family:opensans;
	font-size:13px;
	position:relative;
	left:55px;
	bottom:20px;
}

/*=======form elements styles========*/
li.recentcomments {
	color:#525252;
	font-family:opensans;
	font-size:13px;
}
label {
	font-family:opensans;
	font-size:13px;
	color:#555;
	padding-top:8px;
	padding-bottom:13px;
}
input[type='text'],
input[type='email'] {
	border:none;
	height:38px;
	width:220px;
	border:1px solid #ccc;
	background-color:#f9f9f9;
	border-radius:5px;
	margin-bottom:17px;
	margin-top:5px;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	position:relative;
	margin:5px 0!important;
	padding: 0 10px;
}
input[type='password'] {
	border:none;
	height:41px;
	width:220px;
	border:1px solid #ccc;
	background-color:#f9f9f9;
	border-radius:5px;
	margin-bottom:17px;
	padding-bottom:1px;
}
textarea {
	border:none;
	height:107px;
	border:1px solid #ccc;
	background-color:#f9f9f9;
	border-radius:5px;
	margin-bottom:17px;
	overflow:auto;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
	position:relative;
}
.select {
	width:100%;
	padding-bottom:5px;
	font-family:opensans;
	font-size:13px;
}
.p {
	font-family:opensans;
	font-size:13px;
}
.buttons {
	overflow:hidden;
	padding-top:10px;
	padding-bottom:50px;
}
.buttons input {
	float:left;
}
form h1,
form h2,
form h3,
form h4,
form h5,
form h6 {
	font-family: opensans;
}
input[type='reset'] {
	border:none;
	padding:10px;
	width:72px;
	background-color:#f47b56;
	color:#fff;
	font-family:oswald;
	font-size:14px;
	border-radius:5px;
	position:relative;
	margin-bottom: 10px;
	margin-top: 20px;
	behavior: url('/wp-content/themes/reposter/js/pie.htc');
}
input[type='button'] {
	margin-left:8px;
	border:none;
	height:42px;
	width:80px;
	color:#fff;
	font-family:oswald;
	font-size:14px;
	border-radius:5px;
	background-color:#f47b56;
	position:relative;
	behavior: url( '/wp-content/themes/reposter/js/pie.htc' );
}
input[type='submit'] {
	border: none;
	padding: 8px;
	color: #fff;
	font-family: oswald;
	font-size: 14px;
	border-radius: 5px;
	background-color: #f47b56;
	position: relative;
	behavior: url( '/wp-content/themes/reposter/js/pie.htc' );
}
input[type='reset']:hover,
input[type='submit']:hover,
input[type='button']:hover {
	background-color:#444!important;
}

/*=======Other content tags=======*/
.blockquote {
	border-left:12px solid #f47b56;
	padding-left:10px;
	font-size:14px;
	font-family:opensans;
	color:#999;
	margin-bottom:40px;
}
.blockquote p {
	padding-top:5px;
}
#last_post {
	margin-bottom:90px;
}
.reposter_first {
	margin-top:25px;
}
.reposter_first .reposter_cont {
	padding-top:28px;
	padding-left:29px;
}
.reposter_last {
	margin-top:29px;
}
.reposter_last .reposter_cont .entry-title {
	padding-bottom:10px!important;
}
li.post.pingback {
	width:auto;
	border:none;
	margin:5px 0 0;
}
.reposter_cont blockquote {
	margin-bottom:26px;
}
form p input[type='text'] {
	margin:0;
	margin-bottom:2px;
	margin-top:4px;
	width: 219px;
	height:45px;
}
form p textarea {
	margin-top:3px;
	margin-bottom: 16px;
}

form div + label {
	left: 56px;
	position: relative;
	top: -20px;
}

/*========Footer========*/

.reposter_whitespace {
	width:100%;
	border-top:1px solid #ccc;
	background-color:#fff;
	height: 50px;
}
#reposter_footer {
	width:940px;
	margin:0 auto;
	overflow:hidden;
}
#reposter_footer div {
	float:left;
}
.reposter_site-footer {
	width:200px;
	color:#444444;
	font-size:13px;
	font-family:opensans;
	padding-top:10px;
}
.reposter_foot {
	padding-top:19px;
	padding-bottom:18px;
	font-family:opensans;
	font-size:13px;
	width:738px;
}
.reposter_foot div {
	float:right!important;
	width:470px;
}
.comment-meta a {
	color:#f47b56;
}
.fn {
	padding-left:15px;
}
.portfolio_short_content {
	width:260px;
}
.portfolio_content {
	width:560px;
	float:left;
}
.breadcrumbs {
	color: #444444;
	font-family: oswald;
	font-size: 21px;
	font-weight: lighter;
}

.reposter_cont .prtfl_portfolio_block .entry,
.fix_post .entry {
	width:auto!important;
}
#reposter_main cntctfrm_contact_form div+label {
	position:static!important;
}
#reposter_main cntctfrm_contact_form div, textarea {
	margin-top:10px;
}
#reposter_main .gallery .gllr_image_block {
	width:186px;
}