<form id="formReply" name="formReply">
   <div class="box_chat2_replyContainer">
       
        <div class="user_pic_content_small pointer" href="#">
            <div class="user_pic_small"><img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo Main_Model_User::getSession(Main_Model_User::USER_PIC) ?>"></div>
        </div>
        <input id="btnReply" onclick="newReply()" type="button" value="Reply" class="btn_replay2 btn_disabled_2">
        <textarea id="txtCommentReply" name="txtCommentReply" placeholder="Reply..." class="message_write4"></textarea>
        <input type="hidden" id="txtDisId" name="txtDisId" value="<?php echo $this->comment->getDiscussion()->getId() ?>" />
        <input type="hidden" id="txtParentId" name="txtParentId" value="<?php echo $this->comment->getId() ?>" />        
    </div>   
</form>

<script type="text/javascript">

(function($) {
    
    $("#txtCommentReply").on("change keyup paste",function(){
    
        if($("#txtCommentReply").val()){
            $("#btnReply").removeClass("btn_disabled_2");
        }else if(!$("#txtCommentReply").hasClass("btn_disabled_2")){
            $("#btnReply").addClass("btn_disabled_2");
        }
        
    });
    
})(jQuery);

</script>