
<div class="box_chat2 box_chat2_comments" >

    <div class="box_chat2_pic">
        <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $this->reply['user_pic'] ?>" alt="<?php echo $this->reply['user_name'] ?>">
    </div>
    <h2><a href="#" class="h2_oswald"><?php echo $this->reply['user_name'] ?></a></h2><span class="chat_date"><?php echo Wejo_Action_Helper_Services::formatDate($this->reply['re_date'],false) ?></span>
    <p><?php echo $this->reply['re_text'] ?></p><br>

    <div class="detail_comment">
        <span id="count_likes_<?php echo $this->reply['re_id'] ?>">0</span>
        <img class="like_comment" src="/images/icon_like.png">
        <?php if ($this->reply['like_user']) { ?>

            <span><a id="text_undo_like_<?php echo $this->reply['re_id'] ?>" onclick="undoLike(<?php echo $this->reply['re_id'] ?>)">Unlike</a></span>

        <?php } else { ?>

            <span><a id="text_like_<?php echo $this->reply['re_id'] ?>" onclick="likeComment(<?php echo $this->reply['re_id'] ?>)">Like</a></span>

        <?php } ?>
        <span class="reply_comment"><a onclick="reply(<?php echo $this->reply['re_id']  ?>)">Reply</a></span>
    </div>

    <div id="box_replies_<?php echo $this->reply['re_id'] ?>"></div>

</div>