<?php foreach ($this->replies as $reply) { ?>

    <div class="box_chat2 box_reply" >

        <div class="user_pic_content_small pointer" href="#">
            <div class="user_pic_small"><img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $reply['user_pic'] ?>" alt="<?php echo $reply['user_name'] ?>"></div>
        </div>
        <h2><a href="#" class="h2_oswald"><?php echo $reply['user_name'] ?></a></h2><span class="chat_date"><?php echo Wejo_Action_Helper_Services::formatDate($reply['re_date'], false) ?></span>
        <p><?php echo $reply['re_text'] ?></p><br>

        <div class="detail_comment">
            <span id="count_likes_<?php echo $reply['re_id'] ?>">0</span>
            <img class="like_comment" src="/images/icon_like.png">
            <?php if ($reply['like_user']) { ?>

                <?php if (Main_Model_User::getSession(Main_Model_User::USER_ID)) { ?>                                    

                    <span><a id="text_undo_like_<?php echo $reply['re_id'] ?>" onclick="undoLike(<?php echo $reply['re_id'] ?>)">Unlike</a></span>

                <?php } else { ?>                                   

                    <span><a id="text_undo_like_<?php echo $reply['re_id'] ?>" onclick="openModalPortal()">Unlike</a></span>

                <?php } ?>          


            <?php } else { ?>

                <?php if (Main_Model_User::getSession(Main_Model_User::USER_ID)) { ?>                                    

                    <span><a id="text_like_<?php echo $reply['re_id'] ?>" onclick="likeComment(<?php echo $reply['re_id'] ?>)">Like</a></span>

                <?php } else { ?>                                   

                    <span><a id="text_like_<?php echo $reply['re_id'] ?>" onclick="openModalPortal()">Like</a></span>

                <?php } ?>          


            <?php } ?>
        </div>

        <div id="box_replies_<?php echo $reply['re_id'] ?>"></div>

    </div>

<?php } ?>