<?php
$data = json_decode($this->jSon);
$msgToShow = "Send";
if (!empty($data->view)) {
    $msgToShow = "Reply";
}
?>
<script type="text/javascript">

    $("#user_id_to").val('<?php echo $this->userIdTo; ?>');
    //$("#user_id_from").val('<?php //echo $this->userIdFrom; ?>');
    $("#btnsendmessage").val('<?php echo $msgToShow; ?>');
    $('#text').attr('placeholder', '<?php echo $msgToShow; ?>...');

    $(document).ready(function() {
        
        $("#scrollChat.scrollableContent").mCustomScrollbar({
            theme: "dark",
            setWidth: false,
        });


        /* SIRVE PARA ENVIAR EL CONTENIDO AL FONDO
         var cont_element_height = $(".cont_element_height").height();
         var element_height = $(".element_height").height();
         var margin_top = $(window).height()-300;
         var element_marg = $(".element_marg").css("margin-top", margin_top + "px");
         */

    });
    
</script>     
<div class="right60_header">
    <h1 class="h1_format1">Chat with <span class="txt_orange"><?php echo $this->userTo; ?></span></h1>
</div>
<div id="scrollChat" class="right60_interno scrollableContent calcularAlto-190">

    <?php
    foreach ($data->view as $msg) {
        ?>
        <div class="box_chat">
            <div class="box_chat_pic">
                <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $msg->pic; ?>" alt="<?php echo $msg->userFrom; ?>">
            </div>
            <h2><a href="#" class="h2_oswald h2_oswald_small"><?php echo $msg->userFrom; ?></a></h2><span class="chat_date"><?php echo $msg->dateSent; ?></span>
            <p><?php echo $msg->text; ?></p>
        </div>
    <?php }
    ?>
</div>