    <?php 
    $data = json_decode($this->jSon);
    $msgToShow="Send";
            if (!empty($data->view)){
                $msgToShow="Reply";
    } ?>
<script type="text/javascript">
    $("#user_id_to").val('<?php echo $this->userIdTo; ?>');
    $("#user_id_from").val('<?php echo $this->userIdFrom; ?>');
    $("#btnsendmessage").val('<?php echo $msgToShow; ?>');
    $('#text').attr('placeholder', '<?php echo $msgToShow; ?>...');
</script>     
    <div class="right60_header">
             <h1 class="h1_format1">Chat with <span class="txt_orange"><?php echo $this->userTo; ?></span></h1>

    </div>
   <div class="right60_interno scrollableContent calcularAlto-190">

    <?php
    
    foreach($data->view as $msg){ 
    ?>
    <div class="box_chat">
        <div class="box_chat_pic">
        <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $msg->pic; ?>" alt="<?php echo $msg->userFrom; ?>">
        </div>
        <h2><a href="#" class="h2_oswald"><?php echo $msg->userFrom; ?></a></h2><span class="chat_date"><?php echo $msg->dateSent; ?></span>
        <p><?php echo $msg->text ;?></p>
    </div>
    <?php }
    ?>
    </div>