<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">

<div class="remodal-bg" style="">
    <div class="remodal" data-remodal-id="deleteThread">        
        <div id="modalDeleteMessage">
            <div class="wejo_box_01" id="wejo_box_01" style="height: 360px">
                <div id="boxConfirmDelete">

                    <div class="wejo_box_01_head">
                        <div class="btn_box_close"><a href="#" onclick="closeModalMessage()"></a></div>
                        <h2>Confirm</h2>
                    </div>

                    
                    <div class="wejo_box_01_body" style="height: 280px">
                        <div class="wejo_box_01_content">

                            <h5 style="text-transform: none">Are you sure you want to delete all the messages in this thread ?</h5>

                            <input type="button" class="btn_request" id="btn_cancel" value="Cancel"  onclick="closeModalMessage()">

                            <input type="button" class="btn_login_black top-10" id="btn_delete" value="Yes" onclick="deleteThread()" style="margin-top: 20px">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var modalDeleteMessage = $.remodal.lookup[$('[data-remodal-id=deleteThread]').data('remodal')];
    var headIdToDelete = null;
    
    function confirmDeleteThread(meHeadIdParam, event) {
        
        //TODO: resolver que el hidden meHeadId esta en show.phtml y se repite cada vez que expandimos.
        event.stopImmediatePropagation();
        headIdToDelete = meHeadIdParam;
                
        modalDeleteMessage.open();
        $('#modalDeleteMessage').css("margin-top", "-180px");
    }
    
    
    function deleteThread() {
        

        if (headIdToDelete <= 0){
            //$('#divMessages').load('/main/messages/method/index2');
            closeModalMessage();
        }
                        
        var data = "method=delete&me_head_id=" + headIdToDelete;
         
         closeModalMessage();
         $.ajax({
                 type: "DELETE",
                 url: '/main/messages/',  
                 data: data,
                 success: function(response){
                     if (response == null || response.status == 500){
                          operations.showMessage('Try Again', 'error');
                     }
                     if (response.status == 200) {

                         //setTimeout(function(){
                             $('#divMessages').load('/main/messages/method/index', function(){
                                 operations.showMessage('', 'ok');
                             });
                         //},2000);
                     }
                 }, 
                 dataType: 'json'
        });
    }


    function closeModalMessage() {
        modalDeleteMessage.close();
        $('#modalDeleteMessage').css("margin-top", "0");
    }
    
</script>    