<script src="<?php echo $this->baseUrl() . '/js/bootstrap.min.js' ?>"></script>
<!--<script src="<?php //echo $this->baseUrl() . '/js/typeahead/typeahead.jquery.js' ?>"></script>-->
<script src="<?php echo $this->baseUrl() . '/js/typeahead/typeahead.min.js' ?>"></script>
<!--<script src="<?php //echo $this->baseUrl() . '/js/typeahead/bloodhound.js' ?>"></script>-->


<style type="text/css">

    #mCSB_1_container.mCSB_container{
        
        //height: 500px;
        overflow: visible !important;
    }
    
    .tt-dropdown-menu {
        width: 400px;
        margin-top: 5px;
        padding: 8px;   
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 18px;
        color: #111;
        background-color: #F1F1F1;
    }

    .tt-dataset-countries p{
        padding: 0;
        margin: 0;
        font-size: 12pt;
    }
    
</style>

<?php 
    $data = json_decode($this->jSon);
?>   

   <div class="row no-margins">
    <div class="col-md-12 no-margins">
        <div class="content_connect  activity_box_large calcularAlto">
            <div class="row">
              <div class="col-md-12-no-margins">
               <h1 style="float: left" class="margins-30px">Connect with journalists</h1>
               </div>
            </div>

            <input type="hidden" id="aux" name="aux" value="">
<!--            <div class="structure_input02">
                <input type="text"  id="country" name="country"class="country in_style_01 in_style_01_50" placeholder="Filter by Country">
                <input type="text" name="user"class="user in_style_01 in_style_01_50" placeholder="Find a Journalist">
                <div id="divUserList"></div>
            </div>-->
            
            <div id="prefetch">
                <input class="country in_style_01 in_style_01_50" type="text" placeholder="Filter by Country" id="country" name="country">
            </div>        
                        
            <div id="remote">
                <input class="user in_style_01 in_style_01_50" type="text" placeholder="Find a Journalst" id="user" name="user">
            </div>            
                        
<div id="divUserList" class="scrollableContentConnect calcularAlto"></div>
            
        </div>
    </div>
</div>



<script type="text/javascript">

/*

var countries = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  limit: 10,
  //remote: '/main/messages/method/countries.json',
  prefetch: {
    // url points to a json file that contains an array of country names, see
    // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
    url: '/main/messages/method/countries.json7',
    // the json file contains an array of strings, but the Bloodhound
    // suggestion engine expects JavaScript objects so this converts all of
    // those strings
    filter: function(list) {
        
        return $.map(list, function(country) {
            return { id:country.value, name:country.name };
        });
    }
  }
});
 
// kicks off the loading/processing of `local` and `prefetch`
countries.initialize();
 
*/



// var mapCountry;
// var countryNames;
// passing in `null` for the `options` arguments will result in the default
// options being used

/*    $('#prefetch .typeahead').typeahead(null, {
        //highlight: true,
        //name: 'countries',
        //displayKey: 'name',
        // `ttAdapter` wraps the suggestion engine in an adapter that
        // is compatible with the typeahead jQuery plugin
        source: function (query, process) {
            countryNames = [];
            mapCountry = {};
            var data = countries.ttAdapter();
            
            $.each(data, function (i, objCountry) {
                mapCountry[objCountry.name] = objCountry;
                countryNames.push(objCountry.name);
            });
            
            process(countryNames);
        },
        matcher: function (item) {
            if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                return true;
            }
        },
        sorter: function (items) {
            return items.sort();
        },        
        highlighter: function (item) {
            var regex = new RegExp( '(' + this.query + ')', 'gi' );
            return item.replace( regex, "<strong>$1</strong>" );
        },
        updater: function (item) {
            selectedState = mapCountry[item].value;
            return item;
        }
                //countries.ttAdapter(),
    });
*/

//TYPEAHEAD JOURNALIST TYPEAHEAD JOURNALIST

//var journalistList = new Bloodhound({
//  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
//  queryTokenizer: Bloodhound.tokenizers.whitespace,
//  //prefetch: '/main/messages/method/user.connect.json',
//  remote: '/main/messages/method/user.connect.json'
//});
// 
//journalistList.initialize();
// 
//$('#remote .typeahead').typeahead(null, {
//  name: 'journalistList',
//  displayKey: 'value',
//  source: journalistList.ttAdapter()
//});

//TYPEAHEAD JOURNALIST TYPEAHEAD JOURNALIST


//$( "span.twitter-typeahead" ).css("display", "inline");
//$( ".tt-dropdown-menu" ).css("left", "auto");
//$( ".tt-dropdown-menu" ).css("right", "10px");
//$( ".tt-dropdown-menu" ).css("top", "40px");

    operations.showSearcher();


    var divHeight = $(window).height();
    var topDistance = $('.calcularAlto').offset().top;
    var result = parseInt(divHeight) - parseInt(topDistance);
    $('.calcularAlto').css('height', result + 'px');
    
    
    $(document).ready(function() {
         
         $(".scrollableContentConnect").mCustomScrollbar({
            theme: "dark",
            setWidth: false,
        });
        
        /* SIRVE PARA ENVIAR EL CONTENIDO AL FONDO
        var cont_element_height = $(".cont_element_height").height();
        var element_height = $(".element_height").height();
        var margin_top = $(window).height()-300;
        var element_marg = $(".element_marg").css("margin-top", margin_top + "px");
        */
        
    }) ;
    

    var countriesObj = <?php echo json_encode($data->view);?> ;
    var countries = [];
    
    $.each(countriesObj, function (i, co) {
            countries.push(co.name);
    }); 

    //$('#prefetch .typeahead').typeahead(null, {       
    //$('#prefetch .typeahead').typeahead({
    $('input.country').typeahead({
        name: 'country',
        local: countries
    }).bind('typeahead:selected', function (obj, datum) {
        
        loadUsers();
    });
    
    loadUsers();
    
    
$( "span.twitter-typeahead" ).css("display", "inline");
$( ".tt-dropdown-menu" ).css("left", "100% !important");
//$( ".tt-dropdown-menu" ).css("right", "-100px");
//$( ".tt-dropdown-menu" ).css("top", "40px");
    
        
    function getCountryId(countryName){
        id=0;
        $.each(countriesObj, function (i, co) {
            if(co.name===countryName){
                id=co.id;
                return;
            }    
        });
        return id;
    }
    
    
    function createMessageToUser(toUserId,toUserName){
        
        var url = '<?php echo $this->serverUrl() . '/main/users/method/toolbox' ?>';
        $('#divMainBody').load(url, function(){
            
            if(oHomeState){
                oHomeState.page = oPages.tools;
                setFilterTools(oHomeState.filterTools);                
            }
            setUserThread(toUserId);
            onMessagesClick();    
        });
        
//        return true;
//        
//        deactivateAllButtons();
//        $('#btnNavMessages').addClass('selected');                
//        hideAllDivs();
//        
//        if(!$("#user_id_to").val()){ //no esta creado el div
//            
//            var url = '/main/messages/method/index';
//            url += '/to_user_id/'+toUserId+'/to_user_name/'+encodeURIComponent(toUserName);
//            $('#divMessages').load(url);
//            
//        }else{
//            
//            loadChatings(toUserId);
//        }
//        $('#divMessages').show();  
    }
    
    function loadUsers(){
        //loadlist autocomplete users by country
        countryVal=getCountryId($("input.country").val());  
        
        //muestra la vista con los usuarios
        var url = "/main/messages/method/my.userlist?co_id="+countryVal;
        $('#divUserList').load(url, function(){
            
            $(".scrollableContentConnect").mCustomScrollbar("update");
        });
        
        //obtiene la info
        root_url = "/main/messages/method/get.users?co_id=",
        $('input.user').typeahead({
            name: 'user',
            remote: {
                url: root_url + "%QUERY",
                replace: function () {
                    var q = root_url;
                    q += getCountryId($('input.country').val()); // %QUERY
                    return q;
                },
                filter: function (parsedResponse) {
                    $("#aux").val("");
                    $.each( parsedResponse.view.completeUser, function(i, userObject) {
                        $("#aux").val($("#aux").val()+ ";"+userObject.id+","+userObject.pic+","+userObject.userName+","+userObject.country);

                    });
                    return (parsedResponse.view.onlyUserName);
                }  
             }

        }).bind('typeahead:selected', function (obj, datum) {
            loadList();
        });
        $('input.user').show();
    }
    
    function loadList(){
        //cuando el usuario selecciono una persona actualiza la vista 
        //lo hago dinamica para no volver a ir al servidor
        dataUser = $("#aux").val();
        arrUsers = dataUser.split(';');
        $.each(arrUsers, function(i, user) {
            if (user){
                value= user.split(',');
                   
                if(value[2]===$("input.user").val()){
                    html = '<div class="box_connect">';
                        html += '<div class="box_connect_pic">';
                            html += '<img src="/main/uploads/method/get.image?file=/thumbnail/'+value[1]+'" alt="'+value[2]+'">';
                        html += '</div>';
                        html += '<h2><a href="#" style="font-size: 13pt" class="h2_oswald">'+value[2]+'</a></h2><br>';
                        html += '<p>'+value[3]+'</p>';
                        html += '<input ';
                            html += "onclick='createMessageToUser(\""+value[0]+"\",\""+value[2]+"\");'";
                            html += ' type="button" value="Message" class="btn_style_03" />';
                    html += '</div>';
                    $('#divUserListDetail').html(html);   
                }    
            }
            else{
                $('#divUserListDetail').html('');   
            } 
        });

    }
</script>