<link rel="stylesheet" href="/css/autocomplete.css" />
<script type="text/javascript" src="/js/jquery.mockjax.js"></script>
<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>

<div class="fixed-header elem-heigth">
    <div class="col-xs-12">
        <div class="col-xs-12 mess_head">
            <h2>NAME/LOCATION</h2>
        </div><!-- messages head -->

        <div class="col-xs-12 mess_table_searcher searcher_100 no-margins">
            <input id="searchConnect" type="text" placeholder="Search">
        </div>
        
        <div class="row">
            <div class="col-xs-12" style="border-bottom: 1px solid #E48C00; overflow: hidden; height: 20px">
            </div>
        </div>
        
    </div>

</div><!-- FIN fixed-header -->

<div class="row mess_table_container calculate-heigth">
    <div class="col-xs-12">
        <div id="table_connect"></div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        
        operations.hideSearcher();
        
        $(".content").css("overflow-y","hidden");
        $("#divMainBody").css("overflow-y","hidden");
        
        $('#searchConnect').customAutocomplete({
            serviceUrl: '/main/connect/method/autocomplete/',
            showNoSuggestionNotice: true,
            noSuggestionNotice: 'Sorry, no matching results'
        });
        
        /*fixed autocomplete select bug*/
        $(".customAutocomplete-suggestions").on("click", function(){
            searchConnection();
        });
        

        //calcular el alto del contenedor scrollable
        var headerH = $(".elem-heigth").height();
        var scrollable = $(".calculate-heigth");
        var windowH = $(window).height();

        $(window).resize(function() {
            var headerH = $(".elem-heigth").height();
            var scrollable = $(".calculate-heigth");
            var windowH = $(window).height();
            scrollable.height(windowH - headerH - 55);
        });
            
        function calculateHeight() {
            scrollable.height(windowH - headerH - 55);
        };
        
        calculateHeight();


    });
    
    <?php if($this->country_client != ""){ ?>
        
        $('#searchConnect').val("<?php echo $this->country_client ?>");
        searchConnection();
        
    <?php } ?>
    
    $('#searchConnect').on("keypress", function(e) {
        if (e.keyCode == 13) {
           searchConnection();
        }
    });  
    
    setInterval(function(){
        if($('#searchConnect').val() == "" && $("#searchNoResults").length > 0){
            $("#searchNoResults").empty();
        }
    },500);

    function searchConnection(order_name, order_value, order_id){
        
        var keywords = $("#searchConnect").val(); 
        keywords = keywords.replace(/\s+/g, '%20');
        
        if(order_name != "" && order_name != 'null' && order_name != undefined){
            order_name = "/order_name/"+order_name;
        }else{
            order_name = "";
        }
        
        if(order_value != "" && order_value != 'null' && order_value != undefined){
            order_value = "/order_value/"+order_value;
        }else{
            order_value = "";
        }
        
        if(order_id != "" && order_id != 'null' && order_id != undefined){
            order_id = "/order_id/"+order_id;
        }else{
            order_id = "";
        }
        
        if(keywords != ""){
            $("#table_connect").load("/main/connect/method/search/keywords/"+keywords+order_name+order_value+order_id);
        }

    }
    
    function orderTable(id){
        
        var order_name = $("#"+id).data("order-name");
        var order_value = $("#"+id).data("order-value");
        var order_id = $("#"+id).attr("id");

        searchConnection(order_name, order_value, order_id);
        
    }
    
</script>