<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>    
<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">
<?php
        $listMessages = json_decode($this->jSon); 
        $unreadMsg = 0; ?>
<div class="row mess_table_container">
    <div class="col-xs-12">

        <div class="col-xs-12 mess_head multiple-items">

                <img onclick="startNewMessage()" src="/images/flaticon_mess.png" alt="#">

            <div class="row no-margins scrollableContent calcularAlto-120">
                <div class="col-md-12 no-margins multiple-item">

                </div><!-- messages head -->

                <div class="col-xs-12 mess_table no-margins">
                    <div class="col-xs-12 mess_table_notify">
                        <p><span><span id="unreadCount">0</span> Unread</span> / <?php echo count($listMessages);?> Messages</p>
                    </div>
                </div>
            </div>

       
        <div class="col-xs-12 mess_table_top">
            <div class="col-xs-3 col-xs-offset-1"><p>Name <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" onclick="loadMsg('name');"></span></p></div>
            <div class="col-xs-4"><p>Title <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" onclick="loadMsg('title');"></span></p></div>
            <div class="col-xs-3 col-xs-offset-1"><p>Date <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" onclick="loadMsg('date');"></span></p></div>
        </div>
        
<?php
        foreach ($listMessages as $msg) {
            
        if ($msg->me_re_isread){ ?>
            <div class="col-xs-12 mess_table_mess" onclick="showMessage(<?php echo $msg->me_head_id;?>)">
        <?php }
        else{  
            $unreadMsg ++;
        ?>  
            <div class="col-xs-12 mess_table_mess mess_unread" onclick="showMessage(<?php echo $msg->me_head_id;?>)">
        <?php } //else ?>              
                <div class="col-xs-1" style="text-align: center"><img id="imageProfileHeader" src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $msg->userToPic; ?>" class="user_Pic user_pic_fix" alt="<?php echo $msg->userToName; ?>"></div>
                <div class="col-xs-3 "><?php echo ($msg->count_users>2)?" +".($msg->count_users-2):""; ?><p><?php echo $msg->userToName; ?></p></div>
                <div class="col-xs-4 "><p><?php echo ($msg->count_messages?" (".$msg->count_messages.") ":""). $msg->me_head_title . " - ".$msg->me_text; ?></p></div>
                <div class="col-xs-1 "><input type="button" onclick="confirmDelete(<?php echo $msg->me_head_id ?>)" class="cms_btn_erase cms_btn_erase_fix"></div>
                <div class="col-xs-3 "><p><?php echo $msg->me_date_sent; ?></p></div>
            </div>
     <?php } //foreach  
?>           
                <!--
            <div class="col-xs-12 mess_table_mess">
                <div class="col-xs-1" style="text-align: center"><img id="imageProfileHeader" src="http://wejo/main/uploads/method/get.image?file=/thumbnail/52.jpg" class="user_Pic user_pic_fix"></div>
                <div class="col-xs-3 "><p>Claudio Baiardi</p></div>
                <div class="col-xs-4 "><p>This is the title of my message</p></div>
                <div class="col-xs-1 "><input type="button" class="cms_btn_erase cms_btn_erase_fix"></div>
                <div class="col-xs-3 "><p>Dec. 09</p></div>
            </div>    -->
            <div class="col-xs-12 mess_table_mess mess_unread">
                <div class="col-xs-1" style="text-align: center"><img id="imageProfileHeader" src="http://wejo/main/uploads/method/get.image?file=/thumbnail/52.jpg" class="user_Pic user_pic_fix"></div>
                <div class="col-xs-3 "><p>Claudio Baiardi</p></div>
                <div class="col-xs-4 "><p>This is the title of my message</p></div>
                <div class="col-xs-1 "><input type="button" class="cms_btn_erase cms_btn_erase_fix"></div>
                <div class="col-xs-3 "><p>Dec. 09</p></div>
            </div>  

    </div><!-- Tabla Message -->


    </div>
</div>
<div class="remodal-bg">
    <div class="remodal" data-remodal-id="delete">
        <div id="modal" style="margin-top:-180px">
            <div class="wejo_box_01" id="wejo_box_01" style="height: 390px">                    
            </div>
        </div>
    </div>
</div>
<div id="boxConfirmDelete" style="display: none">

    <div class="wejo_box_01_head">
        <div class="btn_box_close"><a href="#" onclick="closeModal()"></a></div>
        <h2>Confirm</h2>
    </div>

    <div class="wejo_box_01_body" style="height: 280px">
        <div class="wejo_box_01_content">

            <h5 style="text-transform: none">Are you sure you want to delete this item?</h5>

            <input type="button" class="btn_request" id="btn_cancel" value="Cancel"  onclick="closeModal()">

            <input type="button" class="btn_login_black top-10" id="btn_delete" value="Yes" onclick="deleteMsg()" style="margin-top: 20px">

        </div>
    </div>
</div>
<script type="text/javascript">
    $('document').ready(function() {
        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: false,
            speed: 300,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]

        });

    });
    //operations.showSearcher(); PARA QUE SE USA????
    var meHeadId = 0;
    //var currentReceiver = null;
    //var timer = null;
    //var timerIsRunning = false;
       
    //adjustMessageBox(); no ajusta bien por eso lo comente
    $("#unreadCount").text('<?php echo $unreadMsg?>');
    modal = $.remodal.lookup[$('[data-remodal-id=delete]').data('remodal')];
    /*$(document).ready(function() {
        
        $("#scrollChat").mCustomScrollbar({
            theme: "dark",
            setWidth: false
        });  
    });*/
    

    function startNewMessage() {

        hideAllDivs();
        $('#divMessages').show();
        var url = '/main/messages/method/new';
        $('#divMessages').load(url);
    }
    
    function adjustMessageBox(){
        
        if($('.calcularAlto').offset()){
            
            var divHeight = $(window).height();
            var topDistance = $('.calcularAlto').offset().top;
            var result = parseInt(divHeight) - parseInt(topDistance);
            $('.calcularAlto').css('height', result + 'px');
        }

        /* SIRVE PARA calcular el alto que debe tener el div menos 120px */
        if($('.calcularAlto-120').offset()){
            
            var divHeight120 = $(window).height() - 120;
            var topDistance = $('.calcularAlto-120').offset().top;
            var result = parseInt(divHeight120) - parseInt(topDistance);
            $('.calcularAlto-120').css('height', result + 'px');
        }


        /* SIRVE PARA calcular el alto que debe tener el div menos 190px */
        if($('.calcularAlto-190').offset()){
            
            var divHeight190 = $(window).height() - 80;
            var topDistance = $('.calcularAlto-190').offset().top;
            var result = parseInt(divHeight190) - parseInt(topDistance);
            $('.calcularAlto-190').css('height', result + 'px');
        }
        
        
        //$('#mCSB_1_container').animate({ scrollTop: 100}, 600);        
        //$('#mCSB_1_container').scrollTop(100)
        //$('#chatings').animate({ scrollTop: $('#chatings').height()}, 600);        
        //$('#scrollChat.scrollableContent').animate({ scrollTop: -50}, 1);
    }

    $(window).resize(function() {
        adjustMessageBox();
    });
    function confirmDelete(meHeadIdParam) {
        meHeadId=meHeadIdParam;
        $('#wejo_box_01').html($('#boxConfirmDelete').html());
        modal.open();
    }
    function deleteMsg() {
       var data = "method=delete&me_head_id=" + meHeadId;
        closeModal();
        $.ajax({
                type: "DELETE",
                url: '/main/messages/',  
                data: data,
                success: function(response){
                    if (response == null || response.status == 500){
                         operations.showMessage('Try Again', 'error');
                    }
                    if (response.status == 200) {
                        
                        operations.showMessage('', 'ok');
                        setTimeout(function(){
                            $('#divMessages').load('/main/messages/method/index2');
                        },2000);
                    }
                }, 
                dataType: 'json'
            });
    }

    function closeModal() {
        $('#wejo_box_01').empty();
        modal.close();
    }
    function loadMsg(order){
        $('#divMessages').load('/main/messages/method/index2/order/'+order);
    }
    function showMessage(meHeadId) {
        hideAllDivs();
        $('#divMessages').show();
        var url = '/main/messages/method/show/me_head_id/' + meHeadId;
        $('#divMessages').load(url);
    }
</script>