<?php   include_once("common.phtml");?>

<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>    
<script type="text/javascript" src="/js/paged-scroll/jquery-paged-scroll.js"></script>

<style>
    
    .receipts{
        
        font-size: 13px;
        font-weight: normal;
    }
    
</style>


    <div class="fixed-header elem-heigth">
        <div class="col-xs-12">

            <div class="col-xs-12 mess_head">
                <div onclick="startNewMessage()" class="anim-icon">
                    <a href="#">
                        <span>New message</span>
                        <img src="/images/animicon-mess.png" alt="New message">
                    </a>
                </div>
            </div><!-- messages head -->
        </div>
    
        <div class="col-xs-12 mess_table no-margins">
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12 mess_table_searcher no-margins">
                        <div class="col-xs-4 no-margins">
                            <input id="searchMessage" type="text" placeholder="Search" value="<?php echo $this->keywords ?>">
                        </div>

                        <div class="col-xs-4" style="float: right !important;">
                            <ul class="discuss_filters">
                                
                                <li id="filterUnread" onclick="onFilterMessageClick(this)" style="text-decoration: none; float: right;"><?php echo $this->countUnread ?> Unread</li>
                                
                                <li style="text-decoration: none; float: right;">/</li>
                                
                                <li id="filterDraft" onclick="onFilterMessageClick(this)" style="text-decoration: none; float: right;"><?php echo $this->countDraft ?> Draft</li>
                                
                                <li style="text-decoration: none; float: right;">/</li>
                                
                                <li id="filterSent" onclick="onFilterMessageClick(this)" style="text-decoration: none; float: right;"><?php echo $this->countSent ?> Sent</li>
                                
                                <li style="text-decoration: none; float: right;">/</li>
                                
                                <li id="filterAll" class="filter_active" onclick="onFilterMessageClick(this)" style="text-decoration: none; float: right;"><?php echo $this->countAll ?> Messages</li>
                                
                            </ul>                        
                        </div>

                    </div>   
                                        

                    <div class="row">
                        <div class="col-xs-12 no-margins" style="border-bottom: 1px solid #E48C00; overflow: hidden; height: 2px">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-xs-12" style="overflow: hidden">

            <div class="col-xs-11 col-xs-offset-1 mess_table_head">                
                <div class="col-xs-3" onclick="orderMessages('name', this)"><p>Name <span id="orderName" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
                <div class="col-xs-6" onclick="orderMessages('title', this)"><p>Title <span id="orderTitle" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
                <div class="col-xs-2 col-xs-offset-1" style="text-align:right" onclick="orderMessages('date', this)"><p>Date <span id="orderDate" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></p></div>
            </div>

        </div>
    </div><!-- FIN fixed-header -->
    
    <div id="divMessageList" class="row mess_table_container calculate-heigth" style="overflow: scroll; height: 600px;">       
        <?php include_once 'message-list.phtml';?>
    </div>    

<script type="text/javascript">
    
    var objOrder = { by :  '<?php echo $this->orderBy ?>',
                     order : '<?php echo $this->order ?>'};                 
    
    var filter = '<?php echo $this->filter ?>';
    
    $(document).ready(function() { 
        
        $(".drop-down").on('mouseover', function(event){
            $(this).find("#btnTrash").show();
        });
        
        $(".drop-down").on('mouseout', function(event){
            $(this).find("#btnTrash").hide();
        });

        $(".drop-down").on("click", function(){
            openThread(this);
        });

        
        operations.hideSearcher();
        $(".content").css("overflow-y","hidden");
        $("#divMainBody").css("overflow-y","hidden");
        
        initOrders();
        initFilters();
        
        var messageUserByConnect = "<?php echo $this->messageUserByConnect ?>"

        if(messageUserByConnect != ""){
            startNewMessage(messageUserByConnect);
        }

        //calcular el alto del contenedor scrollable
        var headerH = $(".elem-heigth").height();
        var scrollable = $(".calculate-heigth");
        var windowH = $(window).height();

        $(window).resize(function() {
            var headerH = $(".elem-heigth").height();
            var scrollable = $(".calculate-heigth");
            var windowH = $(window).height();
            scrollable.height(windowH - headerH - 55);
        });
            
        function calculateHeight() {
            scrollable.height(windowH - headerH - 55);
        };

        calculateHeight();

        $('#searchMessage').on("keypress", function(e) {
            if (e.keyCode == 13 && $('#searchMessage').val() != "") {
                var keywords = $("#searchMessage").val();
                var url = '/main/messages/method/index/list/1/keywords/'+keywords;
                $('#divMessageList').load(url);   
            }else if(e.keyCode == 13 && $('#searchMessage').val() == ""){
                return false;
            }
            
        });
        
        $('#searchMessage').on("keyup", function(e) {
            if($('#searchMessage').val() == ""){
                var url = '/main/messages/method/index/list/1';
                $('#divMessageList').load(url);  
            }
            
        });
        initScrollInfinite();
                
    });       
        
        
    var onMouseOverHead = function (obj){
        
        $(obj).find("#btnTrash").show();
    }
    
    var onMouseOutHead = function (obj){
        
        $(obj).find("#btnTrash").hide();
    }
            
   
    function openThread(obj){     
        
        if($("#boxConfirmDelete").is(":hidden")) { 
           
            objHeadId = obj.id.split("_");
            objHeadElement = $("#divHeadElement_"+objHeadId[1]);

            if ( objHeadElement.is( ":hidden" ) ) {


                $(obj).find(".mess_table_mess").css("margin","0");
                $(obj).find(".show-hide").hide();
                $(obj).find("#imageProfileHeader").hide();
                $(obj).find(".expand").removeClass("col-xs-7");
                $(obj).find(".expand").addClass("col-xs-11");            
                $(obj).find(".expand").css('font-weight', 'bold');
                $(obj).find(".show").fadeIn(500);
                $(obj).find(".receipts").fadeIn(500);
                $(obj).find(".message_margin_top").css('margin-top', '30px');
                $(obj).find("#messagesCount").hide();
                $(obj).find("#headPreview").hide();
                
                

                var url = '/main/messages/method/show/me_head_id/' + objHeadId[1];


                if( !$.trim(objHeadElement.html()) ){

                    operations.showSpinner('Loading');
                    
                    $( objHeadElement ).load(url, function(){

                        operations.hideSpinner();                    
                        $( objHeadElement ).slideDown();

                    });  

                }else{
                    
                    $( objHeadElement ).slideDown();
                }
                                
                $("#divHeadData_"+objHeadId[1]).removeClass("mess_unread");                                
                $("#divHeadData_"+objHeadId[1]).css('height', '70px');                

            } else {
                
                $(obj).find(".mess_table_mess").css("margin","3px 0");
                $(obj).find(".show-hide").show();                
                $(obj).find("#imageProfileHeader").show();
                $(obj).find(".expand").removeClass("col-xs-11");
                $(obj).find(".expand").addClass("col-xs-7");
                $(obj).find(".expand").css('font-weight', 'normal');
                $(obj).find(".message_margin_top").css('margin-top', '0px');            
                $(obj).find(".receipts").hide();
                $(obj).find("#messagesCount").show();
                $(obj).find("#headPreview").show();

                $("#divHeadData_"+objHeadId[1]).css('height', '47px');

                $( objHeadElement ).slideUp();
            }
        }
        
    }
    

    var meHeadId = 0;
    $("#unreadCount").text('<?php echo $unreadMsg?>');
    
    function orderMessages(orderBy){
        
        var keywords = $("#searchMessage").val();
        
        objOrder.by = orderBy;
        
        if(objOrder.order === 'ASC')
            objOrder.order = 'DESC';
        else
            objOrder.order = 'ASC';
        $('#divMessageList').load('/main/messages/method/index/list/1/order/'+objOrder.order+'/order_by/'+objOrder.by+"/keywords/"+keywords);
             
        initOrders();     
    }
    
    function startNewMessage(messageUserByConnect) {
        
        hideAllDivs();
        $('#divMessages').show();
        var url = '/main/messages/method/new/me_head_id/0/messageUserByConnect/'+messageUserByConnect;
        $('#divMessages').load(url);
    }
    
    
    function onJournalistPictureClick(journalistID) {
        
        operations.showSpinner('Loading');
        var contentType = '<?php echo ((Main_Model_Content::TYPE_ARTICLE)?Main_Model_Content::TYPE_ARTICLE:1); ?>'; 
        
        var url = "/main/journalists/method/index/journalist_id/"+journalistID+"/con_type/"+contentType;
        window.location.assign("<?php echo $this->baseUrl(); ?>" + url);
    }
    
    
    function onFilterMessageClick(objFilter){
        
        var keywords = $("#searchMessage").val();
        
        disableFilters();
        $( objFilter ).addClass('filter_active');
        
        operations.showSpinner('Loading');         
        var url = '/main/messages/method/index/list/1/filter/' + $(objFilter).attr('id')+"/keywords/"+keywords;
        $('#divMessageList').load(url, function(){
            
            
            $(".drop-down").on('mouseover', function(event){
                $(this).find("#btnTrash").show();
            });

            $(".drop-down").on('mouseout', function(event){
                $(this).find("#btnTrash").hide();
            });

            $(".drop-down").on("click", function(){
                openThread(this);
            });
            
            
        });  
    }
    
    
    function disableFilters(){
        
        $('#filterAll').removeClass('filter_active');
        $('#filterUnread').removeClass('filter_active');
        $('#filterSent').removeClass('filter_active');
        $('#filterDraft').removeClass('filter_active');
    }
    
    
    function initOrders(){
        
        switch(objOrder.by){
            
            case 'name':
                
                if(objOrder.order === 'ASC'){
                    
                    $('#orderName').removeClass("glyphicon-chevron-down");
                    $('#orderName').addClass("glyphicon-chevron-up");
                    
                }else{
                    
                    $('#orderName').removeClass("glyphicon-chevron-up");
                    $('#orderName').addClass("glyphicon-chevron-down");
                    
                }
                break;
                
            case 'date':
                
                if(objOrder.order === 'ASC'){
                    
                    $('#orderDate').removeClass("glyphicon-chevron-down");
                    $('#orderDate').addClass("glyphicon-chevron-up");
                    
                }else{
                    
                    $('#orderDate').removeClass("glyphicon-chevron-up");
                    $('#orderDate').addClass("glyphicon-chevron-down");
                    
                }                
                break;
                
            case 'title':
                
                if(objOrder.order === 'ASC'){
                    
                    $('#orderTitle').removeClass("glyphicon-chevron-down");
                    $('#orderTitle').addClass("glyphicon-chevron-up");
                    
                }else{
                    
                    $('#orderTitle').removeClass("glyphicon-chevron-up");
                    $('#orderTitle').addClass("glyphicon-chevron-down");
                    
                }
                
                break;
        }
    }
    
    function initFilters(){
        
        disableFilters();
        $( '#'+ filter ).addClass('filter_active');
    }
    
    var doScroll = true;
    function initScrollInfinite(){       
        

        $('#divMessageList').paged_scroll({
            
            handleScroll:function (page,container,doneCallback) {

                if(!doScroll)
                    return false;
                
                doScroll = false;

                var keywords = $("#searchMessage").val();
                var extraUrl = '/filter/' + $(".filter_active").attr('id') + "/keywords/" + keywords;
                var url = '/main/messages/method/index/list/1/page/' + page + extraUrl;
                        
                var urlFiltered = getFilteredUrl(url);                

                $.get(urlFiltered, function(response) {
                    
                    var jsonPos = response.indexOf('{');
                    if (jsonPos === 0) {
                        
                        doneCallback();
                        return;
                    }

                    $('#divMessageList').append(response); 
                    doScroll = true;

                }, 'html');
                
                return true;
                
            },
            triggerFromBottom:'1%',
            targetElement : $('#divMessageList'),
            //debug:true,
            loading : {                
                html  : '<div style="text-align:center"><img style="opacity:0.7; height: 50px;" src="/images/spinner_scroll.gif"></div>',
            },
            pagesToScroll:50,  
            monitorTargetChange : true,
             /*  
             before page hook ,if returns false execution stops
             */
            beforePageChanged:function (page, container) {
            },
             /*
             after page scroll callback
             */
            afterPageChanged:function (page, container) {                
            }                                            
        });        
    }
    
    
/*  REPLY Functions  */    

    function onSenderClick(userID){
        
        var url = '/main/journalists/method/index/journalist_id/'+userID+'/con_type/1';
        window.location = url;
    }
    

    function onReplyMessageClick(headID){
        
        $('#divReplyButton_' + headID).hide();       
        
        var userList = '<?php echo $userListString; ?>';
        var url = '/main/messages/method/reply/user_list/' + userList + '/me_head_id/' + headID;
     
        $("#boxReply_" + headID).load(url, function(){
           
           //callback Reply
        });
    }


    function sendReply(formName){
       
        //disable autosave
        allowAutosave = false;
        
        //disable send button
        $('#' + formName).find(".send-button").attr("disabled", "disabled");        
        
        operations.showSpinner('Sending');
        
        //It's not a draft
        $('#' + formName).find("#draft").val(0);        
        $('#' + formName).find(".auto_save_message").html('Sending..');
        
        $('#' + formName).find("#txtUsers").val(setFinalDataUser(formName));
        
        var url = '/main/messages/';        
        operations.save(formName, url, replySuccess, replyError);        
    }
    
    function replySuccess() {
        
        operations.hideSpinner();
        operations.showMessage('Sent', 'ok');
        $('#divMessages').load('/main/messages/method/index');           
        
        return true;
    }    
    
    function replyError(event){
        
        if(event.errors && event.errors.text){
            alertify.error('text: ' + event.errors.text, 10000);
        }
        
    }
    

/*  REPLY Functions  */        

    var dataUsers;
    var countChars = 0;
    var timerReply;
    var allowAutosave = true;
    var isAutosaving = false;
    var sendPending = false;
    var draftPending = false;

    function messageKeyPress(event, formName) {

        var key = event.keyCode || event.charCode;

        //If it's CTRL+ENTER save normally        
        //var sendButtonDisabled = $('#' + formName).find(".send-button").prop("disabled");
        var sendButtonDisabled = $('#' + formName).find(".send-button").is(":disabled");
        if(key === 13 && event.ctrlKey && sendButtonDisabled === false){ 

            $('#' + formName).find(".send-button").attr("disabled", "disabled");
            clearTimeout(timerReply);

            if(isAutosaving){
                sendPending = true;
                return true;        
            }

            sendReply(formName);
            return true;
        }    

        //If autosave has already been called
        if(isAutosaving)
            return true;
        
        //delete keys
        if( key === 8 || key === 46 )
            countChars--;
        else
            countChars++;        
   
        if(countChars >= 4){
            
            if(allowAutosave)
                saveDraftReply(formName);
            else
                draftPending = true;                        
        }        

    }


    function saveDraftReply(formID){
        
        isAutosaving = true;
        allowAutosave = false;

        $('#'+ formID).find("#draft").val(1);
        $('#'+ formID).find(".auto_save_message").html('Saving...');
        
        $("#txtUsers").val(setFinalDataUser(formID));
        
        var url = '/main/messages/';
        operations.save(formID, url, autoSaveCallback, errorAutosaveCallback);        
    }
    
    
    function autoSaveCallback(response){                

        var formName = response.data.formName;
        
        if( parseInt(response.status) !== 200 ){
            
            console.log(JSON.stringify(response));
            $('#' + formName).find(".auto_save_message").html(response.data.message);

            isAutosaving = false;
            return true;
        }
        
        var savedHeaderID = response.data.headerID;
        var savedMessageID = response.data.messageID;
        
        $('#' + formName).find(".auto_save_message").html('Saved');
        $('#' + formName).find('#meHeadId').val(savedHeaderID);
        $('#' + formName).find('#messageID').val(savedMessageID);
                        
        isAutosaving = false;
        
        if(sendPending){
            
            sendPending = false;
            sendReply(formName);
            return true;
        }
        

        /*Just saved. Allow autosave again after 3 seconds*/
        timerReply = setTimeout(function(){
            
            allowAutosave = true;
            
            if(draftPending){
            
                draftPending = false;
                saveDraftReply(formName);
            }            
            
        }, 5000, formName);
        
        
    }    
    
    function errorAutosaveCallback(response){
        
        console.log('errorAutosaveCallback - ' +  JSON.stringify(response));
        
        var formName = response.data.formName;        
        $('#' + formName).find(".auto_save_message").html(response.message);
        
        allowAutosave = true;
        isAutosaving = false;        
    }
        

    
    var dataUsers; 
    
    function loadUsers(){
        
        var users = eval(<?php echo ($this->onlyUserName);?>);
        dataUsers = eval(<?php echo ($this->completeUser);?>);

        function split( val ) {
                return val.split( /,\s*/ );
        }
        function extractLast( term ) {
                return split( term ).pop();
        }

        $( ".new_recipients" )
                // don't navigate away from the field on tab when selecting an item
                .bind( "keydown", function( event ) {                    
            
                        if ( event.keyCode === $.ui.keyCode.TAB &&
                                        $( this ).autocomplete( "instance" ).menu.active ) {
                                event.preventDefault();
                        }
                })
                .autocomplete({
                        minLength: 0,
                        source: function( request, response ) {
                                // delegate back to autocomplete, but extract the last term
                                response( $.ui.autocomplete.filter(
                                        users, extractLast( request.term ) ) );
                        },
                        focus: function() {
                                // prevent value inserted on focus
                                return false;
                        },
                        select: function( event, ui ) {
                                var terms = split( this.value );
                                // remove the current input
                                terms.pop();
                                // add the selected item
                                terms.push( ui.item.value );
                                // add placeholder to get the comma-and-space at the end
                                terms.push( "" );
                                this.value = terms.join( ", " );
                                return false;
                        }
                });
        var username = "<?php echo $this->user_name ?>";
        if(username !== "null" && username !== ""){
            loadMessageByConnect("<?php echo $this->user_name ?>");
        }        
    }    
    
    
    function setFinalDataUser(formName){
    
        if(! $('#' + formName).find("#user").val())
            return '';
                        
        var selectedUsers = $('#' + formName).find("#user").val().trim().split(",");
        var selectedUsersData = [];
        
        $.each( dataUsers, function( index, value ){
            
            $.each( selectedUsers, function( i, userName ){
                if(value.userName===userName.trim())
                   selectedUsersData.push(value.id);
            });
        });
        
        return selectedUsersData.join(",");
    }
    
</script>