<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>    
<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">



<div class="row mess_table_container"> 

    <div class="col-xs-12">
        
        <div class="col-xs-12 mess_head">
            <div onclick="startNewMessage()" class="anim-icon">
                <a href="#">
                    <span>New message</span>
                    <img src="/images/animicon-mess.png" alt="New message">
                </a>
            </div>
        </div><!-- messages head -->
    </div>

    <div class="col-xs-12 mess_table no-margins">
   
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-8 mess_table_searcher no-margins">
                    <div class="col-xs-6 no-margins">
                        <input type="text" placeholder="Search">
                    </div>
                    
                    <div class="col-xs-6">
                        <ul class="discuss_filters">
                            <li id="filter_1" class="filter_active" onclick="filterList(1)">Recent</li>
                            <li id="filter_2" onclick="filterList(2)">Popular</li>
                            <li id="filter_3" onclick="filterList(3)">Following</li>
                            <li id="filter_4" onclick="filterList(4)">Mine</li>
                        </ul>                        
                    </div>
                    
                </div>                
                
                <div class="col-xs-4 mess_table_notify">
                    <p><span>1 Unread</span> / 45 Messages</p>
                </div>
                <div class="row">
                    <div class="col-xs-12 no-margins" style="border-bottom: 1px solid #E48C00; overflow: hidden; height: 2px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">

        <div class="col-xs-1"></div>

        <div class="col-xs-11 mess_table_head">                
            <div class="col-xs-3"><p>Name <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-6"><p>Title <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-2 col-xs-offset-1"><p>Date <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
        </div>
        
    </div>
        
    <div class="row no-ver-margin single-mess">
        <div class="row no-ver-margin">
            <div class="col-xs-12 no-ver-margin drop-down">
                <div class="col-xs-1 mess_table_picture"><img id="imageProfileHeader" src="http://wejo/main/uploads/method/get.image?file=/thumbnail/52.jpg" class="user_Pic user_pic_fix">
                </div>

                <div class="col-xs-11 mess_table_mess">
                    <div class="col-xs-3 show-hide"><p>Claudio Baiardi</p></div>
                    <div class="col-xs-6 show-hide show expand"><p>This is the title of my message</p></div>
                    <div class="col-xs-1 show-hide show"><input type="button" class="cms_btn_erase cms_btn_erase_fix"></div>
                    <div class="col-xs-2 show-hide show"><p>Dec. 09</p></div>
                </div>
            </div>
        </div>

        <div class="row drop-down-element" style="display: none">
            <div class="col-xs-12">
                <div class="row mess_table_reply">
                    <div class="col-xs-1 mess_table_picture">
                        <img id="imageProfileHeader" src="http://wejo/main/uploads/method/get.image?file=/thumbnail/52.jpg" class="user_Pic user_pic_fix">
                    </div>

                    <div class="col-xs-11 no-margins">
                        <div class="col-xs-12 mess_table_body">              
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dolorum at officia consequatur, minima, tempora eveniet fugiat sed cumque earum laborum obcaecati, libero doloremque quam adipisci amet necessitatibus! Possimus, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui necessitatibus temporibus eligendi officiis reprehenderit, iste quisquam odio, asperiores ipsa optio dolorum. Unde soluta, dolore laboriosam provident quisquam minima hic ut!</p>
                        </div>
                    </div>

                </div>

                <div class="row mess_table_reply">
                    <div class="col-xs-1 mess_table_picture">
                        <img id="imageProfileHeader" src="http://wejo/main/uploads/method/get.image?file=/thumbnail/52.jpg" class="user_Pic user_pic_fix">
                    </div>

                    <div class="col-xs-11 no-margins">
                        <div class="col-xs-12 mess_table_body">              
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dolorum at officia consequatur, minima, tempora eveniet fugiat sed cumque earum laborum obcaecati, libero doloremque quam adipisci amet necessitatibus! Possimus, voluptate.</p>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 15px 0;">
                    <div class="col-xs-1"></div>

                    <div class="col-xs-11 no-margins">           
                        <input type="submit" class="btn-reply" value="Reply">
                    </div>

                </div>
            </div>
        </div>
    </div><!-- debuggear -->

    <div class="row no-ver-margin single-mess">
        <div class="col-xs-12">
            <div class="col-xs-1 mess_table_picture"><img id="imageProfileHeader" src="http://wejo/main/uploads/method/get.image?file=/thumbnail/52.jpg" class="user_Pic user_pic_fix"></div>

            <div class="col-xs-11 mess_table_mess">
                <div class="col-xs-3"><p>Claudio Baiardi</p></div>
                <div class="col-xs-6"><p>This is the title of my message</p></div>
                <div class="col-xs-1"><input type="button" class="cms_btn_erase cms_btn_erase_fix"></div>
                <div class="col-xs-2"><p>Dec. 09</p></div>
            </div>
        </div>
    </div>

    <div class="row no-ver-margin single-mess">
        <div class="col-xs-12">
            <div class="col-xs-1 mess_table_picture"><img id="imageProfileHeader" src="http://wejo/main/uploads/method/get.image?file=/thumbnail/52.jpg" class="user_Pic user_pic_fix"></div>

            <div class="col-xs-11 mess_table_mess mess_unread">
                <div class="col-xs-3 "><p>Claudio Baiardi</p></div>
                <div class="col-xs-6 "><p>This is the title of my message</p></div>
                <div class="col-xs-1 "><input type="button" class="cms_btn_erase cms_btn_erase_fix"></div>
                <div class="col-xs-2 "><p>Dec. 09</p></div>
            </div>
        </div>
    </div>

</div><!-- Tabla Message -->


<script>
    
    $(document).ready(function() { 

        var message = $(".drop-down");
        var element = $(".drop-down-element");
        var messTableMess = $(".mess_table_mess");


        function startAnimations() {
            message.mousedown(function() {
                $(this).find(".show-hide").hide( "drop", { direction: "up" }, 200 );

                var variable = $(this);

                setTimeout(function() {
                    variable.find(".expand").removeClass("col-xs-6");
                    variable.find(".expand").addClass("col-xs-9");
                    variable.find(".show").fadeIn(200);
                    dropDown();
                }, 200);

            });
        };

        startAnimations();

        function dropDown() {
            element.slideDown();
            alterFunction();
        };

        function alterFunction() {
            message.unbind("mousedown");
            message.mousedown(function() {
                $(this).find(".show").fadeOut(200);

                var variable = $(this);

                setTimeout(function() {
                    variable.find(".expand").removeClass("col-xs-9");
                    variable.find(".expand").addClass("col-xs-6");
                    variable.find(".show-hide").show( "drop", { direction: "down" }, 200);
                    //variable.find(".show-hide").show();
                    slideUp();
                }, 200);

            });
        };

        function slideUp() {
            element.slideUp();
            message.unbind("mousedown");
            revertFunction();
        };

        function revertFunction() {
            message.mousedown(function() {
                startAnimations();
            });
        };

    });
    
    
    function startNewMessage() {
        
        hideAllDivs();
        $('#divMessages').show();
        var url = '/main/messages/method/new';
        $('#divMessages').load(url);
    }
    

</script>