<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>    
<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">

<div class="row mess_table_container">
    <div class="col-xs-12">

        <div class="col-xs-12 mess_head">

                <img src="/images/flaticon_mess.png" alt="#">

                <input class="txt-searcher" type="text" placeholder="Search">

        </div><!-- messages head -->

    <div class="col-xs-12 mess_table no-margins">
        <div class="col-xs-12 mess_table_notify">
            <p><span>1 Unread</span> / 45 Messages</p>
        </div>

        
        <div class="col-xs-12 mess_table_top">
            <div class="col-xs-3 col-xs-offset-1"><p>Name <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-4"><p>Title <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
            <div class="col-xs-3 col-xs-offset-1"><p>Date <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></p></div>
        </div>
        

        <div class="col-xs-12 mess_table_mess">
            <div class="col-xs-1" style="text-align: center"><img id="imageProfileHeader" src="http://wejo/main/uploads/method/get.image?file=/thumbnail/52.jpg" class="user_Pic user_pic_fix"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam in pariatur, voluptas. Impedit fugit laboriosam quasi autem qui fugiat illum, debitis, quia rerum quo aspernatur consequatur veritatis commodi libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque autem architecto, repellat sed, illum, id culpa enim dicta aliquam asperiores, non perspiciatis ratione a ullam placeat delectus reiciendis voluptatem quaerat?</p>
        </div>

    </div><!-- Tabla Message -->


    </div>
</div>