<?php
$listMessages = json_decode($this->jSon); 
$unreadMsg = 0; ?>
    <?php
    
        $counter = 0;
        
        foreach ($listMessages as $msg) {
            
            $classUnRead="";
            $draft = "";            
            
            if ( ! $msg->me_read_id) {
                $classUnRead="mess_unread";
                $unreadMsg ++;
            }  
            
            if ( $msg->me_isdraft) {
                $draft=" (draft)";
            }  
            
            $countUsers = $msg->count_users;
            $messageCount = $msg->count_messages ? " (" . $msg->count_messages .") " : "";
    ?>
    
        <div class="row single-mess topmargin-3">
            <div class="row no-ver-margin">
                <div class="col-xs-12 no-ver-margin drop-down" id="divHead_<?php echo $msg->me_head_id;?>" >
                    
                    <?php if($counter > 0) { ?>
                    
                        <div type="hidden" class="message_margin_top"></div>
                        
                    <?php } ?>
                    
                    
                    <div class="col-xs-1 mess_table_picture"><img id="imageProfileHeader" src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $msg->userToPic; ?>" class="user_Pic user_pic_fix">
                    </div>

                    <div id="divHeadData_<?php echo $msg->me_head_id;?>" class="col-xs-11 mess_table_mess <?php echo $classUnRead; ?>">
                        <div class="col-xs-3 show-hide"><p><?php echo $msg->userToName . " " . (($countUsers>2)?" +".($countUsers-2):"").$draft ?></p></div>
                        <div class="col-xs-7 show-hide show expand prev-mess">
                            <p><span id="messagesCount"><?php echo $messageCount ?></span><?php echo $msg->me_head_title; ?><span id="headPreview" style="text-overflow: ellipsis;font-style: italic"><?php echo ' - ' . $msg->me_text; ?></span>
                            <br><div class="receipts" style="display: none;"><?php echo 'To: ' . $msg->receipts ?></div>
                            </p>
                        </div>
                      
                        <div class="col-xs-1 show-hide show" id="btnTrash" style="display:none; float: right"><input type="button" onclick="confirmDeleteThread('<?php echo $msg->me_head_id ?>', event)" class="cms_btn_erase cms_btn_erase_fix"></div>
                        <div class="col-xs-2 show-hide" style="text-align:right;"><p><?php echo $msg->me_date_sent; ?></p></div>
                        
                    </div>
                </div>
            </div>

            <div id="divHeadElement_<?php echo $msg->me_head_id;?>" class="row drop-down-element" style="display: none">
            </div>

        </div>
    
    <?php 
            $counter++;
    
        } //foreach  
    ?>