<!--NEW_MESSAGE-->
<!--NEW_MESSAGE-->

<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>    
<script src="<?php echo $this->baseUrl() . '/js/jquery.remodal.js' ?>"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/jquery.remodal.css' ?>">

<div class="row mess_table_container">
    <div class="col-xs-12">

        
        
        
        
        
        
        
        
        <div class="col-xs-12 mess_head">
            <div class="row">
                <div class="col-xs-12 no-margins">
                    <div onclick="startNewMessage()" class="anim-icon">
                        <a href="#">
                            <span>New message</span>
                            <img src="/images/animicon-mess.png" alt="New message">
                        </a>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 no-margins">
                    <h2>NEW MESSAGE</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="border-bottom: 1px solid #E48C00; overflow: hidden; height: 2px">
                </div>
            </div>

        </div><!-- messages head -->
                
            
            
            
            
            
            
            

        <div class="row">
            <div class="col-xs-12 no-margins">
                <div class="col-xs-1 mess_table_picture no-margins"><img id="imageProfileHeader" src="/main/uploads/method/get.image?file=/thumbnail/<?php echo Main_Model_User::getSession(Main_Model_User::USER_PIC) ?>" class="user_Pic user_pic_fix"></div>

                    <div class="col-xs-11 mess_table_mess new_mess">

                        
                        
                        
                        
                        
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-9 col-md-10">
                                    <input type="text" class="new_title" placeholder="Title">
                                </div>
                                <div class="col-xs-3 col-md-2">
                                    <input type="button" class="cms_btn_back cms_btn_reset">
                                    <input type="button" class="cms_btn_erase cms_btn_reset">
                                </div>
                            </div>
                        </div>
                        
                        <div class="mid-line"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" class="new_recipients" placeholder="Recipients">
                            </div>
                        </div>
                        <div class="mid-line"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <textarea name="#" class="new_message" placeholder="Write your message..."></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <input type="submit" class="btn-send" value="Send">
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>

    <div class="col-xs-12 mess_table no-margins">
        <div class="row">
        </div>
    </div><!-- Tabla Message -->

</div>


<script>
    
    $(document).ready(function() { 

        var message = $(".drop-down");
        var element = $(".drop-down-element");


        message.mousedown(function() {
            dropDown();
        });

        function dropDown() {
            element.slideDown();
            alterFunction();
        };

        function alterFunction() {
            message.unbind("mousedown");
            message.mousedown(function() {
                slideUp();
            });
        };

        function slideUp() {
            element.slideUp();
            message.unbind("mousedown");
            revertFunction();
        };

        function revertFunction() {
            message.mousedown(function() {
                dropDown();
            });
        };

    })

</script>