<!--MESSAGE-->
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.core.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/alertify/alertify.flat.css'?>">
<link rel="stylesheet" href="<?php echo $this->baseUrl() . '/css/reset.autocomplete.css'?>">
<script src="<?php echo $this->baseUrl() . '/js/alertify/alertify.min.js' ?>"></script>

<?php 

    if(!$this->meHeadId){
        include_once("common.phtml");
        
} ?>


<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<?php   if($this->meHeadId){ 
    
            $marginStyle = 'style="margin-top:20px; margin-bottom:20px;" ';
            
        }else
            
            $marginStyle = '';
            
?>


<div class="row mess_table_container" <?php echo ' ' . $marginStyle ?> >
    <div class="col-xs-12">
            
    <?php 

        $class =' class="btn-send"';
        $btnName="Send";
        $diplayListJournalist="display";
        $textAreaHeight = 'height: 360px !important;';

        if(!$this->meHeadId){ ?>
        
        <div class="col-xs-12 mess_head">
            <div class="row">
                <div class="col-xs-12 no-margins">
                    <div onclick="startNewMessage()" class="anim-icon-active">
                        <a href="#">
<!--                            <span>New message</span>-->
                            <img src="/images/animicon-mess.png" alt="New message">
                        </a>
                    </div>

                </div>
            </div>

            <div class="row" style="margin-top:35px">
                <div class="col-xs-12 no-margins">
                    <h2>NEW MESSAGE</h2>
                </div>                    
            </div>

            <div class="row">
                <div class="col-xs-12" style="border-bottom: 1px solid #E48C00; overflow: hidden; height: 2px">
                </div>
            </div>

        </div>
        
    <?php }else{
            
        $class =' class="btn-send"';
        $btnName="Send";
        $diplayListJournalist="none";
        $textAreaHeight = 'height: 300px !important;';

    } ?>

        <div class="row">
            <div class="col-xs-12 no-margins">
                <div class="col-xs-1 mess_table_picture no-margins"><img id="imageProfileHeader" src="/main/uploads/method/get.image?file=/thumbnail/<?php echo Main_Model_User::getSession("user_pic") ?>" class="user_Pic user_pic_fix"></div>
                
                    <div class="col-xs-11 mess_table_mess" style="<?php echo $textAreaHeight ?>" >   
                    
                    <form id="formMessage" name="formMessage" enctype="multipart/form-data">
                        
                        <input type="hidden" id="txtUsers" name="txtUsers">
                        <input type="hidden" id="meHeadId" name="meHeadId" value="<?php echo $this->meHeadId; ?>">
                        <input type="hidden" id="messageID" name="messageID" value="<?php echo $this->meId; ?>">
                        <input type="hidden" id="draft" name="draft" value="0">
                        
                        <div class="row" style="display:<?php echo $diplayListJournalist;?>">
                            <div class="row">
                                <div class="col-xs-9 col-md-10">
                                    <input type="text"maxlength="90" class="new_title" id="txtTitle" name="txtTitle" placeholder="Title" onkeypress="messageKeyPress(event)">
                                </div>
                                <div class="col-xs-3 col-md-2">
                                    <input type="button" onclick="loadMessages()" class="cms_btn_back cms_btn_reset">
                                    <input type="button" class="cms_btn_erase cms_btn_reset" onclick="confirmDelete(<?php echo $this->meHeadId; ?>);">
                                </div>
                            </div>
                        </div>

                        <div class="mid-line" style="display:<?php echo $diplayListJournalist;?>"></div>
                        <div class="row" style="display:<?php echo $diplayListJournalist;?>">
                            <div class="col-xs-12">
                                <input id="user" value="<?php echo $this->userList; ?>" name="user" type="text" class="new_recipients" placeholder="Recipients">
                            </div>
                        </div>
                        <div class="mid-line" style="display:<?php echo $diplayListJournalist;?>"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <textarea id="text" name="text" class="new_message" placeholder="Write your message..." onkeypress="messageKeyPress(event)"><?php echo $this->meText?></textarea>
                            </div>                            
                        </div>

                        <div class="row" style="margin-top:20px;">
                            <div class="col-xs-12">
                                <input type="button" <?php echo $class;?> id="btnSendMessage" value="<?php echo $btnName;?>">
                                <p id="messageSaving" style="float: right; display: inline; color: #E48C00"></p>
                            </div>                            
                        </div>                     
                    </form>
                    </div>
                </div>
        </div>
    </div>
    
<!--        <div class="col-xs-12 mess_table no-margins">   ESTA EN EL LAYOUT DE CLAUDIO PERO NO SE USA ??
            <div class="row">
            </div>
        </div> Tabla Message -->
        
</div>

<script type="text/javascript">

    //var dataUsers;
    var countChars = 0;
    var timerMessage;
    var allowAutosave = true;
    var isAutosaving = false;
    var sendPending = false;
    
    $(document).ready(function() {
            
            $("#btnSendMessage").on("click", function(e) {
                if($("#btnSendMessage").prop("disabled") === false){
                    $("#btnSendMessage").attr("disabled", "disabled");
                    sendMessage();
                }
            });
            loadUsers();
            hideErrorMessages();
    }) ;

    function hideErrorMessages(){
        
        operations.hideSpinner();
        if($('.alertify-log'))
            $('.alertify-log').removeClass('alertify-log-show');
    }

    function loadUsers(){
        
        var users = eval(<?php echo ($this->onlyUserName);?>);
        dataUsers = eval(<?php echo ($this->completeUser);?>);

        function split( val ) {
                return val.split( /,\s*/ );
        }
        function extractLast( term ) {
                return split( term ).pop();
        }
        
        $( "#user" )
                // don't navigate away from the field on tab when selecting an item
                .bind( "keydown", function( event ) {
                        if ( event.keyCode === $.ui.keyCode.TAB &&
                                        $( this ).autocomplete( "instance" ).menu.active ) {
                                event.preventDefault();
                        }
                })
                .autocomplete({
                        minLength: 0,
                        source: function( request, response ) {
                                // delegate back to autocomplete, but extract the last term
                                response( $.ui.autocomplete.filter(
                                        users, extractLast( request.term ) ) );
                        },
                        focus: function() {
                                // prevent value inserted on focus
                                return false;
                        },
                        select: function( event, ui ) {
                                var terms = split( this.value );
                                // remove the current input
                                terms.pop();
                                // add the selected item
                                terms.push( ui.item.value );
                                // add placeholder to get the comma-and-space at the end
                                terms.push( "" );
                                this.value = terms.join( ", " );
                                return false;
                        }
                })
                .data("ui-autocomplete")._renderItem = function( ul, item ) {
                    return $( '<li>' )
                      .append( '<a><img id="imageProfileHeader" src="/main/uploads/method/get.image?file=/thumbnail/' + item.pic + '" class="user_Pic">' + item.label + '</a>' )
                      .appendTo( ul );
                };
        var username = "<?php echo $this->user_name ?>";
        if(username !== "null" && username !== ""){
            loadMessageByConnect("<?php echo $this->user_name ?>");
        }
        
    }

    function loadMessageByConnect(user_name){
        if(user_name){
            $("#user").val(user_name+",");
        }   
        else{
            $("#user").val(user_name);
        }    
        operations.hideSpinner();
    }
    
    
    function sendMessage() { 
        
        $('#draft').val(0);
        
        //var meHeadId = $("#meHeadId").val();
        //var $button = $("#btnSendMessage");
        /*if( $('#user').val().trim() === ''){
            $button.removeAttr('disabled');
            return true;
        }
        //se valida el titulo del hilo siempre que sea nuevo, sino lo hereda
        if( $('#txtTitle').val().trim() === '' && !meHeadId){
            $button.removeAttr('disabled');
            return true;
        }    
        if( $('#text').val().trim() === ''){
            $button.removeAttr('disabled');
            return true;
        } */  
        var users = setFinalDataUser();
        /*if( users === ''){
            $button.removeAttr('disabled');
            return true;
        } */  
        $("#txtUsers").val(users);  
        operations.showSpinner('Saving');
        var url = '/main/messages/';
        operations.save(formMessage, url, showSuccess, sendErrorCallback);
    }
    
    
    function sendErrorCallback(event) {
        
        operations.hideSpinner();                
        
        //Avoid duplicated messages
        $('#alertify-logs').remove();
        
        console.log(event.errors);
        if(event.errors && event.errors.txtTitle){
            alertify.error('Title: ' + event.errors.txtTitle, 10000);
        }
        if(event.errors && event.errors.txtUsers){
            alertify.error('Journalist: ' + event.errors.txtUsers, 10000);
        }
        if(event.errors && event.errors.text){
            alertify.error('text: ' + event.errors.text, 10000);
        }

        if(event.errors && event.errors.btnSendMessage){
            alertify.error(event.errors.btnSendMessage);
        }
                        
        //$('#divMainBody').animate({scrollTop : 0},800);  
        $("#btnSendMessage").removeAttr('disabled');
    }    
    
    
    function setFinalDataUser(){
        
        var selectedUsers = $('#user').val().trim().split(",");
        var selectedUsersData = [];
        $.each( dataUsers, function( index, value ){
            $.each( selectedUsers, function( i, userName ){
                if(value.userName===userName.trim())
                   selectedUsersData.push(value.id);
            });
        });
        
        return selectedUsersData.join(",");
    }
    
    
    function showSuccess() {
        
        operations.hideSpinner();
        operations.showMessage('Sent', 'ok');
        setTimeout(function(){

            $('#divMessages').load('/main/messages/method/index');
           
        },2000);
        return true;
    }
    

    
    function loadMessages(){
        $('#divMessages').load('/main/messages/method/index');
        return true;
    }
    
    
    function eraseList(){
        $('#user').val("");
    }
       
    
    var draftPending = false;
    function messageKeyPress(event) {

        var key = event.keyCode || event.charCode;
        
        //If it's CTRL+ENTER save normally
        if(key === 13 && event.ctrlKey && $("#btnSendMessage").prop("disabled") === false){ 

            $("#btnSendMessage").attr("disabled", "disabled");
            clearTimeout(timerMessage);

            if(isAutosaving){
                sendPending = true;
                return true;        
            }

            sendMessage();
            return true;
        }    

        //If autosave has already been called
        if(isAutosaving){
            return true;        
        }       
        
        //delete keys
        if( key === 8 || key === 46 )
            countChars--;
        else
            countChars++;        
        
        if(countChars >= 4){
            
            if(allowAutosave)
                saveDraft();
            else
                draftPending = true;                        
        }        
        
    }
    
    function saveDraft(){
        
        isAutosaving = true;
        allowAutosave = false;
        $('#draft').val(1);
        $('#messageSaving').html('Saving...')
        $("#txtUsers").val(setFinalDataUser());
        
        var url = '/main/messages/';
        operations.save(formMessage, url, autoSaveCallback, errorAutosaveCallback);        
    }
    
    
    function autoSaveCallback(response){                
        
        if( parseInt(response.status) !== 200 ){
            
            console.log(response);
            $('#messageSaving').html('Message did not save');            
            isAutosaving = false;
            return true;
        }
        
        $('#messageSaving').html('Autosaved')
        
        var savedHeaderID = response.data.headerID;
        var savedMessageID = response.data.messageID;
        
        $('#meHeadId').val(savedHeaderID);
        $('#messageID').val(savedMessageID);
        
        isAutosaving = false;
        
        if(sendPending){
            sendMessage();
            return true;
        }
        
        /*Just saved. Allow autosave again after 5 seconds*/
        timerMessage = setTimeout(function(){
            allowAutosave = true;
            
            if(draftPending){
            
                draftPending = false;
                saveDraft();
            }            
            
        }, 5000);
        
    }
    
    function errorAutosaveCallback(response){
        
        console.log(response);
        $('#messageSaving').html("Message didn't save");
        allowAutosave = true;
        isAutosaving = false;        
    }
    
    
    
</script>