<style>
    
    .reply_area{
        height: 80px !important;
    }
    
</style>

<?php

    $formName = 'formReply_' . $this->meHeadId;
    $buttonSendName = 'btnSendMessage_'. $this->meHeadId;
?>

<div class="row mess_table_container" style="margin-top:15px;">
    <div class="col-xs-12">
        
        <div class="row">
            <div class="col-xs-12 no-margins">
                <div class="col-xs-1 mess_table_picture no-margins"><img id="imageProfileHeader" src="/main/uploads/method/get.image?file=/thumbnail/<?php echo Main_Model_User::getSession(Main_Model_User::USER_PIC) ?>" class="user_Pic user_pic_fix"></div>
                
                
<?php if($this->firstDraft){ ?>                
                
                    <div class="col-xs-11 mess_table_mess" style="height: 185px !important;">   
<?php }else{ ?>
                    <div class="col-xs-11 mess_table_mess" style="height: 140px !important;">       
<?php } ?>                        
                        <form id="<?php echo $formName ?>" name="<?php echo $formName ?>" enctype="multipart/form-data">
                        
                        <input type="hidden" id="txtUsers" name="txtUsers">
                        <input type="hidden" id="formName" name="formName" value="<?php echo $formName ?>">
                        <input type="hidden" id="meHeadId" name="meHeadId" value="<?php echo $this->meHeadId ?>">
                        <input type="hidden" id="messageID" name="messageID" value="<?php echo $this->meId ?>">
                        <input type="hidden" id="draft" name="draft" value="0">
                        <input type="hidden" id="reply" name="reply" value="1">
                                     
<?php

    $styleRecipients = 'display:none;';
    if($this->firstDraft){
        $styleRecipients = '';
        //$this->userList = '';
    }
?>                        
                        
                        <div class="mid-line" style="<?php echo $styleRecipients ?>"></div>
                        <div class="row" style="<?php echo $styleRecipients ?>">
                            <div class="col-xs-12">
                                <input id="user" value="<?php echo $this->userList; ?>" name="user" type="text" class="new_recipients" placeholder="To">
                            </div>
                        </div>
                        <div class="mid-line" style="<?php echo $styleRecipients ?>"></div>
                        

                        
                        <div class="row">
                            <div class="col-xs-12">
                                <textarea id="text" name="text" class="new_message reply_area" placeholder="Write your message..." onkeyup="messageKeyPress(event, '<?php echo $formName ?>')"><?php echo $this->meText ?></textarea>
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <input type="button" class="btn-send send-button" id="<?php echo $buttonSendName ?>" value="Send" onclick="sendReply('<?php echo $formName ?>')">
                                <span class="auto_save_message" style="color: #E48C00; float: right; margin-top: 15px; font-size: 9pt;"></span>
                            </div>                            
                        </div>                     
                    </form>
                    </div>
                </div>
        </div>
    </div>
            
</div>