<style>
    
    .senderName{
        color: black;
    }
    
    .senderName:hover{
        color: #e48c00;
    }
    
    
</style>


<div class="col-xs-12">
    
    <?php
    
    $listMessages = json_decode($this->jSon);
    $userListReceptors = "";
    $thereIsDraft = false;
    
foreach ($listMessages as $msg) {
        
        $userListReceptors=$msg->userListReceptors;

?>    
        <div class="row mess_table_reply" id="message_box_<?php echo $msg->me_id ?>">
            <div class="col-xs-1 mess_table_picture">
                <img onclick="onSenderClick(<?php echo $msg->userFromId; ?>)" id="imageProfileHeader" src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $msg->pic; ?>" class="user_Pic user_pic_fix">
            </div>

            <div class="col-xs-11 no-margins">
                                
                <div class="col-xs-12 mess_table_body"> 
                    
                    <div class="row">
                        <div class="col-xs-10">
                            <a class="senderName" style="font-weight: bold" onclick="onSenderClick(<?php echo $msg->userFromId; ?>)"><?php echo $msg->userFrom; ?></a>
                            
                        </div>

                        <div class="col-xs-2" style="text-align:right;"><p style="font-size: 9pt; color: grey"><?php echo $msg->dateSent; ?></p></div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-xs-12"><p><?php echo $msg->text; ?></p></div>
                    </div>  
                    
    <?php if ( $msg->isDraft) {  

        $thereIsDraft = true; 
        $addRecipients = false;

        //first Draft, then be able to add recipients
        if(count($listMessages) == 1)
            $addRecipients = true;

    ?>
                    
                    <br>                    
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="button" id="btn_edit_draft" class="cms_btn_edit_draft" style="float: right !important;" onclick="editDraft('<?php echo $this->meHeadId ?>', '<?php echo $msg->me_id ?>', '<?php echo $addRecipients ?>')" title="Edit" value="Draft">
                        </div>
                    </div>
                    
    <?php } ?> 

                </div>    
                
            </div> 
            
        </div>      
    
<?php } //foreach  
    
        $userListString = urlencode($userListReceptors);    
        $divReplyButtonID = 'divReplyButton_' .  $this->meHeadId;
    
?>
    
    <div class="row mess_table_reply">        
        <div class="col-xs-1"></div>
        <div class="col-xs-11 no-margins"> 
            <span id="boxReply_<?php echo $this->meHeadId; ?>"></span>
        </div>
    </div>
    
    <input type="hidden" id="meHeadId" value="<?php echo $this->meHeadId ?>" />    
    
    
<?php if ( count($listMessages) > 1 || !$thereIsDraft ){ ?>
    
    <div class="row" style="margin-top:15px" id="<?php echo $divReplyButtonID ?>">
        <div class="col-xs-1"></div>

        <div class="col-xs-11 no-margins">
            <input type="button" class="btn-reply" value="Reply" onclick="onReplyMessageClick('<?php echo $this->meHeadId; ?>')">
        </div>

    </div>
    
<?php } ?>    
    
    <br><br>
    
</div>


<script type="text/javascript">
    
    
    function replyToAll(listUser){
        startNewMessage(listUser);
    }
        
    
    function editDraft(headID, meID, firstDraft){
        
        $('#divReplyButton_' + headID).hide();
        
        var userList = '<?php echo $userListString; ?>';                
        var url = '/main/messages/method/reply/user_list/' + userList +'/me_head_id/' + headID +'/me_id/'+ meID;
        
        if(firstDraft)
            url += '/firstDraft/1'
        
        $("#message_box_" + meID).hide();
     
        $("#boxReply_" + headID).load(url, function(){
           
           loadUsers();
        });                
    }
                  
    
</script>    