   <div class="row no-margins">
    
    <div class="col-md-12 no-margins">
        
        <div class="content_connect scrollableContent activity_box_large">
           
           <div id="divUserListDetail">
            <?php
            $data = json_decode($this->jSon);
            if($data->view->completeUser){
                foreach($data->view->completeUser as $msg){ 
                 ?>
                    <div class="box_connect">
                        <div class="box_connect_pic">
                            <img src="/main/uploads/method/get.image?file=/thumbnail/<?php echo $msg->pic;?>" alt="<?php echo $msg->userName;?>">
                        </div>
                        <h2><a href="#" style="font-size: 13pt" class="h2_oswald"><?php echo $msg->userName;?></a></h2><br>
                        <p><?php echo $msg->country;?></p>
                        <input type="button" onclick="createMessageToUser('<?php echo $msg->id;?>','<?php echo $msg->userName;?>');" value="Message" class="btn_style_03" />
                    </div>
            <?php }
            } ?>
           </div>
           
        </div>
    </div>
   </div>         