/* 
    Document   : ipv
    Created on : 18/04/2013, 09:38:33
    Author     : martin
    Description:
        definiciones sueltas de estilos 
*/

/*evita q los paginadores se salgan de las jqgrid*/
input.ui-pg-input {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: normal
}
select.ui-pg-selbox {
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: normal
}

