/* 
    Document   : float-buttons
    Created on : 09/05/2013, 09:29:44
    Author     : dbuzzaqui
    Description:
        Purpose of the stylesheet follows.
*/

/*root { 
    display: block;
}*/

/***********************************************************/
/***********************************************************/
/***********************************************************/
/*FAVOR DE NO BORRAR ESTA PARTE ESTOY HACIENDO PRUEBAS - Damian*/
/***********************************************************/
/***********************************************************/
/***********************************************************/
/*
[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}
.icon-home:after { content: "\2602"; } 
.icon-cog:after { content: "\2699"; } 
.icon-cw:after { content: "\27f3"; } 
.icon-location:after { content: "\2629"; } 

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

html {
  color: #444;
  font-size: 100%;    
  background: #f7f7f7 url(http://subtlepatterns.com/patterns/old_wall.png) repeat center top;
}

body {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
  font-size:18px; 
  font-size:1.125rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #DD6C4F;
}

a:hover {
  text-decoration:underline;
}

a:focus { 
  outline: none;
}

.page-wrap {
  width: 960px;
  margin: 80px auto;
}

.nav1 {
  list-style: none;
  text-align: center;
}

.nav1 li {
  position: relative;
  display: inline-block;
  margin-right: -4px;  See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ 
}


.nav1 li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}


.nav1 a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.nav1 a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.nav1 a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}*/


/*FLOATING BUTTONS*/



ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 80px;
    left: 25px;
    list-style: none;
    z-index:100;
}
ul#navigation li {
    width: 70px;
        
}
ul#navigation li a {
    display: block;
    margin-left: -150px;
    width: 170px;
    height: 42px;    
    background-color:#CFCFCF;
/*    background-color:#40484B;*/
    background-repeat:no-repeat;
    background-position:center right 10%;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.3;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    text-align: right;
    font-family: "Calibri";
    color: blue;
    font-size: 12px;
}


.container-fluid {
    padding: 5px 30px 0 100px
}

ul#navigation .check a      {
    background-image: url(/dashboard/css/images/menu/editar.png);
}
ul#navigation .help a    {
    background-image: url(/dashboard/css/images/menu/info.png);
}
ul#navigation .test a      {
    background-image: url(/dashboard/css/images/menu/lupa.png);
}
ul#navigation .measure a      {
    background-image: url(/dashboard/css/images/menu/reloj.png);
}
ul#navigation .resource a      {
    background-image: url(/dashboard/css/images/menu/foco.png);
}
ul#navigation .users a      {
    background-image: url(/dashboard/css/images/menu/users.png);
}
ul#navigation .invites a      {
    background-image: url(/dashboard/css/images/menu/invites.png);
}
