
/*ARTICLES - ARTICLES ARTICLES - ARTICLES ARTICLES - ARTICLES ARTICLES - ARTICLES */
/*ARTICLES - ARTICLES ARTICLES - ARTICLES ARTICLES - ARTICLES ARTICLES - ARTICLES */

input.articleTitle {
    height: 50px;
    font-size: 20pt !important;
}

input.articleSubtitle {
    height: 40px;
    font-size: 14pt !important;
}

input.articleInput {
    width: 100%;            
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    outline: none;        
    border: none;
    color: #353535;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-family: 'Open Sans', sans-serif;
}

input.articleInput:focus {
    box-shadow: 0px 0px 5px #E48C00;
    -webkit-box-shadow: 0px 0px 5px #E48C00;
    -moz-box-shadow: 0px 0px 5px #E48C00;
    -o-box-shadow: 0px 0px 5px #E48C00;
}

input.articleTitle::-webkit-input-placeholder {
    color: #A9A9A9;
    font-size: 20pt !important;
    font-family: 'Open Sans', sans-serif;
}

input.articleTitle::-moz-input-placeholder {
    color: #A9A9A9;
    font-size: 20pt !important;
    font-family: 'Open Sans', sans-serif;
} 



input.articleSubtitle::-webkit-input-placeholder {
    color: #A9A9A9;
    font-size: 14pt !important;
    font-family: 'Open Sans', sans-serif;
}

input.articleSubtitle::-moz-input-placeholder {
    color: #A9A9A9;
    font-size: 14pt !important;
    font-family: 'Open Sans', sans-serif;
} 


div.froala-element{
    width: 100%;
    height: 100%;
    min-height: 200px;
    padding: 10px 0 0 10px;
    margin: 20px 0;
    outline: none;
    background: white;
    font-size: 14pt !important;
    color: #353535;
    border: none;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-family: 'Open Sans', sans-serif;
}

#editorVideo div.froala-element{
    min-height: 100px !important;
}


div.froala-element:focus {
    box-shadow: 0px 0px 5px #E48C00;
    -webkit-box-shadow: 0px 0px 5px #E48C00;
    -moz-box-shadow: 0px 0px 5px #E48C00;
    -o-box-shadow: 0px 0px 5px #E48C00;
}

/*PHOTOS - PHOTOS PHOTOS - PHOTOS PHOTOS - PHOTOS PHOTOS - PHOTOS PHOTOS - PHOTOS*/
/*PHOTOS - PHOTOS PHOTOS - PHOTOS PHOTOS - PHOTOS PHOTOS - PHOTOS PHOTOS - PHOTOS*/

img.imgdelete {
    display:block;
    position:absolute;
    margin: 6px 6px 0 160px;
    width: 11px !important;
    height: 11px !important;
}
    
.picUploaded {
    position: relative;
    width: 100% !important;
}
    
a.btn_upload_userpic1 {
	display: block;
	//margin: 2px;
	//padding: 0 0 0 31px;
        color: #24292f;
        background: url(/images/plus.png) 78px center no-repeat;
        text-indent: -9999px;   
        padding-top: 150px;
}

.pic-add{
    display: block;
    border: 2px dashed #ddd;
    height: 181px;
    width: 181px;
    float: left;
    //margin: 2px;
}
/*a.btn_upload_userpic:hover {
	color: #e48c00;
	text-decoration: none;
	background: url(../images/sidenav/photo_hover_orange.png) 5px center no-repeat;
}*/
.captionTextarea{
    background-color: #fff;
    border: solid #ddd;
    border-width: 0 1px;
    position: relative;
    height: 55px;
    line-height: 9px;
    padding: 0;
    width: 100%;
    font-size: 9pt!important;
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.bar {
   height: 18px;
   background: #ddd;
}
.file-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
.file-wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.file-wrapper .button {
    color: #fff;
    background: #117300;
    padding: 4px 18px;
    margin-right: 5px;  
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}
.file-holder{
    color: #000;
}

.pic-uploaded {
    display: inline-block;
    margin: 2px;
    position: relative;
    text-align: center;
    vertical-align: top;
    border: 2px dashed #ddd;
    background-repeat: no-repeat;
    background-position: center;
    height: 181px;
    width: 181px;
    overflow: hidden;
    float: left;
}
    
.pic-uploaded img{
    height: 181px;
    width: auto !important;
}